<div class="row">
  <div class="col-xs-6">
    <h2><%= @progress_display.name %></h2>
    <h3><%= "Progress report as of" %><br/><%= "#{l(Time.now, format: :full_with_weekday)} at #{l(Time.now, format: :military)}" %></h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6">
    <h4><%= "Of #{pluralize(@progress_display.efforts_started_count, 'effort')} started" %></h4><br/>
    <%= "Finished: #{@progress_display.efforts_finished_count}" %><br/>
    <%= "Dropped: #{@progress_display.efforts_dropped_count}" %><br/>
    <%= "In progress: #{@progress_display.efforts_in_progress_count}" %><br/>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6">
    <h4><%= "Of the #{@progress_display.efforts_in_progress_count} efforts in progress, #{@progress_display.efforts_past_due_count} are overdue by more than #{@progress_display.past_due_threshold} minutes" %></h4><br/>
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>Bib</th>
        <th>Name</th>
        <th>Category</th>
        <th class="text-right">Overdue By</th>
        <th class="text-center">Due Next Where</th>
        <th class="text-right">Due Next When</th>

      </tr>
      </thead>
      <tbody>
      <% @progress_display.past_due_progress_rows.each do |row| %>
          <tr>
            <td><%= row.bib_number %></td>
            <td><%= link_to row.full_name, effort_path(row.id) %></td>
            <td class="text-nowrap"><%= row.bio_historic %></td>
            <td class="text-right"><%= time_format_hhmm(row.over_under_due) %></td>
            <td class="text-center"><%= row.due_next_split_name %></td>
            <td class="text-right"><%= l(row.due_next_when, format: :day_and_military) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
