<% content_for :title do %>
  <% "OpenSplitTime: Best efforts - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong><%= [@presenter.name, "All-time Best"].compact.join(': ') %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to "Organizations", organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization, display_style: :courses) %></li>
            <li class="breadcrumb-item"><%= link_to "Course Groups", organization_path(@presenter.organization, display_style: :courses) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.name, organization_course_group_path(@presenter.organization, @presenter.course_group) %></li>
            <li class="breadcrumb-item active">All-Time best</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-7">
        <% if @presenter.all_efforts_count.positive? %>
          <%= render "best_efforts_lookup", presenter: @presenter %>
        <% end %>
      </div>
      <div class="col-12 col-sm-5 d-inline-flex justify-content-end">
        <% if user_signed_in? %>
          <div class="me-1">
            <%= button_to_course_group_best_efforts_export_async(@presenter) %>
          </div>
        <% end %>
        <%= gender_dropdown_menu(@presenter) %>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <% if @presenter.all_efforts_count.positive? %>
    <h5>
      <%= @presenter.events_searched_text %>
    </h5>

    <% if @presenter.filtered_segments_count.positive? %>
      <%= render "best_efforts_list", presenter: @presenter %>
    <% elsif params[:search].present? && params[:search].length < 3 %>
      <h4>Search parameter is too short</h4>
    <% else %>
      <h4>No efforts match this search</h4>
    <% end %>
  <% else %>
    <h4>No efforts have finished for this course group.</h4>
  <% end %>
</article>
