<%# locals: (connect_service_presenter:) %>

<div class="card" id="event_group_card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h4 class="card-title mt-1"><%= "Event Group: #{connect_service_presenter.event_group_name}" %></h4>
      </div>
      <div class="col text-end">
        <% if connect_service_presenter.all_credentials_present? %>
          <%= fa_icon("circle-check", type: :regular, text: "Credentials are present", class: "text-success") %>
        <% else %>
          <%= fa_icon("circle-xmark", type: :regular, text: "Credentials are missing", class: "text-danger") %>
        <% end %>
        <br/>
        <% if connect_service_presenter.error_message.present? %>
          <%= fa_icon("circle-xmark", type: :regular, text: connect_service_presenter.error_message, class: "text-danger") %>
        <% elsif connect_service_presenter.all_credentials_present? %>
          <%= fa_icon("circle-check", type: :regular, text: "Credentials were accepted", class: "text-success") %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-body d-flex align-items-center">
    <% if connect_service_presenter.connection_invalid? %>
      <span class="me-1"><%= fa_icon("triangle-exclamation", type: :regular, class: "text-warning", size: "2x") %></span>
      <span class="fw-bold">There is a problem with the connection. Please check that your <%= link_to "credentials", user_settings_credentials_path %>
        are entered and accurate and try again.</span>
    <% elsif connect_service_presenter.no_events_found? %>
      <span class="me-1"><%= fa_icon("triangle-exclamation", type: :regular, class: "text-warning", size: "2x") %></span>
      <span class="fw-bold">No external events were returned. Please check with the owner of <%= connect_service_presenter.service_name %> for further
        assistance.</span>
    <% elsif connect_service_presenter.no_events_in_time_frame? %>
      <span class="me-1"><%= fa_icon("triangle-exclamation", type: :regular, class: "text-warning", size: "2x") %></span>
      <span class="fw-bold">External events were returned, but none were within the timeframe of <%= connect_service_presenter.event_group_name %>.
        Please check with the owner of <%= connect_service_presenter.service_name %> for further assistance.</span>
    <% else %>
      <span class="me-1"><%= fa_icon("circle-check", type: :regular, class: "text-success", size: "2x") %></span>
      <span class="fw-bold">Connect the Events below to the corresponding Race Editions.</span>
    <% end %>
  </div>
</div>
