<div data-controller="roster">
  <aside class="ost-toolbar">
    <div class="container">
      <div class="row">
        <div class="col">
          <div>
            <%= link_to fa_icon("plus", text: "Add"),
                        new_effort_path(event_id: presenter.first_event.id),
                        data: { turbo_frame: "form_modal" },
                        id: "add-entrant",
                        class: "btn btn-success" %>
            <% if @presenter.event_group_efforts_count.positive? %>
              <div class="btn-group">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="import-dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
                  Actions
                </button>
                <div class="dropdown-menu">
                  <%= link_to "Reconcile", reconcile_event_group_path(@presenter.event_group), class: "dropdown-item" %>
                  <%= link_to "Assign Bibs", assign_bibs_event_group_path(@presenter.event_group), class: "dropdown-item" %>
                  <%= link_to "Manage Photos", manage_entrant_photos_event_group_path(@presenter.event_group), class: "dropdown-item" %>
                  <%= link_to "Manage Start Times", manage_start_times_event_group_path(@presenter.event_group), class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Export", efforts_path(filter: { event_id: @presenter.events.ids }, format: :csv), class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to_strong_confirm "Delete all entrants", delete_all_efforts_event_group_path(@presenter.event_group),
                                             class: "dropdown-item text-danger",
                                             message: "This action will permanently delete all entrants and split times from the #{@presenter.event_group_name} event group.",
                                             required_pattern: "DELETE ALL ENTRANTS" %>
                </div>
              </div>
            <% end %>
            <%= setup_entrants_import_dropdown(@presenter) %>
            <% if @presenter.event_group.organization.lotteries.exists? %>
              <%= link_to "Sync with Lottery", link_lotteries_event_group_path(@presenter.event_group), class: "btn btn-outline-secondary" %>
            <% end %>
            <%= link_to "Connections", connections_event_group_path(@presenter.event_group), class: "btn btn-outline-secondary" %>
            <% if @presenter.event_group.syncable_sources.exists? %>
              <%= link_to "External Sync", sync_efforts_event_group_path(@presenter.event_group), class: "btn btn-outline-secondary" %>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <%= render "entrants_lookup", presenter: @presenter %>
        </div>
      </div>
    </div>
  </aside>

  <article class="ost-article container">
    <% if presenter.unreconciled_efforts.present? %>
      <%= render partial: "shared/callout_with_link",
                 locals: {
                   callout_color: "warning",
                   icon_color: "warning",
                   icon_name: "exclamation-triangle",
                   main_text: "Unreconciled efforts exist; please reconcile when you have a moment",
                   link: link_to_reconcile_efforts(presenter.event_group),
                 } %>
    <% end %>

    <% if presenter.filtered_efforts.exists? %>
      <div class="row">
        <div class="col-xs-8">
          <h4><%= filter_count_text(presenter.filtered_efforts.total_entries, presenter.event_group_efforts_count, "entrant") %></h4>
        </div>
        <div class="col-xs-4 text-end">
        </div>
      </div>

      <table class="table table-centered table-fixed-sm">
        <thead>
        <tr>
          <th class="text-center"><%= link_to_reversing_sort_heading("Reconciled?", "person_id,bib_number", presenter.existing_sort) %></th>
          <% if presenter.multiple_events? %>
            <th><%= link_to_reversing_sort_heading("Event", "event_id,bib_number", presenter.existing_sort) %></th>
          <% end %>
          <th><%= link_to_reversing_sort_heading("Name", "last_name,first_name", presenter.existing_sort) %></th>
          <th class="text-center"><%= link_to_reversing_sort_heading("Bib#", "bib_number", presenter.existing_sort) %></th>
          <th><%= link_to_reversing_sort_heading("Category", "gender,age", presenter.existing_sort) %></th>
          <th><%= link_to_reversing_sort_heading("From", "state_code", presenter.existing_sort) %></th>
          <th>Scheduled Start</th>
          <th><%= link_to_reversing_sort_heading("Emergency Contact", "emergency_contact", presenter.existing_sort) %></th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody id="entrants">
        <%= render partial: "efforts/entrant_for_setup",
                   collection: presenter.filtered_efforts,
                   as: :effort,
                   locals: { presenter: presenter } %>
        </tbody>
      </table>

      <%= render "shared/pager", next_page_url: @presenter.next_page_url %>

    <% elsif presenter.event_group_efforts.exists? %>
      <div class="callout callout-info">
        <h5>No results match that search</h5>
        <p>Did you spell the search term correctly? Try again with a different search.</p>
      </div>
    <% else %>
      <%= render partial: "shared/callout_with_link",
                 locals: {
                   callout_color: "info",
                   icon_color: "info",
                   icon_name: "info-circle",
                   main_text: "Add or Import Your Entrants",
                   detail_paragraphs: [
                      "Click the <strong>Add</strong> button to manually add an Entrant. Click the <strong>Import</strong> button to import Entrants from a CSV file.".html_safe,
                      "To connect to an external service, click the <strong>Connections</strong> button.".html_safe
                   ]
                 } %>
    <% end %>
  </article>
</div>
