<div class="card">
  <% if @efforts.present? %>
    <% effort = ::EffortRow.new(@efforts.first.enriched) %>
    <h3 class="card-header"><strong><%= "##{effort.bib_number} #{effort.full_name}" %></strong></h3>
    <div class="card-body">
      <h4 class="card-text"><%= effort.bio %></h4>
      <h4 class="card-text"><%= effort.flexible_geolocation %></h4>
      <hr/>
      <h4 class="card-text"><%= "Last recorded at: #{effort.final_lap_split_name} (#{l effort.final_absolute_time_local, format: :day_and_military})" %></h4>
      <h4 class="card-text"><%= "Status: #{effort.effort_status}"%></h4>
      <h4 class="card-text"><%= "Overall rank at #{effort.final_split_name}: #{effort.overall_rank}"%></h4>
      <h4 class="card-text"><%= "Gender rank at #{effort.final_split_name}: #{effort.gender_rank}"%></h4>
      <hr/>
      <% days = effort.days_away_from_birthday %>
      <% if days.present? && days.abs < 3 %>
        <h4 class="card-text"><%= effort.birthday_notice %></h4>
      <% end %>
      <h4 class="card-text"><%= effort.comments %></h4>
    </div>
  <% else %>
    <h3 class="card-header"><strong><%= "Not Found" %></strong></h3>
    <div class="card-body">
    </div>
  <% end %>
</div>
