<%= render "shared/errors", obj: presenter.event_group %>

<%= form_with(model: [presenter.organization, presenter.event_group],
              data: { remote: false, turbo: false },
              html: { class: "form-horizontal", role: "form" }) do |form| %>
  <div class="card card-body bg-light border-0">
    <div class="row">
      <%= form.hidden_field :organization_id %>

      <div class="mb-3 col-12" data-target="eg-form.eventGroupName">
        <label class="form-label required">What will you call your event group?</label>
        <span tabindex="-1"
              data-controller="tooltip"
              data-bs-placement="bottom"
              data-bs-original-title="This is the name for your entire event group. If this is the Great Rocky Run for 2023 and you are running 25- and 50-mile races, the name should be something like '2023 Great Rocky Run'. You'll specify your individual events later."><i class="fas fa-circle-question"></i></span>
        <%= form.text_field :name,
                            class: "form-control",
                            placeholder: "Example: #{Date.today.year} #{presenter.organization_name}",
                            autofocus: true,
                            data: { action: "blur->eg-form#freezeEventGroupName" } %>
      </div>

      <div class="mb-3 col-12">
        <label class="required">In what time zone will your event occur?</label>
        <span tabindex="-1"
              data-controller="tooltip"
              data-bs-placement="bottom"
              data-bs-original-title="Choose a timezone for your event. You will add a start time in the next step."><i class="fas fa-circle-question"></i></span>
        <%= form.collection_select(:home_time_zone, ActiveSupport::TimeZone.all, :name, :name,
                                   { selected: presenter.event_group.home_time_zone || "Mountain Time (US & Canada)" },
                                   { class: "form-control dropdown-select-field" }) %>
      </div>

      <div class="mb-3 col-12">
        <label class="required">Will you monitor pacers?</label>
        <span tabindex="-1"
              data-controller="tooltip"
              data-bs-original-title="Choose 'Yes' only if you will actively track pacers using OST Remote."><i class="fas fa-circle-question"></i></span>
        <div>
          <div><%= form.radio_button :monitor_pacers, true %> Yes</div>
          <div><%= form.radio_button :monitor_pacers, false %> No</div>
        </div>
      </div>

      <div class="mb-3 col-12">
        <label class="required">How will data entry points be grouped in OST Remote?</label>
        <span tabindex="-1"
              data-controller="tooltip"
              data-bs-original-title="This determines whether data entry points at the same location will be grouped together on the Live Entry screen in OST Remote. If in doubt, choose 'Location Grouped'."><i class="fas fa-circle-question"></i></span>
        <div>
          <%= form.select(:data_entry_grouping_strategy,
                          EventGroup.data_entry_grouping_strategies.keys.map { |strategy| [strategy.titleize, strategy] },
                          {},
                          { class: "form-control dropdown-select-field" }) %>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="mb-3">
    <%= link_to "Cancel",
                presenter.event_group.new_record? ? organization_path(presenter.organization) : setup_event_group_path(presenter.event_group),
                class: "btn btn-outline-secondary" %>
    <%= button_tag(type: :submit, value: "Continue", class: "btn btn-primary") do %>
      <%= fa_icon "arrow-right", text: "Continue", right: true %>
    <% end %>
  </div>
<% end %>
