<%= render 'shared/errors', obj: @event_group %>

<%= form_with(model: @event_group, data: {remote: false, turbo: false}, html: {class: "form-horizontal", role: "form"}) do |form| %>
  <div class="card card-body bg-light border-0">
    <div class="row">
      <%= form.hidden_field :organization_id %>

      <div class="form-group col-12" data-target="eg-form.eventGroupName">
        <label class="required">What will you call your event?</label>
        <span class="help-tooltip" tabindex="-1" data-toggle="tooltop" data-placement="bottom" data-content=""><i class="fas fa-question-circle"></i></span>
        <%= form.text_field :name, class: "form-control", placeholder: "Example: #{Date.today.year} #{@event_group.organization.name}", data: {action: 'blur->eg-form#freezeEventGroupName'} %>
      </div>

      <div class="form-group col-12">
        <label class="required">In what time zone will your event occur?</label>
        <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Choose a timezone for your event. You will add a start time in the next step."><i class="fas fa-question-circle"></i></span>
        <%= form.collection_select(:home_time_zone, ActiveSupport::TimeZone.all, :name, :name,
                                   {selected: @event_group.home_time_zone || "Mountain Time (US & Canada)"},
                                   {class: "form-control dropdown-select-field"}) %>
      </div>

      <div class="form-group col-12">
        <label class="required">Will you monitor pacers?</label>
        <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Choose 'Yes' only if you will actively track pacers using OST Remote"><i class="fas fa-question-circle"></i></span>
        <div>
          <div><%= form.radio_button :monitor_pacers, true %> Yes</div>
          <div><%= form.radio_button :monitor_pacers, false %> No</div>
        </div>
      </div>

      <div class="form-group col-12">
        <label class="required">How will data entry points be grouped in OST Remote?</label>
        <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="This determines whether data entry points at the same location will be grouped together on the Live Entry screen in OST Remote. If in doubt, choose 'Location Grouped'"><i class="fas fa-question-circle"></i></span>
        <div>
          <%= form.select(:data_entry_grouping_strategy,
                          EventGroup.data_entry_grouping_strategies.keys.map { |strategy| [strategy.titleize, strategy] },
                          {},
                          {class: "form-control dropdown-select-field"}) %>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="form-group">
    <div class="col-12">
      <%= button_tag(type: :submit, value: 'Continue', class: 'btn btn-primary btn-large') do %>
        <%= fa_icon 'arrow-right', text: 'Continue', right: true %>
      <% end %>
    </div>
  </div>

  <div class="col-12">
    <span class="brackets"><%= link_to 'Cancel', organization_path(@event_group.organization) %></span>
  </div>
<% end %>
