<%# Requires parameter event_groups %>

<table class="table table-centered table-fixed-sm table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date and Time</th>
      <th>Entrants</th>
      <% if presenter.show_visibility_columns? %>
        <th class="text-center">Visibility</th>
        <th class="text-center">OST Remote</th>
        <th class="text-center"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% event_groups.each do |event_group| %>
    <tr>
      <td><strong><%= link_to event_group.name, event_group_path(event_group) %></strong></td>
      <td><%= l(event_group.start_time_local, format: "%a | %B %d, %Y | %I:%M%p(%Z)") %></td>
      <td><%= "#{pluralize(event_group.effort_count, 'entrant')}" %></td>
      <% if presenter.show_visibility_columns? %>
        <td class="text-center"><%= event_group.concealed? ? 'Private' : 'Public' %></td>
        <td class="text-center"><%= event_group.auto_live_times? ? 'Auto' : 'Manual' %></td>
        <td class="text-center">
          <% if event_group.available_live? && current_user&.authorized_to_edit?(event_group) %>
            <%= link_to 'Live Entry', live_entry_live_event_group_path(event_group), class: 'btn btn-xs btn-primary' %>
          <% end %>
        </td>
      <% end %>
    </tr>
    <% if event_group.events.many? %>
      <% event_group.ordered_events.each do |event| %>
        <tr class="sub-row">
          <td><%= link_to event.name, event_path(event) %></td>
          <td><%= l(event.start_time_local, format: "%a | %B %d, %Y | %I:%M%p(%Z)") %></td>
          <td><%= "#{pluralize(event.efforts.size, 'entrant')}" %></td>
          <% if presenter.show_visibility_columns? %>
            <td></td>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>
