<%# locals: (view_object:) -%>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <%= link_to "Delete Duplicates", delete_duplicate_raw_times_event_group_path(view_object.event_group), method: :delete, class: "btn btn-md btn-warning" %>
      </div>
      <!-- Filter Widget -->
      <div class="col">
        <div>
          <%= raw_time_filter_dropdown %>
          <%= split_name_filter_dropdown(view_object) %>
        </div>
      </div>
      <!-- Search Widget -->
      <div class="col-auto">
        <%= render "raw_times_search" %>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <% if @presenter.event_group.available_live? %>
    <%= turbo_stream_from @presenter.event_group %>
    <h6 class="text-center">Live updating</h6>
    <div class="back-and-forth-path">
      <span class="back-and-forth-shape trail"></span>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-8">
      <% if view_object.filtered_raw_times_count == view_object.raw_times_count %>
        <h4><%= "#{view_object.raw_times_count} raw times" %></h4>
      <% else %>
        <h4><%= "Showing #{view_object.filtered_raw_times_unpaginated_count} of #{view_object.raw_times_count} raw times" %></h4>
      <% end %>
    </div>
  </div>

  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th><%= link_to_reversing_sort_heading("Bib", :sortable_bib_number, view_object.existing_sort) %></th>
      <% if view_object.multiple_events? %>
        <th><%= link_to_reversing_sort_heading("Event", "event_id,sortable_bib_number", view_object.existing_sort) %></th>
      <% end %>
      <th><%= link_to_reversing_sort_heading("Name", :effort_last_name, view_object.existing_sort) %></th>
      <th><%= link_to_reversing_sort_heading("Split Name", "split_name,sortable_bib_number", view_object.existing_sort) %></th>
      <% if view_object.multiple_sub_splits? %>
        <th class="text-center"><%= link_to_reversing_sort_heading("In/Out", "bitkey,sortable_bib_number", view_object.existing_sort) %></th>
      <% end %>
      <th><%= link_to_reversing_sort_heading("Time", :absolute_time, view_object.existing_sort) %></th>
      <% if view_object.monitor_pacers? %>
        <th class="text-center">Pacer</th>
      <% end %>
      <th class="text-center"><%= link_to_reversing_sort_heading("Stop", "stopped_here,sortable_bib_number", view_object.existing_sort) %></th>
      <th><%= link_to_reversing_sort_heading("Source", "source,sortable_bib_number", view_object.existing_sort) %></th>
      <th><%= link_to_reversing_sort_heading("Created by", "created_by,sortable_bib_number", view_object.existing_sort) %></th>
      <th><%= link_to_reversing_sort_heading("Created at", "created_at,sortable_bib_number", view_object.existing_sort) %></th>
      <th><%= link_to_reversing_sort_heading("Reviewed by", "reviewed_by,sortable_bib_number", view_object.existing_sort) %></th>
      <th><%= link_to_reversing_sort_heading("Reviewed at", "reviewed_at,sortable_bib_number", view_object.existing_sort) %></th>
      <th><%= link_to_reversing_sort_heading("Match?", "split_time_id,sortable_bib_number", view_object.existing_sort) %></th>
      <th></th>
    </tr>
    </thead>
    <tbody id="raw_times">
    <% if view_object.filtered_raw_times.present? %>
      <%= render partial: "raw_times/raw_time",
                 collection: view_object.filtered_raw_times,
                 as: :raw_time,
                 locals: {
                   multiple_events: view_object.multiple_events?,
                   multiple_sub_splits: view_object.multiple_sub_splits?,
                   monitor_pacers: view_object.monitor_pacers?,
                   home_time_zone: view_object.home_time_zone,
                 }
      %>
    <% else %>
      <tr class="fw-bold">
        <td colspan="100">No results match that search.</td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= render "shared/pager", next_page_url: @presenter.next_page_url %>
</article>
