<%# locals: (event_group:) -%>

<div class="col-auto px-0 pt-4">
  <div class="d-flex flex-column align-items-center px-3 pt-2 text-white">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center w-100" id="menu">
      <li class="nav-item border-sidebar w-100 mb-3 <%= action_name == "setup" && params[:display_style] != "entrants" ? "active" : nil %>">
        <%= render "shared/sidebar_item", title: "Setup", icon: "globe", link: setup_event_group_path(event_group) %>
      </li>
      <li class="nav-item border-sidebar w-100 mb-3 <%= action_name == "setup" && params[:display_style] == "entrants" ? "active" : nil %>">
        <%= render "shared/sidebar_item", title: "Entrants", icon: "users", link: setup_event_group_path(event_group, display_style: :entrants) %>
      </li>
      <li class="nav-item border-sidebar w-100 mb-3 <%= controller_name == "partners" ? "active" : nil %>">
        <%= render "shared/sidebar_item", title: "Partners", icon: "ad", link: organization_event_group_partners_path(event_group.organization, event_group) %>
      </li>
    </ul>
  </div>
</div>
