<%# locals: (event_group:, effort_count:, scheduled_start_time_local:) -%>

<div class="modal-header">
  <h3 class="modal-title"><strong><%= "Start #{pluralize effort_count, 'Entrant'}" %></strong></h3>
  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
  <div class="row justify-content-center" style="display:none" data-roster-target="error">
    <div class="alert alert-info d-block" role="alert">
      <div class="col col-login">
        <strong>Could not start entrants.</strong>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-login">
      <%= form_with url: start_efforts_event_group_path(event_group), method: :patch do |f| %>
        <%= f.hidden_field "filter[ready_to_start]", value: true %>
        <%= f.hidden_field "filter[assumed_start_time]", value: scheduled_start_time_local.in_time_zone %>

        <div class="mb-3">
          <%= f.label :scheduled_start_time %>
          <p><%= l(scheduled_start_time_local, format: :datetime_input) %></p>
        </div>

        <div class="mb-3">
          <%= f.label :actual_start_time %>
          <%= f.text_field :actual_start_time, value: l(scheduled_start_time_local, format: :datetime_input), class: "form-control", autofocus: true %>
        </div>

        <div class="mb-3">
          <%= f.submit "Start", class: "btn btn-success" %>
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
