<%# locals: (effort:) -%>

<tr id="<%= dom_id(effort, :reconcile_row) %>" class="align-middle">
  <td><%= effort.personal_info %></td>
  <td>
    <% if effort.suggested_match %>
      <%= button_to "Same person >>",
                    associate_people_event_group_path(ids: { effort.id => effort.suggested_match.id }),
                    method: :patch,
                    class: "btn btn-sm btn-outline-primary" %>
    <% end %>
  </td>
  <td>
    <% if effort.suggested_match %>
      <%= effort.suggested_match.personal_info %>
    <% end %>
  </td>
  <td>
    <%= button_to "New person",
                  create_people_event_group_path(effort_ids: [effort.id]),
                  method: :post,
                  class: "btn btn-sm btn-outline-success" %>
  </td>
</tr>
