<% content_for :title do %>
  <% "OpenSplitTime: Event group finish line - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <%= link_to_refresh %>
          <h1>
            <strong><%= @presenter.name %> <%= @presenter.concealed? ? fa_icon("eye-slash") : fa_icon("eye") %></strong>
          </h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to "Organizations", organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
            <li class="breadcrumb-item active">Finish Line</li>
          </ul>
        </div>
        <%= render partial: "events/time_and_course_info", locals: { presenter: @presenter } %>
      </div>
    </div>
    <!-- Navigation -->
    <%= render "events/view_buttons", view_object: @presenter %>
  </div>
</header>

<article class="ost-article container">
  <div>
    <div class="row">
      <div class="col col-md-4">
        <%= render "finish_line_lookup", event_group: @presenter.event_group, params: params %>
      </div>
    </div>
    <hr/>

    <%= render "finish_line_effort", efforts: nil %>
    <hr/>

    <div>
      <%= render "effort_button_card", arrivals: @presenter.recent_arrivals_at_finish, title: "Recently Finished (Finish Time)", time_zone: @presenter.home_time_zone, event_group: @presenter.event_group %>
      <br/>
      <%= render "effort_button_card", arrivals: @presenter.expected_arrivals_at_finish, title: "Next Expected (Projected Time)", time_zone: @presenter.home_time_zone, event_group: @presenter.event_group %>
    </div>
  </div>
</article>
