<% content_for :title do %>
  <% if params[:search].present? %>
    <% "OpenSplitTime: Search events - #{params[:search]}" %>
  <% else %>
    <% "OpenSplitTime: Search events" %>
  <% end %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="ost-title col">
        <h1><strong>Events</strong></h1>
        <ul class="breadcrumb">
          <li class="breadcrumb-item active">Events</li>
        </ul>
      </div>
    </div>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col">
        <% if current_user %>
            <%= link_to 'Create event', event_staging_app_path('new'),
                        class: 'btn btn-success' %>
        <% end %>
      </div>
      <div class="col-12 col-md-6 form-inline">
        <%= render 'lookup' %>
      </div>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <nav>
    <%= will_paginate(@presenter.event_groups, inner_window: 2, outer_window: 0) %>
  </nav>
  <% if @presenter.event_groups.present? %>
    <%= render 'list_event_groups', presenter: @presenter, event_groups: @presenter.event_groups %>
  <% else %>
    <br/>
    <% if params[:search].blank? %>
      <p><strong>Enter an event name to search</strong></p>
    <% else %>
      <p><strong>No events match this search</strong></p>
    <% end %>
  <% end %>
  <nav>
    <%= will_paginate(@presenter.event_groups, inner_window: 2, outer_window: 0) %>
  </nav>
</article>
