<% content_for :title do %>
  <% "OpenSplitTime: Load Entrants - #{@presenter.event_group.name}" %>
<% end %>

<%= render "shared/mode_widget", event_group: @presenter.event_group %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1>
            <strong><%= name_with_concealed_indicator(@presenter) %></strong>
            <%= construction_status_badge(@presenter.status) %>
          </h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to "Organizations", organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
            <li class="breadcrumb-item"><%= link_to "Setup", setup_event_group_path(@presenter.event_group, display_style: :entrants) %></li>
            <li class="breadcrumb-item">Sync Lotteries</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <% @presenter.event_group.events.order(:scheduled_start_time).each do |event| %>
    <div class="card">
      <div class="card-body">
        <%= form_with(model: [@presenter.event_group, event], html: { data: { controller: "form-auto-submit" } }) do |f| %>
          <div class="row">
            <div class="col-12 col-sm-5 mb-2 text-center">
              <%= f.select :lottery_id,
                           options_for_select(@presenter.organization.lotteries.pluck(:name, :id).unshift(["None", nil]), event.lottery_id),
                           {},
                           class: "form-control dropdown-select-field" %>
            </div>
            <div class="col-12 col-sm-2 mt-1 text-center">
              <%= fa_icon("arrow-circle-right", size: "3x", class: "d-none d-sm-block text-success") %>
              <%= fa_icon("arrow-circle-down", size: "3x", class: "d-block d-sm-none text-success") %>
            </div>
            <div class="col-12 col-sm-5 mt-2 text-center">
              <h3><%= event.name %></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <br/>
  <% end %>

  <div class="form-row">
    <div class="form-group">
      <div class="col">
        <%= link_to "Sync with lotteries",
                    sync_lottery_entrants_event_group_path(@presenter.event_group),
                    class: "btn btn-success",
                    method: :post,
                    data: { confirm: "This will add all accepted entrants from related lotteries and will permanently
                    delete all withdrawn entrants and others who do not match the list of accepted lottery entrants.
                    This action cannot be undone. Proceed?" }
        %>
        <%= link_to "Back to setup",
                    setup_event_group_path(@presenter.event_group, display_style: :entrants),
                    class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</article>
