<% content_for :title do %>
  <% "OpenSplitTime: Manage Photos - #{@presenter.event_group.name}" %>
<% end %>

<%= render "shared/mode_widget", event_group: @presenter.event_group %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1>
            <strong><%= name_with_concealed_indicator(@presenter) %></strong>
            <%= construction_status_badge(@presenter.status) %>
          </h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to "Organizations", organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
            <li class="breadcrumb-item"><%= link_to "Setup", setup_event_group_path(@presenter.event_group, display_style: :entrants) %></li>
            <li class="breadcrumb-item">Manage Photos</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <% if @presenter.event_group.entrant_photos.attached? %>
    <h4><strong>Files already uploaded</strong></h4>
    <div class="row">
      <% @presenter.event_group.entrant_photos.includes(:blob).references(:blobs).order(:filename).each do |photo| %>
        <div class="col-12 col-sm-4 col-lg-2 text-center">
          <div><%= image_tag photo %></div>
          <div><%= photo.filename %></div>
          <div><%= link_to "Remove", nil, class: "btn btn-outline-secondary btn-sm" %></div>
        </div>
      <% end %>
  <% else %>
    <h4><strong>No files have been uploaded yet</strong></h4>
  <% end %>
  </div>
  <br/>
  <hr/>

  <h4><strong>Upload additional files</strong></h4>
  <%= form_with(model: @presenter.event_group, url: update_photos_event_group_path, html: {method: :patch}) do |f| %>
    <div class="row my-4">
      <div class="col">
        <%= f.file_field :entrant_photos, multiple: true, direct_upload: true %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit("Update", class: "btn btn-primary") %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <div class="col">
            <span class="brackets">
                <%= link_to "Cancel", setup_event_group_path(@presenter.event_group, display_style: :entrants) %>
            </span>
        </div>
      </div>
    </div>
  <% end %>
</article>
