<% content_for :title do %>
  <% "OpenSplitTime: Manage Start Times - #{@presenter.event_group.name}" %>
<% end %>

<%= render "shared/mode_widget", event_group: @presenter.event_group %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1>
            <strong><%= name_with_concealed_indicator(@presenter) %></strong>
            <%= construction_status_badge(@presenter.status) %>
          </h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to "Organizations", organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
            <li class="breadcrumb-item"><%= link_to "Setup", setup_event_group_path(@presenter.event_group, display_style: :entrants) %></li>
            <li class="breadcrumb-item">Manage Start Times</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <div class="row">
    <div class="col-12">
      <% @presenter.events.order(:scheduled_start_time).each do |event| %>
        <div class="row my-3 px-2 pt-2 pb-0 bg-light border-bottom border-secondary">
          <h3 class="font-weight-bold"><%= event.short_name %></h3>
        </div>
        <% event.efforts.order(:bib_number).group_by(&:assumed_start_time_local).each do |start_time, efforts| %>
          <div class="row my-3 px-2 pt-2 pb-1 bg-light">
            <div class="col-6">
              <span class="font-weight-bold"><%= l(start_time, format: :datetime_input) %></span>
            </div>
            <div class="col-3">
              <span class="font-weight-bold">Scheduled</span>
            </div>
            <div class="col-3">
              <span class="font-weight-bold">Actual</span>
              <span><%= link_to "Change", start_efforts_event_group_path(@event_group) %></span>
            </div>
          </div>
          <% efforts.each do |effort| %>
            <div class="card my-1">
              <div class="card-body px-3 py-2">
                <div class="row">
                  <div class="col-6">
                    <span><%= "#{effort.full_name} ##{effort.bib_number}" %></span>
                  </div>
                  <div class="col-3">
                    <span><%= l(effort.assumed_start_time_local, format: :datetime_input) %></span>
                  </div>
                  <div class="col-3">
                    <% if effort.actual_start_time.present? %>
                      <span><%= l(effort.actual_start_time_local, format: :datetime_input) %></span>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</article>
