<% content_for :title do %>
  <% "OpenSplitTime: Manage Photos - #{@presenter.event_group.name}" %>
<% end %>

<%= render "shared/mode_widget", event_group: @presenter.event_group %>
<%= render "event_groups/setup_header", presenter: @presenter, breadcrumbs: ["Manage Photos"] %>

<article class="ost-article container">
  <h4><strong>Choose photos to upload</strong></h4>
  <p>Photo files must be less than 1 megabyte and must be PNG or JPEG type.</p>
  <p>
    Photos will be assigned to bib numbers based on the filename of the photo. Only <strong>numeric information</strong>
    in the filename is used to determine which bib number the photo will be assigned to. For example, a file named
    <strong>runner_15.jpg</strong> will be assigned to the entrant with bib number 15.
  </p>

  <%= form_with(model: @presenter.event_group,
                url: update_entrant_photos_event_group_path,
                html: { method: :patch, data: { controller: "form-disable-submit" } }) do |f| %>
    <div class="mb-3 text-center">
      <div class="dropzone dropzone-default dz-clickable"
           data-controller="dropzone"
           data-dropzone-max-file-size="1"
           data-dropzone-max-files="50"
           data-dropzone-accepted-files="image/*"
           data-action="dropzone:success->form-disable-submit#enableSubmitButton">
        <%= f.file_field :entrant_photos, multiple: true, direct_upload: true, data: { "dropzone-target" => "input" } %>
        <div class="dropzone-msg dz-message needsclick text-muted">
          <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
          <span class="dropzone-msg-desc text-sm">1 MB file size maximum. Allowed file types png, jpg.</span>
        </div>
      </div>
    </div>

    <div class="mb-3 text-center">
      <%= f.submit "Upload files", class: "btn btn-primary", data: { turbo: false } %>
      <%= link_to "Back to entrants", entrants_event_group_path(@presenter.event_group), class: "btn btn-outline-secondary" %>
    </div>
  <% end %>

  <% if @presenter.event_group.entrant_photos.attached? %>
    <br/>
    <hr/>

    <div class="row">
      <div class="col">
        <h4 class="fw-bold">Photos waiting to be assigned</h4>
      </div>
      <div class="col text-end">
        <%= button_to "Assign photos",
                      assign_entrant_photos_event_group_path(@presenter.event_group),
                      method: :patch,
                      class: "btn btn-primary" %>
      </div>
    </div>
    <div class="row">
      <% @presenter.event_group.entrant_photos.includes(:blob).references(:blobs).order(:filename).each do |photo| %>
        <div class="col-12 col-sm-4 col-lg-2 text-center my-2">
          <div><%= image_tag photo.variant(:small) %></div>
          <div><%= photo.filename %></div>
          <div><%= button_to "Remove",
                             delete_entrant_photos_event_group_path(@presenter.event_group, entrant_photo_id: photo.id),
                             method: :delete,
                             class: "btn btn-outline-secondary btn-sm" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <br/>
  <hr/>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row my-3">
        <div class="col">
          <h4 class="fw-bold">Already assigned
            <span class="fw-light text-muted small"><%= @presenter.event_group.efforts.photo_assigned.count %></span>
          </h4>
        </div>
        <div class="col">
          <%= button_to "Remove all",
                        delete_photos_from_entrants_event_group_path(@presenter.event_group),
                        method: :delete,
                        data: { turbo_confirm: "This will remove photos from all entrants and cannot be undone. Proceed?" },
                        class: "btn btn-sm btn-outline-danger" %>
        </div>
      </div>
      <% @presenter.event_group.efforts.photo_assigned.with_attached_photo.order(:bib_number).each do |effort| %>
        <div class="card my-1">
          <div class="card-body px-3 py-2">
            <div class="row">
              <div class="col-1 text-center my-auto pe-0">
                <%= button_to(
                      delete_photo_effort_path(effort),
                      method: :delete,
                      class: "btn btn-sm btn-outline-danger"
                    ) { fa_icon("times-circle") }
                %>
              </div>
              <div class="col-2 mx-auto text-center">
                <%= image_tag effort.photo.variant(:thumbnail) %>
              </div>
              <div class="col-9 my-auto">
                <span class="fw-bold align-baseline"><%= "#{effort.full_name} ##{effort.bib_number}" %></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-md-6">
      <div class="row my-3">
        <div class="col">
          <h4 class="fw-bold">Not yet assigned
            <span class="fw-light text-muted small"><%= @presenter.event_group.efforts.no_photo_assigned.count %></span>
          </h4>
        </div>
      </div>
      <% @presenter.event_group.efforts.no_photo_assigned.order(:bib_number).each do |effort| %>
        <div class="card my-1">
          <div class="card-body px-3 py-2">
            <div class="row">
              <div class="col-2 text-center">
                <%= image_tag "small/avatar-empty.jpg" %>
              </div>
              <div class="col-10 my-auto">
                <span class="fw-bold align-baseline"><%= "#{effort.full_name} ##{effort.bib_number}" %></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</article>
