<% content_for :title do %>
  <% 'OpenSplitTime: New Event Group' %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1>
            <strong>Create Event</strong>
          </h1>
          <ul class="breadcrumb breadcrumb-ost">
            <% if @event_group.organization.persisted? %>
              <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
              <li class="breadcrumb-item"><%= link_to @event_group.organization_name, organization_path(@event_group.organization) %></li>
            <% end %>
            <li class="breadcrumb-item active">New Event</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <nav class="progress-bar-nav">
      <ul>
        <li class="active"><a href="#"><span>Your Event</span></a></li>
        <li><a href="#"><span>Courses</span></a></li>
        <li><a href="#"><span>Splits</span></a></li>
        <li><a href="#"><span>Entrants</span></a></li>
        <li><a href="#"><span>Confirmation</span></a></li>
        <li><a href="#"><span>Published</span></a></li>
      </ul>
    </nav>
  </div>
</aside>

<article class="ost-article container">
  <div class="col-12 row">
    <aside class="col-12">
      <h3>
        <strong>Provide Information About Your Event Group</strong>
        <span class="help-tooltip pull-right" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="An Event is run on a Course. An Event happens once, while a Course can be reused for many Events."><i class="fas fa-question-circle"></i></span>
      </h3>
      <p>Your event group will belong to an Organization. You'll either use an existing Organization or create one.</p>
    </aside>
    <article class="col-12" data-controller="new-event-group">
      <%= form_with(model: @event_group, local: true, html: {class: "form-horizontal", role: "form"}) do |f| %>

        <div class="card card-body bg-light border-0">
          <div class="row">
            <div class="form-group col">
              <label>What is your organization called?</label>
              <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Your Organization is the administrative umbrella for your Events and provides a home page to organize related Events. You will be able to choose trusted Organization Stewards who have access to all Event data within an Organization."><i class="fas fa-question-circle"></i></span>
              <h5><%= organizations_selector %></h5>
              <div>
                <%= render 'organization_form', form: f, organization: @event_group.organization %>
              </div>
            </div>
          </div>
        </div>

        <br/>

        <div class="card card-body bg-light border-0">
          <div class="row">
            <div class="form-group col-12">
              <label class="required">Event Group Name</label>
              <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="A name will be suggested based on your organization name and event year, but feel free to change to your liking."><i class="fas fa-question-circle"></i></span>
              <input id="event-group-name-field" type="text" class="form-control" placeholder="Your event group name" v-model="eventModel.eventGroup.name" v-prefill="suggestedName()">
            </div>

            <div class="form-group col-12">
              <label>Time Zone</label>
              <span class="help-tooltip" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="Some Tooltip"><i class="fas fa-question-circle"></i></span>
              <%= f.collection_select(:home_time_zone, ActiveSupport::TimeZone.all, :name, :name,
                                      {prompt: true}, {class: "form-control dropdown-select-field"}) %>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-12">
            <router-link to="/splits" id="continue-bottom-1" class="btn btn-primary pull-right" :disabled="!eventModel.validate()">Continue&nbsp;<i class="fas fa-arrow-right"></i>
            </router-link>
          </div>
        </div>
      <% end %>
    </article>
  </div>
</article>
