<% content_for :title do %>
  <% "OpenSplitTime: Reconcile efforts - #{@presenter.name}" %>
<% end %>

<%= render "shared/mode_widget", event_group: @presenter.event_group %>
<%= render "event_groups/setup_header", presenter: @presenter, breadcrumbs: ["Reconcile"] %>

<% if @presenter.unreconciled_efforts.present? %>
  <aside class="ost-toolbar">
    <div class="container">
      <div class="row">
        <div class="col-auto">
          <%= button_to "Auto Reconcile",
                        auto_reconcile_event_group_path(@presenter.event_group),
                        method: :patch,
                        class: "btn btn-warning" %>
        </div>
      </div>
    </div>
  </aside>

  <article class="ost-article container">
    <div class="page-header">
      <div class="row mb-3">
        <div class="col-12 col-md">
          <h3><%= "Showing #{@presenter.unreconciled_batch.size} of #{@presenter.unreconciled_efforts.size} unreconciled efforts for #{@presenter.name}" %></h3>
        </div>
        <div class="col-12 col-md ms-auto d-inline-flex justify-content-end">
          <% if suggested_match_count(@presenter.unreconciled_batch) > 0 %>
            <%= button_to "Match #{pluralize(suggested_match_count(@presenter.unreconciled_batch), "person")}",
                          associate_people_event_group_path(ids: suggested_match_id_hash(@presenter.unreconciled_batch)),
                          method: :patch,
                          data: { turbo_confirm: "Match #{pluralize(@presenter.unreconciled_batch.size, 'person')}?" },
                          form_class: "mx-1",
                          class: "btn btn-sm btn-outline-primary" %>
          <% end %>
          <%= button_to "Create #{pluralize(@presenter.unreconciled_batch.size, "person")}",
                        create_people_event_group_path(effort_ids: @presenter.unreconciled_batch.ids),
                        method: :post,
                        data: { turbo_confirm: "Create #{pluralize(@presenter.unreconciled_batch.size, 'new person')}?" },
                        class: "btn btn-sm btn-outline-success" %>
        </div>
      </div>
    </div>

    <table class="table">

      <thead>
      <tr>
        <th colspan="2">Personal Effort Info</th>
        <th colspan="2">Suggested Match</th>
      </tr>
      </thead>

      <tbody>
      <% @presenter.unreconciled_batch.each do |effort| %>
        <%= render "unreconciled_effort", effort: effort %>
      <% end %>
      </tbody>

    </table>
  </article>

<% elsif @presenter.efforts.empty? %>
  <article class="ost-article container">
    <div class="row">
      <div class="col">
        <h3>No entrants have been added to this event group.</h3>
      </div>
    </div>
  </article>
<% else %>
  <article class="ost-article container">
    <div class="row">
      <div class="col">
        <h3>All entrants have been reconciled.</h3>
      </div>
    </div>
  </article>
<% end %>
