<% content_for :title do %>
  <% "OpenSplitTime: Event group roster - #{@presenter.name}" %>
<% end %>

<% content_for(:container_type) do %>skip<% end %>

<!--<div class="row header">
  <div class="col-xs-5">
    <h2><strong><%= "#{@presenter.name}" %></strong></h2>
    <div class="breadcrumb"><%= link_to 'Organizations', organizations_path %> / <%= link_to @presenter.organization.name, organization_path(@presenter.organization) %> / <%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %> / <%= 'Roster' %></div>
  </div>
  <div class="col-xs-7 page-navigation">
    <div class="row">
      <%= render 'events/view_buttons', view_object: @presenter %>
    </div>
  </div>
</div>-->

<header class="ost-header container-fluid">
  <div class="container">
    <h1><strong><%= [@presenter.name, nil].compact.join(': ') %></strong></h1>
    <ul class="breadcrumb breadcrumb-ost">
      <li><%= link_to 'Organizations', organizations_path %></li>
      <li><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
      <li class="active"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
    </ul>
      <%= render 'events/view_buttons', view_object: @presenter %>
  </div>
</header>

<div>
  <%= render 'event_groups/efforts_roster' %>
</div>
