<% content_for :title do %>
  <% "OpenSplitTime: Show event group - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
        <h1><strong><%= [@presenter.name, nil].compact.join(': ') %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
            <li class="breadcrumb-item active"><%= @presenter.event.guaranteed_short_name %></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Navigation -->
    <%= render 'events/view_buttons', view_object: @presenter %>
  </div>
</header>

<% if current_user&.authorized_to_edit?(@presenter.event_group) %>
<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col form-inline">
        <%= display_style_button_group(@presenter, { events: 'Events', partners: 'Partners' }, button_class: 'btn-primary') %>
      </div>
      <div class="col-auto form-inline">
        <div>
          <% if current_user&.authorized_fully?(@presenter.event_group) %>
            <%= link_to_toggle_public_private(@presenter) %>
            <%= link_to_toggle_ost_remote(@presenter) %>
            <%= link_to_toggle_live_entry(@presenter) %>
            <div class="btn-group">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                Edit
                <span class="caret"></span>
              </button>
              <div class="dropdown-menu">
                <%= link_to 'Edit group', edit_event_group_path(@presenter), class: 'dropdown-item' %>
                <%= link_to 'Add/remove stewards', organization_path(@presenter.organization, display_style: 'stewards'), class: 'dropdown-item' %>
                <div role="separator" class="dropdown-divider"></div>
                <%= link_to 'Delete all times', delete_all_times_event_group_path(@presenter), class: 'dropdown-item',
                                method: :delete,
                                data: {confirm: 'NOTE: This will delete all split times and time records for the entire event group. ' +
                                        'This action cannot be undone. Are you sure you want to go ahead?'} %>
                <%= link_to 'Delete group', event_group_path(@presenter, referrer_path: event_groups_path), class: 'dropdown-item', 
                                method: :delete,
                                data: {confirm: 'NOTE: This will delete the event group including all events, efforts, and times related to it. ' +
                                        'This action cannot be undone. Are you sure you want to go ahead?'} %>
              </div>
            </div>



          <% end %>
        </div>
      </div>
    </div>
  </div>
</aside>
<% end %>

<article class="ost-article container">
<% if @presenter.display_style == 'events' %>
    <div>
      <% if @presenter.events.present? %>
        <%= render 'events/events', presenter: @presenter, events: @presenter.events, show_grouping_button: 'leave' %>
      <% else %>
        <h4>No events exist within this event group.</h4>
      <% end %>
    </div>

    <div>
      <% if @presenter.candidate_events.present? %>
        <hr>
        <h4><strong><%= "Events that may be added to the #{@presenter.name} group" %></strong></h4>

        <%= render 'events/events', presenter: @presenter, events: @presenter.candidate_events, show_grouping_button: 'join' %>

      <% end %>
    </div>
<% elsif @presenter.display_style == 'partners' %>
  <%= render 'partner_list', partners: @presenter.partners, view_model: @presenter %>
<% end %>
</article>