<% content_for :title do %>
    <% "OpenSplitTime: Show event group - #{@presenter.name}" %>
<% end %>
<div class="row header">
  <div class="col-xs-5">
    <h2><strong><%= "Event Group: #{@presenter.name}" %></strong></h2>
  </div>
  <div class="col-xs-7 page-navigation">
    <div class="row">
      <%= render 'events/view_buttons', view_object: @presenter %>
    </div>
    <div class="row">
      <% if current_user&.authorized_fully?(@presenter) %>
          <%= link_to_stewards(@presenter) %>
          <%= link_to_toggle_live_entry(@presenter) %>
          <%= link_to_toggle_public_private(@presenter) %>
          <%= link_to 'Edit group', edit_event_group_path(@presenter), class: 'btn btn-sm btn-primary' %>
          <%= link_to 'Delete group', event_group_path(@presenter, referrer_path: events_path),
                      method: :delete,
                      data: {confirm: 'NOTE: This will delete the event_group and all associated events. This action cannot be undone. Are you sure you want to go ahead?'},
                      class: 'btn btn-sm btn-danger' %>
      <% end %>
    </div>
  </div>
</div>

<div>
  <% if @presenter.events.present? %>
      <%= render 'events/events', presenter: @presenter, events: @presenter.events, show_join_button: false %>
  <% else %>
      <h4>No events exist within this event group.</h4>
  <% end %>
</div>

<div>
  <% if @presenter.candidate_events.present? %>
      <hr>
      <h4><strong><%= "Events that may be added to the #{@presenter.name} group" %></strong></h4>

      <%= render 'events/events', presenter: @presenter, events: @presenter.candidate_events, show_join_button: true %>

  <% end %>
</div>