<% content_for :title do %>
  <% "OpenSplitTime: Split raw times - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong><%= [@presenter.name, nil].compact.join(': ') %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
            <li class="breadcrumb-item">Raw Times</li>
            <li class="breadcrumb-item active">Splits</li>
          </ul>
        </div>
        <%= render 'events/time_and_course_info' %>
      </div>
    </div>
    <!-- Navigation -->
    <%= render 'events/view_buttons', view_object: @presenter %>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <!-- Navigation Widget -->
      <div class="col form-inline">
        <div class="dropdown float-left-button">
          <div class="btn-group btn-group-ost pull-right">
            <%= split_name_nav_button(@presenter, :prior) %>
            <%= split_name_dropdown(@presenter) %>
            <%= split_name_nav_button(@presenter, :next) %>
          </div>
          <% if @presenter.sub_split_kinds.many? %>
            <%= sub_split_kind_dropdown(@presenter) %>
          <% end %>
        </div>
      </div>
      <!-- Export Widget -->
      <div class="col-auto form-inline">
        <%= link_to_export_raw_times(@presenter, @presenter.split_name, :summit) %>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <% if @presenter.bib_rows.present? %>
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th class="border-right"></th>
        <th class="text-center" colspan="<%= @presenter.sources.size %>">Raw Time Sources</th>
        <% if @presenter.single_lap? %>
          <th class="border-left"></th>
        <% end %>
      </tr>
      <tr>
        <th class="text-center"><%= link_to_reversing_sort_heading('Bib', :sortable_bib_number, @presenter.existing_sort) %></th>
        <th><%= link_to_reversing_sort_heading('Name', :last_name, @presenter.existing_sort) %></th>
        <th class="text-center border-right"><%= link_to_reversing_sort_heading(@presenter.single_lap? ? 'Split Time' : 'Split Times', :sortable_time, @presenter.existing_sort) %></th>
        <% @presenter.sources.each do |source| %>
          <th class="text-center"><%= source %></th>
        <% end %>
        <% if @presenter.single_lap? %>
          <th class="text-center border-left">Discrepancy</th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% @presenter.bib_rows.each do |row| %>
        <tr id="<%= "bib_#{row.bib_number}" %>" class="<%= 'bg-highlight' if row.problem? %>">
          <td class="text-center"><%= row.bib_number %></td>
          <td><%= row.effort_id ? (link_to row.full_name, effort_path(row.effort_id)) : row.full_name %></td>
          <td class="text-center font-weight-bold border-right" style="white-space:pre-wrap; word-wrap:break-word"><%= lap_and_time_builder(row) %></td>
          <% @presenter.sources.each do |source| %>
            <td class="text-center" style="white-space:pre-wrap; word-wrap:break-word"><%= row.grouped_raw_times.fetch(source, []).map(&:military_time).join("\n") %></td>
          <% end %>
          <% if @presenter.single_lap? %>
            <td class="text-center border-left"><%= TimeConversion.seconds_to_hms(row.largest_discrepancy, blank_zero: true) %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <h4>No raw times have been entered for this station.</h4>
  <% end %>
</article>
