<% content_for :title do %>
  <% "OpenSplitTime: Split raw times - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
        <h1><strong><%= [@presenter.name, nil].compact.join(': ') %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
            <li class="breadcrumb-item active"><%= @presenter.event.guaranteed_short_name %></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Navigation -->
    <%= render 'events/view_buttons', view_object: @presenter %>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <!-- Navigation Widget -->
      <div class="col form-inline">
        <div class="dropdown float-left-button">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="split-name-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <strong><%= @presenter.split_name %></strong>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="split-name-dropdown">
            <% @presenter.ordered_split_names.each do |split_name| %>
              <%= link_to split_name.titleize, request.params.merge(split_name: split_name.parameterize), class: "dropdown-item #{split_name.parameterize == @presenter.split_name.parameterize ? 'active' : ''}" %>
            <% end %>
          </ul>
        </div>

        <% if @presenter.sub_split_kinds.many? %>
          <div class="dropdown float-left-button">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="sub-split-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <strong><%= @presenter.sub_split_kind.titleize %></strong>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="sub-split-dropdown">
              <% @presenter.sub_split_kinds.each do |kind| %>
                <%= link_to kind.titleize, request.params.merge(sub_split_kind: kind.parameterize), class: "dropdown-item #{kind.parameterize == @presenter.sub_split_kind.parameterize ? 'active' : ''}" %>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <!-- Export Widget -->
      <div class="col-auto form-inline">
        <%= link_to_export_raw_times(@presenter, @presenter.split_name, :summit) %>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <% if @presenter.bib_rows.present? %>
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th class="border-right"></th>
        <th class="text-center" colspan="<%= @presenter.sources.size %>">Raw Time Sources</th>
        <% if @presenter.single_lap? %>
          <th class="border-left"></th>
        <% end %>
      </tr>
      <tr>
        <th class="text-center"><%= link_to_reversing_sort_heading('Bib', :sortable_bib_number, @presenter.existing_sort) %></th>
        <th><%= link_to_reversing_sort_heading('Name', :last_name, @presenter.existing_sort) %></th>
        <th class="text-center border-right"><%= link_to_reversing_sort_heading(@presenter.single_lap? ? 'Grid time' : 'Grid times', :sortable_time, @presenter.existing_sort) %></th>
        <% @presenter.sources.each do |source| %>
          <th class="text-center"><%= source %></th>
        <% end %>
        <% if @presenter.single_lap? %>
          <th class="text-center border-left">Discrepancy</th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% @presenter.bib_rows.each do |row| %>
        <tr class="<%= 'highlight' if row.problem? %>">
          <td class="text-center"><%= row.bib_number %></td>
          <td><%= row.effort_id ? (link_to row.full_name, effort_path(row.effort_id)) : row.full_name %></td>
          <td class="text-center font-weight-bold border-right" style="white-space:pre-wrap; word-wrap:break-word"><%= lap_and_time_builder(row) %></td>
          <% @presenter.sources.each do |source| %>
            <td class="text-center" style="white-space:pre-wrap; word-wrap:break-word"><%= row.grouped_raw_times.fetch(source, []).map(&:military_time).join("\n") %></td>
          <% end %>
          <% if @presenter.single_lap? %>
            <td class="text-center border-left"><%= TimeConversion.seconds_to_hms(row.largest_discrepancy, blank_zero: true) %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <h4>No raw times have been entered for this aid station.</h4>
  <% end %>
</article>
