<% content_for :title do %>
  <% "OpenSplitTime: Event group traffic - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong><%= [@presenter.name, nil].compact.join(': ') %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
            <li class="breadcrumb-item">Traffic</li>
            <li class="breadcrumb-item active"><%= @presenter.split_name %></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Navigation -->
    <%= render 'events/view_buttons', view_object: @presenter %>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col form-inline">
        <div class="dropdown float-left-button">
          <div class="btn-group btn-group-ost pull-right">
            <%= split_name_nav_button(@presenter, :prior) %>
            <%= split_name_dropdown(@presenter) %>
            <%= split_name_nav_button(@presenter, :next) %>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="dropdown float-left-button">
          <%= traffic_band_width_dropdown(@presenter) %>
        </div>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <h4><%= @presenter.table_title %></h4>
  <div>
    <table class="table table-condensed table-striped" style="width:80%">
      <thead>
      <tr>
        <th></th>
        <th class="text-center" colspan="<%= @presenter.sub_split_kinds.size %>"><%= @presenter.sub_split_kinds.many? ? 'Sub Split' : '' %></th>
      </tr>
      <tr>
        <th>Time Range</th>
        <% @presenter.sub_split_kinds.each do |kind| %>
          <th class="text-center"><%= @presenter.sub_split_kinds.many? ? "#{kind.to_s.titleize} Count" : 'Count' %></th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% @presenter.table.each do |row| %>
        <tr>
          <td><%= row.range %></td>
          <% @presenter.sub_split_kinds.each do |kind| %>
            <td class="text-center" style="white-space:pre-wrap; word-wrap:break-word"><%= row.count[kind] %></td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <th>Totals</th>
        <% @presenter.sub_split_kinds.each do |kind| %>
          <th class="text-center" style="white-space:pre-wrap; word-wrap:break-word"><%= @presenter.totals(kind) %></th>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>
</article>