<% content_for :title do %>
  <% "OpenSplitTime: Event group traffic - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong><%= [@presenter.name, nil].compact.join(': ') %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
            <li class="breadcrumb-item">Traffic</li>
            <li class="breadcrumb-item active"><%= @presenter.split_name %></li>
          </ul>
        </div>
        <%= render 'events/time_and_course_info' %>
      </div>
    </div>
    <!-- Navigation -->
    <%= render 'events/view_buttons', view_object: @presenter %>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col d-inline-flex">
        <div class="dropdown">
          <div class="btn-group btn-group-ost pull-right">
            <%= prior_next_nav_button(@presenter, :prior) %>
            <%= split_name_dropdown(@presenter) %>
            <%= prior_next_nav_button(@presenter, :next) %>
          </div>
        </div>
        <div class="dropdown ms-1">
          <%= traffic_band_width_dropdown(@presenter) %>
        </div>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <h4><%= @presenter.table_title %></h4>
  <div>
    <% if @presenter.interval_split_traffics.present? %>
      <div>
        <%= line_chart @presenter.chart_data %>
      </div>

      <table class="table table-striped" style="width:80%">
        <thead>
        <% if @presenter.events.many? %>
          <tr>
            <th></th>
            <% @presenter.events_to_show.each do |event| %>
              <th class="text-center"><%= event.short_name || "Overall" %></th>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <th>Time Range</th>
          <% @presenter.events_to_show.each do |_| %>
            <th class="text-center"><%= @presenter.counts_header_string %></th>
          <% end %>
        </tr>
        </thead>

        <tbody>
        <% @presenter.interval_split_traffics.each do |ist| %>
          <tr>
            <td><%= @presenter.range_string(ist) %></td>
            <% @presenter.events_to_show.each do |event| %>
              <td class="text-center" style="white-space:pre-wrap; word-wrap:break-word"><%= @presenter.sub_split_counts_for_event(ist, event.id) %></td>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <th>Totals</th>
          <% @presenter.events_to_show.each do |event| %>
            <th class="text-center" style="white-space:pre-wrap; word-wrap:break-word"><%= @presenter.overall_totals(event.id) %></th>
          <% end %>
        </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</article>
