<% content_for :title do %>
  <% "OpenSplitTime: Event group webhooks - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong><%= @presenter.name %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to "Organizations", organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
            <li class="breadcrumb-item">Webhooks</li>
          </ul>
        </div>
        <%= render "events/time_and_course_info" %>
      </div>
    </div>
    <!-- Navigation -->
    <%= render "events/view_buttons", view_object: @presenter %>
  </div>
</header>

<article class="ost-article container">
  <h4 class="fw-bold">Subscribe to Webhooks for <%= @presenter.event_group.name %></h4>
  <%= render partial: "shared/callout_with_link",
             locals: {
               callout_color: "info",
               icon_color: "info",
               icon_name: "info-circle",
               detail_paragraphs: [t("event_groups.webhooks.subscription_instructions_1"), t("event_groups.webhooks.subscription_instructions_2")],
             } %>
  <% if @presenter.subscriptions_pending? %>
    <%= render partial: "shared/callout_with_link",
               locals: {
                 callout_color: "warning",
                 icon_color: "warning",
                 icon_name: "exclamation-triangle",
                 detail_paragraphs: [t("event_groups.webhooks.pending_subscription_warning")],
               } %>
  <% end %>
  <hr/>
  <% @presenter.events.each do |event| %>
    <div class="card">
      <div class="card-header">
        <div class="row pt-1">
          <div class="col">
            <h4>
              <span class="fw-bold"><%= event.name %></span>
              <%= render "subscriptions/subscriptions_count", subscribable: event, current_user: current_user %>
            </h4>
          </div>
          <div class="col-4 col-md-2 text-end d-grid">
            <% if event.topic_resource_key? %>
              <%= link_to fa_icon("plus", text: "Add Subscription"),
                          new_event_subscription_path(event),
                          id: dom_id(event, "new_subscription"),
                          class: "btn btn-outline-success",
                          data: { turbo_frame: "form_modal" }
              %>
            <% else %>
            <span class="d-grid" data-controller="tooltip" data-bs-original-title="<%= t('event_groups.webhooks.no_webhooks_available') %>">
              <%= link_to fa_icon("plus", text: "Add Subscription"),
                          "#",
                          class: "btn btn-outline-success",
                          disabled: true,
                          style: "pointer-events: none;"
              %>
            </span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>Protocol</th>
            <th>Endpoint</th>
            <th>Status</th>
            <th class="text-center">Actions</th>
          </tr>
          </thead>
          <tbody id="<%= dom_id(event, :subscriptions) %>">
          <%= render partial: "subscriptions/subscription_for_webhooks", collection: event.subscriptions.for_user(current_user), as: :subscription %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</article>
