<% segments.each do |segment| %>
  <tr>
    <td>
      <%= "#{segment.overall_rank}/#{segment.gender_rank}" %>
    </td>
    <td><strong><%= link_to segment.full_name, effort_path(segment) %></strong></td>
    <td><%= segment.bio_historic %></td>
    <td><%= segment.flexible_geolocation %></td>
    <td><%= segment.course_name %></td>
    <td><%= segment.year_and_lap %></td>
    <td class="text-right"><%= ::TimeConversion.seconds_to_hms(segment.elapsed_seconds) %></td>
  </tr>
<% end %>
