<% content_for :title do %>
  <% "OpenSplitTime: Course Group - #{@presenter.name}" %>
<% end %>

<% content_for(:container_type) do %>skip
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong><%= "#{@presenter.organization.name} Course Group: #{@presenter.name}" %></strong></h1>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Organizations", organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization, display_style: :course_groups) %></li>
            <li class="breadcrumb-item"><%= link_to "Course Groups", organization_path(@presenter.organization, display_style: :course_groups) %></li>
            <li class="breadcrumb-item active"><%= @presenter.name %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <% if current_user&.authorized_to_edit?(@presenter.course_group) %>
        <div class="col form-inline">
          <div>
            <%= course_group_actions_dropdown_menu(@presenter) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <% if @presenter.courses.present? %>
    <h4 class="font-weight-bold">Courses in this Group</h4>
    <%= render "course_groups/courses_list", courses: @presenter.courses %>
  <% else %>
    <h4>No courses are associated with this course group.</h4>
  <% end %>
</article>
