<%# locals: (presenter:, event:, interactor_response:) -%>

<% interactor_response ||= nil %>

<%= content_tag(:div, id: dom_id(event, :sync_efforts_card)) do %>
  <div class="card my-3">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h4 class="mt-1"><%= event.name %></h4>
        </div>
        <div class="col" id="<%= dom_id(event, :sync_efforts_response) %>">
          <%= render partial: "events/connectors/services/sync_efforts_response", locals: { interactor_response: interactor_response } %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <label class="fw-bold mb-2">Select corresponding external events</label>
          <% presenter.connections_with_blanks(event).each do |connection| %>
            <%= render partial: "events/connections/toggle_switch",
                       locals: {
                         event: event,
                         connection: connection,
                       } %>
          <% end %>
        </div>
        <div class="col text-end" id="<%= dom_id(event, :sync_or_preview_button) %>">
          <%= render partial: "events/connectors/services/preview_sync_button",
                     locals: {
                       event: event,
                       service_identifier: presenter.service_identifier,
                     } %>
        </div>
      </div>
    </div>
    <div class="card-footer bg-body">
      <div id="<%= dom_id(event, :sync_preview) %>">
      </div>
    </div>
  </div>
<% end %>
