<%# locals: (event:, connection:) -%>

<div class="d-flex"
     data-controller="highlight"
     data-highlight-timestamp-value="<%= connection.updated_at.to_i %>"
     data-highlight-fast-value="true"
     id='<%= dom_id(event, "switch_wrapper_#{connection.source_id}") %>'>
  <div class="form-check form-switch">
    <label class="form-check-label" for='<%= dom_id(event, "switch_#{connection.source_id}") %>'><%= connection.source_name %></label>
    <input class="form-check-input"
           type="checkbox"
           id="<%= dom_id(event, "switch_#{connection.source_id}") %>"
           data-controller="event-connections--switch tooltip"
           data-bs-placement="top"
           data-bs-original-title="<%= connection.persisted? ? 'Remove this connection' : 'Create this connection' %>"
           data-event-connections--switch-event-group-id-value="<%= event.event_group_id %>"
           data-event-connections--switch-event-id-value="<%= event.id %>"
           data-event-connections--switch-connection-id-value="<%= connection.id %>"
           data-event-connections--switch-source-id-value="<%= connection.source_id %>"
           data-event-connections--switch-source-name-value="<%= connection.source_name %>"
           data-event-connections--switch-service-identifier-value="<%= connection.service_identifier %>"
           <%= connection.persisted? ? "checked" : "" %>
    >
  </div>
</div>
