<% content_for :title do %>
  <% "OpenSplitTime: Edit user" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="ost-title col">
        <h1><strong><%= t(".title", resource: resource_name.to_s.humanize) %></strong></h1>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <div class="row justify-content-center">
    <div class="col">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, data: { turbo: false } }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-floating mb-3">
          <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
          <%= f.label :first_name, "First name", class: "required" %>
        </div>

        <div class="form-floating mb-3">
          <%= f.text_field :last_name, class: "form-control" %>
          <%= f.label :last_name, "Last name", class: "required" %>
        </div>

        <div class="form-floating mb-3">
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
          <%= f.label :email, class: "required" %>
        </div>

        <div class="form-floating mb-3">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <%= f.label :new_password %>
          <small class="form-text text-muted"><%= t(".leave_blank_if_you_don_t_want_to_change_it") %></small>
        </div>

        <div class="form-floating mb-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          <%= f.label :new_password_confirmation %>
          <small class="form-text text-muted"><%= t(".leave_blank_if_you_don_t_want_to_change_it") %></small>
        </div>

        <div class="form-floating mb-3">
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          <%= f.label :current_password, class: "required" %>
          <small class="form-text text-muted"><%= t(".we_need_your_current_password_to_confirm_your_changes") %></small>
        </div>
        <hr/>

        <div class="row">
          <div class="col">
            <%= f.submit t(".update"), class: "btn btn-primary" %>
            <%= link_to "Cancel", :back, class: "btn btn-outline-secondary" %>
          </div>
        </div>
      <% end %>
      <hr/>

      <p><%= link_to t(".cancel_my_account"),
                     registration_path(resource_name),
                     data: { confirm: t(".are_you_sure") },
                     method: :delete,
                     class: "btn btn-outline-danger" %></p>
    </div>
  </div>
</article>
