<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

<% content_for :title do %>
  <% "OpenSplitTime: Sign Up" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="ost-title col">
        <h1><strong><%= t(".sign_up") %></strong></h1>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <div class="row">
    <div class="col col-md-6 px-4 mx-auto justify-content-center">
      <%= button_to(user_facebook_omniauth_authorize_path,
                    method: :post,
                    form: { class: "d-grid", data: { turbo: false } },
                    class: "btn btn-lg btn-facebook") do %>
        <%= fa_icon("square-facebook", type: "brand", text: " Sign up with Facebook") %>
      <% end %>
      <br/>
      <%= button_to(user_google_oauth2_omniauth_authorize_path,
                    method: :post,
                    form: { class: "d-grid", data: { turbo: false } },
                    class: "btn btn-lg btn-google") do %>
        <%= fa_icon("google", type: "brand", text: " Sign up with Google") %>
      <% end %>
      <hr class="hr-text" data-content="or">
      <p class="text-center">Sign up with your Email</p>
      <%= render "devise/registrations/form" %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</article>
