<% content_for :title do %>
  <% "OpenSplitTime: My stuff - #{@presenter.full_name}" %>
<% end %>

<% content_for(:container_type) do %>skip
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <div class="h1 fw-bold">My Stuff</div>
          <ul class="breadcrumb">
            <li class="breadcrumb-item active"><%= current_user.full_name %></li>
            <li class="breadcrumb-item active">My Stuff</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <div class="row"
       data-controller="masonry"
       data-masonry='{"percentPosition": true }'
       style="position: relative">

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <h3 class="card-header"><strong>My Service Requirements</strong></h3>
        <div class="card-body">
          <turbo-frame id="my_stuff_service_requirements_card" src="<%= my_stuff_service_requirements_path %>" target="_top">
            <%= render partial: "shared/loading" %>
          </turbo-frame>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <h3 class="card-header"><strong>My Results</strong></h3>
        <div class="card-body">
          <turbo-frame id="my_stuff_results_card" src="<%= my_stuff_results_path %>" target="_top">
            <%= render partial: "shared/loading" %>
          </turbo-frame>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <h3 class="card-header"><strong>My Events</strong></h3>
        <div class="card-body">
          <turbo-frame id="my_stuff_events_card" src="<%= my_stuff_events_path %>" target="_top">
            <%= render partial: "shared/loading" %>
          </turbo-frame>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <h3 class="card-header"><strong>My Event Series</strong></h3>
        <div class="card-body">
          <turbo-frame id="my_stuff_event_series_card" src="<%= my_stuff_event_series_path %>" target="_top">
            <%= render partial: "shared/loading" %>
          </turbo-frame>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <h3 class="card-header"><strong>My Interests</strong></h3>
        <div class="card-body">
          <turbo-frame id="my_stuff_interests_card" src="<%= my_stuff_interests_path %>" target="_top">
            <%= render partial: "shared/loading" %>
          </turbo-frame>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <h3 class="card-header"><strong>My Live Updates</strong></h3>
        <div class="card-body">
          <turbo-frame id="my_stuff_live_updates_card" src="<%= my_stuff_live_updates_path %>" target="_top">
            <%= render partial: "shared/loading" %>
          </turbo-frame>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <h3 class="card-header"><strong>My Organizations</strong></h3>
        <div class="card-body">
          <turbo-frame id="my_stuff_organizations_card" src="<%= my_stuff_organizations_path %>" target="_top">
            <%= render partial: "shared/loading" %>
          </turbo-frame>
        </div>
      </div>
    </div>
  </div>
</article>
