<% content_for :title do %>
  <% "OpenSplitTime: My stuff - #{@presenter.full_name}" %>
<% end %>

<% content_for(:container_type) do %>skip
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <div class="h1 fw-bold">My Stuff</div>
          <ul class="breadcrumb">
            <li class="breadcrumb-item active"><%= current_user.full_name %></li>
            <li class="breadcrumb-item active">My Stuff</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<% if @presenter.person_not_assigned? %>
  <aside class="container">
    <%= render partial: "shared/callout_with_link",
               locals: {
                 icon_name: "info-circle",
                 icon_color: "info",
                 callout_color: "info",
                 main_text: "Your User account is not yet linked to a Person",
                 detail_paragraphs: "If you are not seeing your results and service requirements here, it may be because your User account is not yet linked to a Person. Search for your name in the People view, then click on your name and click 'This is me' to link your User account to that Person.",
                 link: link_to("People search", people_path, class: "btn btn-outline-secondary")
               } %>
  </aside>
<% end %>

<article class="ost-article container">
  <div class="row"
       data-controller="masonry"
       data-masonry='{"percentPosition": true }'
       style="position: relative">

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <div class="card-header h3 fw-bold">Manage Service</div>
        <div class="card-body">
          <turbo-frame id="my_stuff_service_requirements_card" src="<%= my_stuff_service_requirements_path %>" target="_top">
            <%= render partial: "shared/loading" %>
          </turbo-frame>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <div class="card-header h3 fw-bold">My Results</div>
        <div class="card-body">
          <turbo-frame id="my_stuff_results_card" src="<%= my_stuff_results_path %>" target="_top">
            <%= render partial: "shared/loading" %>
          </turbo-frame>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <div class="card-header h3 fw-bold">My Events</div>
        <div class="card-body">
          <turbo-frame id="my_stuff_events_card" src="<%= my_stuff_events_path %>" target="_top">
            <%= render partial: "shared/loading" %>
          </turbo-frame>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <div class="card-header h3 fw-bold">My Event Series</div>
        <div class="card-body">
          <turbo-frame id="my_stuff_event_series_card" src="<%= my_stuff_event_series_path %>" target="_top">
            <%= render partial: "shared/loading" %>
          </turbo-frame>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <div class="card-header h3 fw-bold">My Interests</div>
        <div class="card-body">
          <turbo-frame id="my_stuff_interests_card" src="<%= my_stuff_interests_path %>" target="_top">
            <%= render partial: "shared/loading" %>
          </turbo-frame>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <div class="card-header h3 fw-bold">My Live Updates</div>
        <div class="card-body">
          <turbo-frame id="my_stuff_live_updates_card" src="<%= my_stuff_live_updates_path %>" target="_top">
            <%= render partial: "shared/loading" %>
          </turbo-frame>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <div class="card-header h3 fw-bold">My Organizations</div>
        <div class="card-body">
          <turbo-frame id="my_stuff_organizations_card" src="<%= my_stuff_organizations_path %>" target="_top">
            <%= render partial: "shared/loading" %>
          </turbo-frame>
        </div>
      </div>
    </div>
  </div>
</article>
