<%= render 'shared/errors', obj: @person %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_for(@person, html: {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "form-control", placeholder: "First name", autofocus: true %>
          </div>
          <div class="col-md-4 mb-3">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "form-control", placeholder: "Last name" %>
          </div>
          <div class="col-md-2 mb-3">
            <%= f.label :gender %>
            <%= f.select :gender, Effort.genders.keys.map { |gender| [gender.titleize, gender] },
                         {prompt: true}, {class: "form-control"} %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-3 mb-3">
            <%= f.label :birthdate %>
            <%= f.datepicker_field :birthdate %>
          </div>
        </div>

        <div class="form-row" data-controller="carmen" data-carmen-model="person">
          <div class="col-md-4 mb-3">
            <%= f.label :country_code, 'Country' %>
            <%= carmen_country_select :person, :country_code, priority: %w(US CA),
                                      prompt: 'Please select a country' %>
          </div>
          <div class="col-md-3 mb-3">
            <%= f.label :state_code, 'State' %><br/>
            <%= render partial: 'carmen/subregion_select', locals: {model: :person, parent_region: f.object.country_code} %>
          </div>
          <div class="col-md-3 mb-3">
            <%= f.label :city %>
            <%= f.text_field :city, class: "form-control", placeholder: "City" %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-5 mb-3">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control", placeholder: "example@gmail.com" %>
          </div>
          <div class="col-md-3 mb-3">
            <%= f.label :phone %>
            <%= f.text_field :phone, class: "form-control", placeholder: "Phone number" %>
          </div>
        </div>

        <% if current_user&.admin? %>
          <div class="form-row">
            <div class="col-md-3 mb-3">
              <%= f.label :concealed, "Concealed (unsearchable)?" %>
              <%= f.check_box :concealed %>
            </div>
          </div>
        <% end %>

        <br/>
        <div class="form-row">
          <div class="col-md-2 mb-3">
            <%= f.submit(@person.new_record? ? "Create Person" : "Update Person", class: 'btn btn-primary btn-large') %>
          </div>
          <div class="col-md-2 mb-3">
            <%= link_to 'Cancel', @person.new_record? ? people_path : @person, class: "btn btn-outline-secondary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
