<%= render 'shared/errors', obj: @person %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@person, html: {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <div class="control-label col-8">
            <%= f.label :first_name %>
          </div>
          <div class="col-8">
            <%= f.text_field :first_name, class: "form-control", placeholder: "First name", autofocus: true %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-8">
            <%= f.label :last_name %>
          </div>
          <div class="col-8">
            <%= f.text_field :last_name, class: "form-control", placeholder: "Last name" %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-8">
            <%= f.label :gender %>
          </div>
          <div class="col-8">
            <%= f.select :gender, Person.genders.keys.map { |gender| [gender.titleize, gender] },
                         {prompt: true}, {class: "form-control dropdown-select-field"} %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-8">
            <%= f.label :birthdate %>
          </div>
          <div class="col-8">
            <%= f.datepicker_field :birthdate %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-8">
            <%= f.label :country_code, 'Country' %>
          </div>
          <div class="col-8 dropdown-select-field-carmen">
            <%= carmen_country_select :person, :country_code, priority: %w(US CA),
                                      prompt: 'Please select a country' %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-8">
            <%= f.label :state_code, 'State' %><br/>
          </div>
          <div class="col-8 dropdown-select-field-carmen">
            <%= render partial: 'subregion_select', locals: {parent_region: f.object.country_code} %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-8">
            <%= f.label :city %>
          </div>
          <div class="col-8">
            <%= f.text_field :city, class: "form-control", placeholder: "City" %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-8">
            <%= f.label :email %>
          </div>
          <div class="col-8">
            <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-8">
            <%= f.label :phone %>
          </div>
          <div class="col-8">
            <%= f.phone_field :phone, class: "form-control", placeholder: "Phone" %>
          </div>
        </div>

        <% if current_user&.admin? %>
            <div class="form-group">
              <div class="control-label col-8">
                <%= f.label :concealed, "Concealed (unsearchable)?" %>
              </div>
              <div class="col-8">
                <%= f.check_box :concealed %>
              </div>
            </div>
        <% end %>

        <div class="form-group">
          <div class="col">
            <%= f.submit(@person.new_record? ? "Create Person" : "Update Person", class: 'btn btn-primary btn-large') %>
          </div>
        </div>

        <div class="col">
          <span class="brackets"><%= link_to 'Cancel', @person.new_record? ? people_path : @person %></span>
        </div>
    <% end %>
  </div>
</div>
