<div>
  <h6><%= [person.bio.presence, person.flexible_geolocation.presence].compact.join(' | ') %></h6>
  <% if person.email %>
    <h6><%= "Email: #{person.email}" %></h6>
  <% end %>
  <% if person.phone %>
    <h6><%= "Phone: #{person.phone}" %></h6>
  <% end %>
</div>

<div>
  <% if person.claimed? %>
    <% if person.claimant == current_user %>
      <strong>Hey, this is me!</strong><br/>
    <% else %>
      <%= "Identified as user #{person.claimant.full_name}" %>
    <% end %>
  <% else %>
    <strong>Not claimed</strong>
  <% end %>
</div>

<hr/>

<div>
  <% if person.efforts.present? %>
    <h5>Efforts:</h5>
    <% person.efforts.each do |effort| %>
      <%= link_to effort.event_name, effort_path(effort) %>
    <% end %>
  <% else %>
    <h5>No Efforts</h5>
  <% end %>
</div>
