<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th><%= link_to_reversing_sort_heading('Name', 'last_name,first_name', params[:sort]) %></th>
    <th><%= link_to_reversing_sort_heading('Bio', 'gender,current_age_from_efforts', params[:sort]) %></th>
    <th><%= link_to_reversing_sort_heading('From', 'state_code', params[:sort]) %></th>
    <th>Efforts</th>
    <% if current_user&.admin? %>
        <th><%= link_to_reversing_sort_heading('Concealed?', 'concealed', params[:sort]) %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @people.each do |person| %>
      <tr>
        <td><strong><%= link_to person.full_name, person_path(person) %></strong></td>
        <td><%= person.bio %></td>
        <td><%= person.flexible_geolocation %></td>
        <td><%= pluralize(person.effort_count, 'effort') %></td>
        <td><%= person.concealed? %></td>
      </tr>
  <% end %>
  </tbody>
</table>
