<% content_for :title do %>
    <% if params[:search].present? %>
        <% "OpenSplitTime: Search people - #{params[:search]}" %>
    <% else %>
        <% "OpenSplitTime: Search people" %>
    <% end %>
<% end %>

<div class="row header">
  <div class="col-xs-5">
    <h2>
      <strong>People</strong>
    </h2>
  </div>
  <div class="col-xs-7 page-navigation">
    <div class="row">
      <% if current_user&.admin? %>
          <%= link_to 'Create a new person', new_person_path,
                      class: 'btn btn-sm btn-success' %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'lookup' %>

<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    <% if @people.present? %>
        <%= render 'people_list' %>
    <% else %>
        <br/>
        <% if params[:search].blank? %>
            <p><strong>Find someone by entering a name, state, or country</strong></p>
        <% elsif params[:search].length < 3 %>
            <p><strong>Search parameter is too short</strong></p>
        <% else %>
            <p><strong>No people match this search</strong></p>
        <% end %>
    <% end %>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>
