<% content_for :title do %>
    <% "OpenSplitTime: Merge people - #{@person_merge.full_name}" %>
<% end %>
<div class="row">
  <div class="col-xs-5">
    <h2><%= "#{@person_merge.last_name}, #{@person_merge.first_name}" %></h2>
  </div>
  <% if @person_merge.proposed_match.present? %>
      <div class="col-xs-2"><%= link_to '<< Merge into',
                                        combine_person_path(@person_merge.id,
                                                                 target_id: @person_merge.proposed_match.id),
                                        method: :put,
                                        class: 'btn btn-sm btn-success btn-margin-top' %>
      </div>
      <div class="col-xs-5">
        <h2><%= @person_merge.proposed_match_name %></h2>
      </div>
  <% else %>
      <div class="col-xs-4">
        <h2>[ No merge suggestions ]</h2>
      </div>
  <% end %>
</div>
<div class="row">
  <div class="col-xs-5">
    <%= render 'inspect', person: @person_merge.person %>
  </div>
  <% if @person_merge.proposed_match %>
      <div class="col-xs-2"><%= link_to 'Merge with >>',
                                        combine_person_path(@person_merge.proposed_match,
                                                                 target_id: @person_merge.id),
                                        method: :put,
                                        class: 'btn btn-sm btn-success btn-margin-top' %>
      </div>
      <div class="col-xs-5">
        <%= render 'inspect', person: @person_merge.proposed_match %>
      </div>
  <% end %>
</div>

<hr>
<div class="row">
  <div class="col-xs-5">
    <%= link_to '<< Back to person page', person_path(@person_merge.id), class: "btn btn-sm btn-default" %>
  </div>
</div>
<hr>

<% if @person_merge.possible_matches.present? %>
    <%= render 'people/people_list_merge' %>
<% end %>