<% content_for :title do %>
    <% "OpenSplitTime: Show person - #{@person.full_name}" %>
<% end %>

<% if @current_user %>
    <%= div_for(@person) do %>
        <h4>
          Notify Me Live:
          <%= link_to_toggle_email_subscription(@person) %>
          <%= link_to_toggle_sms_subscription(@person) %>
        </h4>
    <% end %>
<% end %>

<div class="row header">
  <div class="col-xs-6">
    <h2>
      <strong><%= @person.full_name %></strong>
    </h2>
    <h4>
      <%= @person.full_bio %><br/>
      <% if @person.claimed? %>
          <% if @person.claimant == @current_user %>
              <strong>Hey, this is me!</strong><br/>
          <% else %>
              <% if @current_user && @current_user.admin? %>
                  <%= "Identified as user #{@person.claimant.full_name}" %>
              <% else %>
                  OST Member
              <% end %>
          <% end %>
      <% end %>
    </h4>
  </div>
  <div class="col-xs-6 page-navigation">
    <div class="row">
      <% if @current_user %>
          <% if @person.unclaimed? && @current_user.authorized_to_claim?(@person) %>
              <%= link_to 'This is me', avatar_claim_person_path(@person),
                          data: {confirm: "Is this really you? (Please cancel if you were just kidding.)"},
                          class: "btn btn-sm btn-success" %>
          <% end %>
          <% if @current_user.admin? %>
              <%= link_to 'Merge with', merge_person_path(@person), class: "btn btn-sm btn-success" %>
          <% end %>
          <% if @current_user.authorized_to_edit?(@person) %>
              <%= link_to 'Edit', edit_person_path(@person), class: "btn btn-sm btn-primary" %>
              <%= link_to 'Delete', person_path(@person), method: :delete,
                          data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
          <% end %>
      <% end %>
    </div>
    <div class="page-navigation-text">
      <h4></h4>
    </div>
  </div>
</div>

<% if @person.efforts.present? %>
    <%= render 'efforts/efforts_list_person', efforts: @person.efforts.where(concealed: false).ordered_by_date %>
<% end %>