<% content_for :title do %>
    <% "OpenSplitTime: Show person - #{@presenter.full_name}" %>
<% end %>

<%= div_for(@presenter) do %>
  <h4>
    Notify Me Live:
    <%= link_to_toggle_email_subscription(@presenter) %>
    <%= link_to_toggle_sms_subscription(@presenter) %>
  </h4>
<% end %>

<div class="row header">
  <div class="col-xs-6">
    <h2>
      <strong><%= @presenter.full_name %></strong>
    </h2>
    <h4>
      <%= @presenter.full_bio %><br/>
      <% if @presenter.claimed? %>
          <% if @presenter.claimant == current_user %>
              <strong>Hey, this is me!</strong><br/>
          <% else %>
              <% if current_user&.admin? %>
                  <%= "Identified as user #{@presenter.claimant.full_name}" %>
              <% else %>
                  OST Member
              <% end %>
          <% end %>
      <% end %>
    </h4>
  </div>

  <div class="col-xs-3">
    <% if @presenter.photo.present? %>
        <%= image_tag(@presenter.photo.url(:small)) %>
    <% end %>
  </div>

  <div class="col-xs-3 page-navigation">
    <div class="row">
      <% if current_user %>
          <% if @presenter.unclaimed? && current_user&.authorized_to_claim?(@presenter) %>
              <%= link_to 'This is me', avatar_claim_person_path(@presenter),
                          data: {confirm: "Is this really you? (Please cancel if you were just kidding.)"},
                          class: "btn btn-sm btn-success" %>
          <% end %>
          <% if current_user&.admin? %>
              <%= link_to 'Merge with', merge_person_path(@presenter), class: "btn btn-sm btn-success" %>
          <% end %>
          <% if current_user&.authorized_to_edit?(@presenter.person) %>
              <%= link_to 'Edit', edit_person_path(@presenter), class: "btn btn-sm btn-primary" %>
              <%= link_to 'Delete', person_path(@presenter), method: :delete,
                          data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
          <% end %>
      <% end %>
    </div>
    <div class="page-navigation-text">
      <h4></h4>
    </div>
  </div>
</div>

<% if @presenter.efforts.present? %>
    <%= render 'efforts/efforts_list_person', efforts: @presenter.efforts %>
<% end %>