<% content_for :title do %>Getting Started
<% end %>
<h3>Getting Started</h3>
<hr>
<h4>
  Creating or importing a recurring event
</h4><br/>
<p> 1. Create a <%= link_to "new Course", new_course_path %>, unless you are using the same course as last time.</p>
<p> 2. Create a <%= link_to "new Event", new_event_path %>, and select the appropriate Course and Race.</p>
<p> 3. If you are using the same Course as last time, click "Associate splits" for this Event. Remember: one start, one
  finish, and as many <%= link_to "waypoints", split_info_path %> as you like.</p>
<p> 4. Add your racers' information manually or import it. </p>
<p> 5. Use OST Live or import existing time data.</p>
<hr>
<p><strong><%= link_to "<< Creating or importing your first event", getting_started_path %>  |
  <%= link_to "Races, courses, events, what the heck? >>", getting_started_3_path %></strong></p>