<% content_for :title do %>Getting Started 1
<% end %>
<h3>Getting Started</h3>
<hr>
<h4>
  Creating or importing your first event
</h4><br/>
<p> 1. <%= link_to "Sign up", new_user_registration_path %>.</p>
<p> 2. If your event will be part of a recurring series (like an annual race), create
  a <%= link_to "new Race", new_race_path %>.</p>
<p> 3. Create a <%= link_to "new Course", new_course_path %>. (You can use this Course for future events as well.)</p>
<p> 4. You will then be directed to create a new Event.</p>
<p> 5. From your Event page, add Splits manually or import them. In addition to your finish split, you may have as
  many <%= link_to "intermediate", split_info_path %> splits as you like. To add interest and function, tag your splits
  with geographical Location info. The whole process will take some time, but remember that you can reuse your splits for
  future events run on the same course.</p>
<p> 6. Add your racers' personal information (names, ages, contact info) manually or import it. To avoid duplication,
  each person's information is stored as an "effort" and you will be asked to reconcile efforts with our participant
  database. You can always add or change racer information at any time, including after the event is finished.</p>
<p> 7. If this is a planned event that will happen in the future, use OST Live to track your racers on the course. Data
  is available to the public instantly as it is submitted to the database.</p>
<p>or</p>
<p> 7(again?). If this is an event that happened in the past and you have the data somewhere in gmail, or sharing a
  thumb drive in a drawer with the Sword of Many Truths, or scribbled in a notebook in your basement, dust it off and
  enter it using our handy tools.</p>
<hr>
<p><strong><%= link_to "Creating or importing a recurring event >>", getting_started_2_path %></strong></p>