<%= render "shared/errors", obj: @partner %>

<div class="row">
  <div class="col-md-12">
    <%= form_for([@partner.organization, @partner.partnerable, @partner], multipart: true, html: { class: "form-horizontal", role: "form" }) do |f| %>
      <div class="mb-3 col-md-6">
        <%= f.label :name, class: "mb-1 required" %>
        <%= f.text_field :name, class: "form-control", placeholder: "Partner name", autofocus: true %>
      </div>

      <div class="mb-3 col-md-6">
        <%= f.label :banner, class: "mb-1 required" %>
        <%= f.file_field :banner, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= image_tag @partner.banner.variant(:banner_large) if @partner.banner.attached? %>
      </div>

      <div class="mb-3 col-md-6">
        <%= f.label :banner_link, class: "mb-1 required" %>
        <%= f.text_field :banner_link, class: "form-control", placeholder: "Paste the link that this banner should open" %>
      </div>

      <div class="mb-3 required">
        <%= f.label :weight, class: "mb-1 required" %>
        <%= f.number_field :weight, class: "form-control" %>
      </div>

      <div class="row">
        <div class="col">
          <%= f.submit class: "btn btn-primary" %>
            <%= link_to "Cancel",
                        polymorphic_path([@partner.organization, @partner.partnerable, :partners]),
                        class: "btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
