<%# locals: (partner:) %>

<tr id="<%= dom_id(partner) %>" class="align-middle">
  <td><%= partner.name %></td>
  <td><%= image_tag partner.banner.variant(:banner_small) if partner.banner.attached? %></td>
  <td><%= link_to partner.banner_link, url_with_protocol(partner.banner_link), target: "_blank" if partner.banner_link %></td>
  <td class="text-center"><%= partner.weight %></td>
  <td class="text-center">
    <%= render "partners/actions_kebab", partner: partner %>
  </td>
</tr>
