<% content_for :title do %>
    OpenSplitTime: Dashboard
<% end %>
<div class="row">
  <div class="col-xs-6">
    <h2>OpenSplitTime Dashboard</h2>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6">
    <h4>Database Statistics</h4><br/>
    <%= "Participants: #{Participant.all.size}" %><br/>
    <%= "Events: #{Event.all.size} with #{Effort.unreconciled.size} unreconciled efforts" %><br/>
    <%= "Efforts: #{Effort.all.size} with #{Effort.bad.size} bad and #{Effort.questionable.size} questionable" %><br/>
    <%= "Split Times: #{SplitTime.all.size} with #{SplitTime.bad.size} bad and #{SplitTime.questionable.size} questionable" %><br/>
    <%= "Courses: #{Course.all.size}" %><br/>
    <%= "Splits: #{Split.all.size}" %><br/>
    <%= "Users: #{User.all.size}" %><br/>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6">
    <h4>Actions</h4><br/>
  </div>
</div>
