<% content_for :title do %>
    OpenSplitTime: Dashboard
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong>OpenSplitTime Dashboard</strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item active"><%= link_to 'Dashboard', admin_dashboard_path %></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Navigation -->
  </div>
</header>

<article class="ost-article container">
  <p>
    <h4>Database Statistics</h4>
    <ul class="list-unstyled">
      <li><%= "People: #{Person.count}" %></li>
      <li><%= "Organizations: #{Organization.count}" %></li>
      <li><%= "Stewardships: #{Stewardship.count}" %></li>
      <li><%= "Event Groups: #{EventGroup.count}" %></li>
      <li><%= "Events: #{Event.count} with #{Effort.unreconciled.size} unreconciled efforts" %></li>
      <li><%= "Partners: #{Partner.count}" %></li>
      <li><%= "Efforts: #{Effort.count} with #{Effort.bad.size} bad and #{Effort.questionable.size} questionable" %></li>
      <li><%= "Split Times: #{SplitTime.count} with #{SplitTime.bad.size} bad and #{SplitTime.questionable.size} questionable" %></li>
      <li><%= "Courses: #{Course.count}" %></li>
      <li><%= "Splits: #{Split.count}" %></li>
      <li><%= "Users: #{User.count}" %></li>
      <li><%= "Raw Times: #{RawTime.count}" %></li>
      <li><%= "Notifications: #{Notification.count}" %></li>
      <li><%= "Subscriptions: #{Subscription.count} consisting of #{Subscription.sms.size} SMS, #{Subscription.email.size} email, #{Subscription.http.size} http, #{Subscription.https.size} https" %></li>
    </ul>
  </p>
  <p>
    <h4>Actions</h4>
  </p>
  <div class="row">
    <div class="col">
      <%= link_to 'Test timeout', admin_dashboard_timeout_path,
                  class: 'btn btn-danger',
                  data: {confirm: 'This will intentionally timeout a server by sleeping for up to 35 seconds. Are you sure you want to do that?'} %>
    </div>
  </div>
</article>
