<div class="row">
  <div class="col-xs-6">
    <h2>OpenSplitTime Cockpit</h2>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6">
    <h4>Database Statistics</h4><br/>
    <%= "Participants: #{Participant.all.count}" %><br/>
    <%= "Events: #{Event.all.count} with #{Effort.unreconciled.count} unreconciled efforts" %><br/>
    <%= "Efforts: #{Effort.all.count} with #{Effort.all.bad.count} problems" %><br/>
    <%= "Split Times: #{SplitTime.all.count} with #{SplitTime.all.bad.count} problems" %><br/>
    <%= "Courses: #{Course.all.count}" %><br/>
    <%= "Splits: #{Split.all.count}" %><br/>
    <%= "Locations: #{Split.all.count}" %><br/>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6">
    <h4>Actions</h4><br/>
    <%= link_to "Check split times", check_split_times_admin_path, class: 'btn btn-sm btn-primary' %><br/>
  </div>
</div>
