<%# locals: (presenter:) %>

<% content_for :title do %>
  <% "OpenSplitTime: Event Group Connections - #{presenter.event_group.name}" %>
<% end %>

<%= render "shared/mode_widget", event_group: presenter.event_group %>
<%= render "event_groups/setup_header", presenter: presenter, breadcrumbs: ["Connections"] %>

<article class="ost-article container">
  <div class="row flex-nowrap">
    <div class="col">
      <%= render partial: "shared/callout_with_link", locals: {
        main_text: t(".callout.main_text"),
        detail_paragraphs: [t(".callout.detail_paragraph_1"), t(".callout.detail_paragraph_2")],
        callout_color: "success",
        icon_color: "success",
        icon_name: "info-circle",
      } %>

      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h4 class="card-title fw-bold mt-1">Connect to a Service</h4>
            </div>
            <div class="col text-end">
              <%= connection_services_dropdown_menu(presenter) %>
            </div>
          </div>
        </div>
      </div>

      <% if presenter.existing_connection_services.any? %>
        <hr class="mt-5">
        <h4 class="fw-bold">Existing Service Connections</h4>
        <div>
          <% presenter.existing_connection_services.each do |service| %>
            <div class="card my-3">
              <div class="card-header">
                <div class="row">
                  <div class="col">
                    <h4 class="card-title mt-1"><%= service.name %></h4>
                  </div>
                  <div class="col text-end">
                    <%= link_to "Manage",
                                event_group_connect_service_path(presenter.event_group, service.identifier),
                                class: "btn btn-outline-primary" %>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <table class="table table-bordered text-center">
                  <thead>
                  <tr>
                    <th colspan="2" class="border-end"><%= "Source (#{service.name})" %></th>
                    <th colspan="2">Destination</th>
                  </tr>
                  <tr>
                    <th>Resource Type</th>
                    <th class="border-end">Resource ID</th>
                    <th>Resource Type</th>
                    <th>Resource Name</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% presenter.event_group.connections.from_service(service.identifier).each do |connection| %>
                    <tr>
                      <td><%= connection.source_type %></td>
                      <td class="border-end"><%= connection.source_id %></td>
                      <td><%= connection.destination_type %></td>
                      <td><%= connection.destination.name %></td>
                    </tr>
                  <% end %>
                  <% presenter.event_group.events.order(:scheduled_start_time).each do |event| %>
                    <% event.connections.from_service(service.identifier).each do |connection| %>
                      <tr>
                        <td><%= connection.source_type %></td>
                        <td class="border-end"><%= connection.source_id %></td>
                        <td><%= connection.destination_type %></td>
                        <td><%= connection.destination.guaranteed_short_name %></td>
                      </tr>
                    <% end %>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</article>
