<%= form_for @race do |f| %>

    <% if @race.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@race.errors.count, "error") %> prohibited
            this race from being saved:
          </h2>
          <ul>
            <% @race.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    
    <p>
      <%= f.submit %>
    </p>

<% end %>