<% content_for :title do %>
    <% "OpenSplitTime: Show race - #{@race.name}" %>
<% end %>
<div class="row header">
  <div class="col-xs-7">
    <h2><strong><%= @race.name %></strong></h2>
  </div>
  <div class="col-xs-5 page-navigation">
    <div class="row">
      <% if @current_user && @current_user.authorized_to_edit?(@race) %>
          <%= link_to 'Add/remove stewards', stewards_race_path(@race), class: "btn btn-sm btn-warning" %>
          <%= link_to 'Create New Event', new_event_path(race_id: @race.id), class: "btn btn-sm btn-success" %>
          <%= link_to 'Edit this race', edit_race_path(@race), class: "btn btn-sm btn-primary" %>
          <%= link_to 'Delete this race',
                      race_path(@race, referrer_path: request.referrer ? URI(request.referrer).path : locations_path),
                      method: :delete,
                      data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <%= @race_show.description %>
  </div>
</div>

<div class="row header">
  <div class="col-xs-5">
    <h3><%= @race_show.view_text.titleize %></h3>
  </div>
  <div class="col-xs-7 page-navigation">
    <div class="row">
      <div class="btn-group">
        <%= link_to 'Show courses',
                    race_path(@race_show.race, view: 'courses'),
                    disabled: params[:view] == 'courses',
                    class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Show events',
                    race_path(@race_show.race, view: 'events'),
                    disabled: params[:view] == 'events',
                    class: 'btn btn-sm btn-primary' %>
        <% if @current_user && @current_user.authorized_to_edit?(@race_show.race) %>
            <%= link_to 'Show stewards',
                        race_path(@race_show.race, view: 'stewards'),
                        disabled: params[:view] == 'stewards',
                        class: 'btn btn-sm btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if params[:view] == 'courses' %>
    <% if @race_show.courses_count > 0 %>
        <%= render 'courses/courses', courses: @race_show.courses %>
    <% else %>
        <h4>No courses are associated with this race.</h4>
    <% end %>
<% elsif params[:view] == 'stewards' %>
    <% if @race_show.stewards_count > 0 %>
        <%= render 'stewards_list', stewards: @race_show.stewards %>
    <% else %>
        <h4>No stewards have been added to this race.</h4>
    <% end %>
<% else %>
    <% if @race_show.events_count > 0 %>
        <%= render 'events/events', events: @race_show.events %>
    <% else %>
        <h4>No events are associated with this race.</h4>
    <% end %>
<% end %>