<% content_for :title do %>
    <% "OpenSplitTime: Add or remove stewards - #{@race.name}" %>
<% end %>
<div class="row">
  <div class="col-xs-8">
    <h2><%= "#{@race.name}: Add or remove stewards" %></h2>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6">
    <%= link_to '<< Show race', race_path(@race), class: "btn btn-sm btn-default" %>
    <%= link_to '< Back', :back, class: "btn btn-sm btn-default" %>
  </div>
</div>
<hr>

<%= render 'user_lookup' %>

<% if @race.stewards.present? %>
    <div class="row">
      <div class="col-xs-8">
        <h4>Stewards associated with this race:</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <%= render 'stewards_list' %>
      </div>
    </div>
<% else %>
    <h4>No stewards are associated with this race. Search to find a trusted user and add them.</h4>
<% end %>