<div class="row">
  <div class="col-xs-9">
    <h3>
      <%= @effort_show.full_name %>
      <%= "(#{@effort_show.bib_number})" if @effort_show.bib_number %>
      • <%= @effort_show.event_name %>
    </h3>
    <h4>
      <%= @effort_show.finish_status %>
      <%= "• #{@effort_show.overall_place.ordinalize} Place " if @effort_show.overall_place %>
      <%= "• #{@effort_show.gender_place.ordinalize} #{@effort_show.gender.titleize}" if @effort_show.gender_place %>
      <%= "• Bib ##{@effort_show.bib_number}" if @effort_show.bib_number %>
    </h4>
  </div>
  <div class="col-xs-2">
    <% if @effort_show.beacon_url %>
        <%= link_to effort_beacon_button_text(@effort_show.beacon_url),
                    url_with_protocol(@effort_show.beacon_url),
                    class: "btn btn-sm btn-default btn-margin-top",
                    target: "_blank" %>
    <% end %>
  </div>
</div>

<hr>

<% if @effort_show.split_rows.count > 0 %>
    <%= render 'split_times/split_times_list_compact' %>
<% end %>
