<div class="row">
  <div class="col-xs-10">
    <% if @aid_station_detail.recorded_out_live_efforts.count == 0 %>
        <h4><%= "No efforts recorded at #{@aid_station_detail.split_name} as of #{l(Time.now.in_time_zone, format: :full_with_weekday)} at #{l(Time.now.in_time_zone, format: :military)}" %></h4>
    <% else %>
        <h4><%= "Efforts recorded at #{@aid_station_detail.split_name} as of #{l(Time.now.in_time_zone, format: :full_with_weekday)} at #{l(Time.now.in_time_zone, format: :military)}" %></h4>
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th class="text-center">Bib</th>
            <th>Name</th>
            <th>Category</th>
            <th class="text-center">Valid Reported Time<br/><%= "Prior To #{@aid_station_detail.split_name}" %></th>
            <th class="text-center"><%= "Recorded at #{@aid_station_detail.split_name}" %><br/>In / Out</th>
            <th class="text-center">Valid Reported Time<br/><%= "After #{@aid_station_detail.split_name}" %></th>
          </tr>
          </thead>
          <tbody>
          <% @aid_station_detail.recorded_out_live_efforts.each do |live_effort| %>
              <% prior_valid_display_data = @aid_station_detail.prior_valid_display_data(live_effort.effort, @aid_station_detail.bitkey_hash_in) %>
              <% next_valid_display_data = @aid_station_detail.next_valid_display_data(live_effort.effort, @aid_station_detail.bitkey_hash_out) %>
              <tr>
                <td class="text-center"><%= live_effort.bib_number %></td>
                <td class="text-nowrap">
                  <strong><%= link_to live_effort.full_name, effort_path(live_effort.id) %></strong></td>
                <td class="text-nowrap"><%= live_effort.bio_historic %></td>
                <td class="text-center text-nowrap"><%= prior_valid_display_data.present? ? "#{prior_valid_display_data[:split_name]}, #{l(prior_valid_display_data[:day_and_time], format: :day_and_military)}" : "[None]" %></td>
                <td class="text-center text-nowrap"><%= [l(@aid_station_detail.recorded_out_day_and_time(live_effort), format: :day_and_military), l(@aid_station_detail.recorded_out_day_and_time(live_effort), format: :day_and_military)].join(' / ') %></td>
                <td class="text-center text-nowrap"><%= next_valid_display_data.present? ? "#{next_valid_display_data[:split_name]}, #{l(next_valid_display_data[:day_and_time], format: :day_and_military)}" : "[None]" %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>