<div class="row">
  <div class="col-xs-9">
    <h3>
      <%= @presenter.full_name %>
      <%= "(#{@presenter.bib_number})" if @presenter.bib_number %>
      • <%= @presenter.event_name %>
    </h3>
    <h4>
      <%= @presenter.finish_status %>
      <%= "• #{@presenter.overall_rank.ordinalize} Place " if @presenter.overall_rank %>
      <%= "• #{@presenter.gender_rank.ordinalize} #{@presenter.gender.titleize}" if @presenter.gender_rank %>
      <%= "• Bib ##{@presenter.bib_number}" if @presenter.bib_number %>
    </h4>
  </div>
  <div class="col-xs-2">
    <% if @presenter.beacon_url %>
        <%= link_to effort_beacon_button_text(@presenter.beacon_url),
                    url_with_protocol(@presenter.beacon_url),
                    class: 'btn btn-sm btn-default btn-margin-top',
                    target: '_blank' %>
    <% end %>
  </div>
</div>

<hr>

<% if @presenter.lap_split_rows.present? %>
    <%= render 'split_times/split_times_list_compact' %>
<% end %>
