<% if @aid_station_detail.effort_data.empty? %>
    <h4><%= "No times have been recorded at #{@aid_station_detail.split_name} as of #{day_time_current_military_full(@aid_station_detail.home_time_zone)}" %></h4>
<% else %>
    <h4><%= "#{pluralize(@aid_station_detail.effort_data.size, 'time')} recorded at #{@aid_station_detail.split_name} as of #{day_time_current_military_full(@aid_station_detail.home_time_zone)}" %></h4>
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
        <th class="text-center"><%= link_to_reversing_sort_heading('Bib', :bib_number, @aid_station_detail.existing_sort) %></th>
        <th><%= link_to_reversing_sort_heading('Name', :full_name, @aid_station_detail.existing_sort) %></th>
        <th><%= link_to_reversing_sort_heading('Category', :bio_historic, @aid_station_detail.existing_sort) %></th>
        <% if @aid_station_detail.prior_split_name %>
            <th class="text-center"><%= link_to_reversing_sort_heading("Recorded Prior To #{@aid_station_detail.split_name}", :prior_to_here_info, @aid_station_detail.existing_sort) %></th>
        <% end %>
        <th class="text-center"><%= link_to_reversing_sort_heading("Recorded at #{@aid_station_detail.split_name}", :recorded_here_info, @aid_station_detail.existing_sort) %></th>
        <% if @aid_station_detail.next_split_name %>
            <th class="text-center"><%= link_to_reversing_sort_heading("Recorded After #{@aid_station_detail.split_name}", :after_here_info, @aid_station_detail.existing_sort) %></th>
        <% end %>
        </tr>
        </thead>
        <tbody>
        <% @aid_station_detail.effort_data.each do |row| %>
            <tr>
            <td class="text-center"><%= row[:bib_number] %></td>
            <td class="text-nowrap"><strong><%= link_to row[:full_name], effort_path(row[:effort_slug]) %></strong>
            </td>
            <td class="text-nowrap"><%= row[:bio_historic] %></td>
            <% if @aid_station_detail.prior_split_name %>
                <td class="text-center text-nowrap"><%= display_progress_info(row[:prior_to_here_info]) %></td>
            <% end %>
            <td class="text-center text-nowrap"><%= display_progress_times_only(row[:recorded_here_info]) %></td>
            <% if @aid_station_detail.next_split_name %>
                <td class="text-center text-nowrap"><%= display_progress_info(row[:after_here_info]) %></td>
            <% end %>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>
