<div class="row">
  <div class="col-xs-10">
    <% if @aid_station_detail.effort_data.empty? %>
        <h4><%= "No efforts dropped at #{@aid_station_detail.split_name} as of #{day_time_current_military_full(@aid_station_detail.home_time_zone)}" %></h4>
    <% else %>
        <h4><%= "#{pluralize(@aid_station_detail.effort_data.size, 'effort')} dropped at #{@aid_station_detail.split_name} as of #{day_time_current_military_full(@aid_station_detail.home_time_zone)}" %></h4>
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th class="text-center"><%= link_to_aid_detail_field(@aid_station_detail, :bib_number, 'Bib') %></th>
            <th><%= link_to_aid_detail_field(@aid_station_detail, :full_name, 'Name') %></th>
            <th><%= link_to_aid_detail_field(@aid_station_detail, :bio_historic, 'Category') %></th>
            <th><%= link_to_aid_detail_field(@aid_station_detail, :state_and_country, 'From') %></th>
            <th class="text-center"><%= link_to_aid_detail_field(@aid_station_detail, :prior_to_here_info, 'Reported Prior to Drop') %>
            <th class="text-center"><%= link_to_aid_detail_field(@aid_station_detail, :dropped_here_info, "Dropped at #{@aid_station_detail.split_name}") %>
          </tr>
          </thead>
          <tbody>
          <% @aid_station_detail.effort_data.each do |row| %>
              <tr>
                <td class="text-center"><%= row[:bib_number] %></td>
                <td class="text-nowrap"><strong><%= link_to row[:full_name], effort_path(row[:effort_slug]) %></strong></td>
                <td class="text-nowrap"><%= row[:bio_historic] %></td>
                <td class="text-nowrap"><%= row[:state_and_country] %></td>
                <td class="text-center text-nowrap"><%= display_progress_info(row[:prior_to_here_info]) %></td>
                <td class="text-center text-nowrap"><%= display_progress_times_only(row[:dropped_here_info]) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>
