<div class="row">
  <div class="col-xs-8">
    <h4><%= "Efforts expected at #{@aid_station_detail.split_name} as of #{l(Time.now, format: :full_with_weekday)} at #{l(Time.now, format: :military)}" %></h4>
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Category</th>
        <th>From</th>
        <th class="text-right">Expected Time</th>
      </tr>
      </thead>
      <tbody>
      <% @aid_station_detail.efforts_expected.each do |effort| %>
          <tr>
            <td><%= effort.bib_number %></td>
            <td><strong><%= link_to effort.full_name, effort_path(effort.id) %></strong></td>
            <td><%= effort.bio_historic %></td>
            <td><%= effort.state_and_country %></td>
            <td class="text-right"><%= l(effort.expected_day_and_time({@aid_station_detail.split_id => SubSplit::IN_BITKEY}), format: :day_and_military) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
