<div class="row">
  <div class="col-xs-10">
    <% if @aid_station_detail.category_efforts[:expected].empty? %>
        <h4><%= "No efforts expected at #{@aid_station_detail.split_name} as of #{l(Time.now.in_time_zone, format: :full_with_weekday)} at #{l(Time.now.in_time_zone, format: :military)}" %></h4>
    <% else %>
        <h4><%= "Efforts expected at #{@aid_station_detail.split_name} as of #{l(Time.now.in_time_zone, format: :full_with_weekday)} at #{l(Time.now.in_time_zone, format: :military)}" %></h4>
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th class="text-center">Bib</th>
            <th>Name</th>
            <th>Category</th>
            <th class="text-center">Last Reported</th>
            <th class="text-center">Due Next</th>
            <th class="text-center">Expected Here</th>
          </tr>
          </thead>
          <tbody>
          <% @aid_station_detail.expected_effort_rows.each do |row| %>
              <tr>
                <td class="text-center"><%= row.bib_number %></td>
                <td class="text-nowrap">
                  <strong><%= link_to row.full_name, effort_path(row.effort_id) %></strong></td>
                <td class="text-nowrap"><%= row.bio_historic %></td>
                <td class="text-center text-nowrap"><%= "#{row.last_reported_name}, #{l(row.last_reported_day_and_time, format: :day_and_military)}" %></td>
                <td class="text-center text-nowrap"><%= "#{row.due_next_name}, #{row.due_next_day_and_time ? l(row.due_next_day_and_time, format: :day_and_military) : '[unknown time]'}" %></td>
                <td class="text-center text-nowrap"><%= l(row.expected_here_day_and_time, format: :day_and_military) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>