<% content_for :title do %>
    <% "OpenSplitTime: Aid station report - #{@aid_stations_display.event_name}" %>
<% end %>
<div class="row header">
  <div class="col-xs-7">
    <h2><%= "#{@aid_stations_display.event_name}: Aid Station Report" %></h2>
    <h4><%= "as of #{l(Time.now.in_time_zone, format: :full_with_weekday)} at #{l(Time.now.in_time_zone, format: :military)}" %></h4>
  </div>
  <div class="col-xs-5 page-navigation">
    <%= link_to 'View Event', event_path(@event), class: 'btn btn-sm btn-primary' %>
    <div class="btn-group">
      <%= link_to 'Live entry', live_entry_live_event_path(@event), class: 'btn btn-sm btn-warning' %>
      <%= link_to 'Progress', progress_report_live_event_path(@event), class: 'btn btn-sm btn-warning' %>
      <%= link_to 'Aid stations', aid_station_report_live_event_path(@event), disabled: true, class: 'btn btn-sm btn-warning' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h4><%= "Event started on #{l(@aid_stations_display.start_time, format: :full_with_weekday)} at #{l(@aid_stations_display.start_time, format: :military)} with #{@aid_stations_display.efforts_started_count} entrants" %></h4>
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th class="text-right"><%= pdu('singular').titleize %></th>
        <th class="text-center">Recorded<br/>In / Out</th>
        <th class="text-center">Missed</th>
        <th class="text-center">Dropped Here</th>
        <th class="text-center">Expected</th>
        <th class="text-center">Status</th>

      </tr>
      </thead>
      <tbody>
      <% @aid_stations_display.aid_station_rows.each do |row| %>
          <tr>
            <td class="text-nowrap"><%= link_to row.split_name, aid_station_detail_live_event_path(@event, aid_station: row.aid_station) %></td>
            <td class="text-right"><%= d(row.split.distance_from_start) %></td>
            <td class="text-center">
              <% if row.efforts_recorded_in_count == 0 || row.efforts_recorded_in_count.nil? %>
                  --
              <% else %>
                  <a data-toggle="efforts-popover" title="<%= row.efforts_recorded_in_table_title %>" data-effort-ids="<%= row.efforts_recorded_in_ids %>"><%= row.efforts_recorded_in_count %></a>
              <% end %>
              /
              <% if row.efforts_recorded_out_count == 0 || row.efforts_recorded_out_count.nil? %>
                  --
              <% else %>
                  <a data-toggle="efforts-popover" title="<%= row.efforts_recorded_out_table_title %>" data-effort-ids="<%= row.efforts_recorded_out_ids %>"><%= row.efforts_recorded_out_count %></a>
              <% end %>
            </td>
            <td class="text-center">
              <% if row.efforts_missed_count == 0 || row.efforts_missed_count.nil? %>
                  --
              <% else %>
                  <a data-toggle="efforts-popover" title="<%= row.efforts_missed_table_title %>" data-effort-ids="<%= row.efforts_missed_ids %>"><%= row.efforts_missed_count %></a>
              <% end %>
            </td>
            <td class="text-center">
              <% if row.efforts_dropped_here_count == 0 || row.efforts_dropped_here_count.nil? %>
                  --
              <% else %>
                  <a data-toggle="efforts-popover" title="<%= row.efforts_dropped_here_table_title %>" data-effort-ids="<%= row.efforts_dropped_here_ids %>"><%= row.efforts_dropped_here_count %></a>
              <% end %>
            </td>
            <td class="text-center">
              <% if row.efforts_expected_count == 0 || row.efforts_expected_count.nil? %>
                  --
              <% else %>
                  <a data-toggle="efforts-popover" title="<%= row.efforts_expected_table_title %>" data-effort-ids="<%= row.efforts_expected_ids %>"><%= row.efforts_expected_count %></a>
              <% end %>
            </td>
            <td class="text-center text-nowrap">
              <%= link_to '<<', aid_station_degrade_live_event_path(@event, aid_station: row.aid_station), method: :put %>
              <%= row.aid_station.status.titleize if row.aid_station.status %>
              <%= link_to '>>', aid_station_advance_live_event_path(@event, aid_station: row.aid_station), method: :put %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
