<div class="row header">

  <div class="col-xs-8 page-title">
    <%= link_to 'Live entry', live_entry_live_event_path(@event), class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Progress report', progress_report_live_event_path(@event), class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Aid station report', aid_station_report_live_event_path(@event), disabled: true, class: 'btn btn-sm btn-primary' %>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <h2><%= @aid_stations_display.event_name %></h2>
      <h3><%= "Live Aid Stations Report - #{@aid_stations_display.efforts_started_count} entrants started" %></h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h4><%= "Aid station summary as of #{l(Time.now, format: :full_with_weekday)} at #{l(Time.now, format: :military)}" %></h4>
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th class="text-right"><%= pdu('singular').titleize %></th>
        <th class="text-center">Recorded</th>
        <th class="text-center">Passed w/o Record</th>
        <th class="text-center">Dropped Here</th>
        <th class="text-center">Expected</th>
        <th class="text-center">Status</th>

      </tr>
      </thead>
      <tbody>
      <% @aid_stations_display.aid_station_rows.each do |row| %>
          <tr>
            <td><%= link_to row.split_name, aid_station_detail_live_event_path(@event, aid_station: row.aid_station) %></td>
            <td class="text-right"><%= d(row.split.distance_from_start) %></td>
            <td class="text-center"><%= row.efforts_recorded_out.count %></td>
            <td class="text-center"><%= row.efforts_passed_without_record.count %></td>
            <td class="text-center"><%= row.efforts_dropped_at_station.count %></td>
            <td class="text-center"><%= row.efforts_expected.count %></td>
            <td class="text-center text-nowrap">
              <%= link_to '<<', aid_station_degrade_live_event_path(@event, aid_station: row.aid_station), method: :put %>
              <%= row.aid_station.status.titleize if row.aid_station.status %>
              <%= link_to '>>', aid_station_advance_live_event_path(@event, aid_station: row.aid_station), method: :put %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
