<% content_for :title do %>
    <% "OpenSplitTime: Aid station detail - #{@aid_station_detail.split_name} - #{@aid_station_detail.event_name}" %>
<% end %>
<div class="row header">
  <div class="col-xs-8">
    <h2><%= "#{@aid_station_detail.split_name}: #{@aid_station_detail.event_name}" %></h2>
    <h4><%= "Aid station detailed report as of #{l(Time.now.in_time_zone, format: :full_with_weekday)} at #{l(Time.now.in_time_zone, format: :military)}" %></h4>
  </div>
  <div class="col-xs-4 page-navigation">
    <%= link_to 'Live entry', live_entry_live_event_path(@event), class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Progress report', progress_report_live_event_path(@event), class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Aid station report', aid_station_report_live_event_path(@event), class: 'btn btn-sm btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <% if @aid_station_detail.open_time %>
        <strong><%= "Aid station open time: #{l @aid_station_detail.open_time, format: :day_and_military}" %></strong><br/>
    <% end %>
    <% if @aid_station_detail.close_time %>
        <strong><%= "Aid station close time: #{l @aid_station_detail.close_time, format: :day_and_military}" %></strong><br/>
    <% end %>
    <strong><%= "Aid station status: #{@aid_station_detail.status.titleize}" if @aid_station_detail.status %></strong><br/>
    <strong><%= "Aid Captain: #{@aid_station_detail.captain_name}" %></strong><br/>
    <strong><%= "Communications Chief: #{@aid_station_detail.comms_chief_name}" %></strong><br/>
    <strong><%= "Radio Frequencies: #{@aid_station_detail.comms_frequencies}" %></strong><br/>
    <strong><%= "Issues: #{@aid_station_detail.current_issues || '[None]'}" %></strong><br/>
  </div>
  <div class="col-xs-8">
    <% if @aid_station_detail.efforts_recorded_out %>
        <strong><%= "Of #{pluralize(@aid_station_detail.efforts_started_count, 'effort')} started:" %></strong><br/>
        <%= "#{@aid_station_detail.efforts_recorded_in.count} reported times into this station" %><br/>
        <%= "#{@aid_station_detail.efforts_recorded_out.count} reported times out of this station" %><br/>
        <%= "#{@aid_station_detail.efforts_in_aid.count} in aid (reported into but not out of this station)" %><br/>
        <%= "#{@aid_station_detail.efforts_missed.count} missed (not recorded here but recorded at a later station)" %>
        <br/>
        <%= "#{@aid_station_detail.efforts_dropped_here.count} dropped at this station" %><br/>
        <%= "#{@aid_station_detail.efforts_expected.count} expected (in progress but not yet here)" %>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <%= link_to '<< Back to aid station report', aid_station_report_live_event_path(@aid_station_detail.event), class: "btn btn-sm btn-default" %>
    <%= link_to 'Recorded in',
                aid_station_detail_live_event_path(@aid_station_detail.event,
                                                   aid_station: @aid_station_detail.aid_station,
                                                   efforts: 'recorded_in'),
                class: "btn btn-sm btn-primary" %>
    <%= link_to 'Recorded out',
                aid_station_detail_live_event_path(@aid_station_detail.event,
                                                   aid_station: @aid_station_detail.aid_station,
                                                   efforts: 'recorded_out'),
                class: "btn btn-sm btn-primary" %>
    <%= link_to 'In aid',
                aid_station_detail_live_event_path(@aid_station_detail.event,
                                                   aid_station: @aid_station_detail.aid_station,
                                                   efforts: 'in_aid'),
                class: "btn btn-sm btn-primary" %>
    <%= link_to 'Missed here',
                aid_station_detail_live_event_path(@aid_station_detail.event,
                                                   aid_station: @aid_station_detail.aid_station,
                                                   efforts: 'missed'),
                class: "btn btn-sm btn-primary" %>
    <%= link_to 'Dropped here',
                aid_station_detail_live_event_path(@aid_station_detail.event,
                                                   aid_station: @aid_station_detail.aid_station,
                                                   efforts: 'dropped'),
                class: "btn btn-sm btn-primary" %>
    <%= link_to 'Expected',
                aid_station_detail_live_event_path(@aid_station_detail.event,
                                                   aid_station: @aid_station_detail.aid_station,
                                                   efforts: 'expected'),
                class: "btn btn-sm btn-primary" %>
  </div>
</div>
<hr>
<div>
  <% case params[:efforts] %>
  <% when 'expected' %>
      <%= render 'efforts_expected' %>
  <% when 'recorded_in' %>
      <%= render 'efforts_recorded_in' %>
  <% when 'recorded_out' %>
      <%= render 'efforts_recorded_out' %>
  <% when 'in_aid' %>
      <%= render 'efforts_in_aid' %>
  <% when 'dropped' %>
      <%= render 'efforts_dropped_here' %>
  <% when 'missed' %>
      <%= render 'efforts_missed' %>
  <% else %>
      <strong>Nothing to show.</strong>
  <% end %>
</div>