<% content_for :title do %>
    <% "OpenSplitTime: Aid station detail - #{@aid_station_detail.split_name} - #{@aid_station_detail.event_name}" %>
<% end %>

<% content_for(:container_type) do %>skip<% end %>

<header class="ost-header">
  <div class="container">
    <div class="row">
      <div class="ost-title col-xs-12">
        <h2><strong><%= "#{@aid_station_detail.split_name}: #{@aid_station_detail.event_name}" %></strong></h2>
        <ul class="breadcrumb breadcrumb-ost">
          <li><%= link_to 'Organizations', organizations_path %></li>
          <li><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
          <li><a><%= @presenter.event_group.name %></a></li>
          <li><%= link_to 'Aid Stations', aid_station_report_live_event_path(@aid_station_detail.event) %></li>
          <li class="active"><%=@aid_station_detail.split_name%></li>
        </ul>
      </div>
    </div>
    <h5>As of: <strong><%= "#{day_time_current_military_full(@aid_station_detail.home_time_zone)}" %></strong></h5>
    <%= render 'events/view_buttons', view_object: @presenter %>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 btn-toolbar">
        <% if @aid_station_detail.ordered_events_within_group.many? %>
          <%= render 'event_groups/event_buttons', events: @aid_station_detail.ordered_events_within_group, current_event: @aid_station_detail.event %>
        <% end %>
        <div class="btn-group btn-group-ost pull-right">
          <div class="btn btn-default" disabled><%= "Of #{@aid_station_detail.efforts_started_count}" %></div>
          <%= render 'aid_station_detail_button_cluster' %>
        </div>
        <div class="btn-group btn-group-ost pull-right">
          <% if @aid_station_detail.prior_aid_station %>
              <%= link_to "<< #{@aid_station_detail.prior_aid_station.split.base_name}",
                          request.params.merge(aid_station: @aid_station_detail.prior_aid_station),
                          class: 'btn btn-ost btn-default' %>
          <% end %>
          <% if @aid_station_detail.next_aid_station %>
              <%= link_to "#{@aid_station_detail.next_aid_station.split.base_name} >>",
                          request.params.merge(aid_station: @aid_station_detail.next_aid_station),
                          class: 'btn btn-ost btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <% case @aid_station_detail.display_style %>
  <% when :expected %>
      <%= render 'efforts_expected' %>
  <% when :recorded_here %>
      <%= render 'efforts_recorded' %>
  <% when :in_aid %>
      <%= render 'efforts_in_aid' %>
  <% when :stopped_here %>
      <%= render 'efforts_stopped_here' %>
  <% when :dropped_here %>
      <%= render 'efforts_dropped_here' %>
  <% when :missed %>
      <%= render 'efforts_missed' %>
  <% else %>
      <strong>Nothing to show.</strong>
  <% end %>
</article>
