<% content_for :title do %>
    <% "OpenSplitTime: Progress report - #{@progress_display.event_name}" %>
<% end %>
<div class="row header">
  <div class="col-xs-7">
    <h2><%= "#{@progress_display.event_name}: Progress Report" %></h2>
    <h4><%= "as of #{day_time_current_military_full(@progress_display.home_time_zone)}" %></h4>
  </div>
  <div class="col-xs-5 page-navigation">
    <%= render 'live_entry_button_cluster', page: 'progress' %>
  </div>
</div>

<% if @progress_display.ordered_events_within_group.many? %>
    <div class="row mid">
      <div class="col-xs-12">
        <div class="btn-group mid-padding">
          <% @progress_display.ordered_events_within_group.each do |event| %>
              <%= link_to "#{event.guaranteed_short_name}",
                          progress_report_live_event_path(event),
                          class: 'btn btn-sm btn-primary',
                          disabled: event == @progress_display.event %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="col-xs-6">
    <h4><%= "Of #{pluralize(@progress_display.efforts_started_count, 'effort')} started" %></h4><br/>
    <%= "Finished: #{@progress_display.efforts_finished_count}" %><br/>
    <%= "Dropped: #{@progress_display.efforts_dropped_count}" %><br/>
    <%= "Stopped: #{@progress_display.efforts_stopped_count}" %><br/>
    <%= "In progress: #{@progress_display.efforts_in_progress_count}" %><br/>
  </div>
  <div class="col-xs-6">
    <div class="text-right">
      <%= link_to 'Drop list', drop_list_event_path(@event), class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6">
    <% if @progress_display.efforts_in_progress_count > 0 %>
        <h4><%= "Of the #{@progress_display.efforts_in_progress_count} efforts in progress, #{@progress_display.efforts_past_due_count} are overdue by more than #{@progress_display.past_due_threshold} minutes" %></h4>
        <br/>
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>Bib</th>
            <th>Name</th>
            <th>Category</th>
            <th class="text-center">Last Reported</th>
            <th class="text-center">Due Next</th>
            <th class="text-right">Overdue By</th>

          </tr>
          </thead>
          <tbody>
          <% @progress_display.past_due_progress_rows.each do |row| %>
              <tr>
                <td><%= row.bib_number %></td>
                <td class="text-nowrap"><%= link_to row.full_name, effort_path(row.effort) %></td>
                <td class="text-nowrap"><%= row.bio_historic %></td>
                <td class="text-center text-nowrap"><%= display_progress_info(row.last_reported_info) %></td>
                <td class="text-center text-nowrap"><%= display_progress_info(row.due_next_info) %></td>
                <td class="text-right"><%= time_format_xxhyym(row.seconds_past_due) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <h4>No efforts are in progress.</h4>
    <% end %>
  </div>
</div>
