<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Time Point</th>
    <th class="text-center">Split Time</th>
    <th class="text-center">Matched Raw Times</th>
    <th class="text-center">Unmatched Raw Times</th>
  </tr>
  </thead>

  <tbody>
  <% presenter.audit_rows.each do |row| %>
    <tr class="<%= 'bg-highlight' if row.problem %>">
      <td><%= link_to row.name, split_raw_times_event_group_path(presenter.event_group, parameterized_split_name: row.parameterized_split_name, sub_split_kind: row.sub_split_kind) %></td>
      <td class="text-center"><%= day_time_military_format_hhmmss(row.split_time.absolute_time_local) %></td>
      <td class="text-center" style="white-space:pre-wrap; word-wrap:break-word"><%= row.matched_raw_times.map { |rt| rt.military_time(presenter.home_time_zone)}.join("\n") %></td>
      <td class="text-center" style="white-space:pre-wrap; word-wrap:break-word"><%= row.unmatched_raw_times.map { |rt| rt.military_time(presenter.home_time_zone)}.join("\n") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
