<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Time Point</th>
    <th class="text-center">Split Time</th>
    <th class="text-center">Matched Raw Times</th>
    <th class="text-center">Unmatched Raw Times</th>
  </tr>
  </thead>

  <tbody>
  <% presenter.audit_rows.each do |row| %>
    <tr class="<%= 'bg-highlight' if row.problem %>">
      <td><%= row.name %></td>
      <td class="text-center"><%= day_time_military_format_hhmmss(row.split_time.absolute_time_local) %></td>
      <td class="text-center" style="white-space:pre-wrap; word-wrap:break-word"><%= row.matched_raw_times.map(&:military_time).join("\n") %></td>
      <td class="text-center" style="white-space:pre-wrap; word-wrap:break-word"><%= row.unmatched_raw_times.map(&:military_time).join("\n") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
