<%# Requires parameter split_times(collection) %>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Split</th>
    <th class="text-right"><%= pdu('singular').titleize %></th>
    <th class="text-right">Time</th>
    <th class="text-right">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% split_times.each do |split_time| %>
      <% if split_time.bad? %>
          <tr class="text-danger">
      <% elsif split_time.questionable? %>
          <tr class="text-warning">
      <% else %>
          <tr>
      <% end %>
      <td><%= split_time.split.name %></td>
      <td class="text-right"><%= d(split_time.split.distance_from_start) %></td>
      <td class="text-right"><%= split_time.formatted_time_hhmmss %></td>
      <td class="text-right">
        <% if @current_user && @current_user.authorized_to_edit?(@effort) %>
            <%= link_to 'Edit', edit_split_time_path(split_time), class: "btn btn-xs btn-primary" %>
            <%= link_to 'Delete', split_time_path(split_time, referrer_path: edit_split_times_effort_path),
                        method: :delete,
                        data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %>
        <% end %>
      </td>
      </tr>
  <% end %>
  </tbody>
</table>
