<%= render 'shared/errors', obj: @split_time %>
<hr>
<% if @split_time.data_status %>
    <strong class="text-danger"><%= "This time data is considered #{@split_time.data_status}" %></strong>
<% end %>
<div class="row">
  <div class="col-md-12">
    <%= form_for(@split_time, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <div class="col-sm-12">
            <h3><%= "#{@split_time.effort_name} - #{@split_time.event_name} - #{@split_time.split_name}" %></h3>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :elapsed_time, 'Time from start' %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :elapsed_time, class: 'form-control', placeholder: 'hh:mm:ss', autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit(@split_time.new_record? ? 'Create Time' : 'Update Time', class: 'btn btn-primary btn-large') %>
          </div>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
          [ <%= link_to 'Cancel', edit_split_times_effort_path(@split_time.effort) %> ]
        </div>
    <% end %>
  </div>
</div>