<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Split</th>
    <th class="text-end"><%= pdu('singular').titleize %></th>
    <th class="text-center" colspan="3">Completed Time of Day</th>
  </tr>
  </thead>

  <tbody>
  <% @presenter.actual_lap_split_rows.each do |row| %>
    <tr>
      <td><%= strong_conditional row.name, row.done? %></td>
      <td class="text-end"><%= strong_conditional d(row.distance_from_start), row.done? %></td>
      <td></td>
      <td class="text-center"><%= strong_conditional time_cluster_display_data(row.time_cluster, :ampm_with_seconds, with_status: true), row.done? %></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>

  <% if @presenter.projected_lap_split_rows.present? %>
    <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
    <tr>
      <th colspan="5"><%= "Projections based on #{pluralize(@presenter.effort_count, 'effort')} " +
                            "from #{'year'.pluralize(@presenter.effort_years.size)} " +
                            "#{@presenter.effort_years.to_sentence}" %></th>
    </tr>
    <tr class="table-dark">
      <th>Split</th>
      <th class="text-end"><%= pdu('singular').titleize %></th>
      <th class="text-center">Projected Early</th>
      <th class="text-center">Projected Average</th>
      <th class="text-center">Projected Late</th>
    </tr>
    </thead>

    <tbody>
    <% @presenter.projected_lap_split_rows.each do |row| %>
      <tr class="table-primary">
        <td>
        <span class="<%= 'brackets' if row.not_in_event %>">
          <%= strong_conditional row.name, row.done? %>
        </span>
          <% if row.not_in_event %>
          <span class="text-danger">
            <%= fa_icon("exclamation-circle",
                        class: "has-tooltip",
                        data: {
                          "bs-toggle": "tooltip",
                          "bs-original-title": "#{row.base_name} does not exist as an aid station in the upcoming event. It is presented here for reference only."
                        }) %>
          </span>
          <% end %>
        </td>
        <td class="text-end">
        <span class="<%= 'brackets' if row.not_in_event %>">
          <%= strong_conditional d(row.distance_from_start), row.done? %>
        </span>
        </td>
        <td class="text-center">
        <span class="<%= 'brackets' if row.not_in_event %>">
          <%= strong_conditional time_cluster_display_data(row.time_cluster, :early_estimate), row.done? %>
        </span>
        </td>
        <td class="text-center">
        <span class="<%= 'brackets' if row.not_in_event %>">
          <%= strong_conditional time_cluster_display_data(row.time_cluster, :ampm_without_seconds), row.done? %>
        </span>
        </td>
        <td class="text-center">
        <span class="<%= 'brackets' if row.not_in_event %>">
          <%= strong_conditional time_cluster_display_data(row.time_cluster, :late_estimate), row.done? %>
        </span>
        </td>
      </tr>
    <% end %>
    </tbody>
  <% end %>
</table>
<% unless @presenter.projected_lap_split_rows.present? %>
  <hr/>
  <h4><%= @presenter.explanation %></h4>
<% end %>
