<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Split</th>
    <th class="text-right"><%= pdu('singular').titleize %></th>
    <th class="text-center" colspan="3">Completed Time of Day</th>
  </tr>
  </thead>

  <tbody>
  <% view_object.actual_lap_split_rows.each do |row| %>
    <tr class="<%= data_status_text_class[row.data_status] %>">
      <td><%= strong_conditional row.name, row.done? %></td>
      <td class="text-right"><%= strong_conditional d(row.distance_from_start), row.done? %></td>
      <td></td>
      <td class="text-center"><%= strong_conditional time_cluster_display_data(row.time_cluster, :ampm, with_status: true), row.done? %></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>

  <thead>
  <tr></tr>
  <tr>
    <th></th>
    <th></th>
    <th class="text-center" colspan="3">Projected Time of Day</th>
  </tr>
  <tr>
    <th>Split</th>
    <th class="text-right"><%= pdu('singular').titleize %></th>
    <th class="text-center">Early</th>
    <th class="text-center">Average</th>
    <th class="text-center">Late</th>
  </tr>
  </thead>

  <tbody>
  <% view_object.projected_lap_split_rows.each do |row| %>
    <tr class="<%= data_status_text_class[row.data_status] %>">
      <td><%= strong_conditional row.name, row.done? %></td>
      <td class="text-right"><%= strong_conditional d(row.distance_from_start), row.done? %></td>
      <td class="text-center"><%= strong_conditional time_cluster_display_data(row.time_cluster, :early_estimate), row.done? %></td>
      <td class="text-center"><%= strong_conditional time_cluster_display_data(row.time_cluster, :ampm), row.done? %></td>
      <td class="text-center"><%= strong_conditional time_cluster_display_data(row.time_cluster, :late_estimate), row.done? %></td>
    </tr>
  <% end %>
  </tbody>
</table>
