<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Split</th>
    <th class="text-right"><%= pdu('singular').titleize %></th>
    <th class="text-center" colspan="3">Completed Time of Day</th>
  </tr>
  </thead>

  <tbody>
  <% view_object.actual_lap_split_rows.each do |row| %>
    <tr>
      <td><%= strong_conditional row.name, row.done? %></td>
      <td class="text-right"><%= strong_conditional d(row.distance_from_start), row.done? %></td>
      <td></td>
      <td class="text-center"><%= strong_conditional time_cluster_display_data(row.time_cluster, :ampm_with_seconds, with_status: true), row.done? %></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>

  <% if view_object.projected_lap_split_rows.present? %>
    <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
    <tr>
      <th colspan="5"><%= "Projections based on #{pluralize(@presenter.effort_count, 'effort')} " +
                              "from #{'year'.pluralize(@presenter.effort_years.size)} " +
                              "#{@presenter.effort_years.to_sentence}" %></th>
    </tr>
    <tr class="thead-dark">
      <th>Split</th>
      <th class="text-right"><%= pdu('singular').titleize %></th>
      <th class="text-center">Projected Early</th>
      <th class="text-center">Projected Average</th>
      <th class="text-center">Projected Late</th>
    </tr>
    </thead>

    <tbody>
    <% view_object.projected_lap_split_rows.each do |row| %>
      <tr class="table-primary">
        <td><%= strong_conditional row.name, row.done? %></td>
        <td class="text-right"><%= strong_conditional d(row.distance_from_start), row.done? %></td>
        <td class="text-center"><%= strong_conditional time_cluster_display_data(row.time_cluster, :early_estimate), row.done? %></td>
        <td class="text-center"><%= strong_conditional time_cluster_display_data(row.time_cluster, :ampm_without_seconds), row.done? %></td>
        <td class="text-center"><%= strong_conditional time_cluster_display_data(row.time_cluster, :late_estimate), row.done? %></td>
      </tr>
    <% end %>
    </tbody>
  <% end %>
</table>
<% unless view_object.projected_lap_split_rows.present? %>
  <hr/>
  <h4><%= "No projections are available. #{@presenter.explanation}" %></h4>
<% end %>
