<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Split</th>
    <th class="text-right"><%= pdu('singular').titleize %></th>
    <th class="text-center">Time of Day</th>
    <th class="text-center">Elapsed Time</th>
    <% unless @effort_show.simple? %>
      <th class="text-center">Segment Time</th>
    <% end %>
    <% if @effort_show.multiple_sub_splits? %>
      <th class="text-right">In Aid</th>
    <% end %>
    <% if @effort_show.multiple_laps? %>
      <th class="text-right">Lap Time</th>
    <% end %>
    <% if current_user&.authorized_to_edit?(@effort_show.effort) %>
      <th class="text-right">Confirm In / Out</th>
      <th class="text-right">Delete In / Out</th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @effort_show.lap_split_rows.each do |row| %>
    <tr class="<%= data_status_text_class[row.data_status] %>">
      <td><%= strong_conditional row.name, row.done? %></td>
      <td class="text-right"><%= strong_conditional d(row.distance_from_start), row.done? %></td>
      <td class="text-center"><%= strong_conditional combined_days_times(row), row.done? %></td>
      <td class="text-center"><%= strong_conditional composite_time(row, with_seconds: row.finish?), row.done? %></td>
      <% unless @effort_show.simple? %>
        <td class="text-center"><%= strong_conditional time_format_hhmmss(row.segment_time), row.done? %></td>
      <% end %>
      <% if @effort_show.multiple_sub_splits? %>
        <td class="text-right"><%= strong_text_conditional time_format_minutes(@effort_show.total_time_in_aid), time_format_minutes(row.time_in_aid), row.done? %></td>
      <% end %>
      <% if @effort_show.multiple_laps? %>
        <td class="text-right">
          <% if row.finish? %>
            <%= strong_conditional time_format_hhmmss(@effort_show.lap_time(row.lap)), true %>
          <% end %>
        </td>
      <% end %>
      <%= render 'split_times/actions_confirm_delete', lap_split_row: row %>
    </tr>
  <% end %>
  </tbody>
</table>
