<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Split</th>
    <th class="text-right"><%= pdu('singular').titleize %></th>
    <th class="text-center">Time of Day</th>
    <th class="text-center">Elapsed Time</th>
    <% unless @effort_show.simple? %>
        <th class="text-center">Segment Time</th>
        <th class="text-right">In Aid</th>
    <% end %>
    <% if current_user && current_user.authorized_to_edit?(@effort_show.effort) %>
        <th class="text-right">Confirm In / Out</th>
        <th class="text-right">Delete In / Out</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @effort_show.lap_split_rows.each do |row| %>
      <tr class="<%= data_status_text_class[row.data_status] %>">
      <% if row.finish? %>
          <td><strong><%= row.name %></strong></td>
          <td class="text-right"><strong><%= d(row.distance_from_start) %></strong></td>
          <td class="text-center">
            <strong><%= row.days_and_times.map { |time| day_time_format(time) }.join(' / ') %></strong></td>
          <td class="text-center"><strong><%= composite_time_zzs(row) %></strong></td>
          <% unless @effort_show.simple? %>
              <td class="text-center"><strong><%= time_format_xxhyymzzs(row.segment_time) %></strong></td>
              <td class="text-right"><strong><%= time_format_minutes(@effort_show.total_time_in_aid) %></strong></td>
          <% end %>
      <% else %>
          <td><%= row.name %></td>
          <td class="text-right"><%= d(row.distance_from_start) %></td>
          <td class="text-center"><%= row.days_and_times.map { |time| day_time_format(time) }.join(' / ') %></td>
          <td class="text-center"><%= composite_time(row) %></td>
          <% unless @effort_show.simple? %>
              <td class="text-center"><%= time_format_xxhyym(row.segment_time) %></td>
              <td class="text-right"><%= time_format_minutes(row.time_in_aid) %></td>
          <% end %>
      <% end %>
      <%= render 'split_times/actions_confirm_delete', lap_split_row: row %>
      </tr>
  <% end %>
  </tbody>
</table>
