<%# Requires parameter view_object (instance of EffortShowView) %>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Split</th>
    <th class="text-right"><%= pdu('singular').titleize %></th>
    <th class="text-right">Elapsed Time</th>
    <th class="text-right">Segment Time</th>
    <th class="text-right">Time In Aid</th>
    <% if current_user && current_user.admin? %>
        <th class="text-right">Actions</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% view_object.split_rows.each do |split_row| %>
      <% if split_row.data_status == 'bad' %>
          <tr class="text-danger">
      <% elsif split_row.data_status == 'questionable' %>
          <tr class="text-warning">
      <% else %>
          <tr>
      <% end %>
      <% if split_row.finish? %>
          <td><strong><%= split_row.name %></strong></td>
          <td class="text-right"><strong><%= d(split_row.distance_from_start) %></strong>
          </td>
          <td class="text-right"><strong><%= composite_time(split_row) %></strong></td>
          <td class="text-right"><strong><%= time_format_hhmmss(split_row.segment_time) %></strong></td>
          <td class="text-right"><strong><%= time_format_minutes(view_object.total_time_in_aid) %></strong></td>
      <% elsif split_row.intermediate? %>
          <td><%= split_row.name %></td>
          <td class="text-right"><%= d(split_row.distance_from_start) %></td>
          <td class="text-right"><%= composite_time(split_row) %></td>
          <td class="text-right"><%= time_format_hhmmss(split_row.segment_time) %></td>
          <td class="text-right"><%= time_format_minutes(split_row.time_in_aid) %></td>
      <% end %>
      <% unless split_row.start? %>
          <% if current_user && current_user.authorized_to_edit?(@effort) && split_row.times_from_start.compact.count > 0 %>
              <td class="text-right">
                <% if split_row.data_status == 'confirmed' %>
                    <%= link_to 'Unconfirm',
                                confirm_split_effort_path(@effort, split_id: split_row.split_id, status: 'nil'),
                                method: :put,
                                class: 'btn btn-xs btn-success' %>
                <% else %>
                    <%= link_to 'Confirm',
                                confirm_split_effort_path(@effort, split_id: split_row.split_id, status: 'confirmed'),
                                method: :put,
                                class: 'btn btn-xs btn-success' %>
                <% end %>
                <%= link_to 'Delete',
                            delete_split_effort_path(@effort, split_id: split_row.split_id),
                            method: :delete,
                            data: {confirm: "This will delete #{pluralize(split_row.times_from_start.compact.count, 'split time')}. OK to proceed?"},
                            class: 'btn btn-xs btn-danger' %>
              </td>
          <% end %>
      <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
