<%# Requires parameter split_times(collection) %>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Split</th>
    <th class="text-right">Distance</th>
    <th class="text-right">Time</th>
  </tr>
  </thead>
  <tbody>
  <% split_times.each do |split_time| %>
      <tr>
        <% if split_time.split.kind == 'finish' %>
            <td><strong><%= composite_name(split_time) %></strong></td>
            <td class="text-right"><strong><%= split_time.split.distance_from_start.meters.to.miles.round(1) %></strong></td>
            <td class="text-right"><strong><%= composite_time(split_time) %></strong></td>
        <% elsif split_time.split.kind == 'waypoint' %>
            <td><%= composite_name(split_time) %></td>
            <td class="text-right"><%= split_time.split.distance_from_start.meters.to.miles.round(1) %></td>
            <td class="text-right"><%= composite_time(split_time) %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
