<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Split</th>
    <th class="text-right"><%= pdu('singular').titleize %></th>
    <th class="text-center">Time of Day</th>
    <th class="text-center">Elapsed Time</th>
    <% unless view_object.simple? %>
      <th class="text-center">Segment Time</th>
    <% end %>
    <% if view_object.multiple_sub_splits? %>
      <th class="text-right">In Aid</th>
    <% end %>
    <% if view_object.multiple_laps? %>
      <th class="text-right">Lap Time</th>
    <% end %>
    <% if current_user&.authorized_to_edit?(view_object.effort) %>
      <th class="text-center">Confirm</th>
      <th class="text-center">Delete</th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% view_object.lap_split_rows.each do |row| %>
    <tr class="<%= data_status_text_class[row.data_status] %>">
      <td><%= strong_conditional row.name, row.done? %></td>
      <td class="text-right"><%= strong_conditional d(row.distance_from_start), row.done? %></td>
      <td class="text-center"><%= strong_conditional time_cluster_display_data(row.time_cluster, :ampm, with_status: true), row.done? %></td>
      <td class="text-center"><%= strong_conditional time_cluster_display_data(row.time_cluster, :elapsed, with_status: true), row.done? %></td>
      <% unless view_object.simple? %>
        <td class="text-center"><%= strong_conditional time_cluster_display_data(row.time_cluster, :segment, with_status: true), row.done? %></td>
      <% end %>
      <% if view_object.multiple_sub_splits? %>
        <td class="text-right"><%= strong_text_conditional time_format_minutes(view_object.total_time_in_aid), time_format_minutes(row.time_in_aid), row.finish? %></td>
      <% end %>
      <% if view_object.multiple_laps? %>
        <td class="text-right">
          <% if row.finish? %><%= strong_conditional lap_time_text(view_object, row), true %>
          <% end %>
        </td>
      <% end %>
      <% if current_user&.authorized_to_edit?(view_object.effort) %>
        <td class="table-button"><% effort_row_confirm_buttons(row, view_object.effort) %></td>
        <td class="table-button"><% effort_row_delete_buttons(row, view_object.effort) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
