<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Split</th>
    <th class="text-right"><%= pdu('singular').titleize %></th>
    <th class="text-center">Time of Day</th>
    <th class="text-center">Elapsed Time</th>
    <th class="text-center">Pacer In/Out</th>
    <th class="text-center">Dropped</th>
  </tr>
  </thead>
  <tbody>
  <% @presenter.lap_split_rows.each do |row| %>
      <tr class="<%= data_status_text_class[row.data_status] %>">
          <td><%= strong_conditional row.name, row.finish? %></td>
          <td class="text-right"><%= strong_conditional d(row.distance_from_start), row.finish? %></td>
          <td class="text-center"><%= strong_conditional combined_days_times_military(row), row.finish? %></td>
          <td class="text-center"><%= strong_conditional composite_time(row, with_seconds: row.finish?), row.finish? %></td>
          <td class="text-center"><%= strong_conditional combined_pacer(row), row.finish? %></td>
          <td>
            <% if row.stopped_here? %>
              <button class="btn btn-warning btn-xs disabled">Dropped Here</button>
            <% end %>
          </td>
      <% end %>
      </tr>
  </tbody>
</table>
