<p id="notice"><%= notice %></p>

<p>
  <strong>Splittime:</strong>
  <%= @split_time.splittime_id %>
</p>

<p>
  <strong>Effort:</strong>
  <%= @split_time.effort %>
</p>

<p>
  <strong>Split:</strong>
  <%= @split_time.split %>
</p>

<p>
  <strong>Time from start:</strong>
  <%= @split_time.time_from_start %>
</p>

<p>
  <strong>Data status:</strong>
  <%= @split_time.data_status %>
</p>

<%= link_to 'Edit', edit_split_time_path(@split_time) %> |
<%= link_to 'Back', split_times_path %>
