<%# Requires parameter participants %>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Bio</th>
    <th>From</th>
    <th>Efforts</th>
    <% if @current_user && @current_user.admin? && action_name == 'merge' %>
        <th>Actions</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @participants.each do |participant| %>
      <tr>
        <td><strong><%= link_to participant.full_name, participant_path(participant) %></strong></td>
        <td><%= participant.bio %></td>
        <td><%= participant.state_and_country %></td>
        <td><%= pluralize(participant.effort_count, 'effort') %></td>
        <% if @current_user && @current_user.admin? && action_name == 'merge' %>
            <td><%= link_to "^ Up to inspector ^", merge_participant_path(@participant,
                                                                      proposed_match: participant.id),
                            class: "btn btn-xs btn-success" %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
