<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Bio</th>
    <th>From</th>
    <th>Efforts</th>
    <th>Get Notifications</th>
  </tr>
  </thead>
  <tbody>
  <% @participants.each do |participant| %>
      <tr>
        <td><strong><%= link_to participant.full_name, participant_path(participant) %></strong></td>
        <td><%= participant.bio %></td>
        <td><%= participant.state_and_country %></td>
        <td><%= pluralize(participant.effort_count, 'effort') %></td>
        <td>
          <%= div_for(participant) do %>
              <%= link_to_toggle_email_subscription(participant) %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
