<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Bio</th>
    <th>From</th>
    <th>Efforts</th>
    <th>Get Notifications</th>
  </tr>
  </thead>
  <tbody>
  <% @participants.each do |participant| %>
      <tr>
        <td><strong><%= link_to participant.full_name, participant_path(participant) %></strong></td>
        <td><%= participant.bio %></td>
        <td><%= participant.state_and_country %></td>
        <td><%= pluralize(participant.effort_count, 'effort') %></td>
        <% if @current_user && @current_user.interested_in?(participant) %>
            <td><%= link_to "No longer interested",
                            remove_follower_participant_path(participant,
                                                             user: @current_user,
                                                             page: params[:page],
                                                             search: params[:search]),
                            method: :post,
                            class: "btn btn-xs btn-primary" %>
        <% else %>
            <td><%= link_to "I'm interested",
                            add_follower_participant_path(participant,
                                                          user: @current_user,
                                                          page: params[:page],
                                                          search: params[:search]),
                            method: :post,
                            class: "btn btn-xs btn-success" %>
        <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
