<p id="notice"><%= notice %></p>

<h1>Listing Participants</h1>

<table>
  <thead>
    <tr>
      <th>Participant</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Birthdate</th>
      <th>Home city</th>
      <th>Home state</th>
      <th>Home country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.participant_id %></td>
        <td><%= participant.first_name %></td>
        <td><%= participant.last_name %></td>
        <td><%= participant.gender %></td>
        <td><%= participant.birthdate %></td>
        <td><%= participant.home_city %></td>
        <td><%= participant.home_state %></td>
        <td><%= participant.home_country %></td>
        <td><%= link_to 'Show', participant %></td>
        <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
        <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participant', new_participant_path %>
