<div class="row">
  <div class="col col-xs-6">
    <h1>Participants</h1>
  </div>
  <div class="col-xs-4">
    <%= link_to 'Create New Participant', new_participant_path,
                class: 'btn btn-sm btn-success btn-margin-lg' %>
  </div>
</div>

<%= render 'lookup' %>

<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>
<% if @participants.count > 0 %>
    <%= render 'participants', participants: @participants, efforts_count: Effort.group("efforts.participant_id").count%>
<% else %>
    <br/>
    <p><strong>No participants match this search</strong></p>
<% end %>

<hr>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>
