<% content_for :title do %>
    <% if params[:search].present? %>
        <% "OpenSplitTime: Search participants - #{params[:search]}" %>
    <% else %>
        <% "OpenSplitTime: Search participants" %>
    <% end %>
<% end %>
<div class="row">
  <div class="col col-xs-4">
    <h2>Participants</h2>
  </div>
  <div class="col-xs-3 text-right">
    <% if @current_user && @current_user.admin? %>
        <%= link_to 'Create New Participant', new_participant_path,
                    class: 'btn btn-sm btn-success btn-margin-lg' %>
    <% end %>
  </div>
</div>

<%= render 'lookup' %>

<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    <% if @participants.present? %>
        <%= render 'participants' %>
    <% else %>
        <br/>
        <% if params[:search].blank? %>
            <p><strong>Find someone by entering a name, state, or country</strong></p>
        <% else %>
            <p><strong>No participants match this search</strong></p>
        <% end %>
    <% end %>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>
