<% content_for :title do %>
    <% "OpenSplitTime: Merge participants - #{@participant_merge.full_name}" %>
<% end %>
<div class="row">
  <div class="col-xs-5">
    <h2><%= "#{@participant_merge.last_name}, #{@participant_merge.first_name}" %></h2>
  </div>
  <% if @participant_merge.proposed_match_present? %>
      <div class="col-xs-2"><%= link_to '<< Merge into',
                                        combine_participant_path(@participant_merge.id,
                                                                 target_id: @participant_merge.proposed_match_id),
                                        method: :put,
                                        class: 'btn btn-sm btn-success btn-margin-top' %>
      </div>
      <div class="col-xs-5">
        <h2><%= @participant_merge.proposed_match_name %></h2>
      </div>
  <% else %>
      <div class="col-xs-4">
        <h2>[ No merge suggestions ]</h2>
      </div>
  <% end %>
</div>
<div class="row">
  <div class="col-xs-5">
    <%= render 'inspect', participant: @participant_merge.participant %>
  </div>
  <% if @participant_merge.proposed_match %>
      <div class="col-xs-2"><%= link_to 'Merge with >>',
                                        combine_participant_path(@participant_merge.proposed_match,
                                                                 target_id: @participant_merge.id),
                                        method: :put,
                                        class: 'btn btn-sm btn-success btn-margin-top' %>
      </div>
      <div class="col-xs-5">
        <%= render 'inspect', participant: @participant_merge.proposed_match %>
      </div>
  <% end %>
</div>

<hr>
<div class="row">
  <div class="col-xs-5">
    <%= link_to '<< Back to participant page', participant_path(@participant_merge.id), class: "btn btn-sm btn-default" %>
  </div>
</div>
<hr>

<% if @participant_merge.possible_matches_present? %>
    <%= render 'participants/participants_list_merge' %>
<% end %>