<p id="notice"><%= notice %></p>

<p>
  <strong>Participant:</strong>
  <%= @participant.participant_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @participant.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @participant.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @participant.gender %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @participant.birthdate %>
</p>

<p>
  <strong>Home city:</strong>
  <%= @participant.home_city %>
</p>

<p>
  <strong>Home state:</strong>
  <%= @participant.home_state %>
</p>

<p>
  <strong>Home country:</strong>
  <%= @participant.home_country %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
