<% content_for :title do %>
    <% "OpenSplitTime: Show participant - #{@participant.full_name}" %>
<% end %>
<div class="row header">
  <div class="col-xs-6">
    <h2>
      <strong><%= @participant.full_name %></strong>
    </h2>
    <h4>
      <%= @participant.full_bio %><br/>
      <% if @participant.claimed? %>
          <% if @participant.claimant == @current_user %>
              <strong>Hey, this is me!</strong><br/>
          <% else %>
              <% if @current_user && @current_user.admin? %>
                  <%= "Identified as user #{@participant.claimant.full_name}" %>
              <% else %>
                  OST Member
              <% end %>
          <% end %>
      <% end %>
    </h4>
  </div>
  <div class="col-xs-6 page-navigation">
    <div class="row">
      <% if @current_user %>
          <%= div_for(@participant) do %>
              <%= link_to_toggle_interest(@participant) %>
          <% end %>
          <% if @participant.unclaimed? && @current_user.authorized_to_claim?(@participant) %>
              <%= link_to 'This is me', avatar_claim_participant_path(@participant),
                          data: {confirm: "Is this really you? (Please cancel if you were just kidding.)"},
                          class: "btn btn-sm btn-success" %>
          <% end %>
          <% if @current_user.admin? %>
              <%= link_to 'Merge with', merge_participant_path(@participant), class: "btn btn-sm btn-success" %>
          <% end %>
          <% if @current_user.authorized_to_edit?(@participant) %>
              <%= link_to 'Edit', edit_participant_path(@participant), class: "btn btn-sm btn-primary" %>
              <%= link_to 'Delete', participant_path(@participant), method: :delete,
                          data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
          <% end %>
      <% end %>
    </div>
    <div class="page-navigation-text">
      <h4></h4>
    </div>
  </div>
</div>

<% if @participant.efforts.present? %>
    <%= render 'efforts/efforts_list_participant', efforts: @participant.efforts.where(concealed: false).ordered_by_date %>
<% end %>