<h1 align="center"><%= @participant.full_name %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <%= @participant.bio %><br/>
    <%= @participant.state_and_country %><br/>
    <% if @participant.unclaimed? %>
        (Not yet claimed by a registered user)
    <% elsif @participant.claimant == @current_user %>
        <strong>Hey, this is me!</strong><br/>
        <%= "(If it's not really you, please " %>
        <%= link_to "sign out ", destroy_user_session_path, method: :delete %> or
        <%= link_to "renounce your claim", avatar_disclaim_participant_path(@participant), data: {confirm: "Are you sure?"}, method: :delete %>)
    <% else %>
        <%= "Identified as user #{@participant.claimant.full_name}" %>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-10">
    <%= link_to '<< Show All Participants', participants_path, class: "btn btn-sm btn-default" %>
    <%= link_to '< Back', :back, class: "btn btn-sm btn-default" %>
    <% if @current_user.authorized_to_edit?(@participant) %>
        <%= link_to 'Edit this participant', edit_participant_path(@participant), class: "btn btn-sm btn-primary" %>
        <%= link_to 'Delete this participant', participant_path(@participant, referrer_path: URI(request.referrer).path), method: :delete,
                    data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
    <% end %>
    <% if @participant.claimant == @current_user %>
        <%= link_to 'Disclaim this participant', avatar_disclaim_participant_path(@participant), method: :delete,
                    data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
    <% elsif @participant.unclaimed? && @current_user.has_no_avatar? %>
        <%= link_to 'Claim this participant', avatar_claim_participant_path(@participant),
                    data: {confirm: "Is this really you? (Please cancel if you were just kidding.)"},
                    class: "btn btn-sm btn-success" %>
    <% end %>
  </div>
</div>
<hr>

<div class="article-actions">
  <%#= link_to 'Find Efforts', participant_efforts_path(participant_id: @participant.id), class: "btn btn-sm btn-success" %>
</div>

<% if @participant.efforts.count > 0 %>
    <hr>
    <div class="row">
      <div class="col-xs-8">
        <h4><%= "#{@participant.full_name}'s efforts:" %></h4>
      </div>
    </div>
    <%= render 'efforts/efforts', obj: @participant.efforts.order(:start_time) %>
<% end %>