<%# locals: (view_object:) -%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th><%= link_to_reversing_sort_heading("Name", "last_name,first_name", view_object.existing_sort) %></th>
          <th><%= link_to_reversing_sort_heading("Email", "email", view_object.existing_sort) %></th>
          <th><%= link_to_reversing_sort_heading("Confirmed at", "confirmed_at", view_object.existing_sort) %></th>
          <th><%= link_to_reversing_sort_heading("Avatar", "avatar_last_name,avatar_first_name,confirmed_at", view_object.existing_sort) %></th>
          <th><%= link_to_reversing_sort_heading("Role", "role", view_object.existing_sort) %></th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody id="users_list">
        <%= render partial: "user_row", collection: view_object.users, as: :user %>
        </tbody>
      </table>
    </div>
  </div>
</div>
