<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>
            <%= link_to 'Name', users_path(filter: params.permit(:filter),
                                           sort: params[:sort]&.include?('last_name') ? 'first_name' : 'last_name') %>
          </th>
          <th><%= link_to 'Email', users_path(filter: params.permit(:filter), sort: 'email') %></th>
          <th><%= link_to 'Confirmed at', users_path(filter: params.permit(:filter),
                                                     sort: params[:sort]&.include?('-confirmed_at') ? 'confirmed_at' : '-confirmed_at') %></th>
          <th>Avatar</th>
          <th><%= link_to 'Role', users_path(filter: params.permit(:filter),
                                             sort: params[:sort]&.include?('-role') ? 'role' : '-role') %></th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <% users.each do |user| %>
            <tr>
              <td><%= link_to user.full_name, user %></td>
              <td><%= user.email %></td>
              <td><%= day_time_full_format(user.confirmed_at) %></td>
              <td>
                <% if user.avatar %>
                    <%= link_to user.avatar.full_name, person_path(user.avatar) %>
                <% else %>
                    [None]
                <% end %>
              </td>
              <td>
                <%= form_for(user) do |f| %>
                    <%= f.select(:role, User.roles.keys.map { |role| [role.titleize, role] }) %>
                    <%= f.submit 'Change Role', :class => 'button-xs' %>
                <% end %>
              </td>
              <td>
                <%= link_to("Delete user",
                            user_path(user),
                            :data => {:confirm => "Are you sure?"},
                            :method => :delete, :class => 'button-xs') unless user == current_user %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
