<% content_for :title do %>
    <% "OpenSplitTime: Edit user preferences" %>
<% end %>
<h2><%= "#{@user.full_name} Preferences" %></h2>

<%= render 'shared/errors', obj: @user %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@user, url: {action: "update_preferences"}, method: :put, html: {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :pref_distance_unit, 'View distances in' %>
          </div>
          <div class="col-sm-8">
            <%= f.select :pref_distance_unit, User.pref_distance_units.keys.map { |unit| [unit.titleize, unit] },
                         {prompt: true}, {class: "form-control dropdown-select-field"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :pref_elevation_unit, 'View elevations in' %>
          </div>
          <div class="col-sm-8">
            <%= f.select :pref_elevation_unit, User.pref_elevation_units.keys.map { |unit| [unit.titleize, unit] },
                         {prompt: true}, {class: "form-control dropdown-select-field"} %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.button("Update Preferences", name: 'referrer_path', value: params[:referrer_path], class: 'btn btn-primary btn-large') %>
          </div>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
          [ <%= link_to 'Cancel', user_path(@user) %> ]
        </div>
    <% end %>
  </div>
</div>
