<% content_for :title do %>
  <% "OpenSplitTime: List users" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong>Users</strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item active">Users</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <%= link_to 'Export email list', users_path(format: :csv), class: 'btn btn-primary' %>
      </div>
      <div class="col-6">
        <%= render 'lookup' %>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <div class="row">
    <div class="col-xs-8">
      <%= will_paginate(@presenter.users) %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <% if @presenter.users.present? %>
        <%= render 'users', view_object: @presenter %>
      <% else %>
        <h4><%= "No users match this search" if params.dig(:filter, :search) %></h4>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <%= will_paginate(@presenter.users) %>
    </div>
  </div>
</article>
