<% content_for :title do %>
    <% "OpenSplitTime: List users" %>
<% end %>


<div class="row header">
  <div class="col-xs-5">
    <h2>
      <strong>Users</strong>
    </h2>
  </div>
  <div class="col-xs-7 text-right">
    <%= link_to 'Export email list', users_path(format: :csv), class: 'btn btn-sm btn-primary btn-margin-top' %>
  </div>
</div>

<%= render 'lookup' %>

<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(@resources, inner_window: 2, outer_window: 0, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    <% if @resources.present? %>
        <%= render 'users', users: @resources, params: params %>
    <% else %>
        <br/>
        <p><strong>
          <% "No users match this search" if params[:filter] && params[:filter][:search].present? %>
        </strong></p>
    <% end %>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(@resources, inner_window: 2, outer_window: 0, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
</div>
