<%# locals: (presenter:) %>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col">
        <% if presenter.previous_entrant_for_review.present? %>
          <%= link_to fa_icon("caret-left", text: "Previous"),
                      organization_lottery_entrant_service_detail_path(presenter.organization, presenter.lottery, presenter.previous_entrant_for_review),
                      class: "btn btn-outline-secondary" %>
        <% else %>
          <%= link_to fa_icon("caret-left", text: "Previous"),
                      "#",
                      class: "btn btn-outline-secondary disabled" %>
        <% end %>
        <%= link_to "Review",
                    edit_organization_lottery_entrant_service_detail_path(presenter.organization, presenter.lottery, presenter.__getobj__),
                    class: "btn btn-outline-secondary",
                    data: {
                      turbo_frame: "form_modal",
                    }
        %>
        <% if presenter.next_entrant_for_review.present? %>
          <%= link_to fa_icon("caret-right", text: "Next", right: true),
                      organization_lottery_entrant_service_detail_path(presenter.organization, presenter.lottery, presenter.next_entrant_for_review),
                      class: "btn btn-outline-secondary" %>
        <% else %>
          <%= link_to fa_icon("caret-right", text: "Next", right: true),
                      "#",
                      class: "btn btn-outline-secondary disabled" %>
        <% end %>
      </div>
    </div>
  </div>
</aside>
