<%# locals: (service_detail:) %>

<%= render "shared/errors", obj: service_detail %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_with model: service_detail,
                    url: organization_lottery_entrant_service_detail_path(service_detail.organization, service_detail.lottery, service_detail) do |f| %>


        <%= f.hidden_field :form_accepted_at, value: nil %>
        <%= f.hidden_field :form_accepted_comments, value: nil %>
        <%= f.hidden_field :form_rejected_at, value: nil %>
        <%= f.hidden_field :form_rejected_comments, value: nil %>
        <%= f.hidden_field :completed_date, value: nil %>

        <div class="row mb-3">
          <div class="col text-center">
            <%= f.submit("Mark as Under Review", class: "btn btn-primary") %>
            <%= button_tag "Cancel",
                           type: :button,
                           data: { action: "click->form-modal#hide" },
                           class: "btn btn-outline-secondary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
