<%# locals: (presenter:) %>

<div class="card mt-4">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <span class="fs-3 fw-bold">Upload Completed Service Form</span>
        <% if presenter.completed_form.attached? %>
          <span class="fs-5 text-muted ps-2"><%= fa_icon("circle-check", class: "text-success", text: "Attached") %></span>
        <% end %>
      </div>
      <div class="col text-end">
        <div class="d-flex justify-content-end gap-2">
          <% if presenter.completed_form.attached? %>
            <%= link_to fa_icon("download", text: "Download"),
                        download_completed_form_organization_lottery_entrant_service_detail_path(presenter.organization, presenter.lottery, presenter.__getobj__),
                        target: "_blank",
                        rel: "noopener",
                        class: "btn btn-outline-success" %>
            <%= button_to_remove_completed_service_form(presenter) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row text-center">
      <% if presenter.completed_form.attached? %>
        <%= render partial: "shared/attachment_preview_or_link", locals: { attachment: presenter.completed_form } %>
      <% else %>
        <%= form_with(
              model: [presenter.organization, presenter.lottery, presenter.__getobj__],
              url: attach_completed_form_organization_lottery_entrant_service_detail_path(presenter.organization, presenter.lottery, presenter.__getobj__),
              local: true,
              html: { class: "form-horizontal",
                      data: {
                        turbo: false,
                        controller: "form-disable-submit",
                      }
              },
              ) do |f| %>

          <div class="mb-3 text-center">
            <div class="dropzone dropzone-default dz-clickable"
                 data-controller="dropzone"
                 data-dropzone-max-file-size="5"
                 data-dropzone-max-files="1"
                 data-dropzone-accepted-files="image/*,.pdf"
                 data-action="dropzone:success->form-disable-submit#enableSubmitButton"
            >
              <%= f.file_field :completed_form, direct_upload: true, data: { "dropzone-target" => "input" } %>
              <div class="dropzone-msg dz-message needsclick text-muted">
                <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
                <span class="dropzone-msg-desc text-sm">5 MB file size maximum. File must be a pdf, jpeg, or png file.</span>
              </div>
            </div>
          </div>

          <%= f.hidden_field :parent_type %>
          <%= f.hidden_field :parent_id %>
          <%= f.hidden_field :format %>

          <div class="mb-3 text-center">
            <%= f.submit("Attach", class: "btn btn-primary") %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
