<!doctype html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
</head>
<body>
<%= "Hello #{@follower.first_name}," %><br/><br/>
<%= "The following new times were reported for #{@effort_data[:full_name]} at #{@effort_data[:event_name]}:" %>
<% @effort_data[:split_times_data].each do |split_time_data| %>
    <p>
      <%= "#{split_time_data[:split_name]} at #{split_time_data[:day_and_time]}" %>
      <%= " with a pacer" if split_time_data[:pacer] %>
      <%= " and stopped there" if @effort_data[:stopped_time_point] == split_time_data[:time_point] %>
    </p>
<% end %>
<br/>
<%= link_to "To see full effort click here", effort_url(@effort_data[:effort_id]) %>
<br/>
<br/>
<%= link_to "To see all results click here", spread_event_url(@effort_data[:event_id]) %>
<br/>
<br/>
<p><strong>Thank you for using OpenSplitTime!</strong></p>
</body>
</html>