<%# locals: (callout_color:, icon_color:, icon_name:, main_text:, detail_text:, link: -%>

<% callout_color ||= "success" %>
<% icon_color ||= "success" %>
<% icon_name ||= nil %>

<div class="callout callout-<%= callout_color %>">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="d-block d-md-inline-flex">
        <% if icon_name.present? %>
          <div class="text-center py-2 py-md-0 me-md-2">
            <span class="text-<%= icon_color %> me-1"><%= fa_icon icon_name, type: :regular, size: "2x" %></span>
          </div>
        <% end %>
        <div>
          <% if main_text.present? %>
            <div class="h5 fw-bold text-center text-md-start"><%= main_text %></div>
          <% end %>
          <% if detail_text.present? %>
            <p class="text-center text-md-start"><%= detail_text %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% if link.present? %>
      <div class="col-12 col-md-3 text-center text-md-end pt-3 pt-md-0">
        <%= link %>
      </div>
    <% end %>
  </div>
</div>
