<%# locals: (event:, split:, aid_station:) -%>

<div class="d-flex justify-content-center">
  <div class="form-check form-switch"
       data-controller="tooltip"
       data-bs-placement="top"
       data-bs-original-title="<%= case
                                   when split.start? || split.finish?
                                     'Start and finish splits are always included'
                                   when aid_station.present?
                                     'Turn off time recording at this split for this event'
                                   else
                                     'Turn on time recording at this split for this event'
                                   end %>">
    <label class="form-check-label" for="aid-station-check-box-<%= dom_id(split) %>"></label>
    <input class="form-check-input"
           type="checkbox"
           id="aid-station-check-box-<%= dom_id(split) %>"
           data-controller="course-setup--aid-station-checkbox"
           data-course-setup--aid-station-checkbox-event-id-value="<%= event.id %>"
           data-course-setup--aid-station-checkbox-split-id-value="<%= split.id %>"
           data-course-setup--aid-station-checkbox-aid-station-id-value="<%= aid_station&.id %>"
           <%= split.intermediate? ? "" : "disabled" %>
           <%= event.aid_stations.find_by(split: split) ? "checked" : "" %>
    >
  </div>
</div>
