<%# locals: (event:) -%>

<main class="container">
  <%= turbo_frame_tag "form_modal" do %>
    <div class="modal-header">
      <h5 class="modal-title">Add a GPX file for this Course</h5>
    </div>
    <div class="modal-body">
      <%= form_with model: [event.course], url: attach_course_gpx_event_group_event_path(event.event_group, event) do |f| %>
        <% if current_user.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% event.course.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3 text-center">
          <div class="dropzone dropzone-default dz-clickable"
               data-controller="dropzone"
               data-dropzone-max-file-size="1"
               data-dropzone-max-files="1"
               data-dropzone-accepted-files=".gpx"
               data-action="dropzone:success->form-apply#enableSubmitButton"
          >
            <%= f.file_field :gpx, direct_upload: true, data: { "dropzone-target" => "input" } %>
            <div class="dropzone-msg dz-message needsclick text-muted">
              <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
              <span class="dropzone-msg-desc text-sm">0.5 MB file size maximum. File must be a gpx file.</span>
            </div>
          </div>
        </div>

        <div class="mb-3 text-center">
          <%= f.submit "Save GPX", class: "btn btn-primary", data: { turbo: false, "form-apply-target" => "submitButton" } %>
        </div>
      <% end %>
    </div>
  <% end %>
</main>
