<%# Requires parameter events %>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Date and Time</th>
    <th></th>
    <% if %w(join leave).include?(show_grouping_button) && current_user&.authorized_fully?(presenter.event_group) %>
        <% if show_grouping_button == 'join' %>
            <th class="text-center">Join Group</th>
        <% elsif events.many? && show_grouping_button == 'leave' %>
            <th class="text-center">Leave Group</th>
        <% end %>
    <% end %>
    <% if presenter.respond_to?(:event_group) && current_user&.authorized_to_edit?(presenter.event_group) %>
      <th class="text-center"></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% events.each do |event| %>
      <tr>
        <td><strong><%= link_to event.name, event_path(event) %></strong></td>
        <td><%= l(event.start_time_local, format: :full_day_time_and_zone) %></td>
        <td><%= "#{pluralize(event.effort_count, 'entrants')}" %></td>
        <% if %w(join leave).include?(show_grouping_button) && current_user&.authorized_fully?(presenter.event_group) %>
            <% if show_grouping_button == 'join' %>
                <td class="text-center"><%= link_to 'Join', reassign_event_path(event, event: {event_group_id: presenter.event_group.id}),
                                                    method: :patch,
                                                    data: {confirm: "Join #{event.name} into the #{presenter.event_group.name} group?"},
                                                    class: 'btn btn-xs btn-success' %></td>
            <% elsif events.many? && show_grouping_button == 'leave' %>
                <td class="text-center"><%= link_to 'Leave', reassign_event_path(event, event: {event_group_id: nil}),
                                                    method: :patch,
                                                    data: {confirm: "Remove #{event.name} from the #{presenter.event_group.name} group?"},
                                                    class: 'btn btn-xs btn-success' %></td>
            <% end %>
        <% end %>
        <% if presenter.respond_to?(:event_group) && current_user&.authorized_to_edit?(presenter.event_group) %>
          <td class="text-center">
            <%= event_actions_dropdown(event) %>
          </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
