<%# Requires parameter events %>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Date and Time</th>
    <th></th>
    <% if presenter.show_visibility_columns? %>
        <th class="text-center">Visibility</th>
        <th class="text-center">OST Remote</th>
    <% end %>
    <% if %w(join leave).include?(show_grouping_button) && current_user&.authorized_fully?(presenter.event_group) %>
        <% if show_grouping_button == 'join' %>
            <th class="text-center">Join Group</th>
        <% elsif events.many? && show_grouping_button == 'leave' %>
            <th class="text-center">Leave Group</th>
        <% end %>
    <% end %>
    <% if presenter.respond_to?(:event_group) && current_user&.authorized_to_edit?(presenter.event_group) %>
      <th class="text-center"></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% events.each do |event| %>
      <tr>
        <td><strong><%= link_to event.name, event_path(event) %></strong></td>
        <td><%= l(event.start_time_in_home_zone, format: :full_day_time_and_zone) %></td>
        <td><%= "#{pluralize(event.effort_count, 'entrants')}" %></td>
        <% if presenter.show_visibility_columns? %>
            <td class="text-center"><%= event.concealed? ? 'Private' : 'Public' %></td>
            <td class="text-center"><%= event.auto_live_times? ? 'Auto' : 'Manual' %></td>
        <% end %>
        <% if %w(join leave).include?(show_grouping_button) && current_user&.authorized_fully?(presenter.event_group) %>
            <% if show_grouping_button == 'join' %>
                <td class="text-center"><%= link_to 'Join', event_path(event, event: {event_group_id: presenter.event_group.id}, button: :join_leave),
                                                    method: :patch,
                                                    data: {confirm: "Join #{event.name} into the #{presenter.event_group.name} group?"},
                                                    class: 'btn btn-xs btn-success' %></td>
            <% elsif events.many? && show_grouping_button == 'leave' %>
                <td class="text-center"><%= link_to 'Leave', event_path(event, event: {event_group_id: nil}, button: :join_leave),
                                                    method: :patch,
                                                    data: {confirm: "Remove #{event.name} from the #{presenter.event_group.name} group?"},
                                                    class: 'btn btn-xs btn-success' %></td>
            <% end %>
        <% end %>
        <% if presenter.respond_to?(:event_group) && current_user&.authorized_to_edit?(presenter.event_group) %>
          <td class="text-center">
            <div class="btn-group pull-right">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to 'Edit event', edit_event_path(event) %></li>
                <li><%= link_to 'Change start time', edit_start_time_event_path(event) %></li>
                <li><%= link_to 'Establish drops', set_stops_event_path(event),
                                method: :put,
                                data: {confirm: 'NOTE: For every effort that is unfinished, this will flag the effort as having stopped ' +
                                        'at the last aid station for which times are available. Are you sure you want to proceed?'} %></li>
                <li><%= link_to 'Export to ultrasignup', export_to_ultrasignup_event_path(event, format: :csv) %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Delete event', event_path(event, referrer_path: roster_event_group_path),
                                method: :delete,
                                data: {confirm: 'NOTE: This will delete the event including all efforts and split times related to it. ' +
                                        'This action cannot be undone. Are you sure you want to go ahead?'} %></li>
              </ul>
            </div>
          </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
