<%= render 'shared/errors', obj: @event %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@event, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <% if @course.nil? %>
            <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :course_id %>
              </div>
              <div class="col-sm-8">
                <%= collection_select(:event, :course_id, Course.all, :id, :name, prompt: true) %>
              </div>
            </div>
        <% else %>
            <div class="form-group">
              <div class="col-sm-8 col-sm-offset-2">
                <%= f.hidden_field :course_id, value: @course.id %>
                <h4><%= @course.name %></h4>
              </div>
            </div>
        <% end %>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :name %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :name, class: "form-control", placeholder: "Event name", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :race_id %>
          </div>
          <div class="col-sm-8">
            <%= collection_select(:event, :race_id, Race.all, :id, :name, prompt: true) %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :first_start_time %>
          </div>
          <div class="col-sm-2">
            <%= f.datetime_field :first_start_time, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit(@event.new_record? ? "Create Event" : "Update Event", class: 'btn btn-primary btn-large') %>
          </div>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
          [ <%= link_to 'Cancel', events_path %> ]
        </div>
    <% end %>
  </div>
</div>
