<%= form_for @event do |f| %>

    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@event.errors.count, "error") %> prohibited
            this event from being saved:
          </h2>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :course_id %><br>
      <%= collection_select(:event, :course_id, Course.all, :id, :name, prompt: true ) %>
    </p>

    <p>
      <%= f.label :race_id %><br>
      <%= collection_select(:event, :race_id, Race.all, :id, :name, prompt: true ) %>
    </p>

    <p>
      <%= f.label :start_date %><br>
      <%= f.date_select :start_date %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>
