<%# Requires parameters live_times, view_model %>

<% if live_times.present? %>

    <div class="row">
      <div class="col-xs-8">
        <%= will_paginate(live_times, inner_window: 2, outer_window: 0) %>
      </div>
    </div>

    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th><%= link_to_reversing_sort_heading('Bib', :sortable_bib_number, view_model.existing_sort) %></th>
        <th>Name</th>
        <th>Aid Station</th>
        <% if view_model.multiple_sub_splits? %>
          <th class="text-center">In/Out</th>
        <% end %>
        <th><%= link_to_reversing_sort_heading('Time', :absolute_time, view_model.existing_sort) %></th>
        <% if view_model.monitor_pacers? %>
          <th class="text-center">Pacer</th>
        <% end %>
        <th class="text-center"><%= link_to_reversing_sort_heading('Stop', :stopped_here, view_model.existing_sort) %></th>
        <th><%= link_to_reversing_sort_heading('Source', :source, view_model.existing_sort) %></th>
        <th><%= link_to_reversing_sort_heading('Created by', :created_by, view_model.existing_sort) %></th>
        <th><%= link_to_reversing_sort_heading('Created at', :created_at, view_model.existing_sort) %></th>
        <th><%= link_to_reversing_sort_heading('Pulled by', :pulled_by, view_model.existing_sort) %></th>
        <th><%= link_to_reversing_sort_heading('Pulled at', :pulled_at, view_model.existing_sort) %></th>
        <th><%= link_to_reversing_sort_heading('Match?', :split_time_id, view_model.existing_sort) %></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% live_times.each do |live_time| %>
          <tr>
            <td><%= live_time.bib_number %></td>
            <td><%= link_to_live_time_effort(live_time) %></td>
            <td><%= link_to_live_time_split(live_time) %></td>
            <% if view_model.multiple_sub_splits? %>
              <td class="text-center"><%= live_time.sub_split_kind %></td>
            <% end %>
            <td><%= live_time.military_time(view_model.home_time_zone) %></td>
            <% if view_model.monitor_pacers? %>
              <td class="text-center"><%= "#{live_time.with_pacer ? 'Yes' : 'No'}" %></td>
            <% end %>
            <td class="text-center"><%= "#{live_time.stopped_here ? 'Yes' : 'No'}" %></td>
            <td><%= live_time.source_text %></td>
            <td><%= live_time.user_full_name %></td>
            <td><%= live_time.created_at ? l(live_time.created_at.in_time_zone(view_model.home_time_zone), format: :short_day_and_time) : '--' %></td>
            <td><%= live_time.pulled_full_name %></td>
            <td><%= live_time.pulled_at ? l(live_time.pulled_at.in_time_zone(view_model.home_time_zone), format: :short_day_and_time) : '--' %></td>
            <td><%= live_time.matched? ? 'Yes' : 'No' %></td>
            <td>
              <div class="col-xs-12 text-nowrap">
                <%= link_to_toggle_live_time_pull(live_time) %>
                <%= link_to_live_time_delete(live_time) %>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <div class="row">
      <div class="col-xs-8">
        <%= will_paginate(live_times, inner_window: 2, outer_window: 0) %>
      </div>
    </div>

<% else %>
    <h4>No live times have been entered for this event.</h4>
<% end %>
