<%# Requires parameters live_times, view_model %>

<% if live_times.present? %>

    <div class="row">
      <div class="col-xs-8">
        <%= will_paginate(live_times, inner_window: 2, outer_window: 0) %>
      </div>
    </div>

    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>Bib #</th>
        <th>Name</th>
        <th>Split</th>
        <th class="text-center">In/Out</th>
        <th>Time</th>
        <th class="text-center">Pacer/Stop</th>
        <th>Source</th>
        <th>Created by</th>
        <th>Created at</th>
        <th>Pulled by</th>
        <th>Pulled at</th>
        <th>Matched?</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% live_times.each do |live_time| %>
          <tr>
            <td><%= live_time.bib_number %></td>
            <td><%= live_time.effort_full_name %></td>
            <td><%= live_time.split_base_name %></td>
            <td class="text-center"><%= live_time.sub_split_kind %></td>
            <td><%= live_time.military_time(view_model.home_time_zone) %></td>
            <td class="text-center"><%= "#{live_time.with_pacer ? 'Yes' : 'No'} / #{live_time.stopped_here ? 'Yes' : 'No'}" %></td>
            <td><%= live_time.source_shorthand %></td>
            <td><%= live_time.user_full_name %></td>
            <td><%= live_time.created_at ? l(live_time.created_at, format: :short_day_and_time) : '--' %></td>
            <td><%= live_time.pulled_full_name %></td>
            <td><%= live_time.pulled_at ? l(live_time.pulled_at, format: :short_day_and_time) : '--' %></td>
            <td><%= live_time.matched? ? 'Yes' : 'No' %></td>
            <td>
              <%= link_to 'Delete', api_v1_live_time_path(live_time), method: :delete,
                          data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <div class="row">
      <div class="col-xs-8">
        <%= will_paginate(live_times, inner_window: 2, outer_window: 0) %>
      </div>
    </div>

<% else %>
    <h4>No live times have been entered for this event.</h4>
<% end %>
