<%# locals: (presenter:, event:) -%>

<%= content_tag(:div, id: dom_id(event, :lottery_sync_card)) do %>
  <div class="card">
    <div class="card-header">
      <h3><%= event.name %></h3>
    </div>
    <div class="card-body">
      <%= form_with(model: [presenter.event_group, event], html: { data: { controller: "form-auto-submit" } }) do |f| %>
        <div class="row">
          <div class="mb-3 col">
            <%= f.label :syncing_with %>
            <%= f.select :lottery_id,
                         options_for_select(presenter.organization.lotteries.pluck(:name, :id).unshift(["None", nil]), event.lottery_id),
                         {},
                         class: "form-control dropdown-select-field" %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="mb-3 col">
          <%= turbo_frame_tag(event, :preview_lottery_sync) do %>
            <%= link_to "Preview sync", preview_lottery_sync_event_path(event), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
