<% # Requires parameters unfiltered_efforts_count, filtered_efforts_count, and filtered_efforts %>

<% if unfiltered_efforts_count.zero? %>
    <h4><strong>No entrants have been added to this event.</strong></h4>
<% else %>

    <%= render 'effort_lookup', event: @event_display.event %>
    <hr>

    <% if filtered_efforts.present? %>
        <div class="row">
          <div class="col-xs-8">
            <h4><strong>
              <%= filtered_efforts_count == unfiltered_efforts_count ? "#{unfiltered_efforts_count} entrants" : "Returned #{filtered_efforts_count} of #{unfiltered_efforts_count} entrants" %>
            </strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <%= will_paginate(filtered_efforts, inner_window: 2, outer_window: 0) %>
          </div>
        </div>

        <%= render 'efforts/efforts_list' %>

        <div class="row">
          <div class="col-xs-8">
            <%= will_paginate(filtered_efforts, inner_window: 2, outer_window: 0) %>
          </div>
        </div>
    <% else %>
        <h4><strong>No results match that search.</strong></h4>
    <% end %>
<% end %>
