<ul class="nav nav-tabs nav-tabs-ost">

  <%= content_tag :li, 
              class: "#{'active' if controller.controller_name == 'events' && controller.action_name == 'show' }" do
    link_to 'Results', event_path(view_object.event)
    end -%>
  <%= content_tag :li, 
              class: "#{'active' if view_object.class == EventSpreadDisplay }" do
    link_to 'Full spread', spread_event_path(view_object.event)
    end -%>

  <%= link_to_podium(view_object) %>
  <%= link_to_event_admin(view_object, current_user) %>
  <%= link_to_event_staging(view_object, current_user) %>
  <%= link_to_raw_times(view_object, current_user) %>
  <%= link_to_split_raw_times(view_object, current_user) %>
  <%= link_to_roster(view_object, current_user) %>
  <%= link_to_event_group(view_object, current_user) %>

</div>
