<div class="btn-group">

  <%= link_to 'Results', event_path(view_object.event),
              disabled: view_object.class == EventEffortsDisplay,
              class: 'btn btn-sm btn-primary' %>
  <%= link_to 'Full spread', spread_event_path(view_object.event),
              disabled: view_object.class == EventSpreadDisplay,
              class: 'btn btn-sm btn-primary' %>

  <%= link_to_podium(view_object) %>
  <%= link_to_classic_admin(view_object, current_user) %>
  <%= link_to_event_staging(view_object, current_user) %>

</div>

<% if current_user&.authorized_fully?(view_object.event_group) %>
    <%= link_to 'Settings', event_group_path(view_object.event_group, force_settings: true),
                disabled: view_object.class == EventGroupPresenter,
                class: 'btn btn-sm btn-warning' %>
<% end %>
