<% content_for :title do %>
    <% "OpenSplitTime: Drop List - #{@event_dropped_display.name}" %>
<% end %>

<% content_for(:container_type) do %>skip<% end %>

<header class="ost-header">
  <div class="container">
    <div class="row">
      <div class="ost-title col-xs-12">
        <h1><strong><%= "#{@event_dropped_display.name}: Drop List" %></strong></h1>
        <ul class="breadcrumb breadcrumb-ost">
          <li class="active">Progress Report</li>
        </ul>
      </div>
    </div>
    <%= render 'events/view_buttons', view_object: @event_dropped_display %>
  </div>
</header>

<aside class="ost-toolbar container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 page-navigation-left form-inline">
        <% if @event_dropped_display.ordered_events_within_group.many? %>
          <%= render 'event_groups/event_buttons', events: @event_dropped_display.ordered_events_within_group, current_event: @event_dropped_display.event %>
        <% end %>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">

<% if @event_dropped_display.dropped_efforts_count < 1 %>
    <strong><%= "No runners have dropped as of #{day_time_current_military_full(@event_dropped_display.home_time_zone)}." %></strong>
<% else %>
    <div class="row">
      <div class="col-xs-8">
        <strong><%= "#{@event_dropped_display.dropped_efforts_count} #{@event_dropped_display.dropped_efforts_count == 1 ? 'runner has' : 'runners have'} dropped as of #{day_time_current_military_full(@event_dropped_display.home_time_zone)}." %></strong>
      </div>
    </div>
    <%= render 'efforts/efforts_dropped_list' %>
<% end %>

</article>