<% content_for :title do %>
    <% "OpenSplitTime: Drop List - #{@event_dropped_display.name}" %>
<% end %>
<div class="row header">
  <div class="col-xs-5">
    <h2><strong><%= @event_dropped_display.name %></strong>
    </h2>
  </div>
  <div class="col-xs-7 page-navigation">
    <div class="row">
      <% if @current_user && @current_user.authorized_for_live?(@event_dropped_display.event) && @event_dropped_display.event.available_live %>
          <%= link_to 'Live Data Entry', live_entry_live_event_path(@event_dropped_display.event), method: :get, class: 'btn btn-sm btn-warning' %>
      <% end %>
      <div class="btn-group">
        <% unless @event_dropped_display.simple? %>
            <%= link_to 'Search and explore', event_path(@event_dropped_display.event), disabled: true, class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Full spread', spread_event_path(@event_dropped_display.event), class: 'btn btn-sm btn-primary' %>
        <% end %>
        <% if @current_user && @current_user.authorized_to_edit?(@event_dropped_display.event) %>
            <%= link_to 'Admin', stage_event_path(@event_dropped_display.event), class: 'btn btn-sm btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @event_dropped_display.dropped_efforts_count < 1 %>
    <strong>No runners have dropped.</strong>
<% else %>
    <hr>
    <div class="row">
      <div class="col-xs-8">
        <strong><%= "#{@event_dropped_display.dropped_efforts_count} #{@event_dropped_display.dropped_efforts_count == 1 ? 'runner has' : 'runners have'} dropped." %></strong>
      </div>
    </div>

    <%= render 'efforts/efforts_dropped_list' %>

<% end %>
