<% content_for :title do %>
    <% "OpenSplitTime: Drop List - #{@event_dropped_display.name}" %>
<% end %>
<div class="row header">
  <div class="col-xs-7">
    <h2><strong><%= "#{@event_dropped_display.name}: Drop List" %></strong>
    </h2>
  </div>
  <div class="col-xs-5 page-navigation">
    <%= render 'live/events/live_entry_button_cluster', page: 'drop_list' %>
  </div>
</div>

<% if @event_dropped_display.ordered_events_within_group.many? %>
    <div class="row mid">
      <div class="col-xs-12">
        <div class="btn-group mid-padding">
          <% @event_dropped_display.ordered_events_within_group.each do |event| %>
              <%= link_to "#{event.guaranteed_short_name}",
                          drop_list_event_path(event),
                          class: 'btn btn-sm btn-primary',
                          disabled: event == @event_dropped_display.event %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<% if @event_dropped_display.dropped_efforts_count < 1 %>
    <strong><%= "No runners have dropped as of #{day_time_current_military_full(@event_dropped_display.home_time_zone)}." %></strong>
<% else %>
    <div class="row">
      <div class="col-xs-8">
        <strong><%= "#{@event_dropped_display.dropped_efforts_count} #{@event_dropped_display.dropped_efforts_count == 1 ? 'runner has' : 'runners have'} dropped as of #{day_time_current_military_full(@event_dropped_display.home_time_zone)}." %></strong>
      </div>
    </div>
    <%= render 'efforts/efforts_dropped_list' %>
<% end %>