<% content_for :title do %>
  <% "OpenSplitTime: Edit event start time - #{@event.name}" %>
<% end %>

<%= render 'shared/errors', obj: @event %>

<div class="row header">
  <div class="col-xs-5">
    <h2><strong><%= "#{@event.name}: Change Start Time" %></strong></h2>
    <h4>
      <%= "Start Time: #{l(@event.start_time_in_home_zone, format: :full_day_time_and_zone)}" %>
      <br/>
      Run on <%= link_to @event.course_name, course_path(@event.course) %>
      <br/>Organized by <%= link_to @event.organization.name, organization_path(@event.organization) %>
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Use this page to update the start time of an event that <strong>has existing split times</strong> when you want
      those split
      times to <strong>retain the same absolute time</strong> instead of the same elapsed time relative to the event start.</p>
    <p>For example, if the event start time is 06:00 and you change it to 06:10, a finish time at 08:00 would remain at
      08:00, resulting in the <strong>elapsed finish time being shortened from 2:00 to 1:50</strong>.</p>
    <p>If you intend to keep existing elapsed times constant and change absolute times, use
      the <%= link_to 'Edit event', edit_event_path(@event) %> page instead.</p>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@event, url: update_start_time_event_path(@event), :html => {class: "form-horizontal", role: "form"}) do |f| %>

        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label 'Start time' %>
          </div>
          <div class="col-sm-3">
            <div class="input-group date" id="datetimepicker">
              <%= f.text_field :start_time_in_home_zone,
                               value: @event.start_time_in_home_zone&.strftime('%m/%d/%Y %H:%M:%S'),
                               placeholder: 'mm/dd/yyyy hh:mm:ss',
                               class: 'form-control',
                               data: {provide: 'datetimepicker',
                                      date_format: 'MM/DD/YYYY HH:mm:ss',
                                      date_default_date: (Date.current + 6.hours).strftime('%m/%d/%Y %H:%M:%S')} %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit("Update Event", class: 'btn btn-primary btn-large') %>
          </div>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
          [ <%= link_to 'Cancel', event_group_path(@event.event_group, force_settings: true) %> ]
        </div>
    <% end %>
  </div>
</div>
