<% content_for :title do %>
  <% "OpenSplitTime: Edit event - #{@event.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong>Edit Event - <%= @event.name %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @event.event_group.organization.name, organization_path(@event.event_group.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @event.event_group.name, event_group_path(@event.event_group) %></li>
            <li class="breadcrumb-item"><%= link_to @event.guaranteed_short_name, event_path(@event) %></li>
            <li class="breadcrumb-item active">Edit</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <%= render 'form' %>
  <% if current_user.authorized_fully?(@event) %>
    <hr>
    <%= link_to_delete_resource('Delete this event', event_path(@event),
                                resource: @event,
                                noteworthy_associations: [:entrants, :split_times],
                                class: "btn btn-danger") %>

    <%= link_with_strong_confirm('Delete all efforts', delete_all_efforts_event_path(@event),
                                 class: 'btn btn-outline-secondary text-danger',
                                 message: "This action will permanently delete all efforts, including all time records, from the #{@event.name.upcase} event.",
                                 required_pattern: "#{@event.name.upcase} EFFORTS",
                                 strong_confirm_id: "strong-confirm-efforts-event-#{@event.id}") %>
  <% end %>
</article>
