<% content_for :title do %>
    <% if params[:search].present? %>
        <% "OpenSplitTime: Search events - #{params[:search]}" %>
    <% else %>
        <% "OpenSplitTime: Search events" %>
    <% end %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="ost-title col">
        <h1><strong>Events</strong></h1>
        <ul class="breadcrumb">
          <li class="breadcrumb-item active">Events</li>
        </ul>
      </div>
    </div>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <% if current_user %>
            <%= link_to 'Create event', event_staging_app_path('new'),
                        class: 'btn btn-sm btn-success' %>
        <% end %>
      </div>
      <div class="col form-inline">
        <%= render 'lookup' %>
      </div>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <%= will_paginate(inner_window: 2, outer_window: 0) %>
  <div class="col-xs-12">
    <% if @events.present? %>
        <%= render 'events', presenter: @presenter, events: @presenter.events, show_grouping_button: false %>
    <% else %>
        <br/>
        <% if params[:search].blank? %>
            <p><strong>Enter an event name to search</strong></p>
        <% else %>
            <p><strong>No events match this search</strong></p>
        <% end %>
    <% end %>
  </div>
  <%= will_paginate(inner_window: 2, outer_window: 0) %>
</article>
