<div class="row">
  <div class="col col-xs-6">
    <h1>Events</h1>
  </div>
  <div class="col-xs-4">
    <%= link_to 'Create New Event', new_event_path,
                class: 'btn btn-sm btn-success btn-margin-lg' %>
  </div>
</div>

<%= render 'lookup' %>

<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>

<% if @events.present? %>
    <%= render 'events', events: @events %>
<% else %>
    <br/>
    <% if params[:search_param].blank? %>
        <p><strong>Find an event</strong></p>
    <% else %>
        <p><strong>No events match this search</strong></p>
    <% end %>
<% end %>

<hr>
<div class="row">
  <div class="col-xs-8">
    <%= will_paginate(inner_window: 2, outer_window: 0) %>
  </div>
</div>
