<% content_for :title do %>
  <% "OpenSplitTime: Setup Event Group - #{@presenter.event_group_name} - New Event" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong><%= @presenter.event_group_name %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization_name, organization_path(@presenter.organization) %></li>
            <li class="breadcrumb-item active"><%= @presenter.event_group_name %></li>
            <li class="breadcrumb-item active">Setup</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <%= render "form", presenter: @presenter, event: @presenter.event %>
</article>
