<% content_for :title do %>
  <% "OpenSplitTime: Podium - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
        <h1><strong><%= [@presenter.name, nil].compact.join(': ') %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
            <% if @presenter.multiple_events? %>
              <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
            <% end %>
            <li class="breadcrumb-item"><%= link_to @presenter.event.guaranteed_short_name, event_path(@presenter.event) %></li>
            <li class="breadcrumb-item active">Podium</li>
          </ul>
        </div>
        <%= render 'time_and_course_info' %>
      </div>
    </div>
    <!-- Navigation -->
    <%= render 'view_buttons', view_object: @presenter %>
  </div>
</header>

<aside class="ost-toolbar d-print-none">
  <div class="container">
    <div class="row">
      <%= render 'event_groups/event_widget', events: @presenter.ordered_events_within_group, current_event: @presenter.event %>
      <div class="col form-inline">
        <%= explore_dropdown_menu(@presenter) %>
      </div>
      <div class="col form-inline">
        <div class="btn-group btn-group-ost">
          <% [:category, :fastest_times].each do |sort_method| %>
            <%= link_to sort_method.to_s.titleize,
                        request.params.merge(sort: sort_method),
                        class: "btn #{ @presenter.sort_method == sort_method ? 'btn-primary' : 'btn-outline-secondary' }" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <% if @presenter.template_name %>
    <table class="table table-sm table-striped">
      <% @presenter.sorted_categories.each do |category| %>
        <%= render 'podium_category', category: category %>
      <% end %>
    </table>
  <% else %>
    <h4><%= "A podium template has not been specified." %></h4>
  <% end %>
</article>
