<% content_for :title do %>
  <% "OpenSplitTime: Podium - #{@presenter.name}" %>
<% end %>

<div class="row header">
  <div class="col-xs-5">
    <%= render 'event_info', view_object: @presenter, title: nil %>
  </div>
  <div class="col-xs-7 page-navigation">
    <div class="row">
      <%= link_to_enter_group_live_entry(@presenter, current_user) %>
      <%= render 'events/view_buttons', view_object: @presenter %>
    </div>
  </div>
</div>

<% if @presenter.ordered_events_within_group.many? %>
  <div class="row mid">
    <div class="col-xs-5 page-navigation-left">
      <%= render 'event_groups/event_buttons', events: @presenter.ordered_events_within_group, current_event: @presenter.event %>
    </div>
  </div>
<% end %>

<% if @presenter.template_name %>
  <table class="table table-condensed table-striped">
    <% @presenter.categories.each do |category| %>
      <%= render 'podium_category', category: category %>
    <% end %>
  </table>
<% else %>
  <h4><%= "The organizer has not specified a podium template." %></h4>
<% end %>
