<% content_for :title do %>
  <% "OpenSplitTime: Podium - #{@presenter.name}" %>
<% end %>

<% content_for(:container_type) do %>skip<% end %>

<header class="ost-header">
  <div class="container">
    <div class="row">
      <div class="ost-title col-xs-12">
        <h1><strong><%= [@presenter.name, nil].compact.join(': ') %></strong></h1>
        <ul class="breadcrumb breadcrumb-ost">
          <li><%= link_to 'Organizations', organizations_path %></li>
          <li><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
          <li><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
          <li class="active"><%= @presenter.event.guaranteed_short_name %></li>
        </ul>
      </div>
    </div>
    <%= render 'view_buttons', view_object: @presenter %>
  </div>
</header>

<aside class="ost-toolbar container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 page-navigation-left form-inline">
        <% if @presenter.ordered_events_within_group.many? %>
          <%= render 'event_groups/event_buttons', events: @presenter.ordered_events_within_group, current_event: @presenter.event %>
        <% end %>
        <%= explore_dropdown_menu(@presenter) %>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
<% if @presenter.template_name %>
  <table class="table table-condensed table-striped">
    <% @presenter.categories.each do |category| %>
      <%= render 'podium_category', category: category %>
    <% end %>
  </table>
<% else %>
  <h4><%= "The organizer has not specified a podium template." %></h4>
<% end %>
</article>