<% content_for :title do %>
    <% "OpenSplitTime: Podium - #{@presenter.name}" %>
<% end %>

<div class="row header">
  <div class="col-xs-5">
    <%= render 'event_info', view_object: @presenter, title: 'Podium' %>
    <h4><%= @presenter.template_name ? "Using template: #{@presenter.template_name}" : "The organizer has not specified a podium template." %></h4>
  </div>
  <div class="col-xs-7 page-navigation">
    <div class="row">
      <%= link_to_enter_group_live_entry(@presenter, current_user) %>
      <%= render 'events/view_buttons', view_object: @presenter %>
    </div>
  </div>
</div>

<% if @presenter.template_name %>
    <table class="table table-condensed table-striped">
      <% @presenter.categories.each do |category| %>
          <%= render 'podium_category', category: category %>
      <% end %>
    </table>
<% end %>
