<% content_for :title do %>
  <% "OpenSplitTime: Podium - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
        <h1><strong><%= [@presenter.name, nil].compact.join(': ') %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
            <li class="breadcrumb-item active"><%= @presenter.event.guaranteed_short_name %></li>
          </ul>
        </div>
        <div class="ost-subtitle">
          <h6>Start Time: <strong><%= l(@presenter.event_start_time_local, format: :full_day_time_and_zone) %></strong></h6>
          <h6>Run on: <strong><%= link_to @presenter.course_name, course_path(@presenter.course) %></strong></h6>
        </div>
      </div>
    </div>
    <!-- Navigation -->
    <%= render 'view_buttons', view_object: @presenter %>
  </div>
</header>

<aside class="ost-toolbar hidden-print">
  <div class="container">
    <div class="row">
      <%= render 'event_groups/event_widget', events: @presenter.ordered_events_within_group, current_event: @presenter.event %>
      <div class="col form-inline">
        <%= explore_dropdown_menu(@presenter) %>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
<% if @presenter.template_name %>
  <table class="table table-sm table-striped">
    <% @presenter.categories.each do |category| %>
      <%= render 'podium_category', category: category %>
    <% end %>
  </table>
<% else %>
  <h4><%= "The organizer has not specified a podium template." %></h4>
<% end %>
</article>
