<% content_for :title do %>
    <% if params[:search].present? %>
        <% "OpenSplitTime: Preview #{@event_preview.name} - #{params[:search]}" %>
    <% else %>
        <% "OpenSplitTime: Preview #{@event_preview.name}" %>
    <% end %>
<% end %>
<div class="row header">
  <div class="col-xs-5">
    <h2><strong><%= @event_preview.name %></strong>
    </h2>
    <h4>
      <%= "Start Time: #{l(@event_preview.start_time, format: :full_with_weekday)} at #{l(@event_preview.start_time, format: :ampm)}" %>
      <br/>
      Course: <%= link_to @event_preview.course_name, course_path(@event_preview.course) %>
      <% if @event_preview.race %>
          <br/>Race: <%= link_to @event_preview.race_name, race_path(@event_preview.race) %>
      <% end %>
    </h4>
  </div>
  <div class="col-xs-7 page-navigation">
    <div class="row">
      <% if @current_user && @current_user.authorized_for_live?(@event_preview.event) && @event_preview.event.available_live %>
          <%= link_to 'Live Data Entry', live_entry_live_event_path(@event_preview.event), method: :get, class: 'btn btn-sm btn-warning' %>
      <% end %>
      <div class="btn-group">
        <% unless @event_preview.simple? %>
            <%= link_to 'Search and explore', event_path(@event_preview.event), disabled: true, class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Full spread', spread_event_path(@event_preview.event), class: 'btn btn-sm btn-primary' %>
        <% end %>
        <% if @current_user && @current_user.authorized_to_edit?(@event_preview.event) %>
            <%= link_to 'Admin', stage_event_path(@event_preview.event), class: 'btn btn-sm btn-primary' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% unless @event_preview.simple? %>
          <%= link_to 'Plan my effort', plan_effort_course_path(@event_preview.course), method: :get, class: 'btn btn-sm btn-primary' %>
      <% end %>
      <%= link_to 'All-time best efforts', best_efforts_course_path(@event_preview.course), class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
</div>

<%= render 'effort_lookup', event: @event_preview.event %>
<% if @event_preview.filtered_efforts_count > 0 %>
    <hr>
    <div class="row">
      <div class="col-xs-8">
        <strong><%= "Returned #{@event_preview.filtered_efforts_count} of #{@event_preview.efforts_count} efforts for #{@event_preview.name}" %></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <%= will_paginate(@event_preview.filtered_efforts, inner_window: 2, outer_window: 0) %>
      </div>
    </div>

    <%= render 'efforts/efforts_not_started' %>

    <div class="row">
      <div class="col-xs-8">
        <%= will_paginate(@event_preview.filtered_efforts, inner_window: 2, outer_window: 0) %>
      </div>
    </div>
<% else %>
    <hr>
    <% if @event_preview.params[:search] %>
        <strong>No results match that search.</strong>
    <% else %>
        <strong>No efforts have been added to this event.</strong>
    <% end %>
<% end %>
