<div class="row">
  <div class="col-xs-6">
    <h2><%= @event_display.name %></h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <strong><%= "#{l@event_display.start_time, format: :full_with_weekday}" %></strong><br/>
    <strong>Course:</strong>
    <%= link_to @event_display.course_name, course_path(@event_display.course) %>
    <% if @event_display.race %> |
        <strong>Race:</strong>
        <%= link_to @event_display.race_name, race_path(@event_display.race) %>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <%= link_to '<< Show All Events', events_path, class: "btn btn-sm btn-default" %>
    <%= link_to '< Back', :back, class: "btn btn-sm btn-default" %>
    <%= link_to 'All-time best efforts >', best_efforts_course_path(@event_display.course), class: "btn btn-sm btn-default" %>
    <% unless @event_display.simple? %>
        <%= link_to 'Full spread >>', spread_event_path(@event_display.event), class: "btn btn-sm btn-default" %>
    <% end %>
    <% if @current_user && @current_user.authorized_to_edit?(@event_display.event) %>
        <%= link_to 'Stage/administer this event', stage_event_path(@event_display.event), class: "btn btn-sm btn-primary" %>
        <%= link_to 'Set time data status', set_data_status_event_path(@event_display.event),
                    method: :put,
                    class: "btn btn-sm btn-success" %>
        <%= link_to 'Delete this event',
                    event_path(@event_display.event, referrer_path: events_path),
                    method: :delete,
                    data: {confirm: 'NOTE: This will delete the event and all associated efforts and split times. This action cannot be undone. Are you sure you want to go ahead?'},
                    class: 'btn btn-sm btn-danger' %>
    <% end %>
  </div>
</div>
<hr>
<% if @event_display.all_efforts_count < 1 %>
    <strong>No efforts yet associated with this event.</strong>
<% else %>
    <%= render 'lookup', event: @event_display.event %>
    <% if @event_display.filtered_efforts_count > 0 %>
        <hr>
        <div class="row">
          <div class="col-xs-8">
            <h4><%= "Returned #{@event_display.filtered_efforts_count} of #{@event_display.all_efforts_count} efforts for #{@event_display.name}" %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <%= will_paginate(@event_display.filtered_efforts, inner_window: 2, outer_window: 0) %>
          </div>
        </div>

        <%= render 'efforts/efforts_list' %>

        <div class="row">
          <div class="col-xs-8">
            <%= will_paginate(@event_display.filtered_efforts, inner_window: 2, outer_window: 0) %>
          </div>
        </div>
    <% else %>
        <hr>
        <strong>No results match that search.</strong>
    <% end %>
<% end %>