<% content_for :title do %>
    <% if params[:search_param].present? %>
        <% "OpenSplitTime: #{@event_display.name} - #{params[:search_param]}" %>
    <% else %>
        <% "OpenSplitTime: #{@event_display.name}" %>
    <% end %>
<% end %>
<div class="row header">
  <div class="col-xs-5">
    <h2><strong><%= @event_display.name %></strong>
    </h2>
    <h4>
      <%= "Start Time: #{l(@event_display.start_time, format: :full_with_weekday)} at #{l(@event_display.start_time, format: :ampm)}" %>
      <br/>
      Course: <%= link_to @event_display.course_name, course_path(@event_display.course) %>
      <% if @event_display.race %> |
          Race: <%= link_to @event_display.race_name, race_path(@event_display.race) %>
      <% end %>
    </h4>
  </div>
  <div class="col-xs-7 page-navigation">
    <div class="row">
      <% if @current_user && @current_user.authorized_for_live?(@event_display.event) && @event_display.event.available_live %>
          <%= link_to 'Live Data Entry', live_entry_live_event_path(@event_display.event), method: :get, class: 'btn btn-sm btn-warning' %>
      <% end %>
      <div class="btn-group">
        <%= link_to 'Search and explore', event_path(@event_display.event), disabled: true, class: 'btn btn-sm btn-primary' %>
        <% unless @event_display.event.simple? %>
            <%= link_to 'Full spread', spread_event_path(@event_display.event), class: 'btn btn-sm btn-primary' %>
        <% end %>
        <% if @current_user && @current_user.authorized_to_edit?(@event_display.event) %>
            <%= link_to 'Admin', stage_event_path(@event_display.event), class: 'btn btn-sm btn-primary' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <%= link_to 'Plan my effort', plan_effort_course_path(@event_display.course), method: :get, class: 'btn btn-sm btn-primary' %>
      <%= link_to 'All-time best efforts', best_efforts_course_path(@event_display.course), class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
</div>

<% if @event_display.all_efforts_count < 1 %>
    <strong>No efforts yet associated with this event.</strong>
<% else %>
    <%= render 'effort_lookup', event: @event_display.event %>
    <% if @event_display.filtered_efforts_count > 0 %>
        <hr>
        <div class="row">
          <div class="col-xs-8">
            <h4><%= "Returned #{@event_display.filtered_efforts_count} of #{@event_display.all_efforts_count} efforts for #{@event_display.name}" %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <%= will_paginate(@event_display.filtered_efforts, inner_window: 2, outer_window: 0) %>
          </div>
        </div>

        <%= render 'efforts/efforts_list' %>

        <div class="row">
          <div class="col-xs-8">
            <%= will_paginate(@event_display.filtered_efforts, inner_window: 2, outer_window: 0) %>
          </div>
        </div>
    <% else %>
        <hr>
        <strong>No results match that search.</strong>
    <% end %>
<% end %>