<div class="row">
  <div class="col-xs-6">
    <h2><%= @event.name %></h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <strong><%= "#{@event.first_start_time.to_formatted_s(:long)}" %></strong><br/>
    <strong>Course:</strong>
    <%= link_to @event.course.name, course_path(@event.course) %>
    <% if @event.race %> |
        <strong>Race:</strong>
        <%= link_to @event.race.name, race_path(@event.race) %>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-8">
    <%= link_to '<< Show All Events', events_path, class: "btn btn-sm btn-default" %>
    <%= link_to '< Back', :back, class: "btn btn-sm btn-default" %>
    <%= link_to 'Full spread >>', spread_event_path(@event), class: "btn btn-sm btn-default" %>
    <% if @current_user && @current_user.authorized_to_edit?(@event) %>
        <%= link_to 'Stage/administer this event', stage_event_path(@event), class: "btn btn-sm btn-primary" %>
        <%= link_to 'Delete this event',
                    event_path(@event, referrer_path: events_path),
                    method: :delete,
                    data: {confirm: 'NOTE: This will delete the event and all associated efforts and split times. This action cannot be undone. Are you sure you want to go ahead?'},
                    class: 'btn btn-sm btn-danger' %>
    <% end %>
  </div>
</div>
<hr>
<% if @event.efforts.count < 1 %>
    <strong>No efforts yet associated with this event.</strong>
<% else %>
    <%= render 'lookup' %>
    <% if @efforts.count > 0 %>
        <hr>
        <div class="row">
          <div class="col-xs-8">
            <h4><%= "#{@event.efforts.count} efforts for #{@event.name}" %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <%= will_paginate(@efforts, inner_window: 2, outer_window: 0) %>
          </div>
        </div>

        <%= render 'efforts/effort_list', items: @efforts %>

        <div class="row">
          <div class="col-xs-8">
            <%= will_paginate(@efforts, inner_window: 2, outer_window: 0) %>
          </div>
        </div>
        <% else %>
        <hr>
        <strong>No results match that search.</strong>
    <% end %>
<% end %>