<% content_for :title do %>
    <% if params[:search].present? %>
        <% "OpenSplitTime: #{@presenter.name} - Results - #{params[:search]}" %>
    <% else %>
        <% "OpenSplitTime: #{@presenter.name} - Results" %>
    <% end %>
<% end %>

<% content_for(:container_type) do %>skip<% end %>

<!--<div class="row header">
  <div class="col-xs-5">
    <%= render 'event_info', view_object: @presenter, title: nil %>
    <div class="breadcrumb"><%= link_to 'Organizations', organizations_path %> / <%= link_to @presenter.organization.name, organization_path(@presenter.organization) %> / <%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %> / <%= @presenter.event.guaranteed_short_name %></div>
  </div>
  <div class="col-xs-12 page-navigation">
    <%= link_to_beacon_button(@presenter) %>
    <%= render 'view_buttons', view_object: @presenter %>
  </div>
</div>-->

<header class="ost-header container-fluid">
  <div class="container">
    <h1><strong><%= [@presenter.name, nil].compact.join(': ') %></strong></h1>
    <ul class="breadcrumb breadcrumb-ost">
      <li><%= link_to 'Organizations', organizations_path %></li>
      <li><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
      <li><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
      <li class="active"><%= @presenter.event.guaranteed_short_name %></li>
    </ul>
    <h5>Start Time: <strong><%= l(@presenter.event_start_time, format: :full_day_time_and_zone) %></strong></h5>
    <h5>Run on: <strong><%= link_to @presenter.course_name, course_path(@presenter.course) %></strong></h5>
    <%= link_to_beacon_button(@presenter) %>
    <%= render 'view_buttons', view_object: @presenter %>
  </div>
</header>

<aside class="ost-toolbar container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 page-navigation-left form-inline">
        <% if @presenter.ordered_events_within_group.many? %>
          <%= render 'event_groups/event_buttons', events: @presenter.ordered_events_within_group, current_event: @presenter.event %>
        <% end %>
        <select class="form-control">
          <option>Unstarted</option>
          <option>Started</option>
        </select>
      </div>
      <!--<div class="col-xs-6 page-navigation">
        <%= render 'feature_buttons', view_object: @presenter %>
      </div>-->
      <div class="col-xs-12 col-sm-6">
        <%= render 'effort_lookup', event: @presenter.event %>
      </div>
    </div>
  </div>
</aside>

<article class="container">
  <%= render 'show_efforts_list',
             view_object: @presenter,
             unfiltered_efforts_count: @presenter.efforts_count,
             filtered_efforts_count: @presenter.filtered_ranked_efforts_count,
             filtered_efforts: @presenter.filtered_ranked_efforts %>
</article>
