<% content_for :title do %>
  <% if params[:search].present? %>
    <% "OpenSplitTime: #{@presenter.name} - Results - #{params[:search]}" %>
  <% else %>
    <% "OpenSplitTime: #{@presenter.name} - Results" %>
  <% end %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
        <h1><strong><%= [@presenter.name, nil].compact.join(': ') %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
            <li class="breadcrumb-item active"><%= @presenter.event.guaranteed_short_name %></li>
          </ul>
        </div>
        <div class="ost-subtitle">
          <h6>Start Time: <strong><%= l(@presenter.event_start_time, format: :full_day_time_and_zone) %></strong></h6>
          <h6>Run on: <strong><%= link_to @presenter.course_name, course_path(@presenter.course) %></strong></h6>
          <%= link_to_beacon_button(@presenter) %>
        </div>
      </div>
    </div>
    <!-- Navigation -->
    <%= render 'view_buttons', view_object: @presenter %>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col form-inline">
        <% if @presenter.ordered_events_within_group.many? %>
          <%= render 'event_groups/event_buttons', events: @presenter.ordered_events_within_group, current_event: @presenter.event %>
        <% end %>
        <%= explore_dropdown_menu(@presenter) %>
      </div>
      <div class="col-12 col-md-6">
        <%= render 'effort_lookup', event: @presenter.event %>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <%= render 'show_efforts_list',
             view_object: @presenter,
             unfiltered_efforts_count: @presenter.efforts_count,
             filtered_efforts_count: @presenter.filtered_ranked_efforts_count,
             filtered_efforts: @presenter.filtered_ranked_efforts %>
</article>
