<% content_for :title do %>
    <% if params[:search].present? %>
        <% "OpenSplitTime: #{@event_display.name} - Results - #{params[:search]}" %>
    <% else %>
        <% "OpenSplitTime: #{@event_display.name} - Results" %>
    <% end %>
<% end %>

<div class="row header">
  <div class="col-xs-5">
    <%= render 'event_info', view_object: @event_display, title: 'Results' %>
  </div>
  <div class="col-xs-7 page-navigation">
    <div class="row">
      <%= link_to_beacon_button(@event_display) %>
      <%= link_to_enter_live_entry(@event_display, @current_user) %>
      <%= render 'view_buttons', view_object: @event_display %>
    </div>
    <div class="row">
      <%= render 'feature_buttons', view_object: @event_display %>
    </div>
  </div>
</div>

<div class="row mid">
  <div class="col-xs-5 page-navigation-left">
    <% if @event_display.ordered_events_within_group.many? %>
        <div class="btn-group">
          <% @event_display.ordered_events_within_group.each do |event| %>
              <%= link_to "#{event.name}",
                          event_path(event),
                          class: 'btn btn-sm btn-primary',
                          disabled: event == @event_display.event %>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class="col-xs-7 page-navigation">
  </div>
</div>

<% unless (@event_display.started_efforts_count < 1) && (@event_display.unstarted_efforts_count < 1) %>
    <%= render 'effort_lookup', event: @event_display.event %>
<% end %>

<% if @event_display.started_efforts_count < 1 %>
    <hr>
    <strong>No efforts have started yet.</strong>
<% else %>
    <% if @event_display.filtered_ranked_efforts_count > 0 %>
        <hr>
        <div class="row">
          <div class="col-xs-8">
            <strong><%= "Started efforts: Returned #{@event_display.filtered_ranked_efforts_count} of #{@event_display.started_efforts_count} for #{@event_display.name}" %></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <%= will_paginate(@event_display.filtered_ranked_efforts, param_name: 'started_page', inner_window: 2, outer_window: 0) %>
          </div>
        </div>

        <%= render 'efforts/efforts_list' %>

        <div class="row">
          <div class="col-xs-8">
            <%= will_paginate(@event_display.filtered_ranked_efforts, param_name: 'started_page', inner_window: 2, outer_window: 0) %>
          </div>
        </div>
    <% else %>
        <hr>
        <strong>No results match that search.</strong>
    <% end %>
<% end %>

<% if @event_display.unstarted_efforts_count > 0 %>
    <hr>
    <div class="row">
      <div class="col-xs-8">
        <strong><%= "Unstarted efforts: Returned #{@event_display.filtered_unstarted_efforts_count} of #{@event_display.unstarted_efforts_count} for #{@event_display.name}" %></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <%= will_paginate(@event_display.filtered_unstarted_efforts, param_name: 'unstarted_page', inner_window: 2, outer_window: 0) %>
      </div>
    </div>

    <%= render 'efforts/efforts_not_started' %>

    <div class="row">
      <div class="col-xs-8">
        <%= will_paginate(@event_display.filtered_unstarted_efforts, param_name: 'unstarted_page', inner_window: 2, outer_window: 0) %>
      </div>
    </div>
<% end %>
