<% if @associated_splits.count > 0 %>
    <div class="page-header">
      <div class="row">
        <div class="col-md-10">
          <h3><%= "Splits associated with #{@event.name}" %></h3>
        </div>
        <div class="col-md-2">
          <%= link_to "Remove all",
                      bulk_destroy_event_splits_path(event_id: @event.id,
                                                     id_array: make_event_split_id_array(@event.id, @associated_splits)),
                      :method => :delete,
                      :class => 'btn btn-sm btn-danger btn-margin-top' %>
        </div>
      </div>
    </div>

    <table class="table table-condensed table-striped">

      <thead>
      <tr>
        <th>Name</th>
        <th>Distance from Start</th>
        <th>Start/Finish/Waypoint</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @associated_splits.each do |split| %>
          <tr>
            <td><%= split.name %></td>
            <td><%= split.distance_from_start.meters.to.miles.round(1) %></td>
            <td><%= split.kind.titlecase %></td>
            <td>
              <%= link_to "Remove",
                          event_split_path(split.event_splits.find_by(event_id: @event.id)),
                          :method => :delete,
                          :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
      <% end %>
      </tbody>

    </table>
<% end %>

<% if @other_splits.count > 0 %>
    <div class="page-header">
      <div class="row">
        <div class="col-md-10">
          <h3><%= "Splits on #{@event.course.name} that may be associated with #{@event.name}" %></h3>
        </div>
        <div class="col-md-2">
          <%= link_to "Add all",
                      bulk_associate_splits_event_path(id: @event.id,
                                                       split_id_array: @other_splits.map(&:id)),
                      :method => :put,
                      :class => 'btn btn-sm btn-success btn-margin-top' %>
        </div>
      </div>
    </div>

    <table class="table table-condensed table-striped">

      <thead>
      <tr>
        <th>Name</th>
        <th>Distance from Start</th>
        <th>Start/Finish/Waypoint</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @other_splits.each do |split| %>
          <tr>
            <td><%= split.name %></td>
            <td><%= split.distance_from_start.meters.to.miles.round(1) %></td>
            <td><%= split.kind.titlecase %></td>
            <td>
              <%= link_to "Add",
                          associate_split_event_path(id: @event.id, split_id: split.id),
                          :method => :put,
                          :class => 'btn btn-xs btn-success' %>
            </td>
          </tr>
      <% end %>
      </tbody>

    </table>
<% end %>

<%= link_to 'Back to Event', event_path(id: @event.id),
            :class => 'btn btn-sm btn-primary' %>

