<div class="page-header">
  <h3>Splits associated with <%= @event.name %></h3>
</div>

<% if @associated_splits.count > 0 %>
    <table class="table table-condensed table-striped">

      <thead>
      <tr>
        <th>Name</th>
        <th>Distance from Start</th>
        <th>Start/Finish/Waypoint</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @associated_splits.each do |split| %>
          <tr>
            <td><%= split.name %></td>
            <td><%= split.distance_from_start.meters.to.miles.round(1) %></td>
            <td><%= split.kind.titlecase %></td>
            <td>
              <%= link_to "Remove",
                          event_split_path(split.event_splits.find_by(event_id: @event.id)),
                          :method => :delete,
                          :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
      <% end %>
      </tbody>

    </table>
<% else %>
    <p><strong>[None]</strong></p>
<% end %>

<div class="page-header">
  <h3>Splits that may be added to <%= @event.name %></h3>
</div>

<% if @other_splits.count > 0 %>
    <table class="table table-condensed table-striped">

      <thead>
      <tr>
        <th>Name</th>
        <th>Distance from Start</th>
        <th>Start/Finish/Waypoint</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @other_splits.each do |split| %>
          <tr>
            <td><%= split.name %></td>
            <td><%= split.distance_from_start.meters.to.miles.round(1) %></td>
            <td><%= split.kind.titlecase %></td>
            <td>
              <%= link_to "Add",
                          associate_split_event_path(id: @event.id, split_id: split.id),
                          :method => :put,
                          :class => 'btn btn-xs btn-success' %>
            </td>
          </tr>
      <% end %>
      </tbody>

    </table>
<% else %>
    <p><strong>[None]</strong></p>
<% end %>

<%= link_to 'Back to Event', event_path(id: @event.id),
            :class => 'btn btn-sm btn-primary' %>

