<div class="row">
  <h2><%= @event.name %></h2>
</div>
<div class="row">
  <strong><%= "#{@event.start_time.to_formatted_s(:long)}" %></strong><br/>
  <strong>Course:</strong>
  <%= link_to @event.course.name, course_path(@event.course) %>
  <% if @event.race %> |
      <strong>Race:</strong>
      <%= link_to @event.race.name, race_path(@event.race) %>
  <% end %>
</div>
<hr>
<div class="row">
  <%= link_to '<< Back to event', event_path(@event), class: 'btn btn-sm btn-default' %>
</div>
<hr>
<div class="row">
  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th>Bib #</th>
      <th>Name</th>
      <th>Category</th>
      <th>From</th>
      <% ordered_splits = @event.ordered_splits_without_start %>
      <% ordered_splits.each do |split| %>
          <th><%= split.name %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% time_array = @event.sorted_ultra_time_array %>
    <% efforts = Effort.efforts_from_ids(time_array.map { |x| x[0] }) %>
    <% time_array.each do |row| %>
        <tr>
          <% effort = efforts.find { |effort| effort.id == row[0] } %>
          <td><%= effort.bib_number %></td>
          <td><strong><%= link_to effort.full_name, effort_path(effort) %></strong></td>
          <td><%= effort.bio_historic %></td>
          <td><%= effort.state_and_country %></td>
          <%# Column 0 is effort_ids, column 1 is start data, so start on column 2 %>
          <% (2...row.size).each do |i| %>
              <td>
                <%= time_format_hhmm(row[i]) %>
              </td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>