<% content_for :title do %>
  <% "OpenSplitTime: Full results - #{@presenter.name}" %>
<% end %>

<% content_for(:container_type) do %>skip<% end %>

<!--<div class="row header">
  <div class="col-xs-5">
    <%= render 'event_info', view_object: @presenter, title: nil %>
    <div class="breadcrumb"><%= link_to 'Organizations', organizations_path %> / <%= link_to @presenter.organization.name, organization_path(@presenter.organization) %> / <%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %> / <%= link_to @presenter.event.guaranteed_short_name, event_path(@presenter.event) %> / <%= 'Full Results' %></div>
  </div>
  <div class="col-xs-7 page-navigation">
    <div class="row">
      <%= link_to_beacon_button(@presenter) %>
      <%= render 'view_buttons', view_object: @presenter %>
    </div>
    <div class="row">
      <%= link_to_download_spread_csv(@presenter, current_user) %>
    </div>
  </div>
</div>-->

<header class="ost-header container-fluid">
  <div class="container">
    <h1><strong><%= [@presenter.name, nil].compact.join(': ') %></strong></h1>
    <ul class="breadcrumb breadcrumb-ost">
      <li><%= link_to 'Organizations', organizations_path %></li>
      <li><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
      <li><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
      <li class="active"><%= @presenter.event.guaranteed_short_name %></li>
    </ul>
    <%= render 'view_buttons', view_object: @presenter %>
  </div>
</header>

<aside class="ost-toolbar container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 page-navigation-left form-inline">
        <% if @presenter.ordered_events_within_group.many? %>
          <%= render 'event_groups/event_buttons', events: @presenter.ordered_events_within_group, current_event: @presenter.event %>
        <% end %>

      </div>
      <div class="col-xs-12 col-sm-8 btn-toolbar">
        <div class="btn-group pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <%= @presenter.gender_text.titleize %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to_spread_gender(@presenter, 'combined') %></li>
            <li><%= link_to_spread_gender(@presenter, 'male') %></li>
            <li><%= link_to_spread_gender(@presenter, 'female') %></li>
          </ul>
        </div>

        <div class="btn-group pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <%= @presenter.display_style_text %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to_spread_display_style(@presenter, 'elapsed', 'Elapsed') %></li>
            <li><%= link_to_spread_display_style(@presenter, 'ampm', 'AM/PM') %></li>
            <li><%= link_to_spread_display_style(@presenter, 'military', '24-Hour') %></li>
            <li><%= link_to_spread_display_style(@presenter, 'segment', 'Segment') %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</aside>

<% if @presenter.show_partner_banners? %>
  <%= render 'partner_banner', partner: @presenter.partner_with_banner, organization_name: @presenter.organization_name %>
<% end %>

<article class="container">
<% cache "#{@presenter.cache_key}/html", expires_in: @presenter.cache_expire do %>
  <table class="table table-striped table-centered table-fixed-height">
    <thead>
    <tr>
      <th>O/G<br/><%= link_to_reversing_sort_heading('Place', :overall_rank, @presenter.existing_sort) %></th>
      <th><%= link_to_reversing_sort_heading('Bib', :bib_number, @presenter.existing_sort) %></th>
      <th><%= link_to_reversing_sort_heading('Name', 'last_name,first_name', @presenter.existing_sort) %></th>
      <th><%= link_to_reversing_sort_heading('Category', 'gender,age', @presenter.existing_sort) %></th>
      <th><%= link_to_reversing_sort_heading('From', :state_code, @presenter.existing_sort) %></th>
      <% spread_relevant_elements(@presenter.split_header_data).each do |header| %>
        <th class="text-nowrap text-center">
          <%= clustered_header(header) %>
        </th>
      <% end %>
      <% if @presenter.show_segment_totals? %>
        <th class="text-center text-nowrap">
          <%= clustered_segment_total_header %>
        </th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @presenter.effort_times_rows.each do |row| %>
      <tr>
        <td><%= "#{row.overall_rank}/#{row.gender_rank}" %></td>
        <td><%= row.bib_number %></td>
        <td class="text-nowrap"><strong><%= link_to row.full_name, effort_path(row.effort) %></strong></td>
        <td class="text-nowrap"><%= row.bio_historic %></td>
        <td class="text-nowrap"><%= row.flexible_geolocation %></td>
        <% spread_relevant_elements(row.time_clusters).each do |cluster| %>
          <td class="text-nowrap text-center">
            <% if cluster.drop_display? %>
              <strong><==DONE</strong>
            <% else %>
              <%= time_cluster_display_data(cluster, @presenter.display_style) %>
            <% end %>
          </td>
        <% end %>
        <% if @presenter.show_segment_totals? %>
          <td class="text-center text-nowrap">
            <%= clustered_segment_total_data(row) %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
</article>