<% content_for :title do %>
  <% "OpenSplitTime: Full results - #{@presenter.name}" %>
<% end %>

<div class="row header">
  <div class="col-xs-5">
    <%= render 'event_info', view_object: @presenter, title: nil %>
    <div class="breadcrumb"><%= link_to 'Organizations', organizations_path %> / <%= link_to @presenter.organization.name, organization_path(@presenter.organization) %> / <%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %> / <%= link_to @presenter.event.guaranteed_short_name, event_path(@presenter.event) %> / <%= 'Full Results' %></div>
  </div>
  <div class="col-xs-7 page-navigation">
    <div class="row">
      <%= link_to_beacon_button(@presenter) %>
      <%= render 'view_buttons', view_object: @presenter %>
    </div>
    <div class="row">
      <%= link_to_download_spread_csv(@presenter, current_user) %>
    </div>
  </div>
</div>

<div class="row mid">
  <div class="col-xs-5 page-navigation-left">
    <% if @presenter.ordered_events_within_group.many? %>
      <%= render 'event_groups/event_buttons', events: @presenter.ordered_events_within_group, current_event: @presenter.event %>
    <% end %>
  </div>

  <div class="col-xs-7 page-navigation">
    <div class="btn-group">
      <%= link_to_spread_gender(@presenter, 'combined') %>
      <%= link_to_spread_gender(@presenter, 'male') %>
      <%= link_to_spread_gender(@presenter, 'female') %>
    </div>

    <div class="btn-group">
      <%= link_to_spread_display_style(@presenter, 'elapsed', 'Elapsed') %>
      <%= link_to_spread_display_style(@presenter, 'ampm', 'AM / PM') %>
      <%= link_to_spread_display_style(@presenter, 'military', '24-Hour') %>
      <%= link_to_spread_display_style(@presenter, 'segment', 'Segment') %>
    </div>
  </div>
</div>

<% if @presenter.show_partner_banners? %>
  <%= render 'partner_banner', partner: @presenter.partner_with_banner, organization_name: @presenter.organization_name %>
<% end %>

<% cache "#{@presenter.cache_key}/html", expires_in: @presenter.cache_expire do %>
  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th>O/G<br/><%= link_to_reversing_sort_heading('Place', :overall_rank, @presenter.existing_sort) %></th>
      <th><%= link_to_reversing_sort_heading('Bib', :bib_number, @presenter.existing_sort) %></th>
      <th><%= link_to_reversing_sort_heading('Name', 'last_name,first_name', @presenter.existing_sort) %></th>
      <th><%= link_to_reversing_sort_heading('Category', 'gender,age', @presenter.existing_sort) %></th>
      <th><%= link_to_reversing_sort_heading('From', :state_code, @presenter.existing_sort) %></th>
      <% spread_relevant_elements(@presenter.split_header_data).each do |header| %>
        <th class="text-nowrap text-center">
          <%= clustered_header(header) %>
        </th>
      <% end %>
      <% if @presenter.show_segment_totals? %>
        <th class="text-center text-nowrap">
          <%= clustered_segment_total_header %>
        </th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @presenter.effort_times_rows.each do |row| %>
      <tr>
        <td><%= "#{row.overall_rank}/#{row.gender_rank}" %></td>
        <td><%= row.bib_number %></td>
        <td class="text-nowrap"><strong><%= link_to row.full_name, effort_path(row.effort) %></strong></td>
        <td class="text-nowrap"><%= row.bio_historic %></td>
        <td class="text-nowrap"><%= row.flexible_geolocation %></td>
        <% spread_relevant_elements(row.time_clusters).each do |cluster| %>
          <td class="text-nowrap text-center">
            <% if cluster.drop_display? %>
              <strong><==DONE</strong>
            <% else %>
              <%= time_cluster_display_data(cluster, @presenter.display_style) %>
            <% end %>
          </td>
        <% end %>
        <% if @presenter.show_segment_totals? %>
          <td class="text-center text-nowrap">
            <%= clustered_segment_total_data(row) %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
