<% content_for :title do %>
    <% "OpenSplitTime: Stage/administer event - #{@event_stage.name}" %>
<% end %>
<div class="row header">
  <div class="col-xs-5">
    <h2><strong><%= @event_stage.name %></strong>
    </h2>
    <h4>
      <%= "Start Time: #{l(@event_stage.start_time, format: :full_with_weekday)} at #{l(@event_stage.start_time, format: :ampm)}" %>
      <br/>
      Run on <%= link_to @event_stage.course_name, course_path(@event_stage.course) %>
      <% if @event_stage.race %>
          <br/>Organized under <%= link_to @event_stage.race_name, race_path(@event_stage.race) %>
      <% end %>
    </h4>
  </div>
  <div class="col-xs-7 page-navigation">
    <div class="row">
      <%= link_to_enter_live_entry(@event_stage, @current_user) %>
      <%= render 'view_buttons', view_object: @event_stage %>
    </div>
    <div class="row">
      <% if @current_user && @current_user.authorized_to_edit?(@event_stage.event) %>
          <%= link_to_toggle_live_entry(@event_stage) %>
          <%= link_to_stewards(@event_stage) %>
          <%= link_to_edit_event(@event_stage) %>
          <% if @event_stage.started? %>
              <%= link_to_set_data_status(@event_stage) %>
              <% unless @event_stage.available_live %>
                  <%= link_to_set_dropped_attributes(@event_stage) %>
                  <%= link_to_ultrasignup_export(@event_stage) %>
              <% end %>
          <% else %>
              <%= link_to_start_all_efforts(@event_stage) %>
          <% end %>
          <%= link_to_delete_event(@event_stage) %>
      <% end %>
    </div>
  </div>
</div>

<% if @current_user && @current_user.authorized_to_edit?(@event_stage.event) %>
    <div class="article-actions">
      <div class="row">
        <div class="col-xs-4">
          <%= link_to 'Create split', new_split_path(event_id: @event_stage.id), class: 'btn btn-sm btn-success' %>
          <% unless @event_stage.course.simple? %>
              <%= link_to 'Associate or remove splits', splits_event_path, class: 'btn btn-sm btn-success' %>
          <% end %>
        </div>
        <div class="col-xs-4">
          <%= link_to 'Create effort', new_effort_path(event_id: @event_stage.id), class: 'btn btn-sm btn-success' %>
          <% if @event_stage.unreconciled_efforts? %>
              <%= link_to 'Reconcile with participants', reconcile_event_path, class: 'btn btn-sm btn-success' %>
          <% end %>
          <% if @event_stage.efforts_count > 0 %>
              <%= link_to 'Delete all efforts', delete_all_efforts_event_path,
                          method: :delete,
                          data: {confirm: 'NOTE: This will delete all efforts and split times for this event. This action cannot be undone. Are you sure you want to go ahead?'},
                          class: 'btn btn-sm btn-danger' %>
          <% end %>
        </div>
        <div class="col-xs-4">
          <div class="text-right">
            <% if @event_stage.available_live %>
                <strong><%= @event_stage.beacon_url ? 'Modify event locator beacon link: ' : 'Add link to event locator beacon:' %></strong>
                <a href="#" id="beacon-link" data-type="text" data-pk="1" data-placement="left" data-title="Paste a link to TrackLeaders or other event locator site here:"><%= "#{@event_stage.beacon_url}" %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>
<hr>
<div class="row">
  <div class="col-xs-4">
    <strong>Splits associated with event / on this course:</strong>
    <%= link_to @event_stage.event_splits_count, splits_event_path(@event_stage.event) %>
    / <%= link_to @event_stage.course_splits_count, course_path(@event_stage.course) %><br/>
    <% if @current_user && @current_user.authorized_to_edit?(@event_stage.event) %>
        <strong>Import Splits for this Event</strong>
        <%= form_tag({action: :import_splits}, multipart: true) do %>
            <%= file_field_tag :file, id: 'file-splits' %>
            <%= submit_tag 'Import Splits', id: 'submit-splits', disabled: true, class: 'btn btn-xs btn-success' %>
        <% end %>
    <% end %>
  </div>
  <div class="col-xs-4">
    <strong>Associated Efforts:</strong>
    <%= @event_stage.efforts_count %>
    <% if @event_stage.unreconciled_efforts? %>
        <%= "(#{@event_stage.unreconciled_efforts.size} unreconciled)" %>
    <% elsif @event_stage.efforts_count > 0 %>
        (All reconciled)
    <% end %>
    <br/>
    <% if @current_user && @current_user.authorized_to_edit?(@event_stage.event) %>
        <strong>Import Efforts With Time Data</strong>
        <%= form_tag({action: :import_efforts}, multipart: true) do %>
            <%= file_field_tag :file, id: 'file-efforts-with-times' %>
            <%= submit_tag 'Import efforts and elapsed times', id: 'submit-efforts-with-times', disabled: true, class: 'btn btn-xs btn-success' %>
        <% end %>
        <%= form_tag({action: :import_efforts_military_times}, multipart: true) do %>
            <%= file_field_tag :file, id: 'file-efforts-with-military-times' %>
            <%= submit_tag 'Import efforts and military times', id: 'submit-efforts-with-military-times', disabled: true, class: 'btn btn-xs btn-success' %>
        <% end %>
    <% end %>
  </div>
  <div class="col-xs-4">
    <% if @current_user && @current_user.authorized_to_edit?(@event_stage.event) %>
        <strong>Import Efforts Without Time Data</strong>
        <%= form_tag({action: :import_efforts_without_times}, multipart: true) do %>
            <%= file_field_tag :file, id: 'file-efforts-without-times' %>
            <%= submit_tag 'Import efforts (no times)', id: 'submit-efforts-without-times', disabled: true, class: 'btn btn-xs btn-success' %>
        <% end %>
    <% end %>
  </div>
</div>
<div class="row header">
  <div class="col-xs-5">
    <h3><%= @event_stage.view_text.titleize %></h3>
  </div>
  <div class="col-xs-7 page-navigation">
    <div class="row">
      <div class="btn-group">
        <%= link_to 'Show splits',
                    stage_event_path(@event_stage.event, view: 'splits'),
                    disabled: @event_stage.view_text == 'splits',
                    class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Show efforts',
                    stage_event_path(@event_stage.event, view: 'efforts', search: params[:search]),
                    disabled: @event_stage.view_text == 'efforts',
                    class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Show problems',
                    stage_event_path(@event_stage.event, view: 'problems', search: params[:search]),
                    disabled: @event_stage.view_text == 'problems',
                    class: 'btn btn-sm btn-primary',
                    search: params[:search] %>
      </div>
    </div>
  </div>
</div>

<% if @event_stage.view_text == 'splits' %>
    <% if @event_stage.event_splits_count > 0 %>
        <%= render 'splits/splits', splits: @event_stage.associated_splits, referred_by: stage_event_path(@event_stage.event) %>
    <% else %>
        <h4>No splits are associated with this event.</h4>
    <% end %>
<% else %>
    <% if @event_stage.efforts_count < 1 %>
        <strong>No efforts are associated with this event.</strong>
    <% else %>
        <%= render 'effort_lookup_stage', event: @event_stage.event %>
        <% if @event_stage.filtered_efforts_count > 0 %>
            <hr>
            <div class="row">
              <div class="col-xs-8">
                <strong><%= "Returned #{@event_stage.filtered_efforts_count} of #{@event_stage.efforts_count} efforts for #{@event_stage.name}" %></strong>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-8">
                <%= will_paginate(@event_stage.filtered_efforts, inner_window: 2, outer_window: 0) %>
              </div>
            </div>

            <%= render 'efforts/efforts_list_stage', efforts: @event_stage.event_efforts %>

            <div class="row">
              <div class="col-xs-8">
                <%= will_paginate(@event_stage.filtered_efforts, inner_window: 2, outer_window: 0) %>
              </div>
            </div>
        <% else %>
            <hr>
            <strong>No results match that search.</strong>
        <% end %>
    <% end %>
<% end %>

<script>
    $('#beacon-link').editable({
        type: 'text',
        emptytext: 'Click here',
        url: '<%= add_beacon_event_path(@event_stage.event) %>',
        pk: 1,
        title: 'Paste link:',
        ajaxOptions: {
            type: 'get',
            dataType: 'script'
        }
    });
</script>