<% content_for :title do %>
    <% "OpenSplitTime: Stage/administer event - #{@event_stage.name}" %>
<% end %>
<div class="row header">
  <div class="col-xs-5">
    <%= render 'event_info', view_object: @event_stage, title: "Admin #{@event_stage.concealed_text}" %>
  </div>
  <div id='<%= "event_#{@event_stage.id}" %>' class="col-xs-7 page-navigation">
    <div class="row">
      <%= link_to_enter_group_live_entry(@event_stage, current_user) %>
      <%= render 'view_buttons', view_object: @event_stage %>
    </div>
    <div class="row">
      <%= link_to_edit_event(@event_stage) %>
      <% if @event_stage.started? %>
          <%= link_to_update_start_time(@event_stage) %>
          <%= link_to_set_data_status(@event_stage) %>
          <% unless @event_stage.available_live %>
              <%= link_to_set_stops(@event_stage) %>
              <%= link_to_ultrasignup_export(@event_stage) %>
          <% end %>
      <% end %>
      <%= link_to_start_ready_efforts(@event_stage) %>
      <% if current_user&.authorized_fully?(@event_stage.event) %>
          <%= link_to_delete_event(@event_stage) %>
      <% end %>
    </div>
  </div>
</div>

<div class="row mid">
  <div class="col-xs-5 page-navigation-left">
    <% if @event_stage.ordered_events_within_group.many? %>
      <%= render 'event_groups/event_buttons', events: @event_stage.ordered_events_within_group, current_event: @event_stage.event %>
    <% end %>
  </div>

  <div class="col-xs-7 page-navigation">
    <div class="row">
      <div class="btn-group">
        <%= link_to_display_style(@event_stage, 'splits', 'Splits') %>
        <%= link_to_display_style(@event_stage, 'efforts', 'Efforts') %>
        <%= link_to_display_style(@event_stage, 'problems', 'Problem efforts') %>
        <%= link_to_display_style(@event_stage, 'partners', 'Partners') %>
        <%= link_to_display_style(@event_stage, 'times', 'Entered times') %>
      </div>
    </div>
  </div>
</div>

<% if @event_stage.display_style == 'splits' %>
    <% if @event_stage.associated_splits.present? %>
        <%= render 'splits/splits', splits: @event_stage.associated_splits, referred_by: stage_event_path(@event_stage.event) %>
        <%= link_to 'Export splits', splits_path(format: :csv, params: {filter: {id: @event_stage.associated_splits.map(&:id)},
                                                                        sort: :distance_from_start}),
                    class: 'btn btn-sm btn-primary' %>
    <% else %>
        <h4>No splits are associated with this event.</h4>
    <% end %>
<% elsif @event_stage.display_style == 'partners' %>
    <%= render 'partner_list', partners: @event_stage.partners, view_model: @event_stage %>
<% elsif @event_stage.display_style == 'times' %>
    <%= render 'live_times_list', live_times: @event_stage.filtered_live_times, view_model: @event_stage %>
<% elsif @event_stage.display_style == 'problems' %>
    <%= render 'stage_efforts_list' %>
<% else %>
    <div class="row mid">
      <div class="col-xs-4 page-navigation-left">
        <strong>Manage Efforts:</strong>
        <%= @event_stage.efforts_count %>
        <% if @event_stage.unreconciled_efforts? %>
            <%= "(#{@event_stage.unreconciled_efforts.size} unreconciled)" %>
        <% elsif @event_stage.efforts_count > 0 %>
            (All reconciled)
        <% end %>
        <br/>
        <%= link_to 'Create effort', new_effort_path(event_id: @event_stage.id), class: 'btn btn-sm btn-success' %>
        <% if @event_stage.efforts_count > 0 && current_user&.authorized_fully?(@event_stage.event) %>
            <%= link_to 'Delete all efforts', delete_all_efforts_event_path,
                        method: :delete,
                        data: {confirm: 'NOTE: This will delete all efforts and split times for this event. ' +
                            'This action cannot be undone. Are you sure you want to go ahead?'},
                        class: 'btn btn-sm btn-danger' %>
        <% end %>
        <% if @event_stage.unreconciled_efforts? %>
            <%= link_to 'Reconcile efforts', reconcile_event_path, class: 'btn btn-sm btn-success' %>
        <% end %>
      </div>

      <div class="col-xs-4 page-navigation-left">
        <strong>Import Efforts With Elapsed Times</strong>
        <%= form_with url: import_api_v1_event_path(@event_stage.event), multipart: true do %>
            <%= hidden_field_tag 'data_format', 'csv_efforts_elapsed_times' %>
            <%= file_field_tag :file, id: 'file-efforts-with-times' %>
            <%= submit_tag 'Import', id: 'submit-efforts-with-times', disabled: true, data: { "disable-with": "Importing..." }, class: 'btn btn-xs btn-success' %>
        <% end %>
      </div>

      <div class="col-xs-4 page-navigation-left">
        <strong>Import Efforts With Absolute Times</strong>
        <%= form_with url: import_api_v1_event_path(@event_stage.event), multipart: true do %>
          <%= hidden_field_tag 'data_format', 'csv_efforts_military_times' %>
          <%= file_field_tag :file, id: 'file-efforts-with-military-times' %>
          <%= submit_tag 'Import', id: 'submit-efforts-with-military-times', disabled: true, data: { "disable-with": "Importing..." }, class: 'btn btn-xs btn-success' %>
        <% end %>
      </div>
    </div>

    <%= render 'stage_efforts_list' %>
<% end %>

<script>
    document.addEventListener("turbolinks:load", function () {

        var uID = '<%= session.id %>';
        var pusher = new Pusher('<%= ENV['PUSHER_KEY'] %>');
        var channel = pusher.subscribe('progress_' + uID);
        var firstUpdate = true;

        channel.bind('update', function (data) {
            if (firstUpdate) {
                progressDiv.removeClass('hide');
                firstUpdate = false;
            }
            progressBar.width(data.progress + "%");
            messageBox.html(data.message);
        });

        var progressDiv = $('#progress-bar-with-messages');
        var messageBox = $('#progress-bar-with-messages').children('.progress-bar-title');
        var progressBar = $('#realtime-progress-bar');
    })

</script>
