<% content_for :title do %>
  <% "OpenSplitTime: Summary - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col-8">
        <div class="ost-title">
        <h1><strong><%= [@presenter.name, nil].compact.join(': ') %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost hidden-print">
            <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
            <li class="breadcrumb-item"><%= @presenter.event.guaranteed_short_name %></li>
            <li class="breadcrumb-item active">Results summary</li>
          </ul>
        </div>
      </div>
      <div class="col-4 text-right">
        <%= render 'shared/print_info' %>
      </div>
    </div>
    <!-- Navigation -->
    <%= render 'view_buttons', view_object: @presenter %>
  </div>
</header>


<aside class="ost-toolbar hidden-print">
  <div class="container">
    <div class="row">
      <%= render 'event_groups/event_widget', events: @presenter.ordered_events_within_group, current_event: @presenter.event %>
      <div class="col form-inline">
        <%= explore_dropdown_menu(@presenter) %>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <% if @presenter.ranked_effort_rows.present? %>
    <%= render 'efforts/efforts_list_summary', view_object: @presenter %>
  <% else %>
    <h4><strong>No entrants have been added to this event.</strong></h4>
  <% end %>
</article>
