<%# locals: (connect_service_presenter:) %>

<div class="card" id="event_group_card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h4 class="card-title mt-1"><%= "Event Group: #{connect_service_presenter.event_group_name}" %></h4>
      </div>
      <div class="col text-end">
        <% if connect_service_presenter.all_credentials_present? %>
          <%= fa_icon("circle-check", type: :regular, text: t(".credentials_present"), class: "text-success") %>
        <% else %>
          <%= fa_icon("circle-xmark", type: :regular, text: t(".credentials_missing"), class: "text-danger") %>
        <% end %>
        <% if connect_service_presenter.error_message.present? %>
          <br/>
          <%= fa_icon("circle-xmark", type: :regular, text: connect_service_presenter.error_message, class: "text-danger") %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <%= render partial: "event_groups/connections/form",
               locals: {
                 connection: connect_service_presenter.connection,
                 service: connect_service_presenter.service,
               } %>
    <% if connect_service_presenter.error_message.blank? %>
      <div class="px-3">
        <% if connect_service_presenter.no_sources_found? %>
          <%= render partial: "shared/callout_with_link",
                     locals: {
                       callout_color: "warning",
                       icon_name: "triangle-exclamation",
                       icon_color: "warning",
                       detail_paragraphs: t(".no_events_returned")
                     } %>
        <% elsif connect_service_presenter.no_sources_in_time_frame? %>
          <%= render partial: "shared/callout_with_link",
                     locals: {
                       callout_color: "warning",
                       icon_name: "triangle-exclamation",
                       icon_color: "warning",
                       detail_paragraphs: t(".no_events_in_timeframe", event_group_name: connect_service_presenter.event_group_name)
                     } %>
        <% else %>
          <%= render partial: "shared/callout_with_link",
                     locals: {
                       icon_name: "circle-check",
                       detail_paragraphs: t(".connect_events")
                     } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
