<%# locals: (event_group_setup_presenter:, connect_service_presenter:) %>

<% content_for :title do %>
  <% "OpenSplitTime: Event Group - Connect Service - RunSignup - #{event_group_setup_presenter.event_group.name}" %>
<% end %>

<%= render "shared/mode_widget", event_group: event_group_setup_presenter.event_group %>
<%= render "event_groups/setup_header", presenter: event_group_setup_presenter, breadcrumbs: ["Connect Service", "RunSignup"] %>

<article class="ost-article container">
  <h3 class="h3 fw-bold mb-3">Connect to RunSignup</h3>

  <%= render partial: "event_groups/connect_service/runsignup/event_group_card",
             locals: {
               event_group_setup_presenter: event_group_setup_presenter,
               connect_service_presenter: connect_service_presenter
             } %>

  <hr/>
  <h4 class="fw-bold">Events</h4>
  <%= render partial: "event_groups/connect_service/runsignup/event_cards",
             locals: { event_group_setup_presenter: event_group_setup_presenter } %>

  <hr/>
  <div class="row mb-3">
    <div class="col">
      <%= link_to "Back to setup",
                  setup_event_group_path(event_group_setup_presenter.event_group, display_style: :entrants),
                  class: "btn btn-outline-secondary" %>
    </div>
  </div>
</article>
