<%# locals: (presenter:) -%>

<div id="<%= dom_id(presenter.lottery, :service_form_card) %>">
  <div class="card mt-4">
    <div class="card-header">
      <div class="row pt-1">
        <div class="col">
          <div class="h2 fw-bold">Service Form</div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row text-center">
        <% if @lottery.service_form.attached? %>
          <div class="fs-4">Service form has been uploaded</div>
          <div><%= image_tag @lottery.service_form %></div>
          <div class="d-flex mt-3 justify-content-center gap-2">
            <%= button_to "Remove",
                          remove_service_form_organization_lottery_path(@lottery.organization, @lottery),
                          method: :delete,
                          class: "btn btn-outline-danger" %>
            <%= link_to "Download",
                        download_service_form_organization_lottery_path(@lottery.organization, @lottery),
                        target: "_blank",
                        rel: "noopener",
                        class: "btn btn-outline-success" %>
          </div>
        <% else %>
          <%= form_with(
                model: [@lottery.organization, @lottery],
                url: attach_service_form_organization_lottery_path(@lottery.organization, @lottery),
                local: true,
                html: { class: "form-horizontal",
                        data: {
                          turbo: false,
                          controller: "form-disable-submit",
                        }
                },
              ) do |f| %>

            <div class="mb-3 text-center">
              <div class="dropzone dropzone-default dz-clickable"
                   data-controller="dropzone"
                   data-dropzone-max-file-size="2"
                   data-dropzone-max-files="1"
                   data-dropzone-accepted-files=".pdf"
                   data-action="dropzone:success->form-disable-submit#enableSubmitButton"
              >
                <%= f.file_field :service_form, direct_upload: true, data: { "dropzone-target" => "input" } %>
                <div class="dropzone-msg dz-message needsclick text-muted">
                  <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
                  <span class="dropzone-msg-desc text-sm">2 MB file size maximum. File must be a pdf file.</span>
                </div>
              </div>
            </div>

            <%= f.hidden_field :parent_type %>
            <%= f.hidden_field :parent_id %>
            <%= f.hidden_field :format %>

            <div class="mb-3 text-center">
              <%= f.submit("Attach", class: "btn btn-primary") %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
