<!--Requires local variable `entrants`-->

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th class="text-center">Order</th>
    <th>Name</th>
    <th>Gender</th>
    <th>From</th>
    <th class="text-center">Withdrawn?</th>
    <th class="text-center">Service Form Received</th>
    <th class="text-center">Completed?</th>
  </tr>
  </thead>
  <tbody>
  <% entrants.each.with_index(1) do |entrant, index| %>
    <tr>
      <td class="text-center"><%= index %></td>
      <td><%= entrant.name %></td>
      <td><%= entrant.gender.titleize %></td>
      <td><%= entrant.flexible_geolocation %></td>
      <td class="text-center"><%= render partial: "lottery_entrants/withdrawn_form", locals: { organization: @presenter.organization, lottery: @presenter.lottery, entrant: entrant } %></td>
      <td class="text-center"><%= render partial: "lottery_entrants/service_completed_form", locals: { organization: @presenter.organization, lottery: @presenter.lottery, entrant: entrant } %></td>
      <td class="text-center"><%= render partial: "lottery_entrants/service_completed_indicator", locals: { entrant: entrant } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
