<% content_for :title do %>
  <% "OpenSplitTime: Draw Tickets for Lottery - #{@presenter.name}" %>
<% end %>

<%= render "lotteries/header", presenter: @presenter, breadcrumbs: ["Draw Tickets"] %>

<article class="ost-article container-fluid">
  <div class="row">
    <div class="col text-center">
      <h1><strong>Draw Lottery Tickets</strong></h1>
      <hr/>
    </div>
  </div>
  <div class="row horizontal-scroll">
  <% if @presenter.lottery_tickets.present? %>
      <% @presenter.ordered_divisions.each do |division| %>
        <%= turbo_stream_from division, :lottery_draws, class: "d-none" %>
        <%= turbo_stream_from division, :lottery_draw_header, class: "d-none" %>
        <div class="col-12 col-md-6 col-lg-4 col-xl">
          <%= render partial: "lottery_divisions/draw_tickets_header", locals: { lottery_division: division } %>
          <hr/>
          <div id="<%= dom_id(division, :lottery_draws) %>">
            <%= render partial: "lottery_draws/lottery_draw_admin", collection: division.draws.with_entrant_and_ticket.most_recent_first, as: :lottery_draw %>
          </div>
          <hr/>
        </div>
      <% end %>
  <% else %>
      <div class="col">
        <h4 class="text-center">No tickets have been generated yet</h4>
      </div>
  <% end %>
  </div>
</article>
