<% content_for :title do %>
  <% "OpenSplitTime: Draw Tickets for Lottery - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong><%= "#{@presenter.name}" %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to "Organizations", organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_lotteries_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to "Lotteries", organization_lotteries_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.name, organization_lottery_path(@presenter.organization, @presenter.lottery) %></li>
            <li class="breadcrumb-item">Draw Tickets</li>
          </ul>
        </div>
        <div class="ost-subtitle">
          <p><%= l(@presenter.scheduled_start_date, format: :full_with_weekday) %></p>
        </div>
      </div>
      <aside class="col-auto">
        <%= link_to "Public", organization_lottery_path(@presenter.organization, @presenter.lottery), class: "btn btn-outline-secondary" %>
      </aside>
    </div>
    <!-- Navigation -->
    <ul class="nav nav-tabs nav-tabs-ost">
      <%= content_tag :li, class: "nav-item #{'active' if @presenter.action_name == 'setup'}" do
        link_to "Setup", setup_organization_lottery_path(@presenter.organization, @presenter.lottery)
      end %>
      <%= content_tag :li, class: "nav-item #{'active' if @presenter.action_name == 'draw_tickets'}" do
        link_to "Draw Tickets", draw_tickets_organization_lottery_path(@presenter.organization, @presenter.lottery)
      end %>
    </ul>
  </div>
</header>

<article class="ost-article container">
  <div class="row">
    <div class="col text-center">
      <h1><strong>Draw Lottery Tickets</strong></h1>
      <hr/>
    </div>
  </div>
  <% if @presenter.lottery_tickets.present? %>
    <div class="row">
      <% @presenter.divisions.each do |division| %>
        <%= turbo_stream_from division, :lottery_draws %>
        <div class="col">
          <h2 class="text-center"><strong><%= division.name %></strong></h2>
          <hr/>

          <div class="btn-group btn-lg btn-block p-0">
            <%= link_to "Draw a Ticket", draw_organization_lottery_path(@presenter.organization, @presenter.lottery, division_id: division.id),
                        method: :post,
                        class: "btn btn-lg btn-block btn-danger font-weight-bold" %>
            <% if division.entrants.pre_selected.present? %>
              <button class="btn btn-lg btn-danger font-weight-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item disabled" href="#">Pre-Selected Entrants</a>
                <div class="dropdown-divider"></div>
                <% division.entrants.pre_selected.each do |entrant| %>
                  <%= link_to "Draw #{entrant.full_name}", draw_organization_lottery_lottery_entrant_path(@presenter.organization, @presenter.lottery, entrant),
                              method: :post,
                              disabled: entrant.drawn?,
                              class: "dropdown-item" %>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="card mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                  <h6>Winners</h6>
                </div>
                <div class="col-9">
                  <div class="progress">
                    <%= bootstrap_progress_bar(min_value: 0, max_value: division.maximum_entries, current_value: division.winning_entrants.count) %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <h6>Waitlist</h6>
                </div>
                <div class="col-9">
                  <div class="progress">
                    <%= bootstrap_progress_bar(min_value: 0, max_value: division.maximum_wait_list, current_value: division.wait_list_entrants.count) %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <h6>Picks</h6>
                </div>
                <div class="col-9">
                  <div class="progress">
                    <%= bootstrap_progress_bar(min_value: 0, max_value: division.entrants.pre_selected.count, current_value: division.entrants.pre_selected.drawn_and_ordered.count) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr/>

          <div id="<%= dom_id(division, :lottery_draws) %>">
            <%= render partial: "lottery_draws/lottery_draw_admin", collection: division.reverse_loaded_draws, as: :lottery_draw %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="row">
      <div class="col">
        <h4 class="text-center">No tickets have been generated yet</h4>
      </div>
    </div>
  <% end %>
</article>
