<% content_for :title do %>
  <% "OpenSplitTime: Draw Tickets for Lottery - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong><%= "#{@presenter.name}" %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to "Organizations", organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_lotteries_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to "Lotteries", organization_lotteries_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.name, organization_lottery_path(@presenter.organization, @presenter.lottery) %></li>
            <li class="breadcrumb-item">Draw Tickets</li>
          </ul>
        </div>
        <div class="ost-subtitle">
          <p><%= l(@presenter.scheduled_start_date, format: :full_with_weekday) %></p>
        </div>
      </div>
      <aside class="col-auto">
        <%= link_to "Public", organization_lottery_path(@presenter.organization, @presenter.lottery), class: "btn btn-outline-secondary" %>
      </aside>
    </div>
    <!-- Navigation -->
    <ul class="nav nav-tabs nav-tabs-ost">
      <%= content_tag :li, class: "nav-item #{'active' if @presenter.action_name == 'setup'}" do
        link_to "Setup", setup_organization_lottery_path(@presenter.organization, @presenter.lottery)
      end %>
      <%= content_tag :li, class: "nav-item #{'active' if @presenter.action_name == 'draw_tickets'}" do
        link_to "Draw Tickets", draw_tickets_organization_lottery_path(@presenter.organization, @presenter.lottery)
      end %>
    </ul>
  </div>
</header>

<article class="ost-article container">
  <div class="row">
    <div class="col text-center">
      <h1><strong>Draw Lottery Tickets</strong></h1>
      <hr/>
    </div>
  </div>
  <div class="row">
  <% if @presenter.lottery_tickets.present? %>
      <% @presenter.ordered_divisions.each do |division| %>
        <%= turbo_stream_from division, :lottery_draws %>
        <%= turbo_stream_from division, :lottery_draw_header %>
        <div class="col-12 col-md">
          <%= render "lottery_divisions/draw_tickets_header", division: division %>
          <hr/>
          <div id="<%= dom_id(division, :lottery_draws) %>">
            <%= render partial: "lottery_draws/lottery_draw_admin", collection: division.draws.with_entrant_and_ticket.most_recent_first, as: :lottery_draw %>
          </div>
          <hr/>
        </div>
      <% end %>
  <% else %>
      <div class="col">
        <h4 class="text-center">No tickets have been generated yet</h4>
      </div>
  <% end %>
  </div>
</article>
