<% content_for :title do %>
  <% "OpenSplitTime: Draw Tickets for Lottery - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong><%= "#{@presenter.name}" %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to "Organizations", organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_lotteries_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to "Lotteries", organization_lotteries_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.name, organization_lottery_path(@presenter.organization, @presenter.lottery) %></li>
            <li class="breadcrumb-item">Setup</li>
          </ul>
        </div>
        <div class="ost-subtitle">
          <p><%= l(@presenter.scheduled_start_date, format: :full_with_weekday) %></p>
        </div>
      </div>
      <aside class="col-auto">
        <%= link_to "Public", organization_lottery_path(@presenter.organization, @presenter.lottery), class: "btn btn-outline-secondary" %>
      </aside>
    </div>
    <!-- Navigation -->
    <ul class="nav nav-tabs nav-tabs-ost" data-turbo="false">
      <%= content_tag :li, class: "nav-item #{'active' if @presenter.action_name == 'setup'}" do
        link_to "Setup", setup_organization_lottery_path(@presenter.organization, @presenter.lottery)
      end %>
      <%= content_tag :li, class: "nav-item #{'active' if @presenter.action_name == 'draw_tickets'}" do
        link_to "Draw Tickets", draw_tickets_organization_lottery_path(@presenter.organization, @presenter.lottery)
      end %>
    </ul>
  </div>
</header>

<aside class="ost-toolbar" data-controller="roster">
  <div class="container">
    <div class="row">
      <div class="col form-inline">
        <div>
          <%= link_to "Edit lottery", edit_organization_lottery_path(@presenter.organization, @presenter.lottery), class: "btn btn-primary" %>
          <div class="btn-group" data-controller="">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="import-dropdown-button" data-toggle="dropdown" aria-expanded="false">
              Import
            </button>
            <div class="dropdown-menu">
              <%= link_to "Lottery entrants",
                          new_import_job_path(import_job: {parent_type: "Lottery", parent_id: @presenter.lottery.id, format: :lottery_entrants}),
                          class: "dropdown-item" %>
              <%= link_to "Generate entrants",
                          generate_entrants_organization_lottery_path(@presenter.organization, @presenter.lottery),
                          method: :post,
                          data: {confirm: "This will generate 25 random lottery entrants distributed across all divisions. Proceed?"},
                          class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Download template", export_entrants_organization_lottery_path(@presenter.organization, @presenter.lottery, format: :csv, params: {filter: {id: 0}}), format: :csv, class: "dropdown-item" %>
            </div>
          </div>
          <% if @presenter.lottery_tickets.present? %>
            <%= link_with_strong_confirm("Delete tickets", delete_tickets_organization_lottery_path(@presenter.organization, @presenter.lottery),
                                         class: "btn btn-outline-secondary text-danger",
                                         message: "This action will permanently delete all tickets and draws from the #{@presenter.name} lottery.",
                                         required_pattern: "DELETE TICKETS",
                                         strong_confirm_id: "strong-confirm-tickets-lottery-#{@presenter.lottery.id}") %>
          <% else %>
            <%= link_to "Generate tickets", generate_tickets_organization_lottery_path(@presenter.organization, @presenter.lottery),
                        method: :post,
                        class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <div class="card mt-4">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h2><strong>Divisions</strong></h2>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th class="text-center">Winner Slots</th>
          <th class="text-center">Wait List Slots</th>
          <th class="text-center">Entrants</th>
          <th class="text-center">Tickets</th>
          <th class="text-center">Draws</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <%= render partial: "lottery_divisions/lottery_division", collection: @presenter.divisions, as: :division %>
        <tr>
          <td colspan="6">
            <%= link_to fa_icon("plus", text: "Add"),
                        new_organization_lottery_lottery_division_path(@presenter.organization, @presenter.lottery),
                        id: "add-lottery-division", class: "btn btn-success" %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h2><strong>Entrant Lookup</strong></h2>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive">
      <aside class="ost-toolbar">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 form-inline">
              <%= render "lottery_entrants/entrant_lookup_admin" %>
            </div>
          </div>
        </div>
      </aside>

      <% if @presenter.lottery_entrants_default_none.present? %>
        <%= render partial: "lottery_entrants/lottery_entrant_admin", collection: @presenter.lottery_entrants_default_none, as: :record %>
      <% else %>
        <div class="card bg-light mt-2">
          <div class="card-body">
            <h6 class="font-weight-bold">
              <% if @presenter.params[:search].blank? %>
                Find someone by entering a name, state, or country
              <% elsif @presenter.params[:search].length < 3 %>
                Search parameter is too short
              <% else %>
                No entrants match this search
              <% end %>
            </h6>
          </div>
        </div>
      <% end %>
      <hr/>
      <div>
        <%= link_to fa_icon("plus", text: "Add"),
                    new_organization_lottery_lottery_entrant_path(@presenter.organization, @presenter.lottery),
                    id: "add-lottery-entrant", class: "btn btn-success" %>
      </div>
    </div>
  </div>
</article>
