<% content_for :title do %>
  <% "OpenSplitTime: Set Up Lottery - #{@presenter.name}" %>
<% end %>

<%= render "lotteries/header", presenter: @presenter, breadcrumbs: ["Setup"] %>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div>
        <div class="btn-group">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="import-dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
            Lottery
          </button>
          <div class="dropdown-menu">
            <%= link_to "Make public",
                        organization_lottery_path(@presenter.organization, @presenter.lottery, lottery: { concealed: false }),
                        data: { turbo_method: :put },
                        disabled: @presenter.lottery.visible?,
                        class: "dropdown-item" %>
            <%= link_to "Make private",
                        organization_lottery_path(@presenter.organization, @presenter.lottery, lottery: { concealed: true }),
                        data: { turbo_method: :put },
                        disabled: @presenter.lottery.concealed?,
                        class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <% ::Lottery.statuses.keys.each do |status| %>
              <%= link_to "Set to #{status.titleize}",
                          organization_lottery_path(@presenter.organization, @presenter.lottery, lottery: { status: status }),
                          data: { turbo_method: :put },
                          disabled: @presenter.lottery.send("#{status}?"),
                          class: "dropdown-item" %>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to "Run simulations",
                        new_organization_lottery_lottery_simulation_run_path(@presenter.organization, @presenter.lottery),
                        class: "dropdown-item " %>
            <%= link_to "View simulations",
                        organization_lottery_lottery_simulation_runs_path(@presenter.organization, @presenter.lottery),
                        class: "dropdown-item " %>
            <div class="dropdown-divider"></div>
            <%= link_to "Export results",
                        export_entrants_organization_lottery_path(@presenter.organization, @presenter.lottery, format: :csv, export_format: :results),
                        class: "dropdown-item" %>
            <%= link_to "Export to ultrasignup",
                        export_entrants_organization_lottery_path(@presenter.organization, @presenter.lottery, format: :csv, export_format: :ultrasignup),
                        class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Edit lottery details", edit_organization_lottery_path(@presenter.organization, @presenter.lottery), class: "dropdown-item" %>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="import-dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
            Entrants
          </button>
          <div class="dropdown-menu">
            <%= link_to "Import entrants",
                        new_import_job_path(import_job: { parent_type: "Lottery", parent_id: @presenter.lottery.id, format: :lottery_entrants }),
                        class: "dropdown-item" %>
            <%= link_to "Generate entrants",
                        generate_entrants_organization_lottery_path(@presenter.organization, @presenter.lottery),
                        data: {
                          turbo_method: :post,
                          turbo_confirm: "This will generate between 5 and 15 random lottery entrants for each division. Proceed?",
                        },
                        class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to_strong_confirm "Delete all entrants", delete_entrants_organization_lottery_path(@presenter.organization, @presenter.lottery),
                                       class: "dropdown-item text-danger",
                                       message: "This action will permanently delete all entrants, tickets, and draws from the #{@presenter.name} lottery.",
                                       required_pattern: "DELETE ALL ENTRANTS" %>
          </div>
        </div>

        <% if @presenter.lottery_tickets.exists? %>
          <%= link_to_strong_confirm "Delete tickets", delete_tickets_organization_lottery_path(@presenter.organization, @presenter.lottery),
                                     class: "btn btn-outline-secondary text-danger",
                                     message: "This action will permanently delete all tickets and draws from the #{@presenter.name} lottery.",
                                     required_pattern: "DELETE TICKETS" %>
        <% else %>
          <%= link_to "Generate tickets", generate_tickets_organization_lottery_path(@presenter.organization, @presenter.lottery),
                      data: { turbo_method: :post },
                      class: "btn btn-danger" %>
        <% end %>
        <%= link_to_strong_confirm "Delete draws", delete_draws_organization_lottery_path(@presenter.organization, @presenter.lottery),
                                   class: "btn btn-outline-secondary text-danger",
                                   disabled: @presenter.lottery_draws.empty?,
                                   message: "This action will permanently delete all draws from the #{@presenter.name} lottery.",
                                   required_pattern: "DELETE DRAWS" %>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <div class="card mt-4">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h2><strong>Divisions</strong><small class="text-muted"><%= " #{pluralize(@presenter.divisions.size, 'division')}" %></small></h2>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th class="text-center">Winner Slots</th>
          <th class="text-center">Wait List Slots</th>
          <th class="text-center">Entrants</th>
          <th class="text-center">Pre-selected</th>
          <th class="text-center">Tickets</th>
          <th class="text-center">Draws</th>
          <th></th>
        </tr>
        </thead>
        <tbody id="lottery_divisions">
        <%= render partial: "lottery_divisions/lottery_division", collection: @presenter.ordered_divisions, as: :division %>
        <tr class="fw-bold bg-light">
          <td>Totals</td>
          <td class="text-center"><%= @presenter.ordered_divisions.sum(&:maximum_entries) %></td>
          <td class="text-center"><%= @presenter.ordered_divisions.sum(&:maximum_wait_list) %></td>
          <td class="text-center"><%= @presenter.entrants.count %></td>
          <td class="text-center"><%= @presenter.entrants.pre_selected.count %></td>
          <td class="text-center"><%= @presenter.tickets.count %></td>
          <td class="text-center"><%= @presenter.draws.count %></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="7">
            <%= link_to fa_icon("plus", text: "Add"),
                        new_organization_lottery_lottery_division_path(@presenter.organization, @presenter.lottery),
                        id: "add-lottery-division", class: "btn btn-success" %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h2><strong>Entrant Lookup</strong><small class="text-muted"><%= " #{pluralize_with_delimiter(@presenter.lottery.entrants.count, 'entrant')}" %></small></h2>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive">
      <aside class="container ost-toolbar">
        <div class="row">
          <div class="col-12 col-md-6">
            <%= render "lottery_entrants/entrant_lookup_admin", presenter: @presenter %>
          </div>
        </div>
      </aside>

      <div class="container">
        <% if @presenter.lottery_entrants_default_none.present? %>
          <%= render partial: "lottery_entrants/lottery_entrant_admin", collection: @presenter.lottery_entrants_default_none, as: :record %>
        <% else %>
          <div class="card bg-light mt-2">
            <div class="card-body">
              <h6 class="fw-bold">
                <% if @presenter.params[:search].blank? %>
                  Find someone by entering a name, state, or country
                <% elsif @presenter.params[:search].length < 3 %>
                  Search parameter is too short
                <% else %>
                  No entrants match this search
                <% end %>
              </h6>
            </div>
          </div>
        <% end %>
      </div>
      <hr/>
      <div>
        <%= link_to fa_icon("plus", text: "Add"),
                    new_organization_lottery_lottery_entrant_path(@presenter.organization, @presenter.lottery),
                    id: "add-lottery-entrant", class: "btn btn-success" %>
      </div>
    </div>
  </div>

  <%= render "lotteries/pre_selected_entrants_card", presenter: @presenter %>
</article>
