<% content_for :title do %>
  <% "OpenSplitTime: Set Up Lottery - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1>
            <strong><%= name_with_concealed_indicator(@presenter) %></strong>
            <%= lottery_status_badge(@presenter.status) %>
          </h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to "Organizations", organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_lotteries_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to "Lotteries", organization_lotteries_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.name, organization_lottery_path(@presenter.organization, @presenter.lottery) %></li>
            <li class="breadcrumb-item">Setup</li>
          </ul>
        </div>
        <div class="ost-subtitle">
          <p><%= l(@presenter.scheduled_start_date, format: :full_with_weekday) %></p>
        </div>
      </div>
      <aside class="col-auto">
        <%= link_to "Public", organization_lottery_path(@presenter.organization, @presenter.lottery), class: "btn btn-outline-secondary" %>
      </aside>
    </div>
    <!-- Navigation -->
    <%= render partial: "admin_tabs", locals: { presenter: @presenter } %>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col form-inline">
        <div>
          <div class="btn-group">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="import-dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
              Lottery
            </button>
            <div class="dropdown-menu">
              <%= link_to "Make public",
                          organization_lottery_path(@presenter.organization, @presenter.lottery, lottery: {concealed: false}),
                          method: :put,
                          disabled: @presenter.lottery.visible?,
                          class: "dropdown-item" %>
              <%= link_to "Make private",
                          organization_lottery_path(@presenter.organization, @presenter.lottery, lottery: {concealed: true}),
                          method: :put,
                          disabled: @presenter.lottery.concealed?,
                          class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <% ::Lottery.statuses.keys.each do |status| %>
                <%= link_to "Set to #{status.titleize}",
                            organization_lottery_path(@presenter.organization, @presenter.lottery, lottery: {status: status}),
                            method: :put,
                            disabled: @presenter.lottery.send("#{status}?"),
                            class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to "Run simulations",
                          new_organization_lottery_lottery_simulation_run_path(@presenter.organization, @presenter.lottery),
                          class: "dropdown-item " %>
              <%= link_to "View simulations",
                          organization_lottery_lottery_simulation_runs_path(@presenter.organization, @presenter.lottery),
                          class: "dropdown-item " %>
              <div class="dropdown-divider"></div>
              <%= link_to "Export results",
                          export_entrants_organization_lottery_path(@presenter.organization, @presenter.lottery, format: :csv, export_format: :results),
                          class: "dropdown-item" %>
              <%= link_to "Export to ultrasignup",
                          export_entrants_organization_lottery_path(@presenter.organization, @presenter.lottery, format: :csv, export_format: :ultrasignup),
                          class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Edit lottery details", edit_organization_lottery_path(@presenter.organization, @presenter.lottery), class: "dropdown-item" %>
            </div>
          </div>
          <div class="btn-group">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="import-dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
              Entrants
            </button>
            <div class="dropdown-menu">
              <%= link_to "Import entrants",
                          new_import_job_path(import_job: {parent_type: "Lottery", parent_id: @presenter.lottery.id, format: :lottery_entrants}),
                          class: "dropdown-item" %>
              <%= link_to "Generate entrants",
                          generate_entrants_organization_lottery_path(@presenter.organization, @presenter.lottery),
                          method: :post,
                          data: {confirm: "This will generate between 5 and 15 random lottery entrants for each division. Proceed?"},
                          class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Download template", export_entrants_organization_lottery_path(@presenter.organization, @presenter.lottery, format: :csv, params: {filter: {id: 0}}), format: :csv, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_for_strong_confirm("Delete all entrants", "strong-confirm-entrants-lottery-#{@presenter.lottery.id}", class: "dropdown-item text-danger") %>
            </div>
          </div>
          <%= strong_confirm_modal(path_on_confirm: delete_entrants_organization_lottery_path(@presenter.organization, @presenter.lottery),
                                   message: "This action will permanently delete all entrants, tickets, and draws from the #{@presenter.name} lottery.",
                                   required_pattern: "DELETE ALL ENTRANTS",
                                   strong_confirm_id: "strong-confirm-entrants-lottery-#{@presenter.lottery.id}") %>

          <% if @presenter.lottery_tickets.exists? %>
            <%= link_with_strong_confirm("Delete tickets", delete_tickets_organization_lottery_path(@presenter.organization, @presenter.lottery),
                                         class: "btn btn-outline-secondary text-danger",
                                         message: "This action will permanently delete all tickets and draws from the #{@presenter.name} lottery.",
                                         required_pattern: "DELETE TICKETS",
                                         strong_confirm_id: "strong-confirm-tickets-lottery-#{@presenter.lottery.id}") %>
          <% else %>
            <%= link_to "Generate tickets", generate_tickets_organization_lottery_path(@presenter.organization, @presenter.lottery),
                        method: :post,
                        class: "btn btn-danger" %>
          <% end %>
          <%= link_with_strong_confirm("Delete draws", delete_draws_organization_lottery_path(@presenter.organization, @presenter.lottery),
                                       class: "btn btn-outline-secondary text-danger",
                                       disabled: @presenter.lottery_draws.empty?,
                                       message: "This action will permanently delete all draws from the #{@presenter.name} lottery.",
                                       required_pattern: "DELETE DRAWS",
                                       strong_confirm_id: "strong-confirm-draws-lottery-#{@presenter.lottery.id}") %>
        </div>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <div class="card mt-4">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h2><strong>Divisions</strong><small class="text-muted"><%= " #{pluralize(@presenter.divisions.size, 'division')}" %></small></h2>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th class="text-center">Winner Slots</th>
          <th class="text-center">Wait List Slots</th>
          <th class="text-center">Entrants</th>
          <th class="text-center">Pre-selected</th>
          <th class="text-center">Tickets</th>
          <th class="text-center">Draws</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <%= render partial: "lottery_divisions/lottery_division", collection: @presenter.ordered_divisions, as: :division %>
        <tr class="fw-bold bg-light">
          <td>Totals</td>
          <td class="text-center"><%= @presenter.ordered_divisions.sum(&:maximum_entries) %></td>
          <td class="text-center"><%= @presenter.ordered_divisions.sum(&:maximum_wait_list) %></td>
          <td class="text-center"><%= @presenter.entrants.count %></td>
          <td class="text-center"><%= @presenter.entrants.pre_selected.count %></td>
          <td class="text-center"><%= @presenter.tickets.count %></td>
          <td class="text-center"><%= @presenter.draws.count %></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="7">
            <%= link_to fa_icon("plus", text: "Add"),
                        new_organization_lottery_lottery_division_path(@presenter.organization, @presenter.lottery),
                        id: "add-lottery-division", class: "btn btn-success" %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h2><strong>Entrant Lookup</strong><small class="text-muted"><%= " #{pluralize_with_delimiter(@presenter.lottery.entrants.count, 'entrant')}" %></small></h2>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive">
      <aside class="ost-toolbar">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 form-inline">
              <%= render "lottery_entrants/entrant_lookup_admin" %>
            </div>
          </div>
        </div>
      </aside>

      <% if @presenter.lottery_entrants_default_none.present? %>
        <%= render partial: "lottery_entrants/lottery_entrant_admin", collection: @presenter.lottery_entrants_default_none, as: :record %>
      <% else %>
        <div class="card bg-light mt-2">
          <div class="card-body">
            <h6 class="fw-bold">
              <% if @presenter.params[:search].blank? %>
                Find someone by entering a name, state, or country
              <% elsif @presenter.params[:search].length < 3 %>
                Search parameter is too short
              <% else %>
                No entrants match this search
              <% end %>
            </h6>
          </div>
        </div>
      <% end %>
      <hr/>
      <div>
        <%= link_to fa_icon("plus", text: "Add"),
                    new_organization_lottery_lottery_entrant_path(@presenter.organization, @presenter.lottery),
                    id: "add-lottery-entrant", class: "btn btn-success" %>
      </div>
    </div>
  </div>

  <div class="card mt-4"
       data-controller="visibility"
       data-visibility-button-hide-class-value="btn-primary"
       data-visibility-button-hide-text-value="Hide"
       data-visibility-button-show-class-value="btn-outline-primary"
       data-visibility-button-show-text-value="Reveal">
    <div class="card-header">
      <div class="row pt-1">
        <div class="col">
          <h2><strong>Pre-Selected Entrants</strong><small class="text-muted"><%= " #{pluralize_with_delimiter(@presenter.lottery_entrants.pre_selected.count, 'entrant')}" %></small>
          </h2>
        </div>
        <div class="col-4 col-md-2 text-end">
          <%= button_tag nil,
                         class: "btn btn-block d-none",
                         "data-action": "visibility#toggleElement",
                         "data-visibility-target": "button" %>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive" data-visibility-target="element">
      <%= render partial: "lottery_entrants/lottery_entrant_admin", collection: @presenter.lottery_entrants.pre_selected, as: :record %>
    </div>
  </div>
</article>
