<% content_for :title do %>
  <% "OpenSplitTime: Show lottery - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong><%= @presenter.name %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to "Organizations", organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_lotteries_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to "Lotteries", organization_lotteries_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= @presenter.name %></li>
          </ul>
        </div>
        <div class="ost-subtitle">
          <p><%= l(@presenter.scheduled_start_date, format: :full_with_weekday) %></p>
        </div>
      </div>
      <aside class="col-auto text-end">
        <% if current_user&.authorized_for_lotteries?(@presenter.organization) %>
          <%= link_to "Admin", setup_organization_lottery_path(@presenter.organization, @presenter.lottery), class: "btn btn-outline-secondary" %>
        <% end %>
      </aside>
    </div>
    <% if @presenter.viewable_results? %>
      <% if @presenter.display_style == "draws" %>
        <div class="mb-4 d-grid">
          <%= link_to "Browse Entrants and Results",
                      organization_lottery_path(@presenter.organization, @presenter.lottery, display_style: :entrants),
                      class: "btn btn-success fw-bold" %>
        </div>
      <% else %>
        <div class="d-grid">
          <%= link_to "View Draws",
                      organization_lottery_path(@presenter.organization, @presenter.lottery, display_style: :draws),
                      class: "btn btn-outline-secondary text-success fw-bold" %>
        </div>
      <% end %>
    <% end %>
    <!-- Navigation -->
    <% unless @presenter.display_style == "draws" %>
      <ul class="nav nav-tabs nav-tabs-ost">
        <%= content_tag :li, class: "nav-item #{'active' if @presenter.display_style == 'entrants'}" do %>
          <%= link_to "Entrants", organization_lottery_path(@presenter.organization, @presenter.lottery, display_style: :entrants) %>
        <% end %>

        <% if @presenter.viewable_results? %>
          <%= content_tag :li, class: "nav-item #{'active' if @presenter.display_style == 'results'}" do %>
            <%= link_to "Results", organization_lottery_path(@presenter.organization, @presenter.lottery, display_style: :results) %>
          <% end %>

          <%= content_tag :li, class: "nav-item #{'active' if @presenter.display_style == 'stats'}" do %>
            <%= link_to "Stats", organization_lottery_path(@presenter.organization, @presenter.lottery, display_style: :stats) %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</header>

<article class="ost-article container">
  <% case @presenter.display_style %>
  <% when "entrants" %>
    <%= render partial: "service_form_callout", locals: { presenter: @presenter } %>
    <h4 class="mt-5">
      <span class="fw-bold"><%= "Lottery Entrants" %></span><span class="px-1 h5 fw-light text-muted"><%= " #{pluralize_with_delimiter(@presenter.lottery_entrants.count, 'total entrant')}" %></span>
    </h4>
    <hr/>
    <aside class="ost-toolbar">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <%= render "lottery_entrants/entrant_lookup", presenter: @presenter %>
          </div>
        </div>
      </div>
    </aside>

    <%= render partial: "entrant_list", locals: { presenter: @presenter } %>

  <% when "draws" %>
    <h4 class="mt-5"><span class="fw-bold">Lottery Draws</span><span class="px-1 h5 fw-light text-muted">(Most recent at the top)</span></h4>
    <hr/>
    <% if @presenter.viewable_results? %>
      <% if @presenter.lottery.live? %>
        <%= turbo_stream_from @presenter.lottery, :lottery_draws %>
        <h6 class="text-center">Live updating</h6>
        <div class="back-and-forth-path">
          <span class="back-and-forth-shape trail"></span>
        </div>
      <% end %>

      <hr/>
      <div class="row">
        <% @presenter.ordered_divisions.each do |division| %>
          <%= turbo_stream_from division, :lottery_header, class: "d-none" %>
          <div class="col-12 col-md-6 col-lg-4 col-xl pb-3">
            <h5 class="fw-bold"><%= division.name %></h5>
            <%= render partial: "lottery_divisions/tickets_progress_bars", locals: { lottery_division: division, show_pre_selected: false } %>
          </div>
        <% end %>
      </div>
      <hr/>

      <div id="lottery_draws">
        <%= render partial: "lottery_draws/lottery_draw", collection: @presenter.lottery_draws_ordered %>
      </div>
    <% else %>
      <h6 class="text-center">This lottery is not yet live</h6>
    <% end %>

  <% when "results" %>
    <%= render partial: "service_form_callout", locals: { presenter: @presenter } %>
    <h4 class="mt-5">
      <span class="fw-bold">Lottery Results</span><span class="px-1 h5 fw-light text-muted"><%= " Last updated #{time_ago_in_words(@presenter.lottery.updated_at)} ago" %></span>
    </h4>
    <hr/>
    <%= render partial: "results", locals: { presenter: @presenter } %>

  <% when "stats" %>
    <h4 class="mt-5"><strong>Lottery Stats</strong></h4>
    <hr/>
    <%= render partial: "acceptance_stats", locals: { presenter: @presenter } %>
  <% end %>
</article>

<% if @presenter.show_partner_banners? %>
  <%= render "partners/bottom_banner", partner: @presenter.partner_with_banner %>
<% end %>
