<% content_for :title do %>
  <% "OpenSplitTime: Show lottery - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong><%= @presenter.name %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to "Organizations", organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_lotteries_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to "Lotteries", organization_lotteries_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= @presenter.name %></li>
          </ul>
        </div>
        <div class="ost-subtitle">
          <p><%= l(@presenter.scheduled_start_date, format: :full_with_weekday) %></p>
        </div>
      </div>
      <aside class="col-auto text-end">
        <% if current_user&.authorized_for_lotteries?(@presenter.organization) %>
          <%= link_to "Admin", setup_organization_lottery_path(@presenter.organization, @presenter.lottery), class: "btn btn-outline-secondary" %>
        <% end %>
      </aside>
    </div>
    <% if @presenter.viewable_results? %>
      <% if @presenter.display_style == "draws" %>
        <div class="mb-4 d-grid">
          <%= link_to "Browse Entrants and Results",
                      organization_lottery_path(@presenter.organization, @presenter.lottery, display_style: :entrants),
                      class: "btn btn-success fw-bold" %>
        </div>
      <% else %>
        <div class="d-grid">
          <%= link_to "View Draws",
                      organization_lottery_path(@presenter.organization, @presenter.lottery, display_style: :draws),
                      class: "btn btn-outline-secondary text-success fw-bold" %>
        </div>
      <% end %>
    <% end %>
    <!-- Navigation -->
    <% unless @presenter.display_style == "draws" %>
      <ul class="nav nav-tabs nav-tabs-ost">
        <%= content_tag :li, class: "nav-item #{'active' if @presenter.display_style == 'entrants'}" do %>
          <%= link_to "Entrants", organization_lottery_path(@presenter.organization, @presenter.lottery, display_style: :entrants) %>
        <% end %>

        <% if @presenter.viewable_results? %>
          <%= content_tag :li, class: "nav-item #{'active' if @presenter.display_style == 'results'}" do %>
            <%= link_to "Results", organization_lottery_path(@presenter.organization, @presenter.lottery, display_style: :results) %>
          <% end %>

          <%= content_tag :li, class: "nav-item #{'active' if @presenter.display_style == 'stats'}" do %>
            <%= link_to "Stats", organization_lottery_path(@presenter.organization, @presenter.lottery, display_style: :stats) %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</header>

<article class="ost-article container">
  <% case @presenter.display_style %>
  <% when "entrants" %>
    <h4 class="mt-5">
      <span class="fw-bold"><%= "Lottery Entrants" %></span><span class="px-1 h5 fw-light text-muted"><%= " #{pluralize_with_delimiter(@presenter.lottery_entrants.count, 'total entrant')}" %></span>
    </h4>
    <hr/>
    <aside class="ost-toolbar">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <%= render "lottery_entrants/entrant_lookup", presenter: @presenter %>
          </div>
        </div>
      </div>
    </aside>

    <% if @presenter.lottery_entrants_paginated.present? %>
      <div>
        <div id="lottery_entrants">
          <%= render partial: "lottery_entrants/lottery_entrant", collection: @presenter.lottery_entrants_paginated, as: :record %>
        </div>
        <hr/>

        <%= render "shared/pager", next_page_url: @presenter.next_page_url %>
      </div>
    <% else %>
      <br/>
      <% if @presenter.params[:search].blank? %>
        <p><strong>No entrants have been added yet</strong></p>
      <% elsif @presenter.params[:search].present? && @presenter.params[:search].length < 3 %>
        <p><strong>Search parameter is too short</strong></p>
      <% else %>
        <p><strong>No lottery entrants match this search</strong></p>
      <% end %>
    <% end %>

  <% when "draws" %>
    <h4 class="mt-5"><span class="fw-bold">Lottery Draws</span><span class="px-1 h5 fw-light text-muted">(Most recent at the top)</span></h4>
    <hr/>
    <% if @presenter.viewable_results? %>
      <% if @presenter.lottery.live? %>
        <%= turbo_stream_from @presenter.lottery, :lottery_draws %>
        <h6 class="text-center">Live updating</h6>
        <div class="back-and-forth-path">
          <span class="back-and-forth-shape trail"></span>
        </div>
      <% end %>

      <div class="row">
        <% @presenter.ordered_divisions.each do |division| %>
          <%= turbo_stream_from division, :lottery_header, class: "d-none" %>
          <div class="col-12 col-md-6 col-lg-4 col-xl">
            <%= render partial: "lottery_divisions/tickets_progress_bars", locals: { division: division, show_pre_selected: false } %>
          </div>
        <% end %>
      </div>
      <hr/>

      <div id="lottery_draws">
        <%= render partial: "lottery_draws/lottery_draw", collection: @presenter.lottery_draws_ordered %>
      </div>
    <% else %>
      <h6 class="text-center">This lottery is not yet live</h6>
    <% end %>

  <% when "results" %>
    <h4 class="mt-5"><span class="fw-bold">Lottery Results</span><span class="px-1 h5 fw-light text-muted"><%= " Last updated #{time_ago_in_words(@presenter.lottery.updated_at)} ago" %></span></h4>
    <hr/>
    <% if @presenter.viewable_results? %>
      <% if @presenter.lottery_draws.exists? %>
        <% @presenter.ordered_divisions.each do |division| %>
          <div class="card">
            <h4 class="card-header fw-bold bg-primary text-white"><%= "#{division.name}" %></h4>
            <div class="card-body">
              <h5>Accepted</h5>
              <% if division.accepted_entrants.present? %>
                <ol>
                  <%= render partial: "entrant_for_results", collection: division.accepted_entrants, as: :entrant %>
                </ol>
              <% else %>
                <p>No entrants have been drawn yet</p>
              <% end %>

              <% if division.wait_list_entrants.present? %>
                <h5>Wait List</h5>
                <ol>
                  <%= render partial: "entrant_for_results", collection: division.wait_list_entrants, as: :entrant %>
                </ol>
              <% end %>

              <% if division.withdrawn_entrants.present? %>
                <h5>Withdrawn</h5>
                <ol>
                  <%= render partial: "entrant_for_results", collection: division.withdrawn_entrants, as: :entrant %>
                </ol>
              <% end %>
            </div>
          </div>
          <br/>
        <% end %>
      <% else %>
        <p><strong>No results are available yet</strong></p>
      <% end %>
    <% else %>
      <h6 class="text-center">This lottery is not yet live</h6>
    <% end %>

  <% when "stats" %>
    <h4 class="mt-5"><strong>Lottery Stats</strong></h4>
    <hr/>
    <% if @presenter.viewable_results? %>
      <% @presenter.stats.each do |division_name, division_stats| %>
        <div class="card">
          <h4 class="card-header fw-bold bg-primary text-white"><%= "#{division_name}" %></h4>
          <div class="card-body">
            <%= column_chart @presenter.stats_chart_data(division_stats),
                             stacked: true,
                             xtitle: "Number of Tickets",
                             ytitle: "Entrants",
                             colors: ["#28a745", "#3A9DD1", "#bbb"] %>

            <hr/>

            <table class="table table-striped" style="width:80%">
              <thead>
              <tr class="fw-bold">
                <th></th>
                <th class="text-center">Entrants</th>
                <th class="text-center">Accepted</th>
                <th class="text-center">%</th>
                <th class="text-center">Waitlisted</th>
                <th class="text-center">%</th>
                <th class="text-center">Not Drawn</th>
                <th class="text-center">%</th>
              </tr>
              </thead>
              <tbody>
              <% division_stats.each do |division_stat| %>
                <tr>
                  <td class="fw-bold"><%= pluralize(division_stat.number_of_tickets, "Ticket") %></td>
                  <td class="text-center border-end"><%= division_stat.entrants_count %></td>
                  <td class="text-center"><%= division_stat.accepted_entrants_count %></td>
                  <td class="text-center border-end"><%= (division_stat.accepted_entrants_count.to_f / division_stat.entrants_count * 100).round(1) %></td>
                  <td class="text-center"><%= division_stat.waitlisted_entrants_count %></td>
                  <td class="text-center border-end"><%= (division_stat.waitlisted_entrants_count.to_f / division_stat.entrants_count * 100).round(1) %></td>
                  <td class="text-center"><%= division_stat.undrawn_entrants_count %></td>
                  <td class="text-center"><%= (division_stat.undrawn_entrants_count.to_f / division_stat.entrants_count * 100).round(1) %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <br/>
      <% end %>
    <% else %>
      <h6 class="text-center">This lottery is not yet live</h6>
    <% end %>
  <% end %>
</article>

<% if @presenter.show_partner_banners? %>
  <%= render "partners/bottom_banner", partner: @presenter.partner_with_banner %>
<% end %>
