<% content_for :title do %>
  <% "OpenSplitTime: Show lottery - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong><%= @presenter.name %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to "Organizations", organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_lotteries_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to "Lotteries", organization_lotteries_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= @presenter.name %></li>
          </ul>
        </div>
        <div class="ost-subtitle">
          <p><%= l(@presenter.scheduled_start_date, format: :full_with_weekday) %></p>
        </div>
      </div>
      <aside class="col-auto">
        <% if current_user&.authorized_for_lotteries?(@presenter.organization) %>
          <%= link_to "Admin", admin_organization_lottery_path(@presenter.organization, @presenter.lottery), class: "btn btn-outline-secondary" %>
        <% end %>
      </aside>
    </div>
    <!-- Navigation -->
    <ul class="nav nav-tabs nav-tabs-ost">
      <%= content_tag :li, class: "nav-item #{'active' if @presenter.display_style == 'entrants'}" do
        link_to "Entrants", organization_lottery_path(@presenter.organization, @presenter.lottery, display_style: :entrants)
      end %>
      <%= content_tag :li, class: "nav-item #{'active' if @presenter.display_style == 'tickets'}" do
        link_to "Tickets", organization_lottery_path(@presenter.organization, @presenter.lottery, display_style: :tickets)
      end %>
      <%= content_tag :li, class: "nav-item #{'active' if @presenter.display_style == 'draws'}" do
        link_to "Draws", organization_lottery_path(@presenter.organization, @presenter.lottery, display_style: :draws)
      end %>
      <%= content_tag :li, class: "nav-item #{'active' if @presenter.display_style == 'results'}" do
        link_to "Results", organization_lottery_path(@presenter.organization, @presenter.lottery, display_style: :results)
      end %>
    </ul>
  </div>
</header>

<article class="ost-article container">
  <% case @presenter.display_style %>
  <% when "entrants" %>
    <aside class="ost-toolbar">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 form-inline">
            <%= render "entrant_lookup" %>
          </div>
        </div>
      </div>
    </aside>

    <% if @presenter.lottery_entrants.present? %>
      <table class="table table-condensed table-striped">
        <thead>
        <tr>
          <th><%= link_to_reversing_sort_heading("Name", "last_name,first_name", params[:sort]) %></th>
          <th><%= link_to_reversing_sort_heading("Gender", "gender,last_name,first_name", params[:sort]) %></th>
          <th><%= link_to_reversing_sort_heading("From", "state_code", params[:sort]) %></th>
          <th><%= link_to_reversing_sort_heading("Division", "division_name,-number_of_tickets", params[:sort]) %></th>
          <th><%= link_to_reversing_sort_heading("Tickets", "number_of_tickets", params[:sort]) %></th>
        </tr>
        </thead>
        <tbody>
        <% @presenter.lottery_entrants.each do |lottery_entrant| %>
          <tr>
            <td><%= lottery_entrant.name %></td>
            <td><%= lottery_entrant.gender.titleize %></td>
            <td><%= lottery_entrant.flexible_geolocation %></td>
            <td><%= lottery_entrant.division_name %></td>
            <td><%= lottery_entrant.number_of_tickets %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <br/>
      <% if @presenter.params[:search].blank? %>
        <p><strong>No entrants have been added yet</strong></p>
      <% elsif @presenter.params[:search].present? && @presenter.params[:search].length < 3 %>
        <p><strong>Search parameter is too short</strong></p>
      <% else %>
        <p><strong>No lottery entrants match this search</strong></p>
      <% end %>
    <% end %>

  <% when "tickets" %>
    <% if @presenter.lottery_tickets.present? %>
      <aside class="ost-toolbar">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 form-inline">
              <%= render "entrant_lookup" %>
            </div>
          </div>
        </div>
      </aside>

      <table class="table table-condensed table-striped">
        <thead>
        <tr>
          <th><%= link_to_reversing_sort_heading("Ticket", "reference_number", params[:sort]) %></th>
          <th><%= link_to_reversing_sort_heading("Name", "last_name,first_name", params[:sort]) %></th>
          <th><%= link_to_reversing_sort_heading("Gender", "gender,last_name,first_name", params[:sort]) %></th>
          <th><%= link_to_reversing_sort_heading("From", "state_code", params[:sort]) %></th>
          <th><%= link_to_reversing_sort_heading("Division", "division_name,last_name,first_name", params[:sort]) %></th>
        </tr>
        </thead>
        <tbody>
        <%= render partial: "lottery_tickets/lottery_ticket", collection: @presenter.lottery_tickets %>
        </tbody>
      </table>
    <% else %>
      <br/>
      <% if @presenter.params[:search].blank? %>
        <p><strong>No tickets have been generated yet</strong></p>
      <% elsif @presenter.params[:search].present? && @presenter.params[:search].length < 3 %>
        <p><strong>Search parameter is too short</strong></p>
      <% else %>
        <p><strong>No tickets match this search</strong></p>
      <% end %>
    <% end %>

  <% when "draws" %>
    <%= turbo_stream_from @presenter.lottery, :lottery_draws %>
    <div id="lottery_draws">
      <%= render partial: "lottery_draws/lottery_draw", collection: @presenter.lottery_draws %>
    </div>

  <% when "results" %>
    <% if @presenter.lottery_draws.present? %>
      <% @presenter.divisions.each do |division| %>
        <div class="card">
          <h4 class="card-header font-weight-bold bg-primary text-white"><%= "#{division.name}" %></h4>
          <div class="card-body">
            <h5>Entrants</h5>
            <% if division.winning_entrants.present? %>
              <ol>
                <% division.winning_entrants.each do |entrant| %>
                  <li><%= "#{entrant.name} (#{entrant.flexible_geolocation})" %></li>
                <% end %>
              </ol>
            <% else %>
              <p>No entrants have been drawn yet</p>
            <% end %>
            <% if division.wait_list_entrants.present? %>
              <h5>Wait List</h5>
              <ol>
                <% division.wait_list_entrants.each do |entrant| %>
                  <li><%= "#{entrant.name} (#{entrant.flexible_geolocation})" %></li>
                <% end %>
              </ol>
            <% end %>
          </div>
        </div>
        <br/>
      <% end %>
    <% else %>
      <p><strong>No results are available yet</strong></p>
    <% end %>
  <% end %>
</article>
