<%= form_for(@split) do |f| %>
  <% if @split.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@split.errors.count, "error") %> prohibited this split from being saved:</h2>

      <ul>
      <% @split.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :split_id %><br>
    <%= f.number_field :split_id %>
  </div>
  <div class="field">
    <%= f.label :split_name %><br>
    <%= f.text_field :split_name %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.text_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :split_order %><br>
    <%= f.number_field :split_order %>
  </div>
  <div class="field">
    <%= f.label :vert_gain_from_start %><br>
    <%= f.number_field :vert_gain_from_start %>
  </div>
  <div class="field">
    <%= f.label :vert_loss_from_start %><br>
    <%= f.number_field :vert_loss_from_start %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
