<%= render 'shared/errors', obj: @split %>
<% set_course_and_event %>
<div class="row">
  <div class="col-md-12">
    <%= form_for(@split, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <% if @course %>
              <div class="col-sm-8 col-sm-offset-2">
                <%= f.hidden_field :course_id, value: @course.id %>
                <h4><%= "Located on #{@course.name}" %></h4>
              </div>
          <% else %>
              <div class="control-label col-sm-2">
                <%= f.label :course_id %>
              </div>
              <div class="col-sm-8">
                <%= collection_select(:split, :course_id, Course.all, :id, :name,
                                      {prompt: true}, {class: "dropdown-select-field"}) %>
              </div>
          <% end %>
        </div>
        <% if @split.new_record? %>
            <%= f.hidden_field :kind, value: 'waypoint' %>
        <% end %>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :name %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :name, class: "form-control", placeholder: "Split name", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :distance_as_entered, 'Distance from start' %>
          </div>
          <div class="col-sm-2">
            <%= f.text_field :distance_as_entered, class: "form-control", placeholder: pdu %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :description %>
          </div>
          <div class="col-sm-8">
            <%= f.text_area :description, rows: 4, class: "form-control", placeholder: "Split description" %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :location_id %>
          </div>
          <div class="col-sm-3">
            <%= collection_select(:split, :location_id, Location.all.order(:name), :id, :name,
                                  {prompt: true}, {class: "dropdown-select-field"}) %>
          </div>
          <div class="col-sm-2">
            <% if @split.new_record? %>
                <%= f.submit("Create Location", {create_location: true, class: "btn btn-xs btn-success btn-margin-top-sm"}) %>
            <% else %>
                <%= link_to "Create Location", create_location_split_path(id: @split.id, referrer_path: edit_split_path(@split)),
                            method: :post,
                            class: "btn btn-xs btn-success btn-margin-top-sm" %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :vert_gain_as_entered, 'Vertical gain from start' %>
          </div>
          <div class="col-sm-2">
            <%= f.text_field :vert_gain_as_entered, class: "form-control", placeholder: peu %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :vert_loss_as_entered, 'Vertical loss from start' %>
          </div>
          <div class="col-sm-2">
            <%= f.text_field :vert_loss_as_entered, class: "form-control", placeholder: peu %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <% if @event.nil? %>
                <%= f.submit(@split.new_record? ? "Create Split" : "Update Split", class: 'btn btn-primary btn-large') %>
          <% else %>
                <%= f.button(@split.new_record? ? "Create Split" : "Update Split", name: "event_id", value: @event.id, class: 'btn btn-primary btn-large') %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
          [ <%= link_to 'Cancel', split_path(@split) %> ]
        </div>
    <% end %>
  </div>
</div>
