<%# locals: (event:, split:) -%>

<%= render "shared/errors", obj: split %>

<div class="row"
     data-controller="course-setup--split-location"
     data-action="maps:clicked->course-setup--split-location#updateLocation"
>
  <div class="col-12 col-lg-6 col-lg-push-6">
    <div style="width: 100%; height: 500px;"
         class="border border-secondary"
         data-controller="maps"
         data-course-setup--split-location-target="map"
         data-action="course-setup--split-location:changed->maps#updateSplitLocation"
         data-maps-course-id-value="<%= split.course_id %>"
         data-maps-event-id-value="<%= event.id %>"
         data-maps-split-id-value="<%= split.id %>"
         data-maps-active-marker-url-value="<%= asset_path('icons/dot-blue.svg') %>"
         data-maps-inactive-marker-url-value="<%= asset_path('icons/dot-lblue.svg') %>"
         data-maps-editable-value="true"
    ></div>
    <br/>
  </div>

  <div class="col-12 col-lg-6 col-lg-pull-6">
    <h3 class="fw-bold">
      <%= split.persisted? ? "Update #{split.base_name}" : "New Split" %>
    </h3>

    <%= form_with model: [event.event_group, event, split],
                  data: { action: "turbo:submit-end->course-setup--split-location#dispatchSplitTableModified" } do |form| %>
      <hr/>
      <div class="row">
        <div class="mb-3 col-6">
          <%= form.label "Split name", class: "mb-1 required" %>
          <%= tooltip("Name this Split") %>
          <%= form.text_field :base_name,
                              class: "form-control",
                              autofocus: true,
                              placeholder: "My Aid Station",
                              data: {
                                "course-setup--split-location-target": "baseName",
                                action: "change->course-setup--split-location#changed",
                              } %>
        </div>
        <div class="mb-3 col-6">
          <%= form.label :description, class: "mb-1" %>
          <%= tooltip("Add a helpful description of this place") %>
          <%= form.text_field :description, class: "form-control", placeholder: "My description" %>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-6">
          <%= form.label :distance_from_start, class: "mb-1 required" %>
          <%= tooltip("Cumulative distance from the start of the course") %>
          <div class="input-group">
            <%= form.text_field :distance_in_preferred_units, class: "form-control", disabled: split.start? %>
            <span class="input-group-text"><%= current_user.pref_distance_unit %></span>
          </div>
        </div>
        <div class="mb-3 col-6">
          <%= form.label :time_recording, class: "mb-1 required" %>
          <%= tooltip("Choose 'Time In' if times will be recorded here only once. Choose 'Time In and Out' if times will be recorded twice, once coming in and once coming out") %>
          <div class="split-time-recording-wrap">
            <label class="custom-radio">
              <%= form.radio_button :sub_split_bitmap, SubSplit::IN_BITKEY %>
              <span class="custom-radio-indicator"></span>
              <span class="custom-radio-label">Time In</span>
            </label>
            <label class="custom-radio ms-3">
              <%= form.radio_button :sub_split_bitmap, (SubSplit::IN_BITKEY | SubSplit::OUT_BITKEY) %>
              <span class="custom-radio-indicator"></span>
              <span class="custom-radio-label">Time In and Out</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-6 vg-group">
          <%= form.label :vertical_gain_from_start, class: "mb-1" %>
          <%= tooltip("Cumulative vertical gain from the start of the course") %>
          <div class="input-group">
            <%= form.text_field :vert_gain_in_preferred_units, class: "form-control", disabled: split.start? %>
            <span class="input-group-text"><%= current_user.pref_elevation_unit %></span>
          </div>
        </div>
        <div class="mb-3 col-6 vg-group">
          <%= form.label :vertical_loss_from_start, class: "mb-1" %>
          <%= tooltip("Cumulative vertical loss from the start of the course") %>
          <div class="input-group">
            <%= form.text_field :vert_loss_in_preferred_units, class: "form-control", disabled: split.start? %>
            <span class="input-group-text"><%= current_user.pref_elevation_unit %></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5><strong>Add A Location</strong></h5>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-4">
          <%= form.label :latitude, class: "mb-1" %>
          <%= tooltip("Enter latitude or pick a point on the map") %>
          <div class="input-group">
            <%= form.text_field :latitude,
                                class: "form-control",
                                data: {
                                  "course-setup--split-location-target": "latitude",
                                  action: "change->course-setup--split-location#changed",
                                } %>
            <span class="input-group-text">deg</span>
          </div>
        </div>
        <div class="mb-3 col-4">
          <%= form.label :longitude, class: "mb-1" %>
          <%= tooltip("Enter longitude or pick a point on the map") %>
          <div class="input-group">
            <%= form.text_field :longitude,
                                class: "form-control",
                                data: {
                                  "course-setup--split-location-target": "longitude",
                                  action: "change->course-setup--split-location#changed",
                                } %>
            <span class="input-group-text">deg</span>
          </div>
        </div>
        <div class="mb-3 col-4">
          <%= form.label :elevation, class: "mb-1" %>
          <%= tooltip("Enter elevation or pick a point on the map") %>
          <div class="input-group">
            <%= form.text_field :elevation_in_preferred_units,
                                class: "form-control",
                                data: {
                                  "course-setup--split-location-target": "elevation",
                                } %>
            <span class="input-group-text"><%= current_user.pref_elevation_unit %></span>
          </div>
        </div>
      </div>

      <hr/>
      <div class="col-12">
        <%= form.submit class: "btn btn-primary" %>
        <%= button_tag "Cancel",
                       type: :button,
                       data: { action: "click->form-modal#hide" },
                       class: "btn btn-outline-secondary" %>
      </div>
    <% end %>
  </div>

</div>
