<%# Requires parameter splits, referred_by %>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Distance</th>
    <th>Gain From Start</th>
    <th>Loss From Start</th>
    <th>Elevation</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% splits.each do |split| %>
      <tr>
        <td><strong><%= link_to split.base_name, split_path(split) %></strong></td>
        <td><%= "#{pdu('singular').titleize} #{d(split.distance_from_start)}" %></td>
        <td><%= "#{e(split.vert_gain_from_start)} #{peu}" %></td>
        <td><%= "#{e(split.vert_loss_from_start)} #{peu}" %></td>
        <td><%= "#{e(split.elevation)} #{peu}" %></td>
        <td><%= split.latitude %></td>
        <td><%= split.longitude %></td>
      </tr>
  <% end %>
  </tbody>
</table>
