<%# Requires parameter splits, referred_by %>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Details</th>
    <th>Location</th>
  </tr>
  </thead>
  <tbody>
  <% splits.each do |split| %>
      <tr>
        <td><strong><%= link_to split.name, split_path(split) %></strong></td>
        <td>
          <% unless split.start? %>
              <%= "#{pdu('singular').titleize} #{d(split.distance_from_start)}" %>
              <% if split.vert_gain_from_start.present? %>
                  <%= "• #{e(split.vert_gain_from_start)} #{peu} gain / #{e(split.vert_loss_from_start)} #{peu} loss from start" %>
              <% end %>
          <% end %>
        </td>
        <% if split.location %>
            <td><%= link_to split.location.name, location_path(split.location) %></td>
        <% else %>
            <td>
              <%= link_to "Create", new_location_path(split_id: split.id), class: "btn btn-xs btn-success" %>
              <%= link_to "Select", assign_location_split_path(id: split.id, referrer_path: referred_by),
                          class: "btn btn-xs btn-success" %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
