<p id="notice"><%= notice %></p>

<h1>Listing Splits</h1>

<table>
  <thead>
    <tr>
      <th>Split</th>
      <th>Split name</th>
      <th>Course</th>
      <th>Split order</th>
      <th>Vert gain from start</th>
      <th>Vert loss from start</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @splits.each do |split| %>
      <tr>
        <td><%= split.split_id %></td>
        <td><%= split.split_name %></td>
        <td><%= split.course %></td>
        <td><%= split.split_order %></td>
        <td><%= split.vert_gain_from_start %></td>
        <td><%= split.vert_loss_from_start %></td>
        <td><%= link_to 'Show', split %></td>
        <td><%= link_to 'Edit', edit_split_path(split) %></td>
        <td><%= link_to 'Destroy', split, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Split', new_split_path %>
