<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Course</Data></Cell>
        <Cell><Data ss:Type="String">Location</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Distance From Start</Data></Cell>
      </Row>
      <% @splits.each do |split| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= split.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= split.course.name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= split.location.name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= split.name %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= split.distance_from_start.meters.to.miles %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
