<h1 align="center"><%= @split.name %></h1>
<h4 align="center"><%= "#{@split.kind.titlecase}: Mile #{@split.distance_from_start.meters.to.miles.round(1)}" %></h4>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= @split.description %>
  </div>
</div>
<div class="well col-xs-8 col-xs-offset-2">
  <ul class="object-list-body">
    <li>
      <strong>Course:</strong>
      <%= link_to @split.course.name, course_path(@split.course) %>
    </li>
    <li>
      <strong>Vertical Gain From Start:</strong>
      <%= @split.vert_gain_from_start %>
    </li>
    <li>
      <strong>Vertical Loss From Start:</strong>
      <%= @split.vert_loss_from_start %>
    </li>
  </ul>
  <div class="article-actions">
    <%= link_to '<< View all splits', splits_path, class: "btn btn-sm btn-default" %>
    <%= link_to '< Back', :back, class: "btn btn-sm btn-default" %>
    <% if @current_user.authorized_to_edit?(@split) %>
        <%= link_to 'Edit this split', edit_split_path(@split), class: "btn btn-sm btn-primary" %>
        <%= link_to 'Delete this split', split_path(@split), method: :delete,
                    data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
    <% end %>
  </div>
  <hr>
  <% if @split.location_id? %>
      <strong>Location:</strong>
      <%= link_to @split.location.name, location_path(@split.location) %>
      <div id="map" style="width: 550px; height: 350px;"></div>

      <script>
        $(document).ready(function () {
          var location = <%= @split.location.to_json.html_safe %>    // pass ruby variable to javascript
              gmap_show(location);    // init show map for company card (only print marker)
        });
      </script>
  <% else %>
      <td><%= link_to "Create Location", new_location_path(split_id: @split.id), class: "btn btn-sm btn-success" %></td>
  <% end %>

</div>