<% content_for :title do %>
    <% "OpenSplitTime: Show split - #{@presenter.base_name}" %>
<% end %>
<h1 align="center"><%= @presenter.base_name %></h1>
<h4 align="center"><%= "#{pdu('singular').titleize} #{d(@presenter.distance_from_start)}" %></h4>
<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <%= @presenter.description %>
  </div>
</div>

<div class="well col-xs-8 col-xs-offset-2">
  <ul class="object-list-body">
    <li>
      <strong>Course:</strong>
      <%= link_to @presenter.course.name, course_path(@presenter.course) %>
    </li>
    <li>
      <strong>Vertical Gain From Start:</strong>
      <%= elevation_format(@presenter.vert_gain_from_start) %>
    </li>
    <li>
      <strong>Vertical Loss From Start:</strong>
      <%= elevation_format(@presenter.vert_loss_from_start) %>
    </li>
  </ul>
  <div class="article-actions">
    <%= link_to '<< View course', course_path(@presenter.course), class: "btn btn-sm btn-default" %>
    <%= link_to '< Back', :back, class: "btn btn-sm btn-default" %>
    <% if current_user&.authorized_to_edit?(@presenter.split) %>
        <%= link_to 'Edit this split', edit_split_path(@presenter), class: "btn btn-sm btn-primary" %>
        <%= link_to 'Delete this split',
                    split_path(@presenter),
                    method: :delete,
                    data: {confirm: "Are you sure?"},
                    class: "btn btn-sm btn-danger" %>
    <% end %>
  </div>
  <hr>

  <% if @presenter.latitude && @presenter.longitude %>
      <%= "Elevation: #{elevation_format(@presenter.elevation)}" %>
      <hr>
      <div id="map" style="width: 550px; height: 350px;"></div>

      <script>
          document.addEventListener("turbolinks:load", function () {
              var locations = <%= @presenter.course_splits.to_json.html_safe %>;    // pass ruby variable to javascript
              var trackPoints = <%= @presenter.track_points.to_json.html_safe %>;

              gmap_show(locations, trackPoints);    // init show map
          });
      </script>
  <% end %>

</div>
