<p id="notice"><%= notice %></p>

<p>
  <strong>Split:</strong>
  <%= @split.split_id %>
</p>

<p>
  <strong>Split name:</strong>
  <%= @split.split_name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @split.course %>
</p>

<p>
  <strong>Split order:</strong>
  <%= @split.split_order %>
</p>

<p>
  <strong>Vert gain from start:</strong>
  <%= @split.vert_gain_from_start %>
</p>

<p>
  <strong>Vert loss from start:</strong>
  <%= @split.vert_loss_from_start %>
</p>

<%= link_to 'Edit', edit_split_path(@split) %> |
<%= link_to 'Back', splits_path %>
