<% content_for :title do %>
    <% "OpenSplitTime: Show split - #{@presenter.base_name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong><%= @presenter.base_name %></strong> - <%= "#{pdu('singular').titleize} #{d(@presenter.distance_from_start)}" %></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item">Courses</li>
            <li class="breadcrumb-item"><%= link_to @presenter.course.name, course_path(@presenter.course, display_style: :splits) %></li>
            <li class="breadcrumb-item active"><%= @presenter.base_name %></li>
          </ul>
        </div>
        <div class="ost-subtitle">
          <%= @presenter.description %>
          <h6>
            <strong>Vertical Gain From Start:</strong> <%= elevation_format(@presenter.vert_gain_from_start) %>
          </h6>
          <h6>
            <strong>Vertical Loss From Start:</strong> <%= elevation_format(@presenter.vert_loss_from_start) %>
          </h6>
          <% if @presenter.latitude && @presenter.longitude %>
            <h6>
              <strong>Elevation:</strong> <%= elevation_format(@presenter.elevation) %>
            </h6>
          <% end %>
        </div>
      </div>
    </div>
    <!-- Navigation -->
  </div>
</header>
  
<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-7">
        <div>
          <% if current_user&.authorized_to_edit?(@presenter.split) %>
              <%= link_to 'Edit Split', edit_split_path(@presenter), class: "btn btn-primary" %>
              <%= link_to 'Delete Split',
                          split_path(@presenter),
                          method: :delete,
                          data: {confirm: "Are you sure?"},
                          class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <% if @presenter.latitude && @presenter.longitude %>
      <div id="map" style="width: 550px; height: 350px;"></div>

      <script>
          document.addEventListener("turbolinks:load", function () {
              var locations = <%= [@presenter.split].to_json.html_safe %>;    // pass ruby variable to javascript
              var trackPoints = <%= @presenter.track_points.to_json.html_safe %>;

              gmap_show(locations, trackPoints);    // init show map
          });
      </script>
  <% end %>
</article>
