<%# locals: (service:, user:, initial_state_visible:) %>

<% initial_state_visible ||= false %>
<% credentials = service.credential_keys.map { |key| user.credentials.find_or_initialize_by(service_identifier: service.identifier, key: key) } %>

<div class="card mt-4"
     data-controller="highlight visibility"
     data-highlight-timestamp-value="<%= initial_state_visible ? Time.current.to_i : nil %>"
     data-highlight-fast-value="true"
     data-visibility-button-hide-class-value="btn-primary"
     data-visibility-button-hide-text-value="Hide"
     data-visibility-button-show-class-value="btn-outline-primary"
     data-visibility-button-show-text-value="Reveal"
     data-visibility-initial-state-visible-value="<%= initial_state_visible %>">
  <div class="card-header">
    <div class="row pt-1">
      <div class="col">
        <h4 class="pt-1"><strong><%= service.name %></strong></h4>
      </div>
      <div class="col-4 col-lg-2 text-end d-grid">
        <%= button_tag nil,
                       class: "btn d-none",
                       "data-action": "visibility#toggleElement",
                       "data-visibility-target": "button" %>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive" data-visibility-target="element">
    <%= render partial: "credentials/form",
               collection: credentials,
               as: :credential,
               locals: { user: user } %>
  </div>
</div>
