<div class="col-auto col-md-4 col-lg-4 col-xl-3 px-sm-2 px-0">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">
      <li class="nav-item border-sidebar w-100 mb-3 <%= action_name == "preferences" ? "active" : nil %>">
        <%= link_to user_settings_preferences_path, class: "nav-link align-middle px-0" do %>
          <span><%= fa_icon "list-alt", type: :regular, size: "2x" %></span><span class="ms-2 d-none d-md-inline fs-4">Preferences</span>
        <% end %>
      </li>
      <% unless current_user.from_omniauth? %>
        <li class="nav-item border-sidebar w-100 mb-3 <%= action_name == "password" ? "active" : nil %>">
          <%= link_to user_settings_password_path, class: "nav-link align-middle px-0" do %>
            <span><%= fa_icon "user-shield", type: :regular, size: "2x" %></span><span class="ms-2 d-none d-md-inline fs-4">Password</span>
          <% end %>
        </li>
      <% end %>
      <li class="nav-item border-sidebar w-100 mb-3 <%= action_name == "credentials" ? "active" : nil %>">
        <%= link_to user_settings_credentials_path, class: "nav-link align-middle px-0" do %>
          <span><%= fa_icon "key", type: :regular, size: "2x" %></span><span class="ms-2 d-none d-md-inline fs-4">Credentials</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
