<% content_for :title do %>
  <% "OpenSplitTime: User Credentials" %>
<% end %>

<%= render "header", title: "Credentials" %>

<article class="ost-article container">
  <div class="row flex-nowrap">
    <%= render "sidebar" %>
    <div class="col">
      <%= render partial: "shared/callout_with_link", locals: {
        main_text: t(".credentials_callout.main_text"),
        detail_paragraphs: [t(".credentials_callout.detail_paragraph_1"), t(".credentials_callout.detail_paragraph_2")],
        callout_color: "info",
        icon_color: "info",
        icon_name: "info-circle",
      } %>

      <div class="card">
        <div class="card-header">
          <h4 class="card-title fw-bold mt-1">Add Credentials</h4>
        </div>
        <div class="card-body">
          <% if @presenter.not_existing_user_services.present? %>
            <p class="card-text">Choose the service for which you want to add your credentials:</p>

            <%= form_with url: user_settings_credentials_new_service_path,
                          method: :get,
                          data: { controller: "form-disable-submit", turbo_stream: true } do |form| %>
              <div class="row">
                <div class="col">
                  <%= form.select :service_identifier,
                                  @presenter.not_existing_user_services.map { |service| [service.name, service.identifier] },
                                  { prompt: true },
                                  class: "form-control form-select"
                  %>
                </div>
                <div class="col-2">
                  <%= form.submit "Add", class: "btn btn-outline-success form-control" %>
                </div>
              </div>
            <% end %>
          <% else %>
            <p>You have added credentials for all available services.</p>
            <p>You may edit or remove credentials by revealing them in the cards below.</p>
          <% end %>
        </div>
      </div>

      <div id="credentials_list">
        <% @presenter.existing_user_services.each do |service| %>
          <%= render partial: "user_settings/credentials_service_card",
                     locals: { service: service, user: @presenter.user } %>
        <% end %>
      </div>
    </div>
  </div>
</article>
