<% content_for :title do %>
  <% "OpenSplitTime: User Credentials" %>
<% end %>

<%= render "header", title: "Password" %>

<article class="ost-article container">
  <div class="row flex-nowrap">
    <%= render "sidebar" %>
    <div class="col">
      <p>Credentials are stored securely and encrypted at rest in the OpenSplitTime database. Credentials are used only as needed to connect with outside services.</p>
      <% Connectors::Service.all.each do |service| %>
        <div class="card mt-4"
             data-controller="visibility"
             data-visibility-button-hide-class-value="btn-primary"
             data-visibility-button-hide-text-value="Hide"
             data-visibility-button-show-class-value="btn-outline-primary"
             data-visibility-button-show-text-value="Reveal">
          <div class="card-header">
            <div class="row pt-1">
              <div class="col">
                <h3><strong><%= service.name %></strong></h3>
              </div>
              <div class="col-4 col-lg-2 text-end d-grid">
                <%= button_tag nil,
                               class: "btn d-none",
                               "data-action": "visibility#toggleElement",
                               "data-visibility-target": "button" %>
              </div>
            </div>
          </div>
          <div class="card-body table-responsive" data-visibility-target="element">
            <%= render partial: "credentials/form",
                       collection: service.credentials,
                       as: :key,
                       locals: { user: @user, service_identifier: service.identifier } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</article>
