<% content_for :title do %>
  <% "OpenSplitTime: User Credentials" %>
<% end %>

<%= render "header", title: "Password" %>

<article class="ost-article container">
  <div class="row flex-nowrap">
    <%= render "sidebar" %>
    <%= form_with(model: current_user, url: user_settings_update_path, html: { method: :put, data: { controller: "form-apply" } }) do |f| %>
      <div class="col py-3">
        <% if current_user.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% current_user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="col-12 col-md mb-3">
            <%= f.text_area :credentials, class: "form-control", placeholder: "Paste Credentials Here" %>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md mb-3">
            <%= f.submit "Save Changes", class: "btn btn-primary", data: { turbo: false, "form-apply-target" => "submitButton" } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</article>
