<% content_for :title do %>
  <% "OpenSplitTime: User Password" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong>User Settings</strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item active"><%= link_to "User Settings", user_settings_preferences_path %></li>
            <li class="breadcrumb-item">Password</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <div class="row flex-nowrap">
    <%= render "sidebar" %>
    <div class="col py-3">
      <h4>Change Email</h4>
      <%= form_with(model: current_user, url: user_settings_update_path, html: { method: :put, data: { controller: "form-apply" } }) do |f| %>
        <% if current_user.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% current_user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="col-12 col-md mb-3">
            <%= f.email_field :email, class: "form-control", placeholder: "Email Address" %>
          </div>
          <div class="col-12 col-md mb-3">
            <%= f.submit "Save Changes", class: "btn btn-primary", data: { turbo: false, "form-apply-target" => "submitButton" } %>
          </div>
        </div>
      <% end %>

      <br/>
      <hr/>

      <h4>Change Password</h4>
      <%= form_for(current_user, url: registration_path(:user), html: { method: :put }, data: { controller: "form-apply" }) do |f| %>
        <div class="mb-3">
          <%= f.label :old_password %>
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Current Password" %>
          <p class="form-text text-muted"><small>We need your current password to confirm your changes</small></p>
        </div>

        <div class="mb-3">
          <%= f.label :new_password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
        </div>

        <div class="mb-3">
          <%= f.label :confirm_new_password %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password" %>
        </div>

        <div class="mb-3">
          <%= f.submit "Save Changes", class: "btn btn-primary", data: { turbo: false, "form-apply-target" => "submitButton" } %>
        </div>
      <% end %>

      <br/>
      <hr/>

      <h4>Deactivate Account</h4>
      <br/>
      <p><%= link_to "Deactivate my account", registration_path(:user), data: { confirm: "Are you sure? You cannot undo this." }, method: :delete, class: "btn btn-outline-danger" %></p>
    </div>
  </div>
</article>
