<% content_for :title do %>
  <% "OpenSplitTime: User Preferences" %>
<% end %>

<%= render "header", title: "Preferences" %>

<div class="ost-article container">
  <div class="row flex-nowrap">
    <%= render "sidebar" %>
    <div class="col px-md-4 py-3">
      <% if current_user.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% current_user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="card mb-5">
        <div class="card-header">
          <h4>Personal Information</h4>
        </div>
        <div class="card-body">
          <%= form_with(model: current_user, url: user_settings_update_path, html: { method: :put, data: { controller: "form-disable-submit phone-consent" } }) do |f| %>
            <div class="mb-3">
              <%= f.label :first_name, class: "mb-1 required" %>
              <%= f.text_field :first_name, class: "form-control", placeholder: "First name" %>
            </div>

            <div class="mb-3">
              <%= f.label :last_name, class: "mb-1 required" %>
              <%= f.text_field :last_name, class: "form-control", placeholder: "Last name" %>
            </div>

            <div class="mb-3">
              <%= f.label "Phone", class: "mb-1" %>
              <%= f.text_field :phone, class: "form-control", placeholder: "XXX-XXX-XXXX",
                                       data: { phone_consent_target: "phone", action: "input->phone-consent#toggle" } %>
              <div class="form-text"><%= t("sms.phone.hint") %></div>
            </div>

            <div class="mb-3 p-3 bg-light border rounded">
              <p class="small mb-2">
                <%= t("sms.consent.disclosure") %>
              </p>
              <p class="small mb-2">
                <%= link_to t("sms.consent.view_terms"), sms_info_path %>.
                See our <%= link_to "Privacy Policy", privacy_policy_path(anchor: "sms") %>.
              </p>
              <div class="form-check">
                <%= f.check_box :sms_consent, class: "form-check-input", checked: current_user.sms_opted_in?,
                                              data: { phone_consent_target: "consent" } %>
                <%= f.label :sms_consent, t("sms.consent.checkbox_label"), class: "form-check-label" %>
              </div>
              <% if current_user.sms_opted_in? %>
                <p class="small text-success mt-2 mb-0">
                  <i class="fas fa-check-circle"></i>
                  <%= t("sms.consent.enabled_since", date: l(current_user.phone_confirmed_at.to_date, format: :long)) %>
                </p>
              <% end %>
            </div>

            <div class="mb-3">
              <%= f.submit "Save Changes", class: "btn btn-primary", data: { turbo: false } %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card mb-5">
        <div class="card-header">
          <h4>Unit Preferences</h4>
        </div>
        <div class="card-body">
          <%= form_with(model: current_user, url: user_settings_update_path, html: { method: :put, data: { controller: "form-auto-submit" } }) do |f| %>
            <div class="mb-4 ms-3">
              <%= f.label :pref_distance_unit, "View distance in" %>
              <%= f.select :pref_distance_unit, User.pref_distance_units.keys.map { |unit| [unit.titleize, unit] },
                           { prompt: true }, { class: "form-control dropdown-select-field" } %>
            </div>

            <div class="mb-4 ms-3">
              <%= f.label :pref_elevation_unit, "View elevation in" %>
              <%= f.select :pref_elevation_unit, User.pref_elevation_units.keys.map { |unit| [unit.titleize, unit] },
                           { prompt: true }, { class: "form-control dropdown-select-field" } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
