<%= render "shared/errors", obj: @import_job %>

<div class="row">
  <div class="col-md-12">
    <%= form_with(model: @import_job, local: true, html: { class: "form-horizontal", data: { turbo: false } }) do |f| %>
      <div class="row">
        <div class="mb-3 col-md-4">
          <%= f.label :file_name %>
          <%= f.file_field :files, class: "form-control", autofocus: true %>
        </div>
        <%= f.hidden_field :parent_type %>
        <%= f.hidden_field :parent_id %>
        <%= f.hidden_field :format %>
      </div>

      <div class="row mb-3">
        <div class="col">
          <%= f.submit("Import", class: "btn btn-primary") %>
          <%= link_to "Cancel", request.referrer || import_jobs_path, class: "btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
