<!--Requires local variable modal (boolean)-->

<%= form_for(resource, as: resource_name, url: session_path(resource_name), format: :json, remote: true) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group form-check">
      <%= f.check_box :remember_me, class: 'form-check-input' %>
      <%= f.label :remember_me, class: 'form-check-label' do %>
        <%= resource.class.human_attribute_name('remember_me') %>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit t('devise.sessions.new.sign_in'), id: 'log-in-modal-submit', class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
    document.addEventListener("turbolinks:load", function () {
        $('#log-in-modal')
            .bind('ajax:success', function () {
                reloadWithTurbolinks()
            })
            .bind('ajax:error', function () {
                $('#log-in-error').fadeIn()
            });

        $('#log-in-modal-submit').click(function() {
            $('#log-in-error').fadeOut();
        });
    });

    var reloadWithTurbolinks = (function () {
        var scrollPosition;

        function reload() {
            scrollPosition = [window.scrollX, window.scrollY];
            Turbolinks.visit(window.location.toString(), {action: 'replace'})
        }

        document.addEventListener('turbolinks:load', function () {
            if (scrollPosition) {
                window.scrollTo.apply(window, scrollPosition);
                scrollPosition = null
            }
        });

        return reload
    })();
</script>
