<div class="modal fade" id="log-in-modal" data-controller="login">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"><strong><%= t("devise.sessions.new.sign_in").titleize %></strong></h3>
        <button type="button" class="close" data-dismiss="modal" tabindex="-1">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center" style="display:none" data-login-target="error">
          <div class="alert alert-info d-block" role="alert">
            <div class="col col-login">
              <strong>Invalid email or password.</strong>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col col-login">
            <%= button_to(user_facebook_omniauth_authorize_path,
                          method: :post,
                          id: "facebook-log-in-button",
                          form: {data: {turbo: false}},
                          class: "btn btn-facebook btn-block") do %>
              <%= fab_icon("facebook-square", text: " Log in with Facebook") %>
            <% end %>
            <br/>
            <%= button_to(user_google_oauth2_omniauth_authorize_path,
                          method: :post,
                          id: "google-log-in-button",
                          form: {data: {turbo: false}},
                          class: "btn btn-google btn-block") do %>
              <%= fab_icon("google", text: " Log in with Google") %>
            <% end %>
            <hr class="hr-text" data-content="or">
            <p class="text-center">Log in with Email</p>
            <%= render "devise/sessions/form", modal: true %>
            <%= render "devise/shared/modal_links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
