<%= render "shared/errors", obj: @lottery_simulation_run %>

<div class="row">
  <div class="col-md-12">
    <%= form_with(model: [@lottery_simulation_run.organization, @lottery_simulation_run.lottery, @lottery_simulation_run],
                  local: true,
                  html: { class: "form-horizontal", data: { turbo: false } }) do |f| %>
      <div class="row">
        <div class="mb-3 col-md-4">
          <%= f.label :how_many_simulations? %>
          <%= f.text_field :requested_count, class: "form-control", autofocus: true %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <%= f.submit("Run simulations", class: "btn btn-primary") %>
          <%= link_to "Cancel",
                      setup_organization_lottery_path(@organization, @lottery),
                      class: "btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
