<div id="<%= dom_id lottery_draw %>" class="card">
  <h4 class="card-header font-weight-bold bg-primary text-white"><%= "#{lottery_draw.entrant_full_name}" %></h4>
  <div class="card-body">
    <h6><%= lottery_draw.entrant_bio %></h6>
    <h6><%= lottery_draw.entrant_flexible_geolocation %></h6>
  </div>
  <div class="card-footer font-italic small"><%= "#{time_ago_in_words(lottery_draw.created_at)} ago" %></div>
</div>
<br/>
