<% content_for :title do %>
  <% "OpenSplitTime: Duplicate event group - #{@duplicate_event_group.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong>Duplicate Event Group</strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @duplicate_event_group.organization.name, organization_path(@duplicate_event_group.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @duplicate_event_group.name, event_group_path(@duplicate_event_group) %></li>
            <li class="breadcrumb-item active">Duplicate</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <%= render 'shared/errors', obj: @duplicate_event_group %>

  <div class="row">
    <div class="col-md-12">
      <%= form_for(@duplicate_event_group, html: {class: "form-horizontal", role: "form"}) do |f| %>
        <%= f.hidden_field :existing_id %>

        <div class="form-group required">
          <div class="control-label col-sm-2">
            <%= f.label 'Name of new event group' %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :new_name, class: "form-control", placeholder: "Event name", autofocus: true %>
          </div>
        </div>

        <div class="form-group required">
          <div class="control-label col-sm-2">
            <%= f.label 'Start date' %>
          </div>
          <div class="col-sm-4">
            <%= f.datepicker_field :new_start_date, object: @duplicate_event_group %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit("Duplicate Event Group", class: 'btn btn-primary btn-large') %>
          </div>
        </div>

        <div class="col">
          <span class="brackets"><%= link_to 'Cancel', event_group_path(@duplicate_event_group, force_settings: true) %></span>
        </div>

      <% end %>
    </div>
  </div>
</article>
