<%# locals: (credential:, user:) -%>

<div id="<%= dom_id(credential) %>"
     class="px-3"
     data-controller="highlight"
     data-highlight-timestamp-value="<%= credential.updated_at.to_i %>"
     data-highlight-fast-value="true"
>

  <%= form_with model: credential, data: { controller: "form-disable-submit" } do |form| %>
    <%= form.hidden_field :service_identifier %>
    <%= form.hidden_field :key %>
    <div class="row">
      <div class="col-12 col-lg">
        <div class="input-group my-2 font-monospace">
          <div class="input-group-text w-50 border border-secondary"><%= credential.key %></div>
          <%= form.text_field :value, class: "px-2 px-lg-3 w-50 border border-secondary" %>
        </div>
      </div>
      <div class="col-12 col-lg-3 my-2 text-lg-end">
        <%= form.submit "Save", class: "btn btn-primary" %>
        <% if credential.persisted? %>
          <%= link_to "Clear", credential_path(credential), data: { turbo_method: :delete }, class: "btn btn-outline-danger" %>
        <% else %>
          <%= link_to "Clear", "#", class: "btn btn-outline-danger disabled" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
