<%= form_tag best_efforts_course_path(presenter), method: :get do %>
    <%= hidden_field_tag 'split1', presenter.split1 %>
    <%= hidden_field_tag 'split2', presenter.split2 %>
    <%= hidden_field_tag 'filter[gender]', presenter.gender_text %>
    <div class="input-group">
      <%= text_field_tag 'filter[search]',
                          presenter.search_text,
                          placeholder: 'First name, last name, state, or country',
                          autofocus: true,
                          class: 'form-control search-box' %>
      <span class="input-group-append">
          <%= button_tag(type: :submit, id: 'search-submit', class: 'btn btn-primary') do %>
              <i class='fa fa-search'></i>
          <% end %>
        </span>
    </div>
<% end %>
