<%= render 'shared/errors', obj: @course %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@course, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :name %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :name, class: "form-control", placeholder: "Course name", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :description %>
          </div>
          <div class="col-sm-8">
            <%= f.text_area :description, rows: 4, class: "form-control", placeholder: "Course description" %>
          </div>
        </div>
        <% if @course.new_record? %>
            <%= f.fields_for :splits, @course.splits.new do |builder| %>
                <%= builder.hidden_field :base_name, value: 'Start' %>
                <%= builder.hidden_field :description, value: 'Starting point for the course.' %>
                <%= builder.hidden_field :distance_from_start, value: 0 %>
                <%= builder.hidden_field :sub_split_bitmap, value: 1 %>
                <%= builder.hidden_field :kind, value: :start %>
                <%= builder.hidden_field :vert_gain_from_start, value: 0 %>
                <%= builder.hidden_field :vert_loss_from_start, value: 0 %>
            <% end %>
            <%= f.fields_for :splits, @course.splits.new do |builder| %>
                <%= builder.hidden_field :base_name, value: 'Finish' %>
                <%= builder.hidden_field :description, value: 'Finishing point for the course.' %>
                <%= builder.hidden_field :sub_split_bitmap, value: 1 %>
                <%= builder.hidden_field :kind, value: :finish %>
                <div class="form-group">
                  <div class="control-label col-sm-2">
                    <%= builder.label :distance_as_entered, 'Course distance' %>
                  </div>
                  <div class="col-sm-8">
                    <%= builder.text_field :distance_as_entered, class: "form-control", placeholder: pdu %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="control-label col-sm-2">
                    <%= builder.label :vert_gain_as_entered, 'Total vertical gain' %>
                  </div>
                  <div class="col-sm-8">
                    <%= builder.text_field :vert_gain_as_entered, class: "form-control", placeholder: peu %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="control-label col-sm-2">
                    <%= builder.label :vert_loss_as_entered, 'Total vertical loss' %>
                  </div>
                  <div class="col-sm-8">
                    <%= builder.text_field :vert_loss_as_entered, class: "form-control", placeholder: peu %>
                  </div>
                </div>
            <% end %>
        <% end %>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit(@course.new_record? ? "Create Course" : "Update Course", class: 'btn btn-primary btn-large') %>
          </div>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
          [ <%= link_to 'Cancel', courses_path %> ]
        </div>
    <% end %>
  </div>
</div>