<%= form_for @course do |f| %>

    <% if @course.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@course.errors.count, "error") %> prohibited
            this course from being saved:
          </h2>
          <ul>
            <% @course.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <%= f.label :name, "Name" %>
    <%= f.label :kind, "Kind" %>
    <%= f.label :distance_from_start, "Distance from start:" %>

    <%= f.fields_for :splits do |builder| %>
        <%= render 'split_fields', f: builder %>
    <% end %>

    <p>
      <%= f.submit %>
    </p>

<% end %>
