<%= form_tag plan_effort_course_path, :html => {class: "form-horizontal", role: "form"}, method: :get do %>
    <div class="row">
      <div class="col-xs-2 plan-label">
        <%= label :start_time, 'Event start time' %>
      </div>
      <div class="col-xs-6">
        <%= datetime_select 'start_time',
                            'date',
                            {use_short_month: true,
                             start_year: (Date.today + 5.years).year,
                             end_year: (Date.today - 5.years).year,
                             ampm: true,
                             default: @plan_display.start_time,
                             order: [:month, :day, :year]},
                            {class: "dropdown-select-field"} %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 plan-label">
        <strong>Expected time</strong>
      </div>
      <div class="col-xs-2 plan-label">
        <div class="input-group">
          <span class="input-group-btn">
            <%= label :expected_time, 'Expected time' %>
            <%= text_field_tag :expected_time,
                               params[:expected_time],
                               placeholder: 'hh:mm',
                               autofocus: true,
                               class: 'form-control search-box input-sm' %>
            <%= button_tag(type: :submit, class: 'btn btn-sm btn-success') do %>
              Create my plan
          <% end %>
          </span>
        </div>
      </div>
    </div>
<% end %>