<% content_for :title do %>
  <% "OpenSplitTime: Best efforts - #{@presenter.name} - #{@presenter.segment_name}" %>
<% end %>

<% content_for(:container_type) do %>skip
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="row">
      <div class="ost-title col-xs-12">
        <h1><strong><%= [@presenter.name, "All-time Best"].compact.join(': ') %></strong></h1>
        <ul class="breadcrumb breadcrumb-ost">
          <li><%= link_to 'Organizations', organizations_path %></li>
          <% if @presenter.organization %>
            <li><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
          <% end %>
          <li><%= link_to @presenter.name, course_path(@presenter.course) %></li>
          <li class="active">All-Time best</li>
        </ul>
      </div>
    </div>
    <%= render 'course_navigation', presenter: @presenter %>
  </div>
</header>

<aside class="ost-toolbar container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <% if @presenter.all_efforts_count > 0 %>
          <%= render 'best_efforts_lookup', presenter: @presenter %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-5 btn-toolbar">
        <% unless @presenter.simple? %>
          <%= segment_start_dropdown(@presenter) %>
          <%= segment_finish_dropdown(@presenter) %>
        <% end %>
        <div class="btn-group pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <%= @presenter.gender_text.capitalize %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to_select_gender(@presenter, 'combined') %></li>
            <li><%= link_to_select_gender(@presenter, 'male') %></li>
            <li><%= link_to_select_gender(@presenter, 'female') %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <h4>
    <strong><%= "#{@presenter.segment_name}: #{d(@presenter.distance)} #{pdu}, #{e(@presenter.vert_gain)} #{peu} elevation gain, #{e(@presenter.vert_loss)} #{peu} elevation loss" %></strong>
  </h4>
  <% if @presenter.all_efforts_count > 0 %>
    <h5>
      <%= "Searched #{pluralize(@presenter.events_count, 'event')}
      from #{[@presenter.earliest_event_date, @presenter.most_recent_event_date].compact.join(' to ')}" %>
    </h5>

    <% if @presenter.filtered_efforts_count > 0 %>
      <%= render 'efforts/efforts_list_segment', presenter: @presenter %>

      <div class="row">
        <div class="col-xs-8">
          <%= will_paginate(@presenter.filtered_efforts, inner_window: 2, outer_window: 0) %>
        </div>
      </div>
    <% elsif params[:search].present? && params[:search].length < 3 %>
      <h4>Search parameter is too short</h4>
    <% else %>

      <h4>No efforts match this search</h4>
    <% end %>
  <% else %>
    <h4>No efforts have been measured on this segment.</h4>
  <% end %>
</article>