<div class="row">
  <div class="col-xs-12">
    <% if segment_is_full_course? %>
        <h2><%= "All-time best efforts on #{@course.name} (#{params[:gender]})" %></h2>
    <% else %>
        <h3><%= "All-time best efforts on #{@course.name}" %></h3>
        <hr>
        <h2><%= "#{@segment.name} (#{params[:gender]})" %></h2>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <strong><%= "#{d(@segment.distance)} #{pdu} with #{e(@segment.vert_gain)} #{peu} of elevation gain" %><br>
      <%= "and #{e(@segment.vert_loss)} #{peu} of elevation loss" %></strong><br/>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <% if @segment.end_split.events.count > 0 %>
        <strong>
          <%= "Searched #{pluralize(@segment.end_split.events.count, 'event')}
        from #{@segment.end_split.earliest_event_date.to_date.to_formatted_s(:long)}
        to #{@segment.end_split.latest_event_date.to_date.to_formatted_s(:long)}" %>
        </strong><br/>
    <% else %>
        <strong>No efforts have been measured on this segment.</strong>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6">
    <div class="article-actions">
      <%= link_to '<< Back to course', course_path(@course), class: "btn btn-sm btn-default" %>
      <% unless @course.simple? %>
          <%= link_to 'Choose a segment >', segment_picker_course_path(@course), class: "btn btn-sm btn-default" %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="text-right">
      <%= link_to 'Combined', best_efforts_course_path(@course,
                                                       split1: @segment.begin_id,
                                                       split2: @segment.end_id,
                                                       gender: 'combined'),
                  class: 'btn btn-sm btn-default' %>
      <%= link_to 'Male', best_efforts_course_path(@course,
                                                   split1: @segment.begin_id,
                                                   split2: @segment.end_id,
                                                   gender: 'male'),
                  class: 'btn btn-sm btn-default' %>
      <%= link_to 'Female', best_efforts_course_path(@course,
                                                     split1: @segment.begin_id,
                                                     split2: @segment.end_id,
                                                     gender: 'female'),
                  class: 'btn btn-sm btn-default' %>
    </div>
  </div>
</div>

<% if @efforts.count > 0 %>
    <div class="row">
      <div class="col-xs-8">
        <%= will_paginate(@efforts, inner_window: 2, outer_window: 0) %>
      </div>
    </div>

    <%= render 'efforts/efforts_list_segment', efforts: @efforts, segment: @segment %>

    <div class="row">
      <div class="col-xs-8">
        <%= will_paginate(@efforts, inner_window: 2, outer_window: 0) %>
      </div>
    </div>
<% end %>