<% content_for :title do %>
    <% "OpenSplitTime: Best efforts - #{@best_display.name} - #{@best_display.segment_name}" %>
<% end %>
<div class="row">
  <div class="col-xs-12">
    <% if @best_display.segment_is_full_course? %>
        <h2><%= "All-time best efforts on #{@best_display.name} (#{@best_display.gender_text})" %></h2>
    <% else %>
        <h3><%= "All-time best efforts on #{@best_display.name}" %></h3>
        <hr>
        <h2><%= "#{@best_display.segment_name} (#{@best_display.gender_text})" %></h2>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <strong><%= "#{d(@best_display.distance)} #{pdu} with #{e(@best_display.vert_gain)} #{peu} of elevation gain" %><br>
      <%= "and #{e(@best_display.vert_loss)} #{peu} of elevation loss" %></strong><br/>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <% if @best_display.events_count > 0 %>
        <strong>
          <%= "Searched #{pluralize(@best_display.events_count, 'event')}
        from #{@best_display.earliest_event_date.to_date.to_formatted_s(:long)}
        to #{@best_display.most_recent_event_date.to_date.to_formatted_s(:long)}" %>
        </strong><br/>
    <% else %>
        <strong>No efforts have been measured on this segment.</strong>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6">
    <div class="article-actions">
      <%= link_to '<< Back to course', course_path(@best_display.course), class: "btn btn-sm btn-default" %>
      <% unless @best_display.course.simple? %>
          <%= link_to 'Choose a segment >', segment_picker_course_path(@best_display.course), class: "btn btn-sm btn-default" %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="text-right">
      <div class="btn-group">
        <%= link_to 'Combined', best_efforts_course_path(@best_display.course,
                                                         split1: @best_display.begin_id,
                                                         split2: @best_display.end_id,
                                                         gender: 'combined',
                                                         search_param: params[:search_param]),
                    disabled: params[:gender] == 'combined',
                    class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Male', best_efforts_course_path(@best_display.course,
                                                     split1: @best_display.begin_id,
                                                     split2: @best_display.end_id,
                                                     gender: 'male',
                                                     search_param: params[:search_param]),
                    disabled: params[:gender] == 'male',
                    class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Female', best_efforts_course_path(@best_display.course,
                                                       split1: @best_display.begin_id,
                                                       split2: @best_display.end_id,
                                                       gender: 'female',
                                                       search_param: params[:search_param]),
                    disabled: params[:gender] == 'female',
                    class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
  </div>
</div>

<%= render 'best_efforts_lookup' %>

<% if @best_display.filtered_efforts_count > 0 %>
    <div class="row">
      <div class="col-xs-8">
        <%= will_paginate(@best_display.filtered_efforts, inner_window: 2, outer_window: 0) %>
      </div>
    </div>

    <%= render 'efforts/efforts_list_segment' %>

    <div class="row">
      <div class="col-xs-8">
        <%= will_paginate(@best_display.filtered_efforts, inner_window: 2, outer_window: 0) %>
      </div>
    </div>
<% end %>