<% content_for :title do %>
  <% "OpenSplitTime: Cutoff analysis - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <%= render partial: "course_heading", locals: { title: "Cutoff Analysis" } %>
    <%= course_view_tabs(@presenter) %>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col d-inline-flex">
        <div class="dropdown">
          <div class="btn-group btn-group-ost" role="group">
            <%= prior_next_nav_button(@presenter, :prior) %>
            <%= split_name_dropdown(@presenter) %>
            <%= prior_next_nav_button(@presenter, :next) %>
          </div>
        </div>
        <div class="dropdown ms-2 mb-2">
          <%= traffic_band_width_dropdown(@presenter) %>
        </div>
      </div>
      <div class="col text-end">
        <%= display_style_dropdown_menu(@presenter) %>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <h4><%= @presenter.table_title %></h4>
  <br/>

  <% if @presenter.visible_events_exist? && @presenter.interval_split_cutoff_analyses.present? %>
    <div>
      <%= column_chart @presenter.chart_data, stacked: true %>
    </div>
    <hr/>

    <table class="table table-striped" style="width:80%">
      <thead>
      <tr>
        <th>Elapsed Time</th>
        <th class="text-center">Total Efforts</th>
        <th class="text-center">Finished Efforts</th>
      </tr>
      </thead>
      <tbody>
      <% @presenter.interval_split_cutoff_analyses.each do |isca| %>
        <tr>
          <td><%= @presenter.range_string(isca) %></td>
          <td class="text-center"><%= isca.total_count %></td>
          <td class="text-center"><%= isca.finished_count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <h5>No efforts have been measured at this aid station.</h5>
  <% end %>
</article>
