<% content_for :title do %>
  <% "OpenSplitTime: Edit course #{@course.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong>Edit Course - <%= @course.name %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @course.name, course_path(@course) %></li>
            <li class="breadcrumb-item active">Edit</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <%= render 'old_form' %>
  <hr>
  <%= link_to_delete_resource('Delete this course', course_path(@course),
                              resource: @course,
                              noteworthy_associations: [:splits],
                              class: "btn btn-danger") %>
</article>
