<h1>Listing Courses</h1>

<%= link_to 'New Course', new_course_path %>

<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= link_to 'Show', course_path(course) %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course_path(course),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>
