<% content_for :title do %>
    <% "OpenSplitTime: Plan my effort - #{@plan_display.course.name}" %>
<% end %>
<div class="row">
  <div class="col-xs-12">
    <h3><%= "#{@current_user.full_name}" %></h3>
    <h2>
      <%= "#{@plan_display.course.name} pacing plan" %>
      <%= "for a #{time_format_hhmm(@plan_display.expected_time)} goal time" if @plan_display.expected_time %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <% if @plan_display.expected_time %>
        <h3><%=  %></h3>
            <h3><%= "Analyzed #{pluralize(@plan_display.relevant_efforts_count, 'effort')} from #{'year'.pluralize(@plan_display.event_years_analyzed.count)} #{@plan_display.event_years_analyzed.to_sentence}" %></h3>
    <% end %>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-xs-6">
    <%= link_to '<< Back to course', course_path(@plan_display.course), class: "btn btn-sm btn-default" %>
    <%= link_to '< Back', :back, class: "btn btn-sm btn-default" %>
  </div>
</div>
<hr>

<%= render 'time_input' %>

<hr>
<% if @plan_display.expected_time %>
    <% if @plan_display.relevant_efforts_count > 0 %>
    <%= render 'plan_detail'%>
        <% else %>
          <h4>Found no efforts close to that time.</h4>
        <% end %>
<% end %>
