<% content_for :title do %>
  <% "OpenSplitTime: Plan my effort - #{@plan_display.course_name}" %>
<% end %>


<% content_for(:container_type) do %>skip<% end %>
  
<header class="ost-header">
  <div class="container">
    <div class="row">
      <div class="ost-title col-sm-9">
        <h1><strong><%= [@plan_display.course_name, "Plan My Effort"].compact.join(': ') %></strong></h1>
        <ul class="breadcrumb breadcrumb-ost">
          <li><%= link_to 'Courses', courses_path %></li>
          <li><%= link_to @plan_display.course_name, course_path(@plan_display) %></li>
          <li class="active">Plan My Effort</li>
        </ul>
      </div>
      <aside class="ost-alerts col-sm-3">
      </aside>
    </div>
    <%= render 'course_navigation', presenter: @plan_display %>
  </div>
</header>


<article class="ost-article container">

<% if @plan_display.event %>
  <%= render 'time_input' %>

  <hr>

  <% if @plan_display.event %>
    <% if @plan_display.expected_time && @plan_display.lap_split_rows.present? %>
      <div class="row">
        <div class="col-xs-10">
          <h4><strong><%= "Pacing plan for a #{time_format_hhmm(@plan_display.expected_time)} effort" %></strong></h4>
          <h5><%= "Based on #{pluralize(@plan_display.relevant_efforts_count, 'effort')} " +
                  "from #{'year'.pluralize(@plan_display.event_years_analyzed.size)} " +
                  "#{@plan_display.event_years_analyzed.to_sentence}" %></h5>
        </div>
        <div class="col-xs-2">
          <%= link_to 'Export plan', request.params.merge(format: :csv), class: 'btn btn-sm btn-success' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @plan_display.expected_time %>
    <% if @plan_display.lap_split_rows.present? %>
      <%= render 'plan_detail' %>
    <% else %>
      <h4>Insufficient data to create a plan.</h4>
    <% end %>
  <% end %>
<% else %>
  <h4>No events have been run on this course.</h4>
<% end %>
</article>