<% content_for :title do %>
  <% "OpenSplitTime: Plan my effort - #{@plan_display.course_name}" %>
<% end %>
<div class="row header">
  <div class="col-xs-7">
    <h2><strong>
      <%= link_to @plan_display.course_name, course_path(@plan_display.course) %><br/>
    </strong></h2>
    <strong>
      <% if @plan_display.event %>
        <% if @plan_display.expected_time && @plan_display.lap_split_rows.present? %>
          <%= "Analyzed #{pluralize(@plan_display.relevant_efforts_count, 'effort')} " +
                  "from #{'year'.pluralize(@plan_display.event_years_analyzed.size)} " +
                  "#{@plan_display.event_years_analyzed.to_sentence}" %>
        <% end %>
      <% end %>
    </strong>
  </div>
  <div class="col-xs-5 page-navigation">
    <div class="page-navigation-text">
      <% if @plan_display.event && @plan_display.expected_time %>
        <h4>
          <%= "PACING PLAN FOR A #{time_format_hhmm(@plan_display.expected_time)} FINISH TIME" %>
          <% if current_user %>
            <br/><%= "PREPARED FOR #{current_user.full_name.upcase}" %>
          <% end %>
        </h4>
      <% end %>
    </div>
  </div>
</div>

<% if @plan_display.event %>
  <%= render 'time_input' %>

  <hr>
  <% if @plan_display.expected_time %>
    <% if @plan_display.lap_split_rows.present? %>
      <%= render 'plan_detail' %>
      <div class="row">
        <%= link_to 'Export plan', request.params.merge(format: :csv), class: 'btn btn-sm btn-success' %>
      </div>
    <% else %>
      <h4>Insufficient data to create a plan.</h4>
    <% end %>
  <% end %>
<% else %>
  <h4>No events have been run on this course.</h4>
<% end %>
