<div class="row">
  <div class="col-xs-6">
    <h2><%= @course.name %></h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <strong>Choose a segment using the menus below</strong>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-xs-6">
    <%= link_to '<< Show course', course_path(@course), class: 'btn btn-sm btn-default' %>
    <%= link_to '< Back', :back, class: 'btn btn-sm btn-default' %>
  </div>
</div>
<hr>

<%= form_tag(best_efforts_course_path(@course), method: :get) do %>
    <div class="row">
      <div class="col-sm-3">
        <strong>From </strong>
        <%= select_tag(:split1,
                       options_from_collection_for_select(@course.ordered_splits_without_finish, :id, :base_name),
                       {class: "dropdown-select-field"}) %>
      </div>
      <div class="col-sm-3">
        <strong>To </strong>
        <%= select_tag(:split2,
                       options_from_collection_for_select(@course.ordered_splits_without_start, :id, :base_name),
                       {class: "dropdown-select-field"}) %>
      </div>
    </div>

    <hr>
    <div class="row">
      <%= submit_tag 'Show best efforts', class: 'btn btn-sm btn-default' %>
    </div>

<% end %>
