<% content_for :title do %>
  <% "OpenSplitTime: Show course - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong><%= @presenter.name %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
            <% if @presenter.organization %>
              <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization, display_style: :courses) %></li>
            <% end %>
            <li class="breadcrumb-item"><%= @presenter.name %></li>
            <li class="breadcrumb-item active"><%= @presenter.display_style.titleize %></li>
          </ul>
        </div>
        <div class="ost-subtitle">
          <% if @presenter.description %>
            <h5>
              <%= @presenter.description %>
            </h5>
          <% end %>
        </div>
      </div>
    </div>
    <%= course_view_tabs(@presenter) %>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col">
        <div>
          <% if current_user&.authorized_to_edit?(@presenter.course) %>
            <%= link_to 'Edit', edit_course_path(@presenter.course), class: 'btn btn-outline-secondary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <% if @presenter.course_has_location_data? %>
    <div id="map" style="width: 100%; height: 350px;" data-controller="maps" data-target="maps.mapInfo"
         data-course-id="<%= @presenter.id %>"></div>
  <% end %>
  <br/>

  <% if @presenter.display_style == 'splits' %>
    <% if @presenter.ordered_splits.present? %>
      <%= render 'splits/splits', splits: @presenter.ordered_splits, referred_by: course_path(@presenter.course) %>
    <% else %>
      <h4>No splits are associated with this course.</h4>
    <% end %>
  <% else %>
    <% if @presenter.events.present? %>
      <%= render 'events/events', presenter: @presenter, events: @presenter.events, show_grouping_button: false %>
    <% else %>
      <h4>No events have been held on this course.</h4>
    <% end %>
  <% end %>
</article>
