<% content_for :title do %>
    <% "OpenSplitTime: Show course - #{@course_view.name}" %>
<% end %>
<div class="row header">
  <div class="col-xs-7">
    <h2><strong><%= @course_view.name %></strong></h2>
  </div>
  <div class="col-xs-5 page-navigation">
    <div class="row">
      <% if @current_user && @current_user.authorized_to_edit?(@course_view.course) %>
          <%= link_to 'Edit', edit_course_path(@course_view.course), class: 'btn btn-sm btn-primary' %>
          <%= link_to 'New split', new_split_path(course_id: @course_view.course_id), class: 'btn btn-sm btn-success' %>
          <%= link_to 'Delete', course_path(@course_view.course, referrer_path: courses_path),
                      method: :delete,
                      data: {confirm: 'NOTE: This will delete the course and all associated splits. This action cannot be undone. Are you sure you want to go ahead?'},
                      class: 'btn btn-sm btn-danger' %>
      <% end %>
      <% unless @course_view.simple? %>
          <%= link_to 'Plan my effort', plan_effort_course_path(@course_view.course), method: :get, class: 'btn btn-sm btn-primary' %>
      <% end %>
      <%= link_to 'All-time best', best_efforts_course_path(@course_view.course), class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
</div>

<div class="row">
  <% if @course_view.description %>
      <div class="col-md-4">
        <%= @course_view.description %>
      </div>
  <% end %>
  <% if @course_view.course_has_locations? %>
      <div class="col-md-8">
        <div id="map" style="width: 550px; height: 350px;"></div>

        <script>
          $(document).ready(function () {
            var locations = <%= @course_view.locations.to_json.html_safe %>; // pass ruby variables to javascript
            var latitude_center = <%= @course_view.latitude_center %>;
            var longitude_center = <%= @course_view.longitude_center %>;
            var zoom = <%= @course_view.zoom %>;

            gmap_show(locations, {latitude: latitude_center, longitude: longitude_center, zoom: zoom});    // init show map
          });
        </script>

      </div>
  <% end %>
</div>

<div class="row header">
  <div class="col-xs-5">
    <h3><%= @course_view.view_text.titleize %></h3>
  </div>
  <div class="col-xs-7 page-navigation">
    <div class="row">
      <div class="btn-group">
        <%= link_to 'Show splits',
                    course_path(@course_view.course, view: 'splits'),
                    disabled: @course_view.view_text == 'splits',
                    class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Show events',
                    course_path(@course_view.course, view: 'events'),
                    disabled: @course_view.view_text == 'events',
                    class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
  </div>
</div>

<% if @course_view.view_text == 'splits' %>
    <% if @course_view.splits_count > 0 %>
        <%= render 'splits/splits', splits: @course_view.ordered_splits, referred_by: course_path(@course_view) %>
    <% else %>
        <h4>No splits are associated with this course.</h4>
    <% end %>
<% else %>
    <% if @course_view.events_count > 0 %>
        <%= render 'events/events', events: @course_view.events %>
    <% else %>
        <h4>No events have been held on this course.</h4>
    <% end %>
<% end %>
