<%# Requires parameter efforts %>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th><%= "#{@presenter.full_name}'s efforts:" %></th>
    <th>From</th>
    <th class="text-right">Finish Time</th>
    <% if current_user&.admin? %>
        <th class="text-right">Actions</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
    <% efforts.each do |effort| %>
      <tr class="<%= data_status_text_class[effort.data_status] %>">
      <td><strong><%= link_to effort.event.name, effort_path(effort) %></strong></td>
      <td><%= effort.state_and_country %></td>
      <td class="text-right"><%= effort.finish_status %></td>
      <% if current_user&.admin? %>
          <td class="text-right"><%= link_to 'Disassociate',
                                             effort_path(effort, effort: {person_id: nil}, commit: 'Disassociate'),
                                             method: :patch,
                                             class: 'btn btn-xs btn-danger' %></td>
      <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
