<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th><%= link_to_reversing_sort_heading('Rank', '', @event_display.existing_sort) %></th>
    <th><%= link_to_reversing_sort_heading('Name', 'last_name,first_name', @event_display.existing_sort) %></th>
    <% if @event_display.available_live %>
        <th><%= link_to_reversing_sort_heading('Bib#', :bib_number, @event_display.existing_sort) %></th>
    <% end %>
    <th><%= link_to_reversing_sort_heading('Category', 'gender,age', @event_display.existing_sort) %></th>
    <th><%= link_to_reversing_sort_heading('From', :state_code, @event_display.existing_sort) %></th>
    <% if @event_display.available_live %>
        <th>Status</th>
    <% else %>
        <th>Result</th>
    <% end %>
    <th>Last Recorded</th>
    <th>Time of Day</th>
    <th>Elapsed Time</th>
    <th>Notify Me Live</th>
  </tr>
  </thead>
  <tbody>
  <% @event_display.ranked_effort_rows.each do |effort_row| %>
      <%= data_status_tag(effort_row) %>
      <td><%= effort_row.display_overall_rank %></td>
      <td><strong><%= link_to effort_row.full_name, effort_path(effort_row) %></strong></td>
      <% if @event_display.available_live %>
          <td><%= effort_row.bib_number %></td>
      <% end %>
      <td><%= effort_row.bio_historic %></td>
      <td><%= effort_row.flexible_geolocation %></td>
      <td><%= effort_row.run_status %></td>
      <td><%= last_reported_location(effort_row) %></td>
      <td><%= last_reported_time_of_day(effort_row) %></td>
      <td><%= last_reported_elapsed_time(effort_row) %></td>
      <td>
        <%= div_for(effort_row.person) do %>
            <%= link_to_toggle_email_subscription(effort_row.person) %>
            <%= link_to_toggle_sms_subscription(effort_row.person) %>
        <% end %>
      </td>
      </tr>
  <% end %>
  </tbody>
</table>
