<%# locals: (view_object:) -%>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col-12 col-md-6">
        <div class="ost-title">
          <div class="btn-group btn-group-ost">
            <%= prior_next_nav_button(view_object, :prior, param: :id) %>
            <%= prior_next_nav_button(view_object, :next, param: :id) %>
          </div>
          <%= link_to_refresh %>
          <h1><strong>
            <% if view_object.person %>
              <%= link_to view_object.full_name, person_path(view_object.person) %>
            <% else %>
              <%= view_object.full_name %>
            <% end %>
          </strong></h1>
          <%= effort_view_breadcrumbs(view_object, title) %>
        </div>
        <div class="ost-subtitle">
          <%= effort_start_time_string(view_object) %>
          <%= effort_view_status(view_object) %>
        </div>
      </div>

      <% unless action_name == "audit" %>
        <div class="col-12 col-lg-2">
          <% if view_object.photo.attached? %>
            <div class="text-center py-2 py-lg-0">
              <%= link_to image_tag(view_object.photo.variant(:small)), { action: :show_photo }, data: { turbo_frame: "form_modal" } %>
            </div>
          <% end %>
        </div>
        <% if view_object.progress_notifiable? %>
          <div class="col-12 col-lg-4">
            <div class="float-lg-right">
              <%= render "subscription_buttons", effort: view_object.effort %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= effort_view_tabs(view_object) %>
  </div>
</header>
