<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>&num;</th>
    <th>Name</th>
    <th>Bib&num;</th>
    <th>Category</th>
    <th>From</th>
    <th class="text-right">Status</th>
  </tr>
  </thead>
  <tbody>
  <% @event_display.effort_rows.each do |effort_row| %>
      <% if effort_row.bad? %>
          <tr class="text-danger">
      <% elsif effort_row.questionable? %>
          <tr class="text-warning">
      <% else %>
          <tr>
      <% end %>
      <td><%= effort_row.overall_place %></td>
      <td><strong><%= link_to effort_row.full_name, effort_path(effort_row.id) %></strong></td>
      <td><%= effort_row.bib_number %></td>
      <td><%= effort_row.bio_historic %></td>
      <td><%= effort_row.state_and_country %></td>
      <td class="text-right"><%= "#{effort_row.run_status} at #{day_time_format(effort_row.day_and_time)}" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
