<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>
      Overall/<br>Gender
    </th>
    <th>Name</th>
    <th>Category</th>
    <th>From</th>
    <th>Year</th>
    <% unless presenter.segment_ends_at_finish? %>
      <th class="text-center">Finished?</th>
    <% end %>
    <th class="text-right"><%= presenter.time_header_text %></th>
  </tr>
  </thead>
  <tbody>
  <% presenter.effort_rows.each do |effort_row| %>
      <tr>
        <td>
          <%= "#{effort_row.overall_rank}/#{effort_row.gender_rank}" %>
        </td>
        <td><strong><%= link_to effort_row.full_name, effort_path(effort_row) %></strong></td>
        <td><%= effort_row.bio_historic %></td>
        <td><%= effort_row.flexible_geolocation %></td>
        <td><%= effort_row.year_and_lap %></td>
        <% unless presenter.segment_ends_at_finish? %>
          <td class="text-center"><%= humanize_boolean(effort_row.finished?) %></td>
        <% end %>
        <td class="text-right"><%= time_format_hhmmss(effort_row.segment_seconds) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
