<% # Requires local parameter view_object %>

<table class="table table-sm">
  <thead>
  <tr>
    <th colspan="6"><h4><%= "#{@presenter.name} Results Summary (#{@presenter.summary_title})" %></h4></th>
    <th colspan="3"><%= render 'shared/print_info' %></th>
  </tr>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Bib</th>
    <th>Category</th>
    <th>From</th>
    <% unless @presenter.finished_efforts_only? %>
      <th>Status</th>
      <th>Last Recorded</th>
    <% end %>
    <% if @presenter.multiple_laps? %>
      <th class="text-center">Laps</th>
    <% end %>
    <th class="text-center">Time of Day</th>
    <th class="text-center">Elapsed</th>
  </tr>
  </thead>
  <tbody>
  <% view_object.ranked_effort_rows.each do |effort_row| %>
    <td><%= effort_row.display_overall_rank %></td>
    <td><%= effort_row.full_name %></td>
    <td><%= effort_row.bib_number %></td>
    <td><%= effort_row.bio_historic %></td>
    <td><%= effort_row.flexible_geolocation %></td>
    <% unless @presenter.finished_efforts_only? %>
      <td><%= effort_row.effort_status %></td>
      <td><%= last_reported_location(effort_row) %></td>
    <% end %>
    <% if @presenter.multiple_laps? %>
      <td class="text-center"><%= effort_row.final_lap %></td>
    <% end %>
    <td class="text-center text-nowrap"><%= last_reported_time_of_day(effort_row) %></td>
    <td class="text-center"><%= last_reported_elapsed_time(effort_row) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
