<%# Requires parameter efforts %>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <% if params[:controller] == 'courses' || params[:controller] == 'events' %>
        <th>#</th>
    <% end %>
    <th>Name</th>
    <% if params[:controller] == 'courses' || params[:controller] == 'events' %>
        <th>Category</th>
    <% end %>
    <th>From</th>
    <% if params[:controller] == 'courses' %>
        <th>Year</th>
    <% end %>
    <th class="text-right">Finish Time</th>
    <% if @current_user.admin? && controller_name == 'participants' %>
        <th class="text-right">Actions</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% items.each do |effort| %>
      <tr>
        <% if params[:controller] == 'courses' || params[:controller] == 'events' %>
            <td><%= items.offset + items.index(effort) + 1 %></td>
        <% end %>
        <% if params[:controller] == 'participants' %>
            <td><strong><%= link_to effort.event.name, effort_path(effort) %></strong></td>
        <% else %>
            <td><strong><%= link_to effort.full_name, effort_path(effort) %></strong></td>
        <% end %>
        <% if params[:controller] == 'courses' || params[:controller] == 'events' %>
            <td><%= effort.bio_historic %></td>
        <% end %>
        <td><%= effort.state_and_country %></td>
        <% if params[:controller] == 'courses' %>
            <td><%= effort.start_time.year %></td>
        <% end %>
        <td class="text-right"><%= effort.finish_status %></td>
        <% if @current_user.admin? && controller_name == 'participants' %>
            <td class="text-right"><%= link_to 'Disassociate',
                                               remove_effort_participant_path(@participant, effort_id: effort.id),
                                               method: :delete,
                                               class: 'btn btn-xs btn-danger' %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
