<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th><%= link_to_reversing_sort_heading('Name', 'last_name,first_name', @event_display.existing_sort) %></th>
    <th><%= link_to_reversing_sort_heading('Bib#', 'bib_number', @event_display.existing_sort) %></th>
    <th><%= link_to_reversing_sort_heading('Category', 'gender,age', @event_display.existing_sort) %></th>
    <th><%= link_to_reversing_sort_heading('From', 'state_code', @event_display.existing_sort) %></th>
    <th><%= link_to_reversing_sort_heading('Scheduled Start', 'start_offset', @event_display.existing_sort) %></th>
    <th>Notify Me Live</th>
  </tr>
  </thead>
  <tbody>
  <% @event_display.filtered_unstarted_efforts.each do |effort| %>
      <td><strong><%= link_to effort.full_name, effort_path(effort) %></strong></td>
      <td><%= effort.bib_number %></td>
      <td><%= effort.bio_historic %></td>
      <td><%= effort.flexible_geolocation %></td>
      <td><%= day_time_format_hhmmss(effort.start_time) %></td>
      <td>
        <%= div_for(effort.person) do %>
            <%= link_to_toggle_email_subscription(effort.person) %>
            <%= link_to_toggle_sms_subscription(effort.person) %>
        <% end %>
      </td>
      </tr>
  <% end %>
  </tbody>
</table>
