<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Bib&num;</th>
    <th>Category</th>
    <th>From</th>
    <th>Scheduled Start Time</th>
    <th>Data Status</th>
    <th>
      <%= link_to(content_tag(:i, nil, class: 'btn btn-xs btn-default glyphicon glyphicon-unchecked'),
                  stage_event_path(@event_stage, checked_in: false, started: false)) %>
      <%= link_to(content_tag(:i, nil, class: 'btn btn-xs btn-success glyphicon glyphicon-check'),
                  stage_event_path(@event_stage, checked_in: true, started: false)) %>
      <%= link_to(content_tag(:i, nil, class: 'btn btn-xs btn-primary glyphicon glyphicon-expand'),
                  stage_event_path(@event_stage, started: true)) %>
      <%= link_to(content_tag(:i, nil, class: 'btn btn-xs btn-warning glyphicon glyphicon-asterisk'),
                  stage_event_path(@event_stage)) %>
    </th>
  </tr>
  </thead>
  <% if @event_stage.filtered_efforts_count > 0 %>
      <tbody>
      <% @event_stage.filtered_efforts.each do |effort| %>
          <tr>
            <td><strong><%= link_to effort.full_name, effort_path(effort) %></strong></td>
            <td><%= effort.bib_number %></td>
            <td><%= effort.bio_historic %></td>
            <td><%= effort.flexible_geolocation %></td>
            <td><%= "#{day_time_format(effort.start_time)} (#{offset_format_xxhyym(effort.start_offset)})" %></td>
            <td><%= effort.data_status %></td>
            <td>
              <%= div_for(effort) do %>
                  <%= link_to_toggle_check_in(effort, @event_stage.effort_started?(effort)) %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
  <% else %>
      <hr>
      <strong>No results match that search.</strong>
  <% end %>
</table>
