<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th><%= link_to_reversing_sort_heading('Bib', :bib_number, @presenter.existing_sort) %></th>
    <% if @presenter.multiple_events? %>
      <th><%= link_to_reversing_sort_heading('Event', 'event_id,sortable_bib_number', @presenter.existing_sort) %></th>
    <% end %>
    <th><%= link_to_reversing_sort_heading('Name', :effort_last_name, @presenter.existing_sort) %></th>
    <th>Category</th>
    <th>From</th>
    <th><%= link_to_reversing_sort_heading('Dropped where', :final_distance, @presenter.existing_sort) %></th>
    <th class="text-right"><%= link_to_reversing_sort_heading('Dropped when', :final_time_from_start, @presenter.existing_sort) %></th>
  </tr>
  </thead>

  <tbody>
  <% @presenter.dropped_effort_rows.each do |effort| %>
    <td><%= effort.bib_number %></td>
    <% if @presenter.multiple_events? %>
      <td><%= effort.event.guaranteed_short_name %></td>
    <% end %>
    <td><strong><%= link_to effort.full_name, effort_path(effort) %></strong></td>
    <td><%= effort.bio_historic %></td>
    <td><%= effort.flexible_geolocation %></td>
    <td><%= effort.final_split_name %></td>
    <td class="text-right"><%= day_time_format(effort.final_day_and_time) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
