<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th><%= link_to 'Bib', drop_list_event_path(@event_dropped_display.event, sort: reversed_sort_param(@event_dropped_display, :bib_number)) %></th>
    <th><%= link_to 'Name', drop_list_event_path(@event_dropped_display.event, sort: toggled_sort_param(@event_dropped_display, :last_name, :first_name)) %></th>
    <th>Category</th>
    <th>From</th>
    <th><%= link_to 'Dropped where', drop_list_event_path(@event_dropped_display.event, sort: reversed_sort_param(@event_dropped_display, :final_distance)) %></th>
    <th class="text-right">
      <%= link_to 'Dropped when', drop_list_event_path(@event_dropped_display.event, sort: reversed_sort_param(@event_dropped_display, :final_time)) %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @event_dropped_display.dropped_effort_rows.each do |effort_row| %>
      <td><%= effort_row.bib_number %></td>
      <td><strong><%= link_to effort_row.full_name, effort_path(effort_row) %></strong></td>
      <td><%= effort_row.bio_historic %></td>
      <td><%= effort_row.flexible_geolocation %></td>
      <td><%= effort_row.final_split_name %></td>
      <td class="text-right"><%= day_time_format(effort_row.final_day_and_time) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
