<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th><%= link_to 'Bib', drop_list_event_path(@event_dropped_display.event,
                                                sort: params[:sort]&.include?('bib_asc') ? 'bib_desc' : 'bib_asc') %></th>
    <th><%= link_to 'Name', drop_list_event_path(@event_dropped_display.event,
                                                 sort: params[:sort]&.include?('first') ? 'last' : 'first') %></th>
    <th>Category</th>
    <th>From</th>
    <th><%= link_to 'Dropped where', drop_list_event_path(@event_dropped_display.event,
                                                          sort: params[:sort]&.include?('distance_asc') ? 'distance_desc' : 'distance_asc') %></th>
    <th class="text-right"><%= link_to 'Dropped when', drop_list_event_path(@event_dropped_display.event,
                                                                            sort: params[:sort]&.include?('time_asc') ? 'time_desc' : 'time_asc') %></th>
  </tr>
  </thead>
  <tbody>
  <% @event_dropped_display.effort_rows.each do |effort_row| %>
      <td><%= effort_row.bib_number %></td>
      <td><strong><%= link_to effort_row.full_name, effort_path(effort_row.effort) %></strong></td>
      <td><%= effort_row.bio_historic %></td>
      <td><%= effort_row.state_and_country %></td>
      <td><%= effort_row.final_split_name %></td>
      <td class="text-right"><%= day_time_format(effort_row.final_day_and_time) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
