<% # Requires local parameter view_object %>
 
<table class="table table-striped table-centered table-fixed">
  <thead>
  <tr>
    <th><%= link_to_reversing_sort_heading('Rank', '', view_object.existing_sort) %></th>
    <th><%= link_to_reversing_sort_heading('Name', 'last_name,first_name', view_object.existing_sort) %></th>
    <% if view_object.available_live %>
        <th><%= link_to_reversing_sort_heading('Bib#', :bib_number, view_object.existing_sort) %></th>
    <% end %>
    <th><%= link_to_reversing_sort_heading('Category', 'gender,age', view_object.existing_sort) %></th>
    <th><%= link_to_reversing_sort_heading('From', :state_code, view_object.existing_sort) %></th>
    <% if view_object.available_live %>
        <th>Status</th>
    <% else %>
        <th>Result</th>
    <% end %>
    <th>Last Recorded</th>
    <th>Time of Day</th>
    <th>Elapsed Time</th>
    <th colspan=2>Notify Me Live</th>
  </tr>
  </thead>

  <tbody>
  <% view_object.ranked_effort_rows.each do |effort_row| %>
      <%= content_tag(:tr, class: data_status_class(effort_row)) do %>
        <td><%= effort_row.display_overall_rank %></td>
        <td><%= link_to effort_row.full_name, effort_path(effort_row) %></td>
        <% if view_object.available_live %>
            <td><%= effort_row.bib_number %></td>
        <% end %>
        <td><%= effort_row.bio_historic %></td>
        <td><%= effort_row.flexible_geolocation %></td>
        <td><%= effort_row.run_status %></td>
        <td><%= last_reported_location(effort_row) %></td>
        <td><%= last_reported_time_of_day(effort_row) %></td>
        <td><%= last_reported_elapsed_time(effort_row) %></td>
        <td class="table-button">
            <%= link_to_toggle_email_subscription(effort_row.person) if effort_row.person %>
        </td>
        <td class="table-button">
            <%= link_to_toggle_sms_subscription(effort_row.person) if effort_row.person %>
        </td>
      <% end %>
  <% end %>
  </tbody>
</table>
