<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>
      <% if @best_efforts_display.gender == 'combined' %>
          #
      <% else %>
          Overall/<br>Gender
      <% end %>
    </th>
    <th>Name</th>
    <th>Category</th>
    <th>From</th>
    <th>Year</th>
    <th class="text-right">Segment Time</th>
  </tr>
  </thead>
  <tbody>
  <% @best_efforts_display.effort_ids.each do |effort_id| %>
      <% effort_row = @best_efforts_display.effort_row(effort_id) %>
      <tr>
        <td>
          <% if @best_efforts_display.gender == 'combined' %>
              <%= effort_row.overall_place %>
          <% else %>
              <%= "#{effort_row.overall_place}/#{effort_row.gender_place}" %>
          <% end %>
        </td>
        <td><strong><%= link_to effort_row.full_name, effort_path(effort_id) %></strong></td>
        <td><%= effort_row.bio_historic %></td>
        <td><%= effort_row.state_and_country %></td>
        <td><%= effort_row.year %></td>
        <td class="text-right"><%= time_format_hhmm(effort_row.finish_time) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
