<%# Requires parameter efforts %>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <% if params[:controller] == "courses" || params[:controller] == "events" %>
        <th>Bio</th>
    <% end %>
    <th>From</th>
    <% if params[:controller] == "courses" %>
        <th>Year</th>
    <% end %>
    <th class="text-right">Finish Time</th>
  </tr>
  </thead>
  <tbody>
  <% items.each do |e| %>
      <tr>
        <% if params[:controller] == "participants" %>
            <td><strong><%= link_to e.event.name, effort_path(e) %></strong></td>
        <% else %>
            <td><strong><%= link_to e.full_name, effort_path(e) %></strong></td>
        <% end %>
        <% if params[:controller] == "courses" || params[:controller] == "events" %>
            <td><%= e.bio %></td>
        <% end %>
        <td><%= e.state_and_country %></td>
        <% if params[:controller] == "courses" %>
            <td><%= e.start_time.year %></td>
        <% end %>
        <td class="text-right"><%= e.finish_status %></td>
      </tr>
  <% end %>
  </tbody>
</table>
