<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>&num;</th>
    <th>Name</th>
    <% if @event_display.available_live %>
        <th>Bib&num;</th>
    <% end %>
    <th>Category</th>
    <th>From</th>
    <% if @event_display.available_live %>
        <th>Status</th>
    <% else %>
        <th>Result</th>
    <% end %>
    <th>Last Recorded</th>
    <th>Distance</th>
    <th>Get Notifications</th>
  </tr>
  </thead>
  <tbody>
  <% @event_display.effort_rows.each do |effort_row| %>
      <%= data_status_tag(effort_row) %>
      <td><%= effort_row.overall_rank %></td>
      <td><strong><%= link_to effort_row.full_name, effort_path(effort_row.effort) %></strong></td>
      <% if @event_display.available_live %>
          <td><%= effort_row.bib_number %></td>
      <% end %>
      <td><%= effort_row.bio_historic %></td>
      <td><%= effort_row.state_and_country %></td>
      <td><%= effort_row.run_status %></td>
      <% if @event_display.available_live %>
          <td><%= "#{effort_row.final_lap_split_name} as of #{day_time_format_hhmmss(effort_row.final_day_and_time)}" %></td>
      <% else %>
          <td><%= "#{effort_row.final_lap_split_name} at #{time_format_xxhyymzzs(effort_row.final_time)}" %></td>
      <% end %>
      <td><%= "#{d(effort_row.final_distance)} #{pdu}" %></td>
      <td>
        <%= div_for(effort_row.participant) do %>
            <%= link_to_toggle_email_subscription(effort_row.participant) %>
            <%= link_to_toggle_sms_subscription(effort_row.participant) %>
        <% end %>
      </td>
      </tr>
  <% end %>
  </tbody>
</table>
