<%# Requires parameter obj(collection) %>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Finish Time</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% obj.each do |effort| %>
      <tr>
        <td><strong><%= link_to effort.event.name, event_path(effort.event) %></strong></td>
        <td><%= effort.event.first_start_time.to_date.to_formatted_s(:long) %></td>
        <td><%= effort.status %></td>
        <% if @current_user && @current_user.authorized_to_edit?(effort) %>
            <td>
              <%= link_to 'Edit Effort', edit_effort_path(effort), class: "btn btn-xs btn-primary" %>
              <%= link_to 'Delete Effort', effort_path(effort), class: "btn btn-xs btn-danger",
                          method: :delete,
                          data: {confirm: 'Are you sure?'} %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
