<%# locals: (effort:, presenter:) -%>

<tr>
  <td class="text-center">
    <%= effort.unreconciled? ? fa_icon("check-circle", type: :regular, class: "text-danger") : fa_icon("check-circle", type: :solid, class: "text-success") %>
  </td>
  <% if presenter.multiple_events? %>
    <td><%= effort.event.guaranteed_short_name %></td>
  <% end %>
  <td><%= effort.full_name %></td>
  <td class="text-center"><%= effort.bib_number %></td>
  <td><%= effort.bio_historic %></td>
  <td><%= effort.flexible_geolocation %></td>
  <td><%= "#{day_time_military_format(effort.assumed_start_time_local)} (#{offset_format_xxhyym(effort.scheduled_start_offset)})" %></td>
</tr>
