<%# locals: (effort:, presenter:) -%>

<tr>
  <td class="text-center"><%= effort.unreconciled? ? "No" : "Yes" %></td>
  <% if presenter.multiple_events? %>
    <td><%= effort.event.guaranteed_short_name %></td>
  <% end %>
  <td><strong><%= link_to effort.full_name, effort_path(effort) %></strong></td>
  <td><%= effort.bib_number %></td>
  <td><%= effort.bio_historic %></td>
  <td><%= effort.flexible_geolocation %></td>
  <td><%= "#{day_time_military_format(effort.assumed_start_time_local)} (#{offset_format_xxhyym(effort.scheduled_start_offset)})" %></td>
  <td><%= day_time_military_format(effort.actual_start_time_local) %></td>
  <td><%= [effort.emergency_contact, effort.emergency_phone].compact.join(" / ") %></td>
  <% if presenter.started_efforts.present? %>
    <td><%= effort.data_status %></td>
  <% end %>
  <td>
    <%= render partial: "efforts/check_in_button", locals: { effort: effort } %>
  </td>
</tr>
