<%= form_for(@effort) do |f| %>
  <% if @effort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@effort.errors.count, "error") %> prohibited this effort from being saved:</h2>

      <ul>
      <% @effort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :effort_id %><br>
    <%= f.number_field :effort_id %>
  </div>
  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.text_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :participant_id %><br>
    <%= f.text_field :participant_id %>
  </div>
  <div class="field">
    <%= f.label :wave %><br>
    <%= f.text_field :wave %>
  </div>
  <div class="field">
    <%= f.label :bib_number %><br>
    <%= f.number_field :bib_number %>
  </div>
  <div class="field">
    <%= f.label :effort_city %><br>
    <%= f.text_field :effort_city %>
  </div>
  <div class="field">
    <%= f.label :effort_state %><br>
    <%= f.text_field :effort_state %>
  </div>
  <div class="field">
    <%= f.label :effort_country %><br>
    <%= f.text_field :effort_country %>
  </div>
  <div class="field">
    <%= f.label :effort_age %><br>
    <%= f.number_field :effort_age %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :official_finish %><br>
    <%= f.check_box :official_finish %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
