<%= render 'shared/errors', obj: @effort %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_for(@effort, html: {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <%= f.label :event %>
            <%= f.select :event_id, @effort.events_within_group.map { |event| [event.guaranteed_short_name, event.id] },
                         {prompt: true}, {class: "form-control dropdown-select-field"} %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-4 mb-3">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "form-control", placeholder: "First name", autofocus: true %>
          </div>
          <div class="col-md-4 mb-3">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "form-control", placeholder: "Last name" %>
          </div>
          <div class="col-md-2 mb-3">
            <%= f.label :gender %>
            <%= f.select :gender, Effort.genders.keys.map { |gender| [gender.titleize, gender] },
                         {prompt: true}, {class: "form-control"} %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-3 mb-3">
            <%= f.label :birthdate %>
            <%= f.datepicker_field :birthdate %>
          </div>
          <div class="col-md-2 mb-3">
            <%= f.label :age %>
            <%= f.number_field :age, class: "form-control", placeholder: "Age" %>
          </div>
        </div>

        <div class="form-row" data-controller="carmen" data-carmen-model="effort">
          <div class="col-md-4 mb-3">
            <%= f.label :country_code, 'Country' %>
            <%= carmen_country_select :effort, :country_code, priority: %w(US CA),
                                      prompt: 'Please select a country' %>
          </div>
          <div class="col-md-3 mb-3">
            <%= f.label :state_code, 'State' %><br/>
            <%= render partial: 'carmen/subregion_select', locals: {model: :effort, parent_region: f.object.country_code} %>
          </div>
          <div class="col-md-3 mb-3">
            <%= f.label :city %>
            <%= f.text_field :city, class: "form-control", placeholder: "City" %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-2 mb-3">
            <%= f.label :bib_number %>
            <%= f.number_field :bib_number, class: "form-control", placeholder: "Bib #" %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-5 mb-3">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control", placeholder: "example@gmail.com" %>
          </div>
          <div class="col-md-3 mb-3">
            <%= f.label :phone %>
            <%= f.text_field :phone, class: "form-control", placeholder: "Phone number" %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-8 mb-3">
            <%= f.label :photo %>
            <%= f.file_field :photo, class: 'form-control' %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-8 mb-3">
            <%= f.label :comments %>
            <%= f.text_area :comments, class: 'form-control' %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-5 mb-3">
            <%= f.label :emergency_contact %>
            <%= f.text_field :emergency_contact, class: "form-control", placeholder: "Contact Name" %>
          </div>
          <div class="col-md-3 mb-3">
            <%= f.label :emergency_phone %>
            <%= f.text_field :emergency_phone, class: "form-control", placeholder: "Phone number" %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-3 mb-3">
            <%= f.label :scheduled_start_time %>
            <div class="input-group date" id="datetimepicker">
              <%= f.datetimepicker_field :scheduled_start_time_local %>
            </div>
          </div>
        </div>

        <br/>
        <div class="form-row">
          <div class="col-md-2 mb-3">
            <%= f.submit(@effort.new_record? ? "Create Entrant" : "Update Entrant", class: 'btn btn-primary btn-large') %>
          </div>
          <div class="col-md-2 mb-3">
            <%= link_to 'Cancel', request.referrer, class: "btn btn-outline-secondary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
