<%# locals: (presenter:) -%>

<span id="<%= dom_id presenter, :start_stop_buttons %>">
  <% unless presenter.has_start_time? %>
    <%= link_to_start_effort(presenter.effort) %>
  <% end %>
  <% if presenter.needs_final_stop? %>
    <%= link_to "Set stop", stop_effort_path(presenter.effort),
                method: :patch,
                class: "btn btn-success",
                data: { controller: :tooltip,
                        bs_placement: :bottom,
                        bs_original_title: "Sets a stop on the final split time" } %>
  <% end %>
  <% if presenter.has_removable_stop? %>
    <%= link_to "Remove stop", stop_effort_path(presenter.effort, status: false),
                method: :patch,
                class: "btn btn-success",
                data: { controller: :tooltip,
                        bs_placement: :bottom,
                        bs_original_title: "Removes the stop from all split times" } %>
  <% end %>
  <% if presenter.started? %>
    <%= link_to "Smart stop", smart_stop_effort_path(presenter.effort),
                method: :patch,
                class: "btn btn-success",
                data: { controller: :tooltip,
                        bs_placement: :bottom,
                        bs_original_title: "Deletes any hanging split time, fills in a proper final split time if needed, and sets a stop on the final split time" } %>
  <% end %>
</span>
