<% content_for :title do %>
  <% "OpenSplitTime: Analyze effort - #{@presenter.full_name} - #{@presenter.event_name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong>
            <% if @presenter.person %>
              <%= link_to @presenter.full_name, person_path(@presenter.person) %>
            <% else %>
              <%= @presenter.full_name %>
            <% end %>
          </strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.event_group.organization.name, organization_path(@presenter.event_group.organization) %></li>
            <% if @presenter.event_group.multiple_events? %>
              <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
            <% end %>
            <li class="breadcrumb-item"><%= link_to @presenter.event.guaranteed_short_name, event_path(@presenter.event) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.full_name, effort_path(@presenter.effort) %></li>
            <li class="breadcrumb-item active">Analyze</li>
          </ul>
        </div>
        <div class="ost-subtitle">
          <% if @presenter.effort_start_time %>
            <h6>Start Time: <strong><%= l(@presenter.effort_start_time, format: :full_day_time_and_zone) %></strong></h6>
          <% end %>
          <h6>Status:
            <strong>
              <%= @presenter.finish_status %>
              <%= "• #{@presenter.overall_rank.ordinalize} Place " if @presenter.overall_rank %>
              <%= "• #{@presenter.gender_rank.ordinalize} #{@presenter.gender.titleize}" if @presenter.gender_rank %>
              <%= "• Bib ##{@presenter.bib_number}" if @presenter.bib_number %>
            </strong>
          </h6>
        </div>
      </div>
      <%= div_for(@presenter.person) do %>
        <table class="table-fixed">
          <tr>
            <th>Notify Me Live</th>
          </tr>
          <tr>
            <td class="table-button"><%= link_to_toggle_email_subscription(@presenter.person) %></td>
            <td class="table-button"><%= link_to_toggle_sms_subscription(@presenter.person) %></td>
          </tr>
        </table>
      <% end %>
    </div>
    <% unless @presenter.simple? || @presenter.not_analyzable? %>
      <ul class="nav nav-tabs nav-tabs-ost">
        <li class="nav-item"><%= link_to "Split times", effort_path(@presenter.effort) %></li>
        <% if @presenter.in_progress? %>
          <li class="nav-item"><%= link_to "Projections", projections_effort_path(@presenter.effort) %></li>
        <% end %>
        <li class="nav-item active"><%= link_to "Analyze times", analyze_effort_path(@presenter.effort) %></li>
        <li class="nav-item"><%= link_to "Places + peers", place_effort_path(@presenter.effort) %></li>
      </ul>
    <% end %>
  </div>
</header>

<article class="ost-article container">
  <% if !@presenter.started? %>
  <strong>Cannot analyze an unstarted effort.</strong>
  <% elsif !@presenter.effort_start_time %>
    <strong>Cannot analyze an effort without a start time.</strong>
  <% elsif @presenter.analysis_rows.blank? %>
    <strong>Not enough data available to provide a reliable analysis.</strong>
  <% else %>
    <strong><%= "Best segments: #{@presenter.best_segments}" %></strong><br/>
    <strong><%= "Worst segments: #{@presenter.worst_segments}" %></strong>
    <hr>
    <%= render 'split_times/split_times_analysis', view_object: @presenter %>
  <% end %>
</article>
