<% content_for :title do %>
    <% "OpenSplitTime: Analyze effort - #{@effort_analysis.full_name} - #{@effort_analysis.event_name}" %>
<% end %>
<div class="row header">
  <div class="col-xs-7">
    <h2><strong>
      <% if @effort_analysis.participant %>
          <%= link_to @effort_analysis.full_name, participant_path(@effort_analysis.participant) %>
      <% else %>
          <%= @effort_analysis.full_name %>
      <% end %>
      <br/><%= link_to @effort_analysis.event_name, event_path(@effort_analysis.event) %></strong>
    </h2>
    <h4>
      <%= "#{@effort_analysis.finish_status} • #{@effort_analysis.overall_place.ordinalize} Place • #{@effort_analysis.gender_place.ordinalize} #{@effort_analysis.gender.titleize}" %>
      <%= "• Bib ##{@effort_analysis.bib_number}" if @effort_analysis.bib_number %>
    </h4>
  </div>
  <div class="col-xs-5 page-navigation">
    <div class="row">
      <div class="btn-group">
        <%= link_to 'Split times', effort_path(@effort_analysis.effort), class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Analyze times', analyze_effort_path(@effort_analysis.effort), disabled: true, class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Places + peers', place_effort_path(@effort_analysis.effort), class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
    <div class="page-navigation-text">
      <h4>ANALYSIS</h4>
    </div>
  </div>
</div>

<% if @effort_analysis.analysis_rows.present? %>
    <strong><%= "Best segments: #{@effort_analysis.best_segments}" %></strong><br/>
    <strong><%= "Worst segments: #{@effort_analysis.worst_segments}" %></strong>
    <hr>
    <%= render 'split_times/split_times_analysis' %>
<% else %>
    <strong>Not enough data available to provide a reliable analysis.</strong>
<% end %>