<% content_for :title do %>
  <% "OpenSplitTime: Analyze effort - #{@presenter.full_name} - #{@presenter.event_name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong>
            <% if @presenter.person %>
              <%= link_to @presenter.full_name, person_path(@presenter.person) %>
            <% else %>
              <%= @presenter.full_name %>
            <% end %>
          </strong></h1>
          <%= effort_view_breadcrumbs(@presenter, 'Analyze') %>
        </div>
        <div class="ost-subtitle">
          <% if @presenter.effort_start_time %>
            <h6>Start Time: <strong><%= l(@presenter.effort_start_time, format: :full_day_time_and_zone) %></strong>
            </h6>
          <% end %>
          <%= effort_view_status(@presenter) %>
        </div>
      </div>
      <%= render 'subscription_buttons', view_object: @presenter %>
    </div>
    <%= effort_view_tabs(@presenter) %>
  </div>
</header>

<article class="ost-article container">
  <% if !@presenter.started? %>
    <strong>Cannot analyze an unstarted effort.</strong>
  <% elsif !@presenter.effort_start_time %>
    <strong>Cannot analyze an effort without a start time.</strong>
  <% elsif @presenter.analysis_rows.blank? %>
    <strong>Not enough data available to provide a reliable analysis.</strong>
  <% else %>
    <strong><%= "Best segments: #{@presenter.best_segments}" %></strong><br/>
    <strong><%= "Worst segments: #{@presenter.worst_segments}" %></strong>
    <hr>
    <%= render 'split_times/split_times_analysis', view_object: @presenter %>
  <% end %>
</article>
