<% content_for :title do %>
    <% "OpenSplitTime: Analyze effort - #{@effort_analysis.full_name} - #{@effort_analysis.event_name}" %>
<% end %>
<div class="row">
  <div class="col-xs-12">
    <h1>
      Analysis:
      <% if @effort_analysis.participant %>
          <%= link_to @effort_analysis.full_name, participant_path(@effort_analysis.participant) %>
      <% else %>
          <%= @effort_analysis.full_name %>
      <% end %>
      <%= "(#{@effort_analysis.bib_number})" if @effort_analysis.bib_number %>
      • <%= link_to @effort_analysis.event_name, event_path(@effort_analysis.event) %>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <% overall_place, gender_place = @effort_analysis.combined_places %>
    <h3><%= "#{@effort_analysis.finish_status} • #{overall_place.ordinalize} Place • #{gender_place.ordinalize} #{@effort_analysis.gender.titleize}" %></h3>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-xs-8">
    <%= link_to "< View effort", effort_path(@effort_analysis.effort), class: "btn btn-sm btn-default" %>
  </div>
</div>
<hr>

<strong><%= "Best segments: #{@effort_analysis.best_segments}" %></strong><br/>
<strong><%= "Worst segments: #{@effort_analysis.worst_segments}" %></strong>

<hr>

<% if @effort_analysis.analysis_rows.count > 0 %>
    <%= render 'split_times/split_times_analysis' %>
<% end %>
