<% content_for :title do %>
    <% "OpenSplitTime: Analyze effort - #{@effort_analysis.full_name} - #{@effort_analysis.event_name}" %>
<% end %>

<% content_for(:container_type) do %>skip<% end %>

<header class="ost-header">
  <div class="container">
    <div class="row">
      <div class="ost-title col-sm-9">
        <h1><strong>
            <% if @effort_analysis.person %>
                <%= link_to @effort_analysis.full_name, person_path(@effort_analysis.person) %>
            <% else %>
                <%= @effort_analysis.full_name %>
            <% end %>
        </strong></h1>
        <ul class="breadcrumb breadcrumb-ost">
            <li><%= link_to 'Organizations', organizations_path %></li>
            <li><%= link_to @effort_analysis.event_group.organization.name, organization_path(@effort_analysis.event_group.organization) %></li>
            <li><%= link_to @effort_analysis.event_group.name, event_group_path(@effort_analysis.event_group) %></li>
            <li><%= @effort_analysis.full_name %></li>
        </ul>
      </div>
      <aside class="ost-alerts col-sm-3">
      </aside>
    </div>
    <h5>Start Time: <strong><%= l(@effort_analysis.start_time, format: :full_day_time_and_zone) %></strong></h5>
    <h5>Status:
      <strong>
        <%= @effort_analysis.finish_status %>
        <%= "• #{@effort_analysis.overall_rank.ordinalize} Place " if @effort_analysis.overall_rank %>
        <%= "• #{@effort_analysis.gender_rank.ordinalize} #{@effort_analysis.gender.titleize}" if @effort_analysis.gender_rank %>
        <%= "• Bib ##{@effort_analysis.bib_number}" if @effort_analysis.bib_number %>
      </strong>
    </h5>
    <% unless @effort_analysis.simple? || @effort_analysis.not_analyzable? %>
        <ul class="nav nav-tabs nav-tabs-ost">
            <li><%= link_to "Split times", effort_path(@effort_analysis.effort) %></li>
            <li class="active"><%= link_to "Analyze times", analyze_effort_path(@effort_analysis.effort) %></li>
            <li><%= link_to "Places + peers", place_effort_path(@effort_analysis.effort) %></li>
        </ul>
    <% end %>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 btn-toolbar">
        <% if @effort_analysis.person %>
            <%= div_for(@effort_analysis.person) do %>
                <div class="btn-group btn-group-ost">
                    <div class="btn btn-xs btn-default" disabled>Notify Me Live:</div>
                    <%= link_to_toggle_email_subscription(@effort_analysis.person) %>
                    <%= link_to_toggle_sms_subscription(@effort_analysis.person) %>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <% if @effort_analysis.started? && @effort_analysis.analysis_rows.present? %>
      <strong><%= "Best segments: #{@effort_analysis.best_segments}" %></strong><br/>
      <strong><%= "Worst segments: #{@effort_analysis.worst_segments}" %></strong>
      <hr>
      <%= render 'split_times/split_times_analysis' %>
  <% elsif @effort_analysis.started? %>
      <strong>Not enough data available to provide a reliable analysis.</strong>
  <% else %>
      <strong>Cannot analyze an unstarted effort.</strong>
  <% end %>
</article>
