<% content_for :title do %>
    <% "OpenSplitTime: Edit effort - #{@effort.full_name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong>Edit Effort - <%= @effort.full_name %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @effort.event.event_group.organization.name, organization_path(@effort.event.event_group.organization) %></li>
            <% if @effort.event_group.multiple_events? %>
              <li class="breadcrumb-item"><%= link_to @effort.event_group.name, event_group_path(@effort.event_group) %></li>
            <% end %>
            <li class="breadcrumb-item"><%= link_to @effort.event.guaranteed_short_name, event_path(@effort.event) %></li>
            <li class="breadcrumb-item"><%= link_to @effort.full_name, effort_path(@effort) %></li>
            <li class="breadcrumb-item active">Edit</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <%= render 'form' %>
</article>
