<% content_for :title do %>
    <% "OpenSplitTime: Edit split times - #{@effort.full_name}" %>
<% end %>
<h2>Update Split Times</h2>

<div class="row">
  <div class="col-xs-12">
    <h2><%= "#{@effort.full_name} • #{@effort.event.name} • #{@effort.finish_status}" %></h2>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-xs-6">
    <%= link_to '<< Back to effort', effort_path(@effort), class: 'btn btn-sm btn-default' %>
  </div>
</div>
<hr>
<%= form_for(@effort, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
    <div class="row">
      <div class="col-sm-2">
        <h4><%= f.label :bib_number %></h4>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :bib_number, class: 'form-control', placeholder: '#', autofocus: true %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <table class="table table-condensed table-striped">
          <thead>
          </thead>
          <tbody>
          <% @effort.event.ordered_splits_without_start.each do |split| %>
              <% data_status = DataStatus.worst(split.split_times.where(effort: @effort).map(&:data_status)) %>
              <% if data_status == 'bad' %>
                  <tr class="text-danger">
              <% elsif data_status == 'questionable' %>
                  <tr class="text-warning">
              <% else %>
                  <tr>
              <% end %>
              <td class="text-nowrap"><h4><strong><%= "#{split.name}" %></strong></h4></td>
              <% split.sub_split_bitkeys.each do |bitkey| %>
                  <%= f.fields_for :split_times,
                                   @effort.split_times.find_or_initialize_by(split_id: split.id,
                                                                             sub_split_bitkey: bitkey,
                                                                             effort_id: @effort.id) do |builder| %>
                      <td>
                        <%= builder.text_field :elapsed_time, class: 'form-control', placeholder: 'hh:mm:ss' %>
                        <%= builder.hidden_field :split_id, {value: split.id} %>
                        <%= builder.hidden_field :sub_split_bitkey, {value: bitkey} %>
                        <%= builder.hidden_field :effort_id, {value: @effort.id} %>
                      </td>
                  <% end %>
              <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit('Update Times', class: 'btn btn-primary btn-large') %>
      </div>
    </div>
    <div class="col-xs-4 col-xs-offset-2">
      [ <%= link_to 'Cancel', effort_path(@effort) %> ]
    </div>
<% end %>

