<p id="notice"><%= notice %></p>

<h1>Listing Efforts</h1>

<table>
  <thead>
    <tr>
      <th>Effort</th>
      <th>Event</th>
      <th>Participant</th>
      <th>Wave</th>
      <th>Bib number</th>
      <th>Effort city</th>
      <th>Effort state</th>
      <th>Effort country</th>
      <th>Effort age</th>
      <th>Start time</th>
      <th>Official finish</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @efforts.each do |effort| %>
      <tr>
        <td><%= effort.effort_id %></td>
        <td><%= effort.event %></td>
        <td><%= effort.participant %></td>
        <td><%= effort.wave %></td>
        <td><%= effort.bib_number %></td>
        <td><%= effort.effort_city %></td>
        <td><%= effort.effort_state %></td>
        <td><%= effort.effort_country %></td>
        <td><%= effort.effort_age %></td>
        <td><%= effort.start_time %></td>
        <td><%= effort.official_finish %></td>
        <td><%= link_to 'Show', effort %></td>
        <td><%= link_to 'Edit', edit_effort_path(effort) %></td>
        <td><%= link_to 'Destroy', effort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Effort', new_effort_path %>
