<% content_for :title do %>
  <% "OpenSplitTime: New effort" %>
<% end %>

<%= render "shared/mode_widget", event_group: @effort.event_group %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong>New Entrant</strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to "Organizations", organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @effort.event.event_group.organization.name, organization_path(@effort.event.event_group.organization) %></li>
            <% if @effort.event_group.multiple_events? %>
              <li class="breadcrumb-item"><%= link_to @effort.event_group.name, event_group_path(@effort.event_group) %></li>
            <% end %>
            <li class="breadcrumb-item"><%= link_to @effort.event.guaranteed_short_name, event_path(@effort.event) %></li>
            <li class="breadcrumb-item active">New effort</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <%= turbo_frame_tag "form_modal" do %>
    <div class="modal-header" data-modal-css-modifier="modal-lg">
      <div class="modal-title h4 fw-bold">Add an Entrant</div>
    </div>
    <div class="modal-body">
      <%= render "form" %>
    </div>
  <% end %>
</article>
