<% content_for :title do %>
    <% "OpenSplitTime: Place detail - #{@effort_place.full_name} - #{@effort_place.event_name}" %>
<% end %>

<% content_for(:container_type) do %>skip<% end %>

<header class="ost-header">
  <div class="container">
    <div class="row">
      <div class="ost-title col-sm-9">
        <h1><strong>
            <% if @effort_place.person %>
                <%= link_to @effort_place.full_name, person_path(@effort_place.person) %>
            <% else %>
                <%= @effort_place.full_name %>
            <% end %>
        </strong></h1>
        <ul class="breadcrumb breadcrumb-ost">
            <li><%= link_to 'Organizations', organizations_path %></li>
            <li><%= link_to @effort_place.event_group.organization.name, organization_path(@effort_place.event_group.organization) %></li>
            <li><%= link_to @effort_place.event_group.name, event_group_path(@effort_place.event_group) %></li>
            <li><%= @effort_place.full_name %></li>
        </ul>
      </div>
      <aside class="ost-alerts col-sm-3">
      </aside>
    </div>
    <h5><%= l(@effort_place.start_time, format: :full_day_time_and_zone) %></h5>
    <h5>
      <%= @effort_place.finish_status %>
      <%= "• #{@effort_place.overall_rank.ordinalize} Place " if @effort_place.overall_rank %>
      <%= "• #{@effort_place.gender_rank.ordinalize} #{@effort_place.gender.titleize}" if @effort_place.gender_rank %>
      <%= "• Bib ##{@effort_place.bib_number}" if @effort_place.bib_number %>
    </h5>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 btn-toolbar">
        <div class="btn-group btn-group-ost">
            <% unless @effort_place.simple? %>
                <%= link_to "Times", effort_path(@effort_place.effort), class: "btn btn-ost btn-default" %>
                <%= link_to "Analyze", analyze_effort_path(@effort_place.effort), class: "btn btn-ost btn-default" %>
                <%= link_to "Places + peers", place_effort_path(@effort_place.effort), class: "btn btn-ost btn-primary" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <strong>Closest peers:
    <%= safe_join(@effort_place.peers.map { |effort| link_to effort.full_name, place_effort_path(effort) }, ', '.html_safe) %>
  </strong><br/>
  <hr/>
  <% if @effort_place.place_detail_rows.present? %>
      <%= render 'place_detail_rows' %>
  <% end %>
</article>
