<div class="row">
  <div class="col-xs-12">
    <h1>
      <% if @effort.participant %>
          <%= link_to @effort.full_name, participant_path(@effort.participant) %>
      <% else %>
          <%= @effort.full_name %>
      <% end %>
      • <%= link_to @effort.event.name, event_path(@effort.event) %>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3><%= "#{@effort.finish_status} • #{@effort.place.ordinalize} Place • #{@effort.gender_place.ordinalize} #{@effort.gender.titleize}" %></h3>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-xs-6">
    <%= link_to '< Back', :back, class: "btn btn-sm btn-default" %>
    <% if @current_user && @current_user.authorized_to_edit?(@effort) %>
        <%= link_to 'Edit this effort', edit_effort_path(@effort), class: "btn btn-sm btn-primary" %>
        <%= link_to 'Edit split times', edit_split_times_effort_path(@effort),
                    class: "btn btn-sm btn-primary" %>
        <%= link_to 'Delete this effort', effort_path(@effort, referrer_path: request.referrer ? URI(request.referrer).path : nil),
                    method: :delete,
                    data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
    <% end %>
  </div>
</div>
<hr>

<% if @effort.split_times.count > 0 %>
    <%= render 'split_times/split_time', splits: @effort.event.base_splits %>
<% end %>
