<% content_for :title do %>
    <% "OpenSplitTime: Show effort - #{@effort_show.full_name} - #{@effort_show.event_name}" %>
<% end %>

<% if @effort_show.person %>
    <%= div_for(@effort_show.person) do %>
        <h4>
          Notify Me Live:
          <%= link_to_toggle_email_subscription(@effort_show.person) %>
          <%= link_to_toggle_sms_subscription(@effort_show.person) %>
        </h4>
    <% end %>
<% end %>

<div class="row header">
  <div class="col-xs-6">
    <h2><strong>
      <% if @effort_show.person %>
          <%= link_to @effort_show.full_name, person_path(@effort_show.person) %>
      <% else %>
          <%= @effort_show.full_name %>
      <% end %>
      <br/><%= link_to @effort_show.event_name, event_path(@effort_show.event) %></strong>
    </h2>
    <h4>
      <%= l(@effort_show.start_time, format: :full_day_time_and_zone) %>
      <br/>
      <%= @effort_show.finish_status %>
      <%= "• #{@effort_show.overall_rank.ordinalize} Place " if @effort_show.overall_rank %>
      <%= "• #{@effort_show.gender_rank.ordinalize} #{@effort_show.gender.titleize}" if @effort_show.gender_rank %>
      <%= "• Bib ##{@effort_show.bib_number}" if @effort_show.bib_number %>
    </h4>
  </div>
  <div class="col-xs-3">
    <% if @effort_show.photo.present? %>
        <%= link_to image_tag(@effort_show.photo.url(:thumb)), {action: :show_photo} %>
    <% end %>
  </div>
  <div class="col-xs-3 page-navigation">
    <div class="row">
      <% if @effort_show.beacon_url %>
          <%= link_to effort_beacon_button_text(@effort_show.beacon_url),
                      url_with_protocol(@effort_show.beacon_url),
                      class: "btn btn-sm btn-default",
                      target: "_blank" %>
      <% end %>
      <% if @effort_show.report_url %>
          <%= link_to effort_report_button_text(@effort_show.report_url),
                      url_with_protocol(@effort_show.report_url),
                      class: "btn btn-sm btn-default",
                      target: "_blank" %>
      <% end %>
      <div class="btn-group">
        <% unless @effort_show.simple? || @effort_show.not_analyzable? %>
            <%= link_to "Split times", effort_path(@effort_show.effort), disabled: true, class: "btn btn-sm btn-primary" %>
            <%= link_to "Analyze times", analyze_effort_path(@effort_show.effort), class: "btn btn-sm btn-primary" %>
            <%= link_to "Places + peers", place_effort_path(@effort_show.effort), class: "btn btn-sm btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="page-navigation-text">
      <h4>SPLIT TIMES</h4>
    </div>
  </div>
</div>

<% if current_user&.authorized_to_edit?(@effort_show.effort) || current_user&.authorized_to_edit_personal?(@effort_show.effort) %>
    <div class="row">
      <div class="col-xs-8">
        <% if current_user&.authorized_to_edit?(@effort_show.effort) %>
            <%= link_to 'Edit effort', edit_effort_path(@effort_show.effort), class: "btn btn-sm btn-primary" %>
            <%= link_to 'Edit times of day', edit_split_times_effort_path(@effort_show.effort, display_style: 'military_times'),
                        method: :put,
                        class: "btn btn-sm btn-primary" %>
            <%= link_to 'Edit elapsed times', edit_split_times_effort_path(@effort_show.effort),
                        method: :put,
                        class: "btn btn-sm btn-primary" %>
            <%= link_to 'Set data status', set_data_status_effort_path(@effort_show.effort),
                        method: :put,
                        class: "btn btn-sm btn-success" %>
            <% if @effort_show.missing_start_time? %>
                <%= link_to 'Create start time', start_effort_path(@effort_show.effort),
                            method: :put,
                            class: "btn btn-sm btn-success" %>
            <% end %>
            <% if @effort_show.next_problem_effort %>
                <%= link_to 'Find a problem effort', effort_path(@effort_show.next_problem_effort),
                            class: "btn btn-sm btn-success" %>
            <% end %>
            <% unless @effort_show.has_start_time? %>
                <%= link_to 'Start effort', start_effort_path(@effort_show.effort),
                            method: :put,
                            class: "btn btn-sm btn-success" %>
            <% end %>
            <% if @effort_show.needs_final_stop? %>
                <%= link_to 'Set stop', stop_effort_path(@effort_show.effort),
                            method: :put,
                            class: "btn btn-sm btn-success" %>
            <% end %>
            <%= link_to 'Entered times', stage_event_path(@effort_show.event, display_style: :times, filter: {bib_number: @effort_show.bib_number}),
                        class: "btn btn-sm btn-success" %>
            <%= link_to 'Delete effort', effort_path(@effort_show.effort, referrer_path: event_path(@effort_show.event)),
                        method: :delete,
                        data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
        <% end %>
      </div>
      <div class="col-xs-4">
        <div class="text-right">
          <% if @effort_show.in_progress? && current_user&.authorized_to_edit?(@effort_show.effort) %>
              <strong><%= @effort_show.beacon_url ? 'Modify locator beacon link: ' : 'Add link to locator beacon:' %></strong>
              <a href="#" id="beacon-link" data-type="text" data-pk="1" data-placement="left" data-title="Paste a link to your SPOT or other personal locator site here:"><%= "#{@effort_show.beacon_url}" %></a>
          <% end %>
          <% if !@effort_show.in_progress? && current_user&.authorized_to_edit_personal?(@effort_show.effort) %>
              <strong><%= @effort_show.report_url ? 'Modify trip report link: ' : 'Add link to trip report:' %></strong>
              <a href="#" id="report-link" data-type="text" data-pk="1" data-placement="left" data-title="Paste a link to your Strava page or personal trip report here:"><%= "#{@effort_show.report_url}" %></a>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
<% end %>

<% if @effort_show.lap_split_rows.present? %>
    <%= render 'split_times/split_times_list' %>
<% end %>

<script>
    $('#beacon-link').editable({
        type: 'text',
        emptytext: 'Click here',
        url: '<%= add_beacon_effort_path(@effort_show.effort) %>',
        pk: 1,
        title: 'Paste link:',
        ajaxOptions: {
            type: 'get',
            dataType: 'script'
        }
    });

    $('#report-link').editable({
        type: 'text',
        emptytext: 'Click here',
        url: '<%= add_report_effort_path(@effort_show.effort) %>',
        pk: 1,
        title: 'Paste link:',
        ajaxOptions: {
            type: 'get',
            dataType: 'script'
        }
    });
</script>