<% content_for :title do %>
  <% "OpenSplitTime: Show effort - #{@presenter.full_name} - #{@presenter.event_name}" %>
<% end %>

<% content_for(:container_type) do %>skip<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong>
            <% if @presenter.person %>
              <%= link_to @presenter.full_name, person_path(@presenter.person) %>
            <% else %>
              <%= @presenter.full_name %>
            <% end %>
          </strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.event_group.organization.name, organization_path(@presenter.event_group.organization) %></li>
            <% if @presenter.event_group.multiple_events? %>
              <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
            <% end %>
            <li class="breadcrumb-item"><%= link_to @presenter.event.guaranteed_short_name, event_path(@presenter.event) %></li>
            <li class="breadcrumb-item active"><%= @presenter.full_name %></li>
          </ul>
        </div>
        <div class="ost-subtitle">
          <h6>
            <strong>Status:</strong> 
            <%= @presenter.finish_status %>
            <%= "• #{@presenter.overall_rank.ordinalize} Place " if @presenter.overall_rank %>
            <%= "• #{@presenter.gender_rank.ordinalize} #{@presenter.gender.titleize}" if @presenter.gender_rank %>
            <%= "• Bib ##{@presenter.bib_number}" if @presenter.bib_number %>
          </h6>
        </div>
      </div>
      <% if @presenter.photo.present? %>
        <div class="col-3">
          <%= link_to image_tag(@presenter.photo.url(:thumb)), {action: :show_photo} %>
        </div>
      <% end %>
      <%= div_for(@presenter.person) do %>
        <table class="table-fixed">
          <tr>
            <th>Notify Me Live!</th>
          </tr>
          <tr>
            <td class="table-button"><%= link_to_toggle_email_subscription(@presenter.person) %></td>
            <td class="table-button"><%= link_to_toggle_sms_subscription(@presenter.person) %></td>
          </tr>
        </table>
      <% end %>
    </div>
    <% unless @presenter.simple? || @presenter.not_analyzable? %>
      <ul class="nav nav-tabs nav-tabs-ost">
        <li class="nav-item active"><%= link_to "Split times", effort_path(@presenter.effort) %></li>
        <li class="nav-item"><%= link_to "Analyze times", analyze_effort_path(@presenter.effort) %></li>
        <li class="nav-item"><%= link_to "Places + peers", place_effort_path(@presenter.effort) %></li>
      </ul>
    <% end %>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">

      <% if current_user&.authorized_to_edit?(@presenter.effort) %>
        <div class="col form-inline">
          <div>
            <%= effort_actions_dropdown_menu(@presenter) %>
            <% unless @presenter.has_start_time? %>
              <%= link_to 'Start effort', start_effort_path(@presenter.effort),
                          method: :put,
                          class: "btn btn-success" %>
            <% end %>
            <%= link_to 'Set data status', set_data_status_effort_path(@presenter.effort),
                        method: :put,
                        class: "btn btn-success" %>
            <% if @presenter.next_problem_effort %>
              <%= link_to 'Find a problem effort', effort_path(@presenter.next_problem_effort),
                          class: "btn btn-success" %>
            <% end %>
            <% if @presenter.needs_final_stop? %>
              <%= link_to 'Set stop', stop_effort_path(@presenter.effort),
                          method: :put,
                          class: "btn btn-success" %>
            <% end %>
            <% if @presenter.stopped? %>
              <%= link_to 'Remove stop', stop_effort_path(@presenter.effort, status: false),
                          method: :put,
                          class: "btn btn-success" %>
            <% end %>
            <%= link_to 'Raw time records', raw_times_event_group_path(@presenter.event_group, filter: {bib_number: @presenter.bib_number}),
                        class: "btn btn-success" %>
          </div>
        </div>
      <% end %>

      <% if current_user&.authorized_to_edit?(@presenter.effort) || current_user&.authorized_to_edit_personal?(@presenter.effort) %>
        <%= div_for(@presenter.effort, class: 'col-auto form-inline') do %>
          <%= link_to_toggle_check_in(@presenter.effort, button_param: :check_in_effort_show) %>
        <% end %>
      <% end %>

      <div class="col-auto form-inline">
        <% if @presenter.beacon_url %>
          <%= link_to effort_beacon_button_text(@presenter.beacon_url),
                      url_with_protocol(@presenter.beacon_url),
                      class: "btn btn-outline-secondary btn-outline-secondary",
                      target: "_blank" %>
        <% end %>
        <% if @presenter.report_url %>
          <%= link_to effort_report_button_text(@presenter.report_url),
                      url_with_protocol(@presenter.report_url),
                      class: "btn btn-outline-secondary btn-outline-secondary",
                      target: "_blank" %>
        <% end %>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">

  <% if @presenter.lap_split_rows.present? %>
    <%= render 'split_times/split_times_list', view_object: @presenter %>
  <% end %>
</article>
