<% content_for :title do %>
    <% "OpenSplitTime: Show effort - #{@effort_show.full_name} - #{@effort_show.event_name}" %>
<% end %>
<div class="row header">
  <div class="col-xs-7">
    <h2><strong>
      <% if @effort_show.participant %>
          <%= link_to @effort_show.full_name, participant_path(@effort_show.participant) %>
      <% else %>
          <%= @effort_show.full_name %>
      <% end %>
      <br/><%= link_to @effort_show.event_name, event_path(@effort_show.event) %></strong>
    </h2>
    <% overall_place, gender_place = @effort_show.combined_places %>
    <h4>
      <%= @effort_show.finish_status %>
      <%= "• #{overall_place.ordinalize} Place " if overall_place %>
      <%= "• #{gender_place.ordinalize} #{@effort_show.gender.titleize}"  if gender_place %>
      <%= "• Bib ##{@effort_show.bib_number}" if @effort_show.bib_number %>
    </h4>
  </div>
  <div class="col-xs-5 page-navigation">
    <div class="row">
      <div class="btn-group">
        <%= link_to "Split times", effort_path(@effort_show.effort), disabled: true, class: "btn btn-sm btn-primary" %>
        <%= link_to "Analyze times", analyze_effort_path(@effort_show.effort), class: "btn btn-sm btn-primary" %>
        <%= link_to "Places + peers", place_effort_path(@effort_show.effort), class: "btn btn-sm btn-primary" %>
      </div>
    </div>
    <div class="page-navigation-text">
      <h4>SPLIT TIMES</h4>
    </div>
  </div>
</div>

<% if @current_user && @current_user.authorized_to_edit?(@effort_show.effort) %>
    <div class="row">
      <div class="col-xs-6">
        <%= link_to 'Edit effort', edit_effort_path(@effort_show.effort), class: "btn btn-sm btn-primary" %>
        <%= link_to 'Edit split times', edit_split_times_effort_path(@effort_show.effort),
                    method: :put,
                    class: "btn btn-sm btn-primary" %>
        <%= link_to 'Set data status', set_data_status_effort_path(@effort_show.effort),
                    method: :put,
                    class: "btn btn-sm btn-success" %>
        <%= link_to 'Delete effort', effort_path(@effort_show.effort, referrer_path: event_path(@effort_show.event)),
                    method: :delete,
                    data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
      </div>
    </div>
    <hr>
<% end %>

<% if @effort_show.split_rows.count > 0 %>
    <%= render 'split_times/split_times_list' %>
<% end %>
