<tr>
  <td><%= lottery_ticket.reference_number %></td>
  <td><%= lottery_ticket.entrant_full_name %></td>
  <td><%= lottery_ticket.entrant_gender.titleize %></td>
  <td><%= lottery_ticket.entrant_flexible_geolocation %></td>
  <td><%= lottery_ticket.entrant_division_name %></td>
</tr>