<tr>
  <td><%= record.reference_number %></td>
  <td><%= record.entrant_full_name %></td>
  <td><%= record.entrant_gender.titleize %></td>
  <td><%= record.entrant_flexible_geolocation %></td>
  <td><%= record.entrant_division_name %></td>
</tr>
