<%= render "shared/errors", obj: @lottery_entrant %>

<div class="row">
  <div class="col-md-12">
    <%= form_with(model: [@lottery_entrant.organization, @lottery_entrant.lottery, @lottery_entrant], html: { class: "form-horizontal" }) do |f| %>
      <div class="row">
        <div class="mb-3 col-md-4">
          <%= f.label :first_name, class: "mb-1 required" %>
          <%= f.text_field :first_name, class: "form-control", placeholder: "Beni", autofocus: true %>
        </div>

        <div class="mb-3 col-md-4">
          <%= f.label :last_name, class: "mb-1 required" %>
          <%= f.text_field :last_name, class: "form-control", placeholder: "Hana" %>
        </div>

        <div class="mb-3 col-md-2">
          <%= f.label :gender, class: "mb-1 required" %>
          <%= f.select :gender, LotteryEntrant.genders.keys.map { |gender| [gender.titleize, gender] },
                       { prompt: true }, { class: "form-control" } %>
        </div>

        <div class="mb-3 col-md-2">
          <%= f.label "Birthdate", class: "mb-1 required" %>
          <%= f.text_field :birthdate, class: "form-control", placeholder: "mm/dd/yyyy" %>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-3">
          <%= f.label :city, class: "mb-1" %>
          <%= f.text_field :city, class: "form-control", placeholder: "City" %>
        </div>

        <div class="mb-3 col-md-4">
          <%= f.label :country_code, "Country", class: "mb-1" %>
          <%= carmen_country_select :lottery_entrant, :country_code %>
        </div>

        <div class="mb-3 col-md-3">
          <%= f.label :state_code, "State", class: "mb-1" %><br/>
          <%= render partial: "carmen/subregion_select",
                     locals: { model: :lottery_entrant, parent_region: f.object.country_code } %>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-2">
          <%= f.label :division, class: "mb-1 required" %>
          <%= f.select :lottery_division_id,
                       @lottery_entrant.lottery.divisions.map { |division| [division.name, division.id] },
                       {},
                       { class: "form-control" } %>
        </div>

        <div class="mb-3 col-md-2">
          <%= f.label "Number of tickets", class: "mb-1 required" %>
          <%= f.text_field :number_of_tickets, class: "form-control", placeholder: "# of tickets" %>
        </div>

        <div class="mb-3 col-md-2">
          <%= f.label :pre_selected, class: "mb-1" %>
          <%= f.select :pre_selected, [["No", false], ["Yes", true]], {}, { class: "form-control" } %>
        </div>

        <div class="mb-3 col-md-2">
          <%= f.label "External ID", class: "mb-1" %>
          <%= f.text_field :external_id, class: "form-control", placeholder: "abc123" %>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-2">
          <%= f.label :service_completed_date, class: "mb-1" %>
          <%= f.text_field :service_completed_date, class: "form-control", placeholder: "mm/dd/yyyy" %>
        </div>
      </div>

      <br/>
      <div class="row">
        <div class="col">
          <%= f.submit(@lottery_entrant.new_record? ? "Create Entrant" : "Update Entrant", class: "btn btn-primary") %>
          <% if @lottery_entrant.new_record? %>
            <%= link_to "Cancel",
                        setup_organization_lottery_path(@lottery_entrant.organization, @lottery_entrant.lottery),
                        class: "btn btn-outline-secondary" %>
          <% else %>
            <%= link_to "Cancel",
                        setup_organization_lottery_path(@lottery_entrant.organization, @lottery_entrant.lottery, entrant_id: @lottery_entrant.id),
                        class: "btn btn-outline-secondary" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
