<%# locals: (record:, calculation:) %>

<% presenter = LotteryEntrantPresenter.new(record) %>

<%= turbo_frame_tag dom_id(presenter) do %>
  <div class="card bg-light mt-2">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <%= render partial: "lottery_entrants/name_and_geolocation_with_icon", locals: { record: record } %>
        </div>
        <div class="col">
          <h4 class="text-end"><span class="badge bg-secondary"><%= presenter.division_name %></span></h4>
          <h6 class="text-end fw-bold"><%= "#{pluralize(presenter.number_of_tickets, 'ticket')}" %></h6>
        </div>
      </div>
      <hr/>
      <% if current_user.present? && (current_user.admin? || current_user.steward_of?(presenter.organization) || current_user.email == presenter.email) %>
        <% if presenter.accepted? || presenter.waitlisted? %>
          <div class="row">
            <div class="col">
              <% if presenter.accepted? %>
                <span class="fs-5"><%= "Congratulations on being accepted to the #{presenter.lottery.name}!" %></span>
              <% elsif presenter.waitlisted? %>
                <span class="fs-5"><%= "You have been placed on the waitlist for the #{presenter.lottery.name}." %></span>
              <% end %>
            </div>
            <div class="col text-end">
              <%= link_to "Manage service", manage_service_organization_lottery_lottery_entrant_path(presenter.organization, presenter.lottery, presenter), class: "btn btn-outline-success" %>
            </div>
          </div>
        <% end %>

        <% if presenter.calculation.present? %>
          <%= render partial: "ticket_calculations_table", locals: { presenter: presenter } %>
          <hr/>
        <% end %>
        <% if presenter.relevant_historical_facts.any? %>
          <%= render partial: "historical_facts_table", locals: { presenter: presenter } %>
        <% end %>
      <% elsif presenter.calculation.present? %>
        <p class="fw-bold">If this entrant is you, please log in to see details, or sign up if you don't have an OpenSplitTime
          account.</p>
        <p>You will need to use the same email that you used to apply to the lottery in Ultrasignup.</p>
      <% end %>
      <hr/>
      <div class="row">
        <% if presenter.lottery.preview? %>
          <div class="h5 ms-2 text-center">Tickets will appear here once the lottery is live</div>
        <% else %>
          <% presenter.tickets.each do |ticket| %>
            <div class="col-6 col-sm-3 col-md-2 text-center">
              <h4><span class="badge bg-primary text-center font-monospace p-3"><%= "##{ticket.reference_number}" %></span></h4>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
