<tr>
  <td><%= record.name %></td>
  <td><%= record.gender.titleize %></td>
  <td><%= record.flexible_geolocation %></td>
  <td><%= record.division_name %></td>
  <td><%= record.number_of_tickets %></td>
</tr>
