<%# locals: (record:, calculation:) %>

<% presenter = LotteryEntrantPresenter.new(record) %>

<%= turbo_frame_tag dom_id(presenter) do %>
  <div class="card bg-light mt-2">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="fw-bold"><%= presenter.name %></h5>
          <h6><%= presenter.flexible_geolocation %></h6>
        </div>
        <div class="col">
          <h4 class="text-end"><span class="badge bg-secondary"><%= presenter.division_name %></span></h4>
          <h6 class="text-end fw-bold"><%= "#{pluralize(presenter.number_of_tickets, 'ticket')}" %></h6>
        </div>
      </div>
      <% if current_user.present? && (current_user.admin? || current_user.email == presenter.email) %>
        <hr/>
        <% if presenter.calculation.present? %>
          <%= render partial: "ticket_calculations_table", locals: { presenter: presenter } %>
          <hr/>
        <% end %>
          <%= render partial: "historical_facts_table", locals: { presenter: presenter } %>
      <% end %>
      <hr/>
      <div class="row">
        <% presenter.tickets.each do |ticket| %>
          <div class="col-6 col-sm-3 col-md-2 text-center">
            <h4><span class="badge bg-primary text-center font-monospace p-3"><%= "##{ticket.reference_number}" %></span></h4>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
