<%# locals: (record:) %>

<%= turbo_frame_tag dom_id(record) do %>
  <div class="card bg-light mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <%= render partial: "lottery_entrants/name_and_geolocation_with_icon", locals: { record: record } %>
          <h5><%= pre_selected_badge_with_label(record) %></h5>
          <h6><%= record.bio %></h6>
        </div>
        <div class="col text-end">
          <h4><span class="badge bg-secondary"><%= record.division_name %></span></h4>
          <h6 class="fw-bold mb-4"><%= "#{pluralize(record.number_of_tickets, 'ticket')}" %></h6>
          <%= link_to_entrant_edit(record) %>
          <%= link_to_entrant_delete(record) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
