<%= turbo_frame_tag dom_id(record) do %>
  <div class="card bg-light mt-2">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="fw-bold"><%= record.name %></h5>
          <h6><%= record.flexible_geolocation %></h6>
        </div>
        <div class="col">
          <h4 class="text-end"><span class="badge bg-secondary"><%= record.division_name %></span></h4>
          <h6 class="text-end fw-bold"><%= "#{pluralize(record.number_of_tickets, 'ticket')}" %></h6>
        </div>
      </div>
      <hr/>
      <div class="row">
        <% record.tickets.each do |ticket| %>
          <div class="col-6 col-sm-3 col-md-2 text-center">
            <h4><span class="badge bg-primary text-center font-monospace p-3"><%= "##{ticket.reference_number}" %></span></h4>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
