<%= render 'shared/errors', obj: @organization %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@organization, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :name %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :name, class: "form-control", placeholder: "Organization name", autofocus: true %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :description %>
          </div>
          <div class="col-sm-8">
            <%= f.text_area :description, rows: 4, class: "form-control",
                            placeholder: "Say something about your organization" %>
          </div>
        </div>

        <% if current_user&.admin? %>
            <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :concealed, "Concealed (unsearchable)?" %>
              </div>
              <div class="col-sm-8">
                <%= f.check_box :concealed %>
              </div>
            </div>
        <% end %>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit(@organization.new_record? ? "Create Organization" : "Update Organization", class: 'btn btn-primary btn-large') %>
          </div>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
          [ <%= link_to 'Cancel', organizations_path %> ]
        </div>
    <% end %>
  </div>
</div>
