<%= render "shared/errors", obj: @organization %>

<div class="row">
  <div class="col-md-12">
    <%= form_with model: @organization do |f| %>
      <div class="mb-3 col-12">
        <%= f.label :name, class: "mb-1 required" %>
        <%= f.text_field :name, class: "form-control", placeholder: "Organization name", autofocus: true %>
      </div>

      <div class="mb-3 col-12">
        <%= f.label :description, class: "mb-1" %>
        <%= f.text_area :description, rows: 4, class: "form-control",
                        placeholder: "(Optional) Say something about your organization" %>
      </div>

      <div class="mb-3">
        <%= link_to "Cancel",
                    @organization.new_record? ? organizations_path : organization_path(@organization),
                    class: "btn btn-outline-secondary" %>
        <%= button_tag(type: :submit, value: "Continue", class: "btn btn-primary") do %>
          <%= fa_icon "arrow-right", text: "Continue", right: true %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
