<% content_for :title do %>
    <% "OpenSplitTime: Show organization - #{@presenter.name}" %>
<% end %>
<div class="row header">
  <div class="col-xs-7">
    <h2><strong><%= @presenter.name %></strong></h2>
  </div>
  <div class="col-xs-5 page-navigation">
    <div class="row">
      <% if current_user&.authorized_fully?(@presenter.organization) %>
          <%= link_to 'Create New Event', event_staging_app_path('new'), class: "btn btn-sm btn-success" %>
          <%= link_to 'Edit this organization', edit_organization_path(@presenter), class: "btn btn-sm btn-primary" %>
          <%= link_to 'Delete this organization',
                      organization_path(@presenter),
                      method: :delete,
                      data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <%= sanitize @presenter.description %>
  </div>
</div>

<div class="row header">
  <div class="col-xs-5">
    <h3><%= @presenter.display_style.to_s.titleize %></h3>
  </div>
  <div class="col-xs-7 page-navigation">
    <div class="row">
      <div class="btn-group">
        <%= link_to 'Courses',
                    request.params.merge(display_style: 'courses'),
                    disabled: @presenter.display_style == 'courses',
                    class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Events',
                    request.params.merge(display_style: 'events'),
                    disabled: @presenter.display_style == 'events',
                    class: 'btn btn-sm btn-primary' %>
        <% if current_user&.authorized_fully?(@presenter.organization) %>
            <%= link_to 'Stewards',
                        request.params.merge(display_style: 'stewards'),
                        disabled: @presenter.display_style == 'stewards',
                        class: 'btn btn-sm btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @presenter.display_style == 'courses' %>
    <% if @presenter.courses.present? %>
        <%= render 'courses/courses', courses: @presenter.courses %>
    <% else %>
        <h4>No courses are associated with this organization.</h4>
    <% end %>

<% elsif @presenter.display_style == 'stewards' %>
    <% if current_user&.authorized_fully?(@presenter.organization) %>
        <%= render 'user_lookup' %>
        <% if @presenter.stewards.present? %>
            <%= render 'stewards_list', stewards: @presenter.stewards %>
        <% else %>
            <hr/>
            <h4>No stewards have been added to this organization.</h4>
        <% end %>
    <% else %>
        <h4>Not authorized.</h4>
    <% end %>

<% else %>
    <% if @presenter.event_groups.present? %>
        <%= render 'event_groups/list_event_groups', presenter: @presenter, event_groups: @presenter.event_groups %>
    <% else %>
        <h4>No events are associated with this organization.</h4>
    <% end %>
<% end %>
