<% content_for :title do %>
  <% "OpenSplitTime: Organization - #{@presenter.name}" %>
<% end %>

<% content_for(:container_type) do %>skip
<% end %>

<header class="ost-header">
  <div class="container">
    <%= render "organizations/organization_heading" %>
    <!-- Navigation -->
    <%= render "organizations/organization_tabs" %>
  </div>
</header>

<% if @presenter.event_series.present? || current_user&.authorized_to_edit?(@presenter.organization) %>
  <aside class="ost-toolbar">
    <div class="container">
      <div class="row pt-2">
        <div class="col">
          <h4 class="fw-bold">Event Groups</h4>
        </div>
        <% if current_user&.authorized_fully?(@presenter.organization) %>
          <div class="col-auto">
            <%= link_to fa_icon("plus", text: "New event group"), new_organization_event_group_path(@presenter.organization), id: "add-event-group", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </aside>
<% end %>

<article class="ost-article container">
  <% if current_user&.authorized_to_edit?(@presenter.organization) && @presenter.concealed_event_groups.exists? %>
    <div class="p-3 border border-primary">
      <h3>Under Construction</h3>
      <%= render "event_groups/list_event_groups", presenter: @presenter, event_groups: @presenter.concealed_event_groups %>
    </div>
  <% end %>

  <% if @presenter.visible_event_groups.exists? %>
    <%= render "event_groups/list_event_groups", presenter: @presenter, event_groups: @presenter.visible_event_groups %>
    <%= render "event_series/list_event_series", presenter: @presenter, event_series: @presenter.event_series %>
  <% else %>
    <h4>No events exist yet</h4>
  <% end %>
</article>
