<% content_for :title do %>
  <% "OpenSplitTime: Event Group Courses - #{@presenter.course.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1>
            <strong><%= "Staging: #{@presenter.event_group.name}" %></strong>
          </h1>
          <%= render 'shared/staging_breadcrumbs' %>
        </div>
      </div>
    </div>

    <aside class="ost-toolbar">
      <div class="container">
        <%= staging_progress_bar(@presenter) %>
      </div>
    </aside>

    <!-- Navigation -->
    <%= staging_course_tabs(@presenter) %>
  </div>
</header>

<%= render 'shared/errors', obj: @presenter.course %>

<article class="ost-article container" data-controller="course-form">
  <aside class="col-12">
    <h3>
      <strong>Add Your Course Details</strong>
    </h3>
    <p>A course has splits at each point where times will be recorded. If you just created a new course, Start and
      Finish splits were automatically created for you. You can add splits here, and if desired, you can use the map to
      add location information and a gpx track.</p>
  </aside>

  <div class="row">
    <div class="col-12" data-controller="staging course-form">

      <div class="form-group">
        <div class="row">
          <div class="col">
            <%= staging_previous_button(@presenter) %>
            <%= staging_continue_button(@presenter) %>
          </div>
        </div>
      </div>

      <div class="card card-body bg-light border-0">
        <% if @presenter.course_has_location_data? %>
          <div id="map" style="width: 100%; height: 500px;" data-controller="maps" data-target="maps.mapInfo"
               data-course-id="<%= @presenter.course.id %>"></div>
        <% end %>
        <br/>

        <%= form_with(model: @presenter.course, class: 'form-horizontal', role: 'form', format: :json) do |form| %>
          <div class="row">
            <div class="form-group col">
              <% if @presenter.course.gpx.attached? %>
                <%= "GPX track: #{@presenter.course.gpx.filename}, #{(@presenter.course.gpx.byte_size / 1.0.megabyte).round(2)} MB" %>
              <% else %>
                <%= "No GPX track attached" %>
              <% end %>
            </div>
            <div class="form-group col">
              <%= form.label @presenter.course.gpx.attached? ? 'Change gpx file' : 'Add gpx file' %>
              <%= form.file_field :gpx, class: 'form-control', direct_upload: true, data: {action: 'change->course-form#submit'} %>
            </div>
            <div class="col d-none">
              <%= form.submit 'Upload', class: 'btn btn-primary', data: {target: 'course-form.submitButton', action: 'ajax:success->course-form#reloadPage'} %>
            </div>
          </div>
        <% end %>
      </div>

      <br/>

      <div class="card card-body bg-light border-0">
        <table class="table table-condensed table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Distance</th>
            <th>Vert Gain</th>
            <th>Vert Loss</th>
            <th>Elevation</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @presenter.course.ordered_splits.each do |split| %>
            <tr data-split-id="<%= split.id %>" data-action="click->course-form#splitModal">
              <td><strong><%= split.base_name %></strong></td>
              <td><%= "#{pdu('singular').titleize} #{d(split.distance_from_start)}" %></td>
              <td><%= "#{e(split.vert_gain_from_start)} #{peu}" %></td>
              <td><%= "#{e(split.vert_loss_from_start)} #{peu}" %></td>
              <td><%= "#{e(split.elevation)} #{peu}" %></td>
              <td><%= split.latitude %></td>
              <td><%= split.longitude %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <br/>

      <div class="form-group">
        <div class="col">
          <%= staging_previous_button(@presenter) %>
          <%= staging_continue_button(@presenter) %>
        </div>
      </div>

    </div>
  </div>
</article>
