<%# locals: (fact:) %>

<tr class="align-middle">
  <td><%= historical_fact_kind_badge(fact.kind) %></td>
  <td class="text-center"><%= fact.quantity %></td>
  <td><%= fact.comments %></td>
  <td><%= fact.full_name %></td>
  <td><%= fact.gender.titleize %></td>
  <td><%= fact.flexible_geolocation %></td>
  <td><%= fact.birthdate %></td>
</tr>
