<%# locals: (presenter:) %>

<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <span class="h5 fw-bold"><%= presenter.full_name %></span>
        <span><%= "(#{presenter.bio})" %></span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= presenter.flexible_geolocation %>
      </div>
      <div class="col text-end">
        <%= "#{presenter.email}, #{presenter.phone}" %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Kind</th>
        <th class="text-center">Year</th>
        <th class="text-center">Quantity</th>
        <th>Comments</th>
        <th class="text-end">Person</th>
      </tr>
      </thead>
      <tbody>
      <%= render partial: "reconcile_row", collection: presenter.relevant_historical_facts.ordered_within_person, as: :fact %>
      </tbody>
    </table>
  </div>
</div>
