<% content_for :title do %>
  <% "OpenSplitTime: Organization Historical Facts - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <%= render "organizations/organization_heading", presenter: @presenter %>
    <!-- Navigation -->
    <%= render "organizations/organization_tabs", presenter: @presenter %>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col d-inline-flex">
        <span class="pe-1">
          <%= link_to fa_icon("plus", text: "Add"),
                      new_organization_historical_fact_path(@presenter.organization),
                      id: "add-historical-fact",
                      class: "btn btn-success text-nowrap",
                      data: { turbo_frame: "form_modal" } %>
        </span>
        <span class="pe-1">
          <%= historical_facts_import_dropdown(@presenter) %>
        </span>
        <span class="pe-1">
          <%= button_to_historical_facts_export_async(@presenter) %>
        </span>
        <span class="pe-1">
          <%= button_to "Auto reconcile",
                        auto_reconcile_organization_historical_facts_path(@presenter.organization),
                        method: :patch,
                        disabled: @presenter.all_reconciled?,
                        class: "btn btn-outline-success text-nowrap" %>
        </span>
        <span class="pe-1">
          <%= button_to "Reconcile",
                        reconcile_organization_historical_facts_path(@presenter.organization),
                        method: :get,
                        disabled: @presenter.all_reconciled?,
                        class: "btn btn-outline-success" %>
        </span>
      </div>
      <!-- Filter Widget -->
      <div class="col">
        <%= historical_facts_kinds_filter_dropdown %>
        <%= historical_facts_reconciled_filter_dropdown %>
      </div>
      <!-- Search Widget -->
      <div class="col">
        <%= render "historical_facts_search", presenter: @presenter %>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <%= render "historical_facts_list", presenter: @presenter %>
</article>
