<% content_for :title do %>
  <% "OpenSplitTime: Organization Historical Facts - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <%= render "organizations/organization_heading" %>
    <!-- Navigation -->
    <%= render "organizations/organization_tabs" %>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= link_to fa_icon("plus", text: "Add"), new_organization_historical_fact_path(@presenter.organization), id: "add-historical-fact", class: "btn btn-success" %>
        <%= historical_facts_import_dropdown(@presenter) %>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">
  <% if @presenter.historical_facts.present? %>
    <%= render "historical_facts_list", historical_facts: @presenter.historical_facts %>
  <% else %>
    <h5>No historical facts have been added to this organization.</h5>
  <% end %>
</article>
