<% content_for :title do %>
  <% "OpenSplitTime: Organization Reconcile Historical Facts - #{@presenter.name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <%= render "organizations/organization_heading", presenter: @presenter %>
    <!-- Navigation -->
    <%= render "organizations/organization_tabs", presenter: @presenter %>
  </div>
</header>

<aside class="ost-toolbar">
  <div class="container">
    <div class="row">
      <div class="col d-inline-flex">
        <span class="pe-1">
        <%= link_to fa_icon("caret-left", text: "Previous"),
                    reconcile_organization_historical_facts_path(@presenter.organization, personal_info_hash: @presenter.previous_personal_info_hash),
                    class: "btn btn-outline-success",
                    disabled: @presenter.previous_personal_info_hash.blank? %>
        </span>
        <span class="pe-1">
        <%= link_to fa_icon("caret-right", text: "Next", right: true),
                    reconcile_organization_historical_facts_path(@presenter.organization, personal_info_hash: @presenter.next_personal_info_hash),
                    class: "btn btn-outline-success",
                    disabled: @presenter.next_personal_info_hash.blank? %>
        </span>
      </div>
    </div>
  </div>
</aside>

<article class="ost-article container">

  <div class="row">
    <% if @presenter.personal_info_hash %>

      <div class="col">
        <div class="h3 pb-3">Historical Facts</div>
        <%= render partial: "reconcile_card", locals: { presenter: @presenter } %>
      </div>

      <div class="col">
        <div class="row">
          <div class="col">
            <div class="h3 pb-3">Possible Matching People</div>
          </div>
          <div class="col text-end">
            <%= button_to "Create new person",
                          match_organization_historical_facts_path(
                            @presenter.organization,
                            personal_info_hash: @presenter.personal_info_hash,
                            person_id: "new",
                            redirect_hash: @presenter.next_personal_info_hash || @presenter.previous_personal_info_hash,
                            ),
                          method: :patch,
                          data: { turbo: false},
                          class: "btn btn-sm btn-outline-primary" %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= render partial: "possible_matching_person_card",
                       collection: @presenter.possible_matching_people.order(:id),
                       as: :person,
                       locals: { presenter: @presenter } %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col">
        <%= render partial: "shared/callout_with_link",
                   locals: {
                     callout_color: "info",
                     icon_color: "info",
                     icon_name: "circle-info",
                     main_text: "All historical facts have been reconciled",
                     detail_paragraphs: ["If any historical facts need to be reconciled, they will appear here."],
                     link: link_to("Back", organization_historical_facts_path(@presenter.organization), class: "btn btn-outline-primary"),
                   } %>
      </div>
    <% end %>
  </div>
</article>
