<% content_for :title do %>
  <% "OpenSplitTime: Event staging - #{@presenter&.name || 'New event'}" %>
<% end %>

<!-- Vue.js Form Templates-->

<%= render "event" %>
<%= render "splits" %>
<%= render "entrants" %>
<%= render "confirmation" %>

<script type="text/x-template" id="published">
  <div class="row col-12">
    <article class="col-12 published-page">
      <span class="large-check"></span>
      <h2>Your Event Has Been Published</h2>
      <p>Congratulations! Your Event is now available for the world to see. You can return and edit the Event, Splits,
        or Entrants at any time. If this step was premature, click 'Make Private Again' to hold off for now. </p>
      <a href="/" class="btn btn-primary">Return Home</a><br>
      <a href="#" v-promise:click="[eventModel.visibility, eventModel]" v-on:done="$router.push( '/confirmation' )">Make
        Private Again</a>
    </article>
  </div>
</script>

<!-- Vue.js Applet -->
<script>
    window._rails_assets || (window._rails_assets = {})
    window._rails_assets.dotGreen = "<%= asset_path( 'icons/dot-green.svg' ) %>";
    window._rails_assets.dotBlue = "<%= asset_path( 'icons/dot-blue.svg' ) %>";
    window._rails_assets.dotLBlue = "<%= asset_path( 'icons/dot-lblue.svg' ) %>";
    window._rails_assets.dotCheckered = "<%= asset_path( 'icons/dot-checkered.svg' ) %>";
    window._rails_assets.marker = "<%= asset_path( 'icons/green.svg' ) %>";
</script>
<div id="event-app" data-id="<%= @presenter&.id %>">

  <header class="ost-header">
    <div class="container">
      <div class="ost-heading row">
        <div class="col">
          <div class="ost-title">
            <h1>
              <strong v-if="!isReady">Loading...</strong>
              <strong v-else-if="eventModel.__new__">Create Event</strong>
              <strong v-else>
                {{ eventModel.name }}
                <i v-if="eventModel.concealed" class="fas fa-eye-slash" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="This Event is not yet visible to the public."></i>
                <i v-else class="fas fa-eye" tabindex="-1" data-toggle="static-popover" data-placement="bottom" data-content="This Event is visible to the public."></i>
              </strong>
            </h1>
            <ul class="breadcrumb breadcrumb-ost">
              <% if @presenter %>
                <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
                <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_path(@presenter.organization) %></li>
                <li class="breadcrumb-item"><%= link_to @presenter.event_group.name, event_group_path(@presenter.event_group) %></li>
                <li class="breadcrumb-item"><%= @presenter.event.guaranteed_short_name %></li>
              <% end %>
              <li class="breadcrumb-item active">Staging</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Navigation -->
      <% if @presenter %>
        <%= render 'events/view_buttons', view_object: @presenter %>
      <% end %>
    </div>
  </header>

  <aside class="ost-toolbar">
    <div class="container">
      <nav class="progress-bar-nav">
        <ul>
          <li is="router-link" to="/" tag="li" exact><a href="#"><span>Your Event</span></a></li>
          <li is="router-link" to="/splits" tag="li"><a href="#"><span>Splits</span></a></li>
          <li is="router-link" to="/entrants" tag="li"><a href="#"><span>Entrants</span></a></li>
          <li is="router-link" to="/confirmation" tag="li"><a href="#"><span>Confirmation</span></a></li>
          <li is="router-link" to="/published" tag="li"><a href="#"><span>Published</span></a></li>
        </ul>
      </nav>
    </div>
  </aside>

  <div class="container pt-4">
    <div class="row" v-if="!isReady" style="padding: 150px;">
      <%= image_tag("icons/loading.gif", alt: 'Loading', size: '30') %>
    </div>
    <div class="row">
      <div is="router-view" v-bind:event-model="eventModel"></div>
    </div>
  </div>
</div>
