<%# locals: (division:) -%>

<div id="<%= dom_id(division, :draw_tickets_header) %>" class="min-width-3">
  <h2 class="text-center"><strong><%= division.name %></strong></h2>
  <hr/>

  <div class="d-grid">
    <div class="btn-group">
      <%= link_to "Draw a Ticket", draw_organization_lottery_path(division.organization, division.lottery, division_id: division.id),
                  data: { turbo_method: :post },
                  disabled: division.full? || division.all_entrants_drawn?,
                  class: "btn btn-lg btn-success fw-bold w-100" %>
      <% if division.entrants.pre_selected.present? %>
        <button class="btn btn-lg btn-success fw-bold dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item disabled" href="#">Pre-Selected Entrants</a>
          <div class="dropdown-divider"></div>
          <% division.entrants.pre_selected.each do |entrant| %>
            <%= link_to "Draw #{entrant.full_name}", draw_organization_lottery_lottery_entrant_path(division.organization, division.lottery, entrant),
                        data: { turbo_method: :post },
                        disabled: entrant.drawn?,
                        class: "dropdown-item" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <h6 class="fw-bold">Accepted</h6>
        </div>
        <div class="col-4">
          <h6 class="text-end"><%= "(#{division.accepted_entrants.count}/#{division.maximum_entries})" %></h6>
        </div>
      </div>
      <div class="progress">
        <%= bootstrap_progress_bar(min_value: 0, max_value: division.maximum_entries, current_value: division.accepted_entrants.count, color: "success") %>
      </div>
      <div class="row mt-2">
        <div class="col-8">
          <h6 class="fw-bold">Wait List</h6>
        </div>
        <div class="col-4">
          <h6 class="text-end"><%= "(#{division.wait_list_entrants.count}/#{division.maximum_wait_list})" %></h6>
        </div>
      </div>
      <div class="progress">
        <%= bootstrap_progress_bar(min_value: 0, max_value: division.maximum_wait_list, current_value: division.wait_list_entrants.count, color: "warning") %>
      </div>
      <div class="row mt-2">
        <div class="col-8">
          <h6 class="fw-bold">Pre-selected</h6>
        </div>
        <div class="col-4">
          <h6 class="text-end"><%= "(#{division.entrants.pre_selected.drawn.count}/#{division.entrants.pre_selected.count})" %></h6>
        </div>
      </div>
      <div class="progress">
        <%= bootstrap_progress_bar(min_value: 0, max_value: division.entrants.pre_selected.count, current_value: division.entrants.pre_selected.drawn.count, color: "secondary") %>
      </div>
    </div>
  </div>
</div>
