<div id="<%= dom_id(division, :draw_tickets_header) %>">
  <h2 class="text-center"><strong><%= division.name %></strong></h2>
  <hr/>

  <div class="btn-group btn-lg btn-block p-0">
    <%= link_to "Draw a Ticket", draw_organization_lottery_path(division.organization, division.lottery, division_id: division.id),
                method: :post,
                disabled: division.full? || division.all_entrants_drawn?,
                class: "btn btn-lg btn-block btn-success font-weight-bold" %>
    <% if division.entrants.pre_selected.present? %>
      <button class="btn btn-lg btn-success font-weight-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item disabled" href="#">Pre-Selected Entrants</a>
        <div class="dropdown-divider"></div>
        <% division.entrants.pre_selected.each do |entrant| %>
          <%= link_to "Draw #{entrant.full_name}", draw_organization_lottery_lottery_entrant_path(division.organization, division.lottery, entrant),
                      method: :post,
                      disabled: entrant.drawn?,
                      class: "dropdown-item" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <h6 class="font-weight-bold">Accepted</h6>
        </div>
        <div class="col-4">
          <h6 class="text-right"><%= "(#{division.winning_entrants.count}/#{division.maximum_entries})" %></h6>
        </div>
      </div>
      <div class="progress">
        <%= bootstrap_progress_bar(min_value: 0, max_value: division.maximum_entries, current_value: division.winning_entrants.count, color: "success") %>
      </div>
      <div class="row mt-2">
        <div class="col-8">
          <h6 class="font-weight-bold">Wait List</h6>
        </div>
        <div class="col-4">
          <h6 class="text-right"><%= "(#{division.wait_list_entrants.count}/#{division.maximum_wait_list})" %></h6>
        </div>
      </div>
      <div class="progress">
        <%= bootstrap_progress_bar(min_value: 0, max_value: division.maximum_wait_list, current_value: division.wait_list_entrants.count, color: "warning") %>
      </div>
      <div class="row mt-2">
        <div class="col-8">
          <h6 class="font-weight-bold">Pre-selected</h6>
        </div>
        <div class="col-4">
          <h6 class="text-right"><%= "(#{division.entrants.pre_selected.drawn.count}/#{division.entrants.pre_selected.count})" %></h6>
        </div>
      </div>
      <div class="progress">
        <%= bootstrap_progress_bar(min_value: 0, max_value: division.entrants.pre_selected.count, current_value: division.entrants.pre_selected.drawn.count, color: "secondary") %>
      </div>
    </div>
  </div>
</div>
