<%# locals: (lottery_division:) %>

<div id="<%= dom_id(lottery_division, :draw_tickets_header) %>" class="min-width-3">
  <h2 class="text-center"><strong><%= lottery_division.name %></strong></h2>
  <hr/>

  <div class="d-grid">
    <div class="btn-group">
      <%= link_to "Draw a Ticket", draw_organization_lottery_path(lottery_division.organization, lottery_division.lottery, division_id: lottery_division.id),
                  data: { turbo_method: :post },
                  disabled: lottery_division.full? || lottery_division.all_entrants_drawn?,
                  class: "btn btn-lg btn-success fw-bold w-100" %>
      <% if lottery_division.entrants.pre_selected.present? %>
        <button class="btn btn-lg btn-success fw-bold dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item disabled" href="#">Pre-Selected Entrants</a>
          <div class="dropdown-divider"></div>
          <% lottery_division.entrants.pre_selected.each do |entrant| %>
            <%= link_to "Draw #{entrant.full_name}", draw_organization_lottery_lottery_entrant_path(lottery_division.organization, lottery_division.lottery, entrant),
                        data: { turbo_method: :post },
                        disabled: entrant.drawn?,
                        class: "dropdown-item" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render partial: "lottery_divisions/tickets_progress_bars", locals: { lottery_division: lottery_division, show_pre_selected: true} %>

</div>
