<%= render 'shared/errors', obj: @location %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@location, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :name %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :name, class: "form-control", placeholder: "Location name", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :description %>
          </div>
          <div class="col-sm-8">
            <%= f.text_area :description, rows: 4, class: "form-control", placeholder: "Location description" %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :elevation %>
          </div>
          <div class="col-sm-2">
            <%= f.text_field :elevation, class: "form-control", placeholder: "Meters" %>
          </div>
        </div>
        <div class="col-sm-8 col-sm-offset-2" id="map" style="width: 550px; height: 350px;"></div>
        <%= f.hidden_field :latitude, id: 'map_lat' %>
        <%= f.hidden_field :longitude, id: 'map_lng' %>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <% if @split.nil? %>
                <%= f.submit @location.new_record? ? "Create Location" : "Update Location",
                             class: 'btn btn-primary btn-large btn-margin-top' %>
            <% else %>
                <%= f.button @location.new_record? ? "Create Location" : "Update Location", name: "split_id", value: @split.id,
                             class: 'btn btn-primary btn-large btn-margin-top' %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
          [ <%= link_to 'Cancel', locations_path %> ]
        </div>

        <% if @location.new_record? %>
            <script>
              $(document).ready(function () {
                gmap_form(null);    // form map for new view (print nothing with possibility of put marker)
              });
            </script>
        <% else %>
            <script>
              $(document).ready(function () {
                var location = <%= @location.to_json.html_safe %>
                    gmap_form(location);   // form map for edit view (print marker and possibility of put newer)
              });
            </script>
        <% end %>

    <% end %>
  </div>
</div>