<%= form_for @location do |f| %>

    <% if @location.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@location.errors.count, "error") %> prohibited
            this location from being saved:
          </h2>
          <ul>
            <% @location.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :elevation %><br>
      <%= f.text_field :elevation %>
    </p>

    <p>
      <%= f.label :latitude %><br>
      <%= f.text_field :latitude %>
    </p>

    <p>
      <%= f.label :longitude %><br>
      <%= f.text_field :longitude %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>