<% obj.each do |location| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="object-list-body">
          <strong><%= link_to location.name, location_path(location) %></strong>
          <small>
            <%= "Elevation #{location.elevation}, Lat/Lon: #{location.latitude.abs}" %>
            <%= location.latitude >= 0 ? "째N" : "째S" %>
            <%= ", #{location.longitude.abs}" %>
            <%= location.longitude >= 0 ? "째E" : "째W" %>
          </small>
          <div class="object-list-actions">
            <%= link_to 'Edit Location', edit_location_path(location), class: "btn btn-xs btn-primary" %>
            <%= link_to 'Delete Location', location_path(location), class: "btn btn-xs btn-danger",
                        method: :delete,
                        data: {confirm: 'Are you sure?'} %>
          </div>
        </div>
      </div>
    </div>
<% end %>

