<h1>Listing Locations</h1>

<%= link_to 'New location', new_location_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Elevation</th>
    <th>Longitude</th>
    <th>Latitude</th>
  </tr>

  <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.elevation %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td><%= link_to 'Show', location_path(location) %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location_path(location),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>
