<% content_for :title do %>
    <% "OpenSplitTime: Show location - #{@location.name}" %>
<% end %>
<h1 align="center"><%= @location.name %></h1>
<h4 align="center">
  <%= "Elevation: #{elevation_format(@location.elevation)}, Lat/Lon: #{latlon_format(@location.latitude, @location.longitude)}" %>
</h4>
<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <%= @location.description %>
  </div>
</div>
<hr>
<div class="well col-xs-10 col-xs-offset-1">
  <div id="map" style="width: 745px; height: 550px;"></div>

  <script>
    $(document).ready(function () {
      var location = <%= @location.to_json.html_safe %>;    // pass ruby variable to javascript
          gmap_show(location, {latitude: location.latitude, longitude: location.longitude, zoom: 12});    // init show map
    });
  </script>

  <hr>
  <div class="article-actions">
    <% if @current_user && @current_user.authorized_to_edit?(@location) %>
        <%= link_to 'Edit this location', edit_location_path(@location), class: "btn btn-sm btn-primary" %>
        <%= link_to 'Delete this location',
                    location_path(@location, referrer_path: request.referrer ? URI(request.referrer).path : locations_path),
                    method: :delete,
                    data: {confirm: "Are you sure?"},
                    class: "btn btn-sm btn-danger" %>
    <% end %>
  </div>
</div>
