<div data-controller="infinite-scroll"
     data-infinite-scroll-next-page-url="<%= presenter.next_page_url %>"
     data-infinite-scroll-html-template="course_group_finishers/course_group_finisher">
  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th><%= link_to_sort_heading("Name", "last_name,first_name") %></th>
      <th><%= link_to_sort_heading("Gender", "gender,last_name,first_name") %></th>
      <th><%= link_to_sort_heading("From", "state_code,last_name,first_name") %></th>
      <th class="text-center"><%= link_to_sort_heading("Finish Count", "-finish_count,last_name,first_name") %></th>
    </tr>
    </thead>
    <tbody data-infinite-scroll-target="result">
    <%= render partial: "course_group_finisher", collection: @presenter.filtered_finishers %>
    </tbody>
  </table>

  <div class="row">
    <div class="col text-center" data-infinite-scroll-target="link">
      <% if @presenter.filtered_finishers_count == @presenter.per_page %>
        <%= link_to "Show More", "#", data: { action: "infinite-scroll#loadFromClick" } %>
      <% else %>
        <p>End of List</p>
      <% end %>
    </div>
  </div>
</div>
