<% content_for :title do %>
  <% "OpenSplitTime: Finisher - #{@presenter.full_name}" %>
<% end %>

<header class="ost-header">
  <div class="container">
    <div class="ost-heading row">
      <div class="col">
        <div class="ost-title">
          <h1><strong><%= link_to @presenter.full_name, @presenter.person %></strong></h1>
          <ul class="breadcrumb breadcrumb-ost">
            <li class="breadcrumb-item"><%= link_to "Organizations", organizations_path %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.organization.name, organization_courses_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to "Course Groups", organization_courses_path(@presenter.organization) %></li>
            <li class="breadcrumb-item"><%= link_to @presenter.course_group.name, organization_course_group_path(@presenter.organization, @presenter.course_group) %></li>
            <li class="breadcrumb-item"><%= link_to "Finishers", organization_course_group_finishers_path(@presenter.organization, @presenter.course_group) %></li>
            <li class="breadcrumb-item active"><%= @presenter.full_name %></li>
          </ul>
        </div>
        <div class="ost-subtitle">
          <h6><%= @presenter.full_bio %></h6>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="ost-article container">
  <% if @presenter.course_group_best_efforts.present? %>
    <%= render partial: "best_efforts_list", locals: { presenter: @presenter } %>
  <% end %>
</article>
