<li class="nav-item"><%= link_to 'Donate!', donations_path, class: 'donate nav-link' %></li>
<% if user_signed_in? %>
  <li class="nav-item">
    <div class="dropdown">
      <a href="#" id="nav-dropdown-auth" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <%= current_user.email %><%= " (admin)" if current_user.admin? %>
        <span class="caret"></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="nav-dropdown-auth">
        <%= link_to 'Edit Your Profile', edit_user_registration_path, class: 'dropdown-item' %>
        <%= link_to 'View Your Profile', user_path(current_user), class: 'dropdown-item' %>
        <%= link_to 'Change Preferences', edit_preferences_user_path(current_user, referrer_path: URI(request.original_url).path), class: 'dropdown-item' %>
        <% if current_user&.admin? %>
          <div class="dropdown-divider"></div>
          <%= link_to 'List Users', users_path, class: 'dropdown-item' %>
        <% end %>
        <div class="dropdown-divider"></div>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div>
  </li>
<% else %>
  <li class="nav-item"><%= link_to 'Log In', '#', class: 'nav-link', data: {toggle: 'modal', target: '#log-in-modal'} %></li>
  <li class="nav-item"><%= link_to '<span class="sign-up">Sign Up</span>'.html_safe, '#', class: 'nav-link', data: {toggle: 'modal', target: '#sign-up-modal'} %></li>
<% end %>
