<% if current_user && current_user != true_user %>
  <aside class="navbar bg-warning">
    <div class="row">
      <div class="col text-left">
        <h5 class="nav-link">
          <%= "#{true_user.full_name} is impersonating #{current_user.full_name}. " %>
        </h5>
      </div>
      <div class="col text-right">
        <%= link_to "Stop impersonating", admin_impersonate_stop_path, method: :post, class: "btn btn-outline-light" %>
      </div>
    </div>
  </aside>
<% end %>

<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <div class="container mx-auto">
    <%= link_to "OpenSplitTime", root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav me-auto mt-2 mt-md-0">
        <%= render "layouts/navigation_links" %>
      </ul>
      <ul class="navbar-nav">
        <%= render "layouts/nav_links_for_auth" %>
      </ul>
    </div>
  </div>
</nav>
