<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "OpenSplitTime" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "OpenSplitTime" %>">
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  <%= render "layouts/google_maps_api_js" %>
  <%= csrf_meta_tags %>
  <%= render "layouts/cloudflare_analytics" if Rails.env.production? %>
  <%= render "layouts/favicon" %>
</head>

<body class="<%= controller_name %> <%= action_name %>">

<%= render "layouts/navigation" %>
<%= render "layouts/flash" %>
<%= render "layouts/toasts" %>

<%= yield %>

<%= render "layouts/form_modal", turbo_frame_id: "form_modal" %>

<%= render "layouts/footer" unless @skip_footer %>
</body>
</html>
