<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "OpenSplitTime" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "OpenSplitTime" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGMCB8fvvGJzp_aR0Hp_YUyopUiAgGoCE"></script>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="JUzhFcmle9w9R7FTwwMGSq5eM1fAPmU0vbrVM30TZlI"/>
  <%= render 'layouts/google_analytics' if Rails.env == 'production' %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<%= render 'layouts/navigation' %>
<%= render 'layouts/messages' %>
<% unless @skip_container %><div class="container"><% end %>
  <%= yield %>
<% unless @skip_container %></div><% end %>
<%= render 'layouts/footer' unless @skip_footer %>
</body>
</html>
